openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Activities API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Activities
  description: The Activities service allows you to list and inspect project activity events.
paths:
  /activities/events:
    get:
      summary: List events
      operationId: activitiesListEvents
      tags:
      - Activities
      description: List all events for selected filters.
      responses:
        '200':
          description: Activity event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activityEventList'
      deprecated: false
      x-appwrite:
        group: null
        demo: activities/list-events.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: events.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on attributes such as userId, teamId, etc.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
  /activities/events/{eventId}:
    get:
      summary: Get event
      operationId: activitiesGetEvent
      tags:
      - Activities
      description: Get event by ID.
      responses:
        '200':
          description: ActivityEvent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activityEvent'
      deprecated: false
      x-appwrite:
        group: events
        demo: activities/get-event.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: events.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: eventId
        description: Event ID.
        required: true
        schema:
          type: string
          example: <EVENT_ID>
        in: path
components:
  schemas:
    activityEventList:
      description: Activity event list
      type: object
      properties:
        total:
          type: integer
          description: Total number of events that matched your query.
          format: int32
          example: 5
        events:
          type: array
          description: List of events.
          items:
            $ref: '#/components/schemas/activityEvent'
          example: []
      required:
      - total
      - events
      example:
        total: 5
        events: ''
    activityEvent:
      description: ActivityEvent
      type: object
      properties:
        $id:
          type: string
          description: Event ID.
          example: 5e5ea5c16897e
        actorType:
          type: string
          description: Actor type.
          example: user
        actorId:
          type: string
          description: Actor ID.
          example: 610fc2f985ee0
        actorEmail:
          type: string
          description: Actor Email.
          example: john@appwrite.io
        actorName:
          type: string
          description: Actor Name.
          example: John Doe
        resourceParent:
          type: string
          description: Resource parent.
          example: database/ID
        resourceType:
          type: string
          description: Resource type.
          example: collection
        resourceId:
          type: string
          description: Resource ID.
          example: 610fc2f985ee0
        resource:
          type: string
          description: Resource.
          example: collections/610fc2f985ee0
        event:
          type: string
          description: Event name.
          example: account.sessions.create
        userAgent:
          type: string
          description: User agent.
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36
        ip:
          type: string
          description: IP address.
          example: 127.0.0.1
        mode:
          type: string
          description: API mode when event triggered.
          example: admin
        country:
          type: string
          description: Location.
          example: US
        continentCode:
          type: string
          description: Continent code.
          example: NA
        city:
          type: string
          description: City name.
          example: Mountain View
        subdivisions:
          type: string
          description: Region/state chain.
          example: California
        isp:
          type: string
          description: Internet service provider.
          example: Google
        autonomousSystemNumber:
          type: string
          description: Autonomous System Number (ASN).
          example: '15169'
        autonomousSystemOrganization:
          type: string
          description: Organization that owns the ASN.
          example: GOOGLE
        connectionType:
          type: string
          description: Connection type (e.g. cable, cellular, corporate).
          example: cable
        connectionUsageType:
          type: string
          description: User type (e.g. residential, business, hosting).
          example: residential
        connectionOrganization:
          type: string
          description: Registered organization of the IP.
          example: Google LLC
        time:
          type: string
          description: Log creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        projectId:
          type: string
          description: Project ID.
          example: 610fc2f985ee0
        teamId:
          type: string
          description: Team ID.
          example: 610fc2f985ee0
        hostname:
          type: string
          description: Hostname.
          example: appwrite.io
        sdk:
          type: string
          description: Name of the SDK that triggered the event.
          example: web
        sdkVersion:
          type: string
          description: Version of the SDK that triggered the event.
          example: 14.0.0
      required:
      - $id
      - actorType
      - actorId
      - actorEmail
      - actorName
      - resourceParent
      - resourceType
      - resourceId
      - resource
      - event
      - userAgent
      - ip
      - mode
      - country
      - continentCode
      - city
      - subdivisions
      - isp
      - autonomousSystemNumber
      - autonomousSystemOrganization
      - connectionType
      - connectionUsageType
      - connectionOrganization
      - time
      - projectId
      - teamId
      - hostname
      - sdk
      - sdkVersion
      example:
        $id: 5e5ea5c16897e
        actorType: user
        actorId: 610fc2f985ee0
        actorEmail: john@appwrite.io
        actorName: John Doe
        resourceParent: database/ID
        resourceType: collection
        resourceId: 610fc2f985ee0
        resource: collections/610fc2f985ee0
        event: account.sessions.create
        userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36
        ip: 127.0.0.1
        mode: admin
        country: US
        continentCode: NA
        city: Mountain View
        subdivisions: California
        isp: Google
        autonomousSystemNumber: '15169'
        autonomousSystemOrganization: GOOGLE
        connectionType: cable
        connectionUsageType: residential
        connectionOrganization: Google LLC
        time: '2020-10-15T06:38:00.000+00:00'
        projectId: 610fc2f985ee0
        teamId: 610fc2f985ee0
        hostname: appwrite.io
        sdk: web
        sdkVersion: 14.0.0
  securitySchemes:
    Project:
      type: apiKey
      name: X-Appwrite-Project
      description: Your project ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    ProjectPath:
      type: apiKey
      name: project
      description: Your project ID
      in: query
      x-appwrite:
        location: path
        param: project_id
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    JWT:
      type: apiKey
      name: X-Appwrite-JWT
      description: Your secret JSON Web Token
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_JWT>
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The OAuth access token to authenticate with
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Locale:
      type: apiKey
      name: X-Appwrite-Locale
      description: ''
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: en
    Session:
      type: apiKey
      name: X-Appwrite-Session
      description: The user session to authenticate with
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    DevKey:
      type: apiKey
      name: X-Appwrite-Dev-Key
      description: Your secret dev API key
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Cookie:
      type: apiKey
      name: Cookie
      description: The user cookie to authenticate with. Used by SDKs that forward an incoming Cookie header in server-side runtimes.
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserId:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Id
      description: Impersonate a user by ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserEmail:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Email
      description: Impersonate a user by email
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserPhone:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Phone
      description: Impersonate a user by phone
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Key:
      type: apiKey
      name: X-Appwrite-Key
      description: Your secret API key
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        - manager
        demo: <YOUR_API_KEY>
    Organization:
      type: apiKey
      name: X-Appwrite-Organization
      description: Your organization ID
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        demo: <YOUR_ORGANIZATION_ID>
    ForwardedUserAgent:
      type: apiKey
      name: X-Forwarded-User-Agent
      description: The user agent string of the client that made the request
      in: header
      x-appwrite:
        platforms:
        - server
    Mode:
      type: apiKey
      name: X-Appwrite-Mode
      description: ''
      in: header
      x-appwrite:
        platforms:
        - console
        demo: ''
    Platform:
      type: apiKey
      name: X-Appwrite-Platform
      description: The platform type (Appwrite or Imagine)
      in: header
      x-appwrite:
        platforms:
        - console
externalDocs:
  description: Full API docs, specs and tutorials
  url: https://appwrite.io/docs
