openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Account API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Account
  description: The Account service allows you to authenticate and manage a user account.
paths:
  /account:
    get:
      summary: Get account
      operationId: accountGet
      tags:
      - Account
      description: Get the currently logged in user.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
    post:
      summary: Create account
      operationId: accountCreate
      tags:
      - Account
      description: Use this endpoint to allow a new user to register a new account in your project. After the user registration completes successfully, you can use the /account/verfication route to start verifying the user email address. To allow the new user to login to their new account, you need to create a new account session.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/create.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: New user password. Must be between 8 and 256 chars.
                  type: string
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
    delete:
      summary: Delete account
      operationId: accountDelete
      tags:
      - Account
      description: Delete the currently logged in user.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: account
        demo: account/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
  /account/billing-addresses:
    get:
      summary: List billing addresses
      operationId: accountListBillingAddresses
      tags:
      - Account
      description: List all billing addresses for a user.
      responses:
        '200':
          description: Billing address list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingAddressList'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/list-billing-addresses.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, expired, failed'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Create billing address
      operationId: accountCreateBillingAddress
      tags:
      - Account
      description: Add a new billing address to a user's account.
      responses:
        '201':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingAddress'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/create-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  description: Country
                  type: string
                  example: <COUNTRY>
                city:
                  description: City
                  type: string
                  example: <CITY>
                streetAddress:
                  description: Street address
                  type: string
                  example: <STREET_ADDRESS>
                addressLine2:
                  description: Address line 2
                  type: string
                  default: ''
                  example: <ADDRESS_LINE2>
                state:
                  description: State or province
                  type: string
                  default: ''
                  example: <STATE>
                postalCode:
                  description: Postal code
                  type: string
                  default: ''
                  example: <POSTAL_CODE>
              required:
              - country
              - city
              - streetAddress
  /account/billing-addresses/{billingAddressId}:
    get:
      summary: Get billing address
      operationId: accountGetBillingAddress
      tags:
      - Account
      description: Get a specific billing address for a user using it's ID.
      responses:
        '200':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingAddress'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/get-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: billingAddressId
        description: Unique ID of billing address
        required: true
        schema:
          type: string
          example: <BILLING_ADDRESS_ID>
        in: path
    put:
      summary: Update billing address
      operationId: accountUpdateBillingAddress
      tags:
      - Account
      description: Update a specific billing address using it's ID.
      responses:
        '200':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingAddress'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/update-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: billingAddressId
        description: Unique ID of billing address
        required: true
        schema:
          type: string
          example: <BILLING_ADDRESS_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  description: Country
                  type: string
                  example: <COUNTRY>
                city:
                  description: City
                  type: string
                  example: <CITY>
                streetAddress:
                  description: Street address
                  type: string
                  example: <STREET_ADDRESS>
                addressLine2:
                  description: Address line 2
                  type: string
                  default: ''
                  example: <ADDRESS_LINE2>
                state:
                  description: State or province
                  type: string
                  default: ''
                  example: <STATE>
                postalCode:
                  description: Postal code
                  type: string
                  default: ''
                  example: <POSTAL_CODE>
              required:
              - country
              - city
              - streetAddress
    delete:
      summary: Delete billing address
      operationId: accountDeleteBillingAddress
      tags:
      - Account
      description: Delete a specific billing address using it's ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: account/delete-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: billingAddressId
        description: Billing address unique ID
        required: true
        schema:
          type: string
          example: <BILLING_ADDRESS_ID>
        in: path
  /account/consents:
    get:
      summary: List consents
      operationId: accountListConsents
      tags:
      - Account
      description: Get a list of the OAuth2 consents the current user has given to third-party apps.
      responses:
        '200':
          description: OAuth2 consents list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2ConsentList'
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/list-consents.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /account/consents/{consentId}:
    get:
      summary: Get consent
      operationId: accountGetConsent
      tags:
      - Account
      description: Get an OAuth2 consent the current user has given to a third-party app by its unique ID.
      responses:
        '200':
          description: OAuth2 Consent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2Consent'
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/get-consent.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: consentId
        description: Consent unique ID.
        required: true
        schema:
          type: string
          example: <CONSENT_ID>
        in: path
    delete:
      summary: Delete consent
      operationId: accountDeleteConsent
      tags:
      - Account
      description: Delete an OAuth2 consent by its unique ID. All token families issued under the consent are revoked, and the app must ask for consent again to regain access.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/delete-consent.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: consentId
        description: Consent unique ID.
        required: true
        schema:
          type: string
          example: <CONSENT_ID>
        in: path
  /account/consents/{consentId}/tokens:
    get:
      summary: List consent tokens
      operationId: accountListConsentTokens
      tags:
      - Account
      description: Get a list of the token families issued under an OAuth2 consent. Each entry represents one authorized device or session; the token secrets themselves are never returned.
      responses:
        '200':
          description: OAuth2 consent tokens list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2ConsentTokenList'
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/list-consent-tokens.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: consentId
        description: Consent unique ID.
        required: true
        schema:
          type: string
          example: <CONSENT_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /account/consents/{consentId}/tokens/{tokenId}:
    get:
      summary: Get consent token
      operationId: accountGetConsentToken
      tags:
      - Account
      description: Get a token family issued under an OAuth2 consent by its unique ID. The token secrets themselves are never returned.
      responses:
        '200':
          description: OAuth2 Consent Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2ConsentToken'
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/get-consent-token.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: consentId
        description: Consent unique ID.
        required: true
        schema:
          type: string
          example: <CONSENT_ID>
        in: path
      - name: tokenId
        description: Token unique ID.
        required: true
        schema:
          type: string
          example: <TOKEN_ID>
        in: path
    delete:
      summary: Delete consent token
      operationId: accountDeleteConsentToken
      tags:
      - Account
      description: Delete a token family issued under an OAuth2 consent by its unique ID. The access and refresh tokens of the family stop working immediately; other token families and the consent itself are unaffected.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: consents
        demo: account/delete-consent-token.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: consentId
        description: Consent unique ID.
        required: true
        schema:
          type: string
          example: <CONSENT_ID>
        in: path
      - name: tokenId
        description: Token unique ID.
        required: true
        schema:
          type: string
          example: <TOKEN_ID>
        in: path
  /account/coupons/{couponId}:
    get:
      summary: Get coupon details
      operationId: accountGetCoupon
      tags:
      - Account
      description: Get coupon details for an account.
      responses:
        '200':
          description: Coupon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/coupon'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/get-coupon.md
        rate-limit: 50
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: couponId
        description: ID of the coupon
        required: true
        schema:
          type: string
          example: <COUPON_ID>
        in: path
  /account/email:
    patch:
      summary: Update email
      operationId: accountUpdateEmail
      tags:
      - Account
      description: 'Update currently logged in user account email address. After changing user address, the user confirmation status will get reset. A new confirmation email is not sent automatically however you can use the send confirmation email endpoint again to send the confirmation email. For security measures, user password is required to complete this request.

        This endpoint can also be used to convert an anonymous account to a normal one, by passing an email address and a new password.'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/update-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password. Must be at least 8 chars.
                  type: string
                  example: password
                  format: password
              required:
              - email
              - password
  /account/identities:
    get:
      summary: List identities
      operationId: accountListIdentities
      tags:
      - Account
      description: Get the list of identities for the currently logged in user.
      responses:
        '200':
          description: Identities List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identityList'
      deprecated: false
      x-appwrite:
        group: identities
        demo: account/list-identities.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, provider, providerUid, providerEmail, providerAccessTokenExpiry'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /account/identities/{identityId}:
    delete:
      summary: Delete identity
      operationId: accountDeleteIdentity
      tags:
      - Account
      description: Delete an identity by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: identities
        demo: account/delete-identity.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: identityId
        description: Identity ID.
        required: true
        schema:
          type: string
          example: <IDENTITY_ID>
        in: path
  /account/invoices:
    get:
      summary: List invoices
      operationId: accountListInvoices
      tags:
      - Account
      description: List all invoices tied to an account.
      responses:
        '200':
          description: Billing invoices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceList'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/list-invoices.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: teamId, aggregationId, type, amount, currency, from, to, dueAt, attempts, status, grossAmount'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
  /account/jwts:
    post:
      summary: Create JWT
      operationId: accountCreateJWT
      tags:
      - Account
      description: Use this endpoint to create a JSON Web Token. You can use the resulting JWT to authenticate on behalf of the current user when working with the Appwrite server-side API and SDKs. The JWT secret is valid for 15 minutes from its creation and will be invalid if the user will logout in that time frame.
      responses:
        '201':
          description: JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jwt'
      deprecated: false
      x-appwrite:
        group: tokens
        demo: account/create-jwt.md
        rate-limit: 120
        rate-time: 60
        rate-key: url:{url},userId:{userId}
        scope: account
        platforms:
        - console
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
      security:
      - Project: []
        Session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  description: Time in seconds before JWT expires. Default duration is 900 seconds, and maximum is 3600 seconds.
                  type: integer
                  default: 900
                  example: 0
                  format: int32
  /account/keys:
    get:
      summary: List account key
      operationId: accountListKeys
      tags:
      - Account
      description: Get a list of all API keys from the current account.
      responses:
        '200':
          description: API Keys List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyList'
      deprecated: false
      x-appwrite:
        group: keys
        demo: account/list-keys.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create account key
      operationId: accountCreateKey
      tags:
      - Account
      description: Create a new account API key.
      responses:
        '201':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: account/create-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: AccountKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - account
                      title: account
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - name
              - scopes
  /account/keys/{keyId}:
    get:
      summary: Get account key
      operationId: accountGetKey
      tags:
      - Account
      description: Get a key by its unique ID. This endpoint returns details about a specific API key in your account including it's scopes.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: account/get-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
    put:
      summary: Update account key
      operationId: accountUpdateKey
      tags:
      - Account
      description: Update a key by its unique ID. Use this endpoint to update the name, scopes, or expiration time of an API key.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: account/update-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: AccountKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - account
                      title: account
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - name
              - scopes
    delete:
      summary: Delete account key
      operationId: accountDeleteKey
      tags:
      - Account
      description: Delete a key by its unique ID. Once deleted, the key can no longer be used to authenticate API calls.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: keys
        demo: account/delete-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
  /account/logs:
    get:
      summary: List logs
      operationId: accountListLogs
      tags:
      - Account
      description: Get the list of latest security activity logs for the currently logged in user. Each log returns user IP address, location and date and time of log.
      responses:
        '200':
          description: Logs List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logList'
      deprecated: false
      x-appwrite:
        group: logs
        demo: account/list-logs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Only supported methods are limit and offset
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /account/mfa:
    patch:
      summary: Update MFA
      operationId: accountUpdateMFA
      tags:
      - Account
      description: Enable or disable MFA on an account.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: mfa
        demo: account/update-mfa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mfa:
                  description: Enable or disable MFA.
                  type: boolean
                  example: false
              required:
              - mfa
  /account/mfa/authenticators/{type}:
    post:
      summary: Create authenticator
      operationId: accountCreateMfaAuthenticator
      tags:
      - Account
      description: Add an authenticator app to be used as an MFA factor. Verify the authenticator using the verify authenticator method.
      responses:
        '200':
          description: MFAType
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaType'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/create-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.createMFAAuthenticator
        methods:
        - name: createMfaAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          required:
          - type
          responses:
          - code: 200
            model: '#/components/schemas/mfaType'
          description: Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](/docs/references/cloud/client-web/account#updateMfaAuthenticator) method.
          demo: account/create-mfa-authenticator.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.createMFAAuthenticator
        - name: createMFAAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          required:
          - type
          responses:
          - code: 200
            model: '#/components/schemas/mfaType'
          description: Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](/docs/references/cloud/client-web/account#updateMfaAuthenticator) method.
          demo: account/create-mfa-authenticator.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: type
        description: Type of authenticator. Must be `totp`
        required: true
        schema:
          type: string
          example: totp
          title: AuthenticatorType
          oneOf:
          - type: string
            enum:
            - totp
            title: totp
        in: path
    put:
      summary: Update authenticator (confirmation)
      operationId: accountUpdateMfaAuthenticator
      tags:
      - Account
      description: Verify an authenticator app after adding it using the add authenticator method.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/update-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.updateMFAAuthenticator
        methods:
        - name: updateMfaAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          - otp
          required:
          - type
          - otp
          responses:
          - code: 200
            model: '#/components/schemas/user'
          description: Verify an authenticator app after adding it using the [add authenticator](/docs/references/cloud/client-web/account#createMfaAuthenticator) method.
          demo: account/update-mfa-authenticator.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.updateMFAAuthenticator
        - name: updateMFAAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          - otp
          required:
          - type
          - otp
          responses:
          - code: 200
            model: '#/components/schemas/user'
          description: Verify an authenticator app after adding it using the [add authenticator](/docs/references/cloud/client-web/account#createMfaAuthenticator) method.
          demo: account/update-mfa-authenticator.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: type
        description: Type of authenticator.
        required: true
        schema:
          type: string
          example: totp
          title: AuthenticatorType
          oneOf:
          - type: string
            enum:
            - totp
            title: totp
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  description: Valid verification token.
                  type: string
                  example: <OTP>
              required:
              - otp
    delete:
      summary: Delete authenticator
      operationId: accountDeleteMfaAuthenticator
      tags:
      - Account
      description: Delete an authenticator for a user by ID.
      responses:
        '204':
          description: No content
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/delete-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.deleteMFAAuthenticator
        methods:
        - name: deleteMfaAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          required:
          - type
          responses:
          - code: 204
          description: Delete an authenticator for a user by ID.
          demo: account/delete-mfa-authenticator.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.deleteMFAAuthenticator
        - name: deleteMFAAuthenticator
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - type
          required:
          - type
          responses:
          - code: 204
          description: Delete an authenticator for a user by ID.
          demo: account/delete-mfa-authenticator.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: type
        description: Type of authenticator.
        required: true
        schema:
          type: string
          example: totp
          title: AuthenticatorType
          oneOf:
          - type: string
            enum:
            - totp
            title: totp
        in: path
  /account/mfa/challenges:
    post:
      summary: Create MFA challenge
      operationId: accountCreateMfaChallenge
      tags:
      - Account
      description: Begin the process of MFA verification after sign-in. Finish the flow with updateMfaChallenge method.
      responses:
        '201':
          description: MFA Challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaChallenge'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/create-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},userId:{userId}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.createMFAChallenge
        methods:
        - name: createMfaChallenge
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - factor
          required:
          - factor
          responses:
          - code: 201
            model: '#/components/schemas/mfaChallenge'
          description: Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](/docs/references/cloud/client-web/account#updateMfaChallenge) method.
          demo: account/create-mfa-challenge.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.createMFAChallenge
        - name: createMFAChallenge
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - factor
          required:
          - factor
          responses:
          - code: 201
            model: '#/components/schemas/mfaChallenge'
          description: Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](/docs/references/cloud/client-web/account#updateMfaChallenge) method.
          demo: account/create-mfa-challenge.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                factor:
                  description: 'Factor used for verification. Must be one of following: `email`, `phone`, `totp`, `recoveryCode`, `custom`.'
                  type: string
                  example: email
                  title: AuthenticationFactor
                  oneOf:
                  - type: string
                    enum:
                    - email
                    title: email
                  - type: string
                    enum:
                    - phone
                    title: phone
                  - type: string
                    enum:
                    - totp
                    title: totp
                  - type: string
                    enum:
                    - recoverycode
                    title: recoverycode
                  - type: string
                    enum:
                    - custom
                    title: custom
              required:
              - factor
    put:
      summary: Update MFA challenge (confirmation)
      operationId: accountUpdateMfaChallenge
      tags:
      - Account
      description: Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use createMfaChallenge method.
      responses:
        '200':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/update-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},challengeId:{param-challengeId}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.updateMFAChallenge
        methods:
        - name: updateMfaChallenge
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - challengeId
          - otp
          required:
          - challengeId
          - otp
          responses:
          - code: 200
            model: '#/components/schemas/session'
          description: Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method.
          demo: account/update-mfa-challenge.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.updateMFAChallenge
        - name: updateMFAChallenge
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - challengeId
          - otp
          required:
          - challengeId
          - otp
          responses:
          - code: 200
            model: '#/components/schemas/session'
          description: Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method.
          demo: account/update-mfa-challenge.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeId:
                  description: ID of the challenge.
                  type: string
                  example: <CHALLENGE_ID>
                otp:
                  description: Valid verification token.
                  type: string
                  example: <OTP>
              required:
              - challengeId
              - otp
  /account/mfa/factors:
    get:
      summary: List factors
      operationId: accountListMfaFactors
      tags:
      - Account
      description: List the factors available on the account to be used as a MFA challange.
      responses:
        '200':
          description: MFAFactors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaFactors'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/list-mfa-factors.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.listMFAFactors
        methods:
        - name: listMfaFactors
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaFactors'
          description: List the factors available on the account to be used as a MFA challange.
          demo: account/list-mfa-factors.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.listMFAFactors
        - name: listMFAFactors
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaFactors'
          description: List the factors available on the account to be used as a MFA challange.
          demo: account/list-mfa-factors.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
  /account/mfa/recovery-codes:
    get:
      summary: List MFA recovery codes
      operationId: accountGetMfaRecoveryCodes
      tags:
      - Account
      description: Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using createMfaRecoveryCodes method. An OTP challenge is required to read recovery codes.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/get-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.getMFARecoveryCodes
        methods:
        - name: getMfaRecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.
          demo: account/get-mfa-recovery-codes.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.getMFARecoveryCodes
        - name: getMFARecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.
          demo: account/get-mfa-recovery-codes.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
    post:
      summary: Create MFA recovery codes
      operationId: accountCreateMfaRecoveryCodes
      tags:
      - Account
      description: Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in createMfaChallenge method.
      responses:
        '201':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/create-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: account.createMFARecoveryCodes
        methods:
        - name: createMfaRecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 201
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method.
          demo: account/create-mfa-recovery-codes.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: account.createMFARecoveryCodes
        - name: createMFARecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 201
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method.
          demo: account/create-mfa-recovery-codes.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
    patch:
      summary: Update MFA recovery codes (regenerate)
      operationId: accountUpdateMfaRecoveryCodes
      tags:
      - Account
      description: Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using createMfaRecoveryCodes method. An OTP challenge is required to regenreate recovery codes.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: account/update-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: account.updateMFARecoveryCodes
        methods:
        - name: updateMfaRecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.
          demo: account/update-mfa-recovery-codes.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: account.updateMFARecoveryCodes
        - name: updateMFARecoveryCodes
          namespace: account
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters: []
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.
          demo: account/update-mfa-recovery-codes.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
  /account/name:
    patch:
      summary: Update name
      operationId: accountUpdateName
      tags:
      - Account
      description: Update currently logged in user account name.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/update-name.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
              required:
              - name
  /account/password:
    patch:
      summary: Update password
      operationId: accountUpdatePassword
      tags:
      - Account
      description: Update currently logged in user password. For validation, user is required to pass in the new password, and the old password. For users created with OAuth, Team Invites and Magic URL, oldPassword is optional.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/update-password.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  description: New user password. Must be at least 8 chars.
                  type: string
                  example: password
                  format: password
                oldPassword:
                  description: 'Current user password. Max length: 256 chars.'
                  type: string
                  default: ''
                  example: password
                  format: password
              required:
              - password
  /account/payment-methods:
    get:
      summary: List payment methods
      operationId: accountListPaymentMethods
      tags:
      - Account
      description: List payment methods for this account.
      responses:
        '200':
          description: Payment methods list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodList'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/list-payment-methods.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, expired, failed'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Create new payment method
      operationId: accountCreatePaymentMethod
      tags:
      - Account
      description: Create a new payment method for the current user account.
      responses:
        '201':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/create-payment-method.md
        rate-limit: 10
        rate-time: 86400
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
  /account/payment-methods/{paymentMethodId}:
    get:
      summary: Get payment method
      operationId: accountGetPaymentMethod
      tags:
      - Account
      description: Get a specific payment method for the user.
      responses:
        '200':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/get-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
    patch:
      summary: Update payment method
      operationId: accountUpdatePaymentMethod
      tags:
      - Account
      description: Update a new payment method for the current user account.
      responses:
        '200':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/update-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiryMonth:
                  description: Payment expiry month
                  type: integer
                  example: 1
                  format: int32
                expiryYear:
                  description: Expiry year
                  type: integer
                  example: 2026
                  format: int32
                state:
                  description: State of the payment method country
                  type: string
                  example: <STATE>
              required:
              - expiryMonth
              - expiryYear
    delete:
      summary: Delete payment method
      operationId: accountDeletePaymentMethod
      tags:
      - Account
      description: Delete a specific payment method from a user's account.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: account/delete-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
  /account/payment-methods/{paymentMethodId}/provider:
    patch:
      summary: Update payment method provider id
      operationId: accountUpdatePaymentMethodProvider
      tags:
      - Account
      description: Update payment method provider.
      responses:
        '200':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/update-payment-method-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerMethodId:
                  description: Payment method ID from the payment provider
                  type: string
                  example: <PROVIDER_METHOD_ID>
                name:
                  description: Name in the payment method
                  type: string
                  example: <NAME>
                state:
                  description: State of the payment method country
                  type:
                  - string
                  - 'null'
                  example: <STATE>
              required:
              - providerMethodId
              - name
  /account/payment-methods/{paymentMethodId}/setup:
    patch:
      summary: Update payment method with new setup with mandates for indian cards
      operationId: accountUpdatePaymentMethodMandateOptions
      tags:
      - Account
      description: Update payment method mandate options.
      responses:
        '200':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: account/update-payment-method-mandate-options.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
  /account/phone:
    patch:
      summary: Update phone
      operationId: accountUpdatePhone
      tags:
      - Account
      description: Update the currently logged in user's phone number. After updating the phone number, the phone verification status will be reset. A confirmation SMS is not sent automatically, however you can use the POST /account/verification/phone endpoint to send a confirmation SMS.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/update-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  description: Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.
                  type: string
                  example: '+12065550100'
                  format: phone
                password:
                  description: User password. Must be at least 8 chars.
                  type: string
                  example: password
                  format: password
              required:
              - phone
              - password
  /account/prefs:
    get:
      summary: Get account preferences
      operationId: accountGetPrefs
      tags:
      - Account
      description: Get the preferences as a key-value object for the currently logged in user.
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preferences'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/get-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
    patch:
      summary: Update preferences
      operationId: accountUpdatePrefs
      tags:
      - Account
      description: Update currently logged in user account preferences. The object you pass is stored as is, and replaces any previous value. The maximum allowed prefs size is 64kB and throws error if exceeded.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: account
        demo: account/update-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefs:
                  description: Prefs key-value JSON object.
                  type: object
                  default: {}
                  example:
                    language: en
                    timezone: UTC
                    darkTheme: true
              required:
              - prefs
  /account/recovery:
    post:
      summary: Create password recovery
      operationId: accountCreateRecovery
      tags:
      - Account
      description: Sends the user an email with a temporary secret key for password reset. When the user clicks the confirmation link he is redirected back to your app password reset URL with the secret key and email address values attached to the URL query string. Use the query string params to submit a request to the PUT /account/recovery endpoint to complete the process. The verification link sent to the user's email address is valid for 1 hour.
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      deprecated: false
      x-appwrite:
        group: recovery
        demo: account/create-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
        - url:{url},email:{param-email}
        - url:{url},ip:{ip}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                url:
                  description: URL to redirect the user back to your app from the recovery email. Only URLs from hostnames in your project platform list are allowed. This requirement helps to prevent an [open redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.
                  type: string
                  example: https://example.com
                  format: url
              required:
              - email
              - url
    put:
      summary: Update password recovery (confirmation)
      operationId: accountUpdateRecovery
      tags:
      - Account
      description: 'Use this endpoint to complete the user account password reset. Both the **userId** and **secret** arguments will be passed as query parameters to the redirect URL you have provided when sending your request to the POST /account/recovery endpoint.


        Please note that in order to avoid a Redirect Attack the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.'
      responses:
        '200':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      deprecated: false
      x-appwrite:
        group: recovery
        demo: account/update-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},userId:{param-userId}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID.
                  type: string
                  example: <USER_ID>
                secret:
                  description: Valid reset token.
                  type: string
                  example: <SECRET>
                password:
                  description: New user password. Must be between 8 and 256 chars.
                  type: string
                  example: password
                  format: password
              required:
              - userId
              - secret
              - password
  /account/sessions:
    get:
      summary: List sessions
      operationId: accountListSessions
      tags:
      - Account
      description: Get the list of active sessions across different devices for the currently logged in user.
      responses:
        '200':
          description: Sessions List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionList'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: account/list-sessions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
    delete:
      summary: Delete sessions
      operationId: accountDeleteSessions
      tags:
      - Account
      description: Delete all sessions from the user account and remove any sessions cookies from the end client.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: sessions
        demo: account/delete-sessions.md
        rate-limit: 100
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
  /account/sessions/anonymous:
    post:
      summary: Create anonymous session
      operationId: accountCreateAnonymousSession
      tags:
      - Account
      description: Use this endpoint to allow a new user to register an anonymous account in your project. This route will also create a new session for the user. To allow the new user to convert an anonymous account to a normal account, you need to update its email and password or create an OAuth2 session.
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: account/create-anonymous-session.md
        rate-limit: 50
        rate-time: 3600
        rate-key: ip:{ip}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
  /account/sessions/email:
    post:
      summary: Create email password session
      operationId: accountCreateEmailPasswordSession
      tags:
      - Account
      description: 'Allow the user to login into their account by providing a valid email and password combination. This route will create a new session for the user.


        A user is limited to 10 active sessions at a time by default. Learn more about session limits.'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: account/create-email-password-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},email:{param-email}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password. Must be at least 8 chars.
                  type: string
                  example: password
                  format: password
              required:
              - email
              - password
  /account/sessions/magic-url:
    put:
      summary: Update magic URL session
      operationId: accountUpdateMagicURLSession
      tags:
      - Account
      description: Use this endpoint to create a session from token. Provide the **userId** and **secret** parameters from the successful response of authentication flows initiated by token creation. For example, magic URL and phone login.
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      deprecated: true
      x-appwrite:
        group: sessions
        demo: account/update-magic-url-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: ip:{ip},userId:{param-userId}
        scope: sessions.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.6.0
          replaceWith: account.createSession
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                secret:
                  description: Valid verification token.
                  type: string
                  example: <SECRET>
              required:
              - userId
              - secret
  /account/sessions/oauth2/{provider}:
    get:
      summary: Create OAuth2 session
      operationId: accountCreateOAuth2Session
      tags:
      - Account
      description: 'Allow the user to login to their account using the OAuth2 provider of their choice. Each OAuth2 provider should be enabled from the Appwrite console first. Use the success and failure arguments to provide a redirect URL''s back to your app when login is completed.


        If there is already an active session, the new session will be attached to the logged-in account. If there are no active sessions, the server will attempt to look for a user with the same email address as the email received from the OAuth2 provider and attach the new session to the existing user. If no matching user is found - the server will create a new user.


        A user is limited to 10 active sessions at a time by default. Learn more about session limits.'
      responses:
        '301':
          description: No content
          content:
            text/html:
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: sessions
        demo: account/create-o-auth-2-session.md
        rate-limit: 50
        rate-time: 3600
        rate-key: ip:{ip}
        scope: sessions.write
        platforms:
        - console
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
      security:
      - Project: []
        Session: []
        JWT: []
      parameters:
      - name: provider
        description: 'OAuth2 Provider. Currently, supported providers are: amazon, apple, appwrite, auth0, authentik, autodesk, bitbucket, bitly, box, cloudflare, dailymotion, discord, disqus, dropbox, etsy, facebook, figma, fusionauth, github, gitlab, google, huggingface, kakao, keycloak, kick, linkedin, microsoft, notion, oidc, okta, paypal, paypalSandbox, podio, resend, salesforce, slack, spotify, stripe, tiktok, tradeshift, tradeshiftBox, twitch, wordpress, x, yahoo, yammer, yandex, zoho, zoom.'
        required: true
        schema:
          type: string
          example: amazon
          title: OAuthProvider
          oneOf:
          - type: string
            enum:
            - amazon
            title: amazon
          - type: string
            enum:
            - apple
            title: apple
          - type: string
            enum:
            - appwrite
            title: appwrite
          - type: string
            enum:
            - auth0
            title: auth0
          - type: string
            enum:
            - authentik
            title: authentik
          - type: string
            enum:
            - autodesk
            title: autodesk
          - type: string
            enum:
            - bitbucket
            title: bitbucket
          - type: string
            enum:
            - bitly
            title: bitly
          - type: string
            enum:
            - box
            title: box
          - type: string
            enum:
            - cloudflare
            title: cloudflare
          - type: string
            enum:
            - dailymotion
            title: dailymotion
          - type: string
            enum:
            - discord
            title: discord
          - type: string
            enum:
            - disqus
            title: disqus
          - type: string
            enum:
            - dropbox
            title: dropbox
          - type: string
            enum:
            - etsy
            title: etsy
          - type: string
            enum:
            - facebook
            title: facebook
          - type: string
            enum:
            - figma
            title: figma
          - type: string
            enum:
            - fusionauth
            title: fusionauth
          - type: string
            enum:
            - github
            title: github
          - type: string
            enum:
            - gitlab
            title: gitlab
          - type: string
            enum:
            - google
            title: google
          - type: string
            enum:
            - huggingface
            title: huggingface
          - type: string
            enum:
            - kakao
            title: kakao
          - type: string
            enum:
[...]
