openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Domains API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Domains
  description: ''
paths:
  /domains:
    get:
      summary: List domains
      operationId: domainsList
      tags:
      - Domains
      description: List all domains registered for this project. This endpoint supports pagination.
      responses:
        '200':
          description: Domains list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on attributes such as domain name, teamInternalId, expiration, etc.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
    post:
      summary: Create a new domain
      operationId: domainsCreate
      tags:
      - Domains
      description: Create a new domain. Before creating a domain, you need to ensure that your DNS provider is properly configured. After creating the domain, you can use the verification endpoint to check if the domain is ready to be used.
      responses:
        '201':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                teamId:
                  description: Team unique ID.
                  type: string
                  example: <TEAM_ID>
                domain:
                  description: Domain name (e.g. "example.com").
                  type: string
                  example: example.com
              required:
              - teamId
              - domain
  /domains/price:
    get:
      summary: Get domain price
      operationId: domainsGetPrice
      tags:
      - Domains
      description: Get the registration price for a domain name.
      responses:
        '200':
          description: DomainPrice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPrice'
      deprecated: true
      x-appwrite:
        group: null
        demo: domains/get-price.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        deprecated:
          since: 2.0.0
          replaceWith: domains.listPrices
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domain
        description: Domain name to get price for.
        required: true
        schema:
          type: string
          example: example.com
        in: query
      - name: periodYears
        description: Number of years to calculate the domain price for. Must be at least 1.
        required: false
        schema:
          type: integer
          format: uint32
          default: 1
        in: query
      - name: registrationType
        description: 'Type of registration pricing to fetch. Allowed values: new, transfer, renewal, trade.'
        required: false
        schema:
          type: string
          example: new
          title: DomainRegistrationType
          oneOf:
          - type: string
            enum:
            - new
            title: new
          - type: string
            enum:
            - transfer
            title: transfer
          - type: string
            enum:
            - renewal
            title: renewal
          - type: string
            enum:
            - trade
            title: trade
          default: new
        in: query
  /domains/prices:
    get:
      summary: List domain prices
      operationId: domainsListPrices
      tags:
      - Domains
      description: Check availability and get the requested registration price for one or more domain names. Availability is resolved for all domains in a single registrar lookup. Unavailable domains have a null price for new registrations, but can still be priced for renewal, transfer, or trade. Every priced domain also carries its renewal price for the same period, so a separate renewal lookup is not needed. A domain whose price could not be resolved, for example because its TLD is not supported, is returned with a null price.
      responses:
        '200':
          description: Domain prices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPricesList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/list-prices.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domains
        description: Domain names to check availability and price for. Maximum of 50 domains per request.
        required: true
        schema:
          type: array
          items:
            type: string
        in: query
      - name: periodYears
        description: Number of years to calculate the domain price for. Must be at least 1.
        required: false
        schema:
          type: integer
          format: uint32
          default: 1
        in: query
      - name: registrationType
        description: 'Type of registration pricing to fetch. Allowed values: new, transfer, renewal, trade.'
        required: false
        schema:
          type: string
          example: new
          title: DomainRegistrationType
          oneOf:
          - type: string
            enum:
            - new
            title: new
          - type: string
            enum:
            - transfer
            title: transfer
          - type: string
            enum:
            - renewal
            title: renewal
          - type: string
            enum:
            - trade
            title: trade
          default: new
        in: query
  /domains/purchases:
    post:
      summary: Create a domain purchase
      operationId: domainsCreatePurchase
      tags:
      - Domains
      description: Initiate a domain purchase by providing registrant details and a payment method. Authorizes the payment and returns a `clientSecret`. If 3D Secure is required, use the `clientSecret` on the client to complete the authentication challenge. Once authentication is complete (or if none is needed), call the Update Purchase endpoint to capture the payment and finalize the purchase.
      responses:
        '201':
          description: DomainPurchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPurchase'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-purchase.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  description: Fully qualified domain name to purchase (for example, example.com).
                  type: string
                  example: example.com
                organizationId:
                  description: Team ID that will own the domain.
                  type: string
                  example: <ORGANIZATION_ID>
                firstName:
                  description: Registrant first name used for domain registration.
                  type: string
                  example: <FIRST_NAME>
                lastName:
                  description: Registrant last name used for domain registration.
                  type: string
                  example: <LAST_NAME>
                email:
                  description: Registrant email address for registration and notices.
                  type: string
                  example: email@example.com
                  format: email
                phone:
                  description: Registrant phone number in E.164 format (for example, +15555551234).
                  type: string
                  example: '+12065550100'
                  format: phone
                billingAddressId:
                  description: Billing address ID used for registration contact details.
                  type: string
                  example: <BILLING_ADDRESS_ID>
                addressLine3:
                  description: Additional address line for the registrant (line 3).
                  type: string
                  default: ''
                  example: <ADDRESS_LINE3>
                companyName:
                  description: Company or organization name for the registrant.
                  type: string
                  default: ''
                  example: <COMPANY_NAME>
                periodYears:
                  description: Registration term in years (1-10).
                  type: integer
                  default: 1
                  example: 1
                  format: int32
                autoRenewal:
                  description: Whether the domain should renew automatically after purchase.
                  type: boolean
                  default: true
                  example: false
                paymentMethodId:
                  description: Payment method ID to authorize and capture the purchase.
                  type: string
                  example: <PAYMENT_METHOD_ID>
              required:
              - domain
              - organizationId
              - firstName
              - lastName
              - email
              - phone
              - billingAddressId
              - paymentMethodId
  /domains/purchases/{invoiceId}:
    patch:
      summary: Confirm a domain purchase
      operationId: domainsUpdatePurchase
      tags:
      - Domains
      description: Finalize a domain purchase initiated with Create Purchase. Verifies that any required 3D Secure authentication is complete, registers the domain, captures the payment, and provisions default DNS records. Returns a 402 error if authentication is still pending.
      responses:
        '200':
          description: DomainPurchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPurchase'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-purchase.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: invoiceId
        description: Invoice ID.
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  description: Team ID that owns the domain.
                  type: string
                  example: <ORGANIZATION_ID>
              required:
              - organizationId
  /domains/suggestions:
    get:
      summary: List domain suggestions
      operationId: domainsListSuggestions
      tags:
      - Domains
      description: List domain suggestions.
      responses:
        '200':
          description: Domain suggestions list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainSuggestionsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/list-suggestions.md
        rate-limit: 50
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: public
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: query
        description: 'Query to find available domains and suggestions. Max length: 256 chars.'
        required: true
        schema:
          type: string
          example: <QUERY>
        in: query
      - name: tlds
        description: TLDs to suggest.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: limit
        description: Maximum number of suggestions to return.
        required: false
        schema:
          type: integer
          format: int32
        in: query
      - name: filterType
        description: 'Filter type: premium, suggestion.'
        required: false
        schema:
          type: string
          example: premium
          title: DomainSuggestionType
          oneOf:
          - type: string
            enum:
            - premium
            title: premium
          - type: string
            enum:
            - suggestion
            title: suggestion
        in: query
      - name: priceMax
        description: Filter premium domains by maximum price. Only premium domains at or below this price will be returned. Does not affect regular domain suggestions.
        required: false
        schema:
          type: integer
          format: int32
        in: query
      - name: priceMin
        description: Filter premium domains by minimum price. Only premium domains at or above this price will be returned. Does not affect regular domain suggestions.
        required: false
        schema:
          type: integer
          format: int32
        in: query
  /domains/transfers/in:
    post:
      summary: Create a domain transfer in
      operationId: domainsCreateTransferIn
      tags:
      - Domains
      description: Initiate a domain transfer-in by providing an authorization code, registrant details, and a payment method. Authorizes the payment and returns a `clientSecret`. If 3D Secure is required, use the `clientSecret` on the client to complete the authentication challenge. Once authentication is complete (or if none is needed), call the Update Transfer In endpoint to capture the payment and submit the transfer.
      responses:
        '201':
          description: DomainPurchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPurchase'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-transfer-in.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  description: Domain name to transfer in.
                  type: string
                  example: example.com
                organizationId:
                  description: Organization ID that this domain will belong to.
                  type: string
                  example: <ORGANIZATION_ID>
                authCode:
                  description: Authorization code for the domain transfer.
                  type: string
                  example: <AUTH_CODE>
                autoRenewal:
                  description: Whether the domain should renew automatically after transfer.
                  type: boolean
                  default: true
                  example: false
                paymentMethodId:
                  description: Payment method ID to authorize and capture the transfer.
                  type: string
                  example: <PAYMENT_METHOD_ID>
              required:
              - domain
              - organizationId
              - authCode
              - paymentMethodId
  /domains/transfers/in/{invoiceId}:
    patch:
      summary: Confirm a domain transfer in
      operationId: domainsUpdateTransferIn
      tags:
      - Domains
      description: Finalize a domain transfer-in initiated with Create Transfer In. Verifies that any required 3D Secure authentication is complete, submits the transfer with the authorization code, captures the payment, and sends a confirmation email. Returns a 402 error if authentication is still pending.
      responses:
        '200':
          description: DomainPurchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainPurchase'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-transfer-in.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: invoiceId
        description: Invoice ID.
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  description: Team ID that owns the domain.
                  type: string
                  example: <ORGANIZATION_ID>
              required:
              - organizationId
  /domains/transfers/out:
    post:
      summary: Create a domain transfer out
      operationId: domainsCreateTransferOut
      tags:
      - Domains
      description: Initiate a domain transfer-out by generating an authorization code for the specified domain. The returned `authCode` should be provided to the gaining provider to complete the transfer. If the domain has auto-renewal enabled, it will be automatically disabled as part of this operation.
      responses:
        '202':
          description: domainTransferOut
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainTransferOut'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-transfer-out.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domainId:
                  description: Domain unique ID.
                  type: string
                  example: <DOMAIN_ID>
                organizationId:
                  description: Organization ID that this domain belongs to.
                  type: string
                  example: <ORGANIZATION_ID>
              required:
              - domainId
              - organizationId
  /domains/{domainId}:
    get:
      summary: Get a single domain by its unique ID
      operationId: domainsGet
      tags:
      - Domains
      description: Get a domain by its unique ID.
      responses:
        '200':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    delete:
      summary: Delete a domain by its unique ID
      operationId: domainsDelete
      tags:
      - Domains
      description: 'Delete a domain by its unique ID. This endpoint can be used to delete a domain from your project.

        Once deleted, the domain will no longer be available for use and all associated resources will be removed.'
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/auto-renewal:
    patch:
      summary: Update domain auto-renewal setting
      operationId: domainsUpdateAutoRenewal
      tags:
      - Domains
      description: Enable or disable auto-renewal for a domain.
      responses:
        '200':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-auto-renewal.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoRenewal:
                  description: Whether the domain should renew automatically.
                  type: boolean
                  example: false
              required:
              - autoRenewal
  /domains/{domainId}/nameservers:
    patch:
      summary: Update the registrar nameservers for the given domain
      operationId: domainsUpdateNameservers
      tags:
      - Domains
      description: 'Update the registrar nameservers for the given domain. When nameservers are not provided,

        the domain will be updated to use Appwrite nameservers.'
      responses:
        '200':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-nameservers.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nameservers:
                  description: Nameservers to set for the domain. Defaults to Appwrite nameservers when omitted.
                  type: array
                  default: []
                  items:
                    type: string
  /domains/{domainId}/nameservers/verification:
    patch:
      summary: Verify which NS records are used and update the domain accordingly
      operationId: domainsVerifyNameservers
      tags:
      - Domains
      description: 'Verify which NS records are used and update the domain accordingly. This will check the domain''s

        nameservers and update the domain''s status based on whether the nameservers match the expected

        Appwrite nameservers.'
      responses:
        '200':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/verify-nameservers.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/google-workspace:
    get:
      summary: Get Google Workspace preset (Records)
      operationId: domainsGetPresetGoogleWorkspace
      tags:
      - Domains
      description: List Google Workspace DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-google-workspace.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create Google Workspace preset (Records)
      operationId: domainsCreatePresetGoogleWorkspace
      tags:
      - Domains
      description: 'Add Google Workspace DNS records to the domain. This will create the required MX records

        for Google Workspace email hosting.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-google-workspace.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/icloud:
    get:
      summary: Get iCloud preset (Records)
      operationId: domainsGetPresetICloud
      tags:
      - Domains
      description: List iCloud DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-i-cloud.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create iCloud preset (Records)
      operationId: domainsCreatePresetICloud
      tags:
      - Domains
      description: 'Add iCloud DNS records to the domain. This will create the required MX and SPF records

        for using iCloud email services with your domain.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-i-cloud.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/mailgun:
    get:
      summary: Get Mailgun preset (Records)
      operationId: domainsGetPresetMailgun
      tags:
      - Domains
      description: List Mailgun DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-mailgun.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create Mailgun preset (Records)
      operationId: domainsCreatePresetMailgun
      tags:
      - Domains
      description: 'Add Mailgun DNS records to the domain. This endpoint will create the required DNS records

        for Mailgun in the specified domain.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-mailgun.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/outlook:
    get:
      summary: Get Outlook preset (Records)
      operationId: domainsGetPresetOutlook
      tags:
      - Domains
      description: List Outlook DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-outlook.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create Outlook preset (Records)
      operationId: domainsCreatePresetOutlook
      tags:
      - Domains
      description: 'Add Outlook DNS records to the domain. This will create the required MX records

        for setting up Outlook email hosting for your domain.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-outlook.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/proton-mail:
    get:
      summary: Get ProtonMail preset (Records)
      operationId: domainsGetPresetProtonMail
      tags:
      - Domains
      description: List ProtonMail DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-proton-mail.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create ProtonMail preset (Records)
      operationId: domainsCreatePresetProtonMail
      tags:
      - Domains
      description: 'Add ProtonMail DNS records to the domain. This will create the required MX records

        for using ProtonMail with your custom domain.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-proton-mail.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/presets/zoho:
    get:
      summary: Get Zoho preset (Records)
      operationId: domainsGetPresetZoho
      tags:
      - Domains
      description: List Zoho DNS records.
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-preset-zoho.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    post:
      summary: Create Zoho Mail preset (Records)
      operationId: domainsCreatePresetZoho
      tags:
      - Domains
      description: 'Add Zoho Mail DNS records to the domain. This will create the required MX records

        for setting up Zoho Mail on your domain.'
      responses:
        '201':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-preset-zoho.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/records:
    get:
      summary: List DNS records for a given domain
      operationId: domainsListRecords
      tags:
      - Domains
      description: 'List DNS records for a given domain. You can use this endpoint to list all the DNS records

        associated with your domain.'
      responses:
        '200':
          description: DNS records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecordsList'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/list-records.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. You may filter on attributes such as type, name, value, etc. Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/records/a:
    post:
      summary: Create a new A record for the given domain
      operationId: domainsCreateRecordA
      tags:
      - Domains
      description: 'Create a new A record for the given domain. A records are used to point a domain name

        to an IPv4 address. The record value should be a valid IPv4 address.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-a.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: IPv4 address for this A record.
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment explaining what this record is for.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/a/{recordId}:
    put:
      summary: Update an existing A record for the given domain
      operationId: domainsUpdateRecordA
      tags:
      - Domains
      description: 'Update an existing A record for the given domain. This endpoint allows you to modify

        the properties of an A record including its name (subdomain), IPv4 address, TTL,

        and optional comment.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-a.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: IPv4 address for this A record.
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment explaining what this record is for.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/aaaa:
    post:
      summary: Create a new AAAA record for the given domain
      operationId: domainsCreateRecordAAAA
      tags:
      - Domains
      description: 'Create a new AAAA record for the given domain. This endpoint allows you to add a new IPv6 DNS record

        to your domain. The record will be used to point a hostname to an IPv6 address.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-aaaa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: IPv6 address for this AAAA record.
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment explaining what this record is for.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/aaaa/{recordId}:
    put:
      summary: Update an existing AAAA record for the given domain
      operationId: domainsUpdateRecordAAAA
      tags:
      - Domains
      description: 'Update an existing AAAA record for the given domain. This endpoint allows you to modify

        the properties of an existing AAAA record, including its name (subdomain), IPv6 address,

        TTL, and optional comment.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-aaaa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: IPv6 address for this AAAA record.
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/alias:
    post:
      summary: Create a new ALIAS record for the given domain
      operationId: domainsCreateRecordAlias
      tags:
      - Domains
      description: 'Create a new ALIAS record for the given domain. This record type can be used to point your domain

        to another domain name that will serve as an alias. This is particularly useful when you want to

        map your domain to a target domain that may change its IP address.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-alias.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name.
                  type: string
                value:
                  description: Target domain for this ALIAS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/alias/{recordId}:
    put:
      summary: Update an existing ALIAS record for the given domain
      operationId: domainsUpdateRecordAlias
      tags:
      - Domains
      description: 'Update an existing ALIAS record for the specified domain. This endpoint allows you to modify

        the properties of an existing ALIAS record including its name, target domain, TTL, and comment.


        The ALIAS record type is similar to a CNAME record but can be used at the zone apex (root domain).

        It provides a way to map one domain name to another.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-alias.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name.
                  type: string
                value:
                  description: Target domain for this ALIAS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/caa:
    post:
      summary: Create a new CAA record for the given domain
      operationId: domainsCreateRecordCAA
      tags:
      - Domains
      description: 'Create a new CAA record for the given domain. CAA records are used to specify which

        Certificate Authorities (CAs) are allowed to issue SSL/TLS certificates for your domain.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-caa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name.
                  type: string
                value:
                  description: CAA value (e.g. issuer domain).
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/caa/{recordId}:
    put:
      summary: Update an existing CAA record for the given domain
      operationId: domainsUpdateRecordCAA
      tags:
      - Domains
      description: 'Update an existing CAA record for the given domain. A CAA (Certification Authority Authorization)

        record is used to specify which certificate authorities (CAs) are authorized to issue certificates

        for a domain.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-caa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name.
                  type: string
                value:
                  description: CAA value (e.g. issuer domain).
                  type: string
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/cname:
    post:
      summary: Create a new CNAME record for the given domain
      operationId: domainsCreateRecordCNAME
      tags:
      - Domains
      description: 'Create a new CNAME record for the given domain.


        A CNAME record maps a subdomain to another domain name, allowing you to create aliases

        for your domain. For example, you can create a CNAME record to point ''blog.example.com''

        to ''example.wordpress.com''.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-cname.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Canonical target for this CNAME record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/cname/{recordId}:
    put:
      summary: Update an existing CNAME record for the given domain
      operationId: domainsUpdateRecordCNAME
      tags:
      - Domains
      description: Update an existing CNAME record for the given domain.
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-cname.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Canonical target for this CNAME record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/https:
    post:
      summary: Create a new HTTPS record for the given domain
      operationId: domainsCreateRecordHTTPS
      tags:
      - Domains
      description: 'Create a new HTTPS record for the given domain. This record is used to configure HTTPS

        settings for your domain, enabling secure communication over SSL/TLS.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-https.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Target for the HTTPS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/https/{recordId}:
    put:
      summary: Update an existing HTTPS record for the given domain
      operationId: domainsUpdateRecordHTTPS
      tags:
      - Domains
      description: 'Update an existing HTTPS record for the given domain. This endpoint allows you to modify

        the properties of an HTTPS record associated with your domain, including the name (subdomain),

        target value, TTL, and optional comment.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-https.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Target for the HTTPS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/mx:
    post:
      summary: Create a new MX record for the given domain
      operationId: domainsCreateRecordMX
      tags:
      - Domains
      description: 'Create a new MX record for the given domain. MX records are used to define the mail servers responsible

        for accepting email messages for the domain. Multiple MX records can be created with different priorities.

        The priority parameter determines the order in which mail servers are used, with lower values indicating

        higher priority.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-mx.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Mail server domain for this MX record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                priority:
                  description: MX priority. Lower values are tried first.
                  type: integer
                  example: 0
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
              - priority
  /domains/{domainId}/records/mx/{recordId}:
    put:
      summary: Update an existing MX record for the given domain
      operationId: domainsUpdateRecordMX
      tags:
      - Domains
      description: Update an existing MX record for the given domain.
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-mx.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Mail server domain for this MX record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                priority:
                  description: MX priority. Lower values are tried first.
                  type: integer
                  example: 0
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
              - priority
  /domains/{domainId}/records/ns:
    post:
      summary: Create a new NS record for the given domain
      operationId: domainsCreateRecordNS
      tags:
      - Domains
      description: 'Create a new NS record for the given domain. NS records specify the nameservers that are used

        to resolve the domain name to IP addresses. Each domain can have multiple NS records.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-ns.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Nameserver target for this NS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/ns/{recordId}:
    put:
      summary: Update an existing NS record for the given domain
      operationId: domainsUpdateRecordNS
      tags:
      - Domains
      description: 'Update an existing NS record for the given domain. This endpoint allows you to modify

        the properties of an NS (nameserver) record associated with your domain. You can update

        the record name (subdomain), target nameserver value, TTL, and add or modify comments

        for better record management.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-ns.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain).
                  type: string
                value:
                  description: Nameserver target for this NS record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/srv:
    post:
      summary: Create a new SRV record for the given domain
      operationId: domainsCreateRecordSRV
      tags:
      - Domains
      description: 'Create a new SRV record for the given domain. SRV records are used to define the location

        of servers for specific services. For example, they can be used to specify which server

        handles a specific service like SIP or XMPP for the domain.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-srv.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (service name).
                  type: string
                value:
                  description: Target hostname for this SRV record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                priority:
                  description: Record priority. Lower values are tried first.
                  type: integer
                  example: 0
                  format: int32
                weight:
                  description: Record weight, used to share load between targets of equal priority.
                  type: integer
                  example: 0
                  format: int32
                port:
                  description: Port number for the service.
                  type: integer
                  example: 0
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
              - priority
              - weight
              - port
  /domains/{domainId}/records/srv/{recordId}:
    put:
      summary: Update an existing SRV record for the given domain
      operationId: domainsUpdateRecordSRV
      tags:
      - Domains
      description: 'Update an existing SRV record for the given domain.


        Required parameters:

        - domainId: Domain unique ID

        - recordId: DNS record unique ID

        - name: Record name (service name)

        - value: Target hostname for this SRV record

        - ttl: Time to live, in seconds

        - priority: Record priority

        - weight: Record weight

        - port: Port number for the service


        Optional parameters:

        - comment: A comment for this record'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-srv.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (service name).
                  type: string
                value:
                  description: Target hostname for this SRV record.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                priority:
                  description: Record priority. Lower values are tried first.
                  type: integer
                  example: 0
                  format: int32
                weight:
                  description: Record weight, used to share load between targets of equal priority.
                  type: integer
                  example: 0
                  format: int32
                port:
                  description: Port number for the service.
                  type: integer
                  example: 0
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
              - priority
              - weight
              - port
  /domains/{domainId}/records/txt:
    post:
      summary: Create a new TXT record for the given domain
      operationId: domainsCreateRecordTXT
      tags:
      - Domains
      description: 'Create a new TXT record for the given domain. TXT records can be used

        to provide additional information about your domain, such as domain

        verification records, SPF records, or DKIM records.'
      responses:
        '201':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/create-record-txt.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain) for the TXT record.
                  type: string
                value:
                  description: TXT record value.
                  type: string
                  default: ''
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - ttl
  /domains/{domainId}/records/txt/{recordId}:
    put:
      summary: Update an existing TXT record for the given domain
      operationId: domainsUpdateRecordTXT
      tags:
      - Domains
      description: 'Update an existing TXT record for the given domain.


        Update the TXT record details for a specific domain by providing the domain ID,

        record ID, and the new record configuration including name, value, TTL, and an optional comment.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-record-txt.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Record name (subdomain) for the TXT record.
                  type: string
                value:
                  description: TXT record value.
                  type: string
                  example: <VALUE>
                ttl:
                  description: Time to live, in seconds. Must be between 1 and 2147483647.
                  type: integer
                  example: 1
                  format: int32
                comment:
                  description: A comment for this record.
                  type: string
                  default: ''
                  example: <COMMENT>
              required:
              - name
              - value
              - ttl
  /domains/{domainId}/records/{recordId}:
    get:
      summary: Get a single DNS record for a given domain by record ID
      operationId: domainsGetRecord
      tags:
      - Domains
      description: 'Get a single DNS record for a given domain by record ID.


        This endpoint allows you to retrieve a specific DNS record associated with a domain

        using its unique identifier. The record contains information about the DNS configuration

        such as type, value, and TTL settings.'
      responses:
        '200':
          description: DNSRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsRecord'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-record.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
    delete:
      summary: Delete a DNS record for the given domain
      operationId: domainsDeleteRecord
      tags:
      - Domains
      description: 'Delete a DNS record for the given domain. This endpoint allows you to delete an existing DNS record

        from a specific domain.'
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/delete-record.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      - name: recordId
        description: DNS record unique ID.
        required: true
        schema:
          type: string
          example: <RECORD_ID>
        in: path
  /domains/{domainId}/team:
    patch:
      summary: Update domain team
      operationId: domainsUpdateTeam
      tags:
      - Domains
      description: 'Update the team ID for a specific domain. The caller must administer the current

        team and be an owner of the destination team.


        Updating the team ID will transfer ownership and access control of the domain

        and all its DNS records to the new team.'
      responses:
        '200':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-team.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                teamId:
                  description: New team unique ID.
                  type: string
                  example: <TEAM_ID>
              required:
              - teamId
  /domains/{domainId}/transfers/status:
    get:
      summary: Get domain transfer status
      operationId: domainsGetTransferStatus
      tags:
      - Domains
      description: Retrieve the current transfer status for a domain. Returns the status, an optional reason, and a timestamp of the last status change.
      responses:
        '200':
          description: domainTransferStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainTransferStatus'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-transfer-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
  /domains/{domainId}/zone:
    get:
      summary: Retrieve the DNS zone file for the given domain
      operationId: domainsGetZone
      tags:
      - Domains
      description: 'Retrieve the DNS zone file for the given domain. This endpoint will return the DNS

        zone file in a standardized format that can be used to configure DNS servers.'
      responses:
        '200':
          description: Text
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/get-zone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
    put:
      summary: Update the DNS zone for the given domain using the provided zone file content.
      operationId: domainsUpdateZone
      tags:
      - Domains
      description: 'Update the DNS zone for the given domain using the provided zone file content.

        All parsed records are imported and then the main domain document is returned.'
      responses:
        '201':
          description: Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain'
      deprecated: false
      x-appwrite:
        group: null
        demo: domains/update-zone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: domains.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: domainId
        description: Domain unique ID.
        required: true
        schema:
          type: string
          example: <DOMAIN_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  description: DNS zone file content as a string.
                  type: string
                  example: <CONTENT>
              required:
              - content
components:
  schemas:
    domainPrice:
      description: DomainPrice
      type: object
      properties:
        domain:
          type: string
          description: Domain name.
          example: example.com
        tld:
          type: string
          description: Top-level domain for the requested domain.
          example: com
        available:
          type: boolean
          description: Whether the domain is currently available for registration.
          example: true
        price:
          type:
          - number
          - 'null'
          description: Domain registration price. Null when the price could not be resolved, for example for an unsupported TLD.
          format: double
          example: 25.99
        periodYears:
          type: integer
          description: Price period in years.
          format: int32
          example: 1
        premium:
          type: boolean
          description: Whether the domain is a premium domain.
          example: false
        renewalPrice:
          type:
          - number
          - 'null'
          description: Domain renewal price for the same period. Null when the domain was not priced or the registrar has no renewal price for it.
          format: double
          example: 27.99
        renewalPeriodYears:
          type: integer
          description: Renewal price period in years.
          format: int32
          example: 1
      required:
      - domain
      - tld
      - available
      - periodYears
      - premium
      - renewalPeriodYears
      example:
        domain: example.com
        tld: com
        available: true
        price: 25.99
        periodYears: 1
        premium: false
        renewalPrice: 27.99
        renewalPeriodYears: 1
    domainsList:
      description: Domains list
      type: object
      properties:
        total:
          type: integer
          description: Total number of domains that matched your query.
          format: int32
          example: 5
        domains:
          type: array
          description: List of domains.
          items:
            $ref: '#/components/schemas/domain'
          example: []
      required:
      - total
      - domains
      example:
        total: 5
        domains: ''
    domainPurchase:
      description: DomainPurchase
      type: object
      properties:
        $id:
          type: string
          description: Purchase/invoice ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Purchase creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Purchase update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        domainId:
          type: string
          description: Domain document ID.
          example: 5e5ea5c16897e
        domain:
          type: string
          description: Domain name.
          example: example.com
        organizationId:
          type: string
          description: Team ID that owns the domain.
          example: 5e5ea5c16897e
        status:
          description: Domain purchase status.
          example: pending
          title: DomainPurchaseStatus
          type: string
          oneOf:
          - type: string
            enum:
            - pending
            title: pending
          - type: string
            enum:
            - succeeded
            title: succeeded
          - type: string
            enum:
            - failed
            title: failed
          - type: string
            enum:
            - cancelled
            title: cancelled
        clientSecret:
          type: string
          description: Stripe client secret for 3DS; empty when not applicable.
          example: ''
        amount:
          type: number
          description: Purchase amount.
          format: double
          example: 25.99
        currency:
          type: string
          description: Currency code.
          example: USD
      required:
      - $id
      - $createdAt
      - $updatedAt
      - domainId
      - domain
      - organizationId
      - status
      - clientSecret
      - amount
      - currency
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        domainId: 5e5ea5c16897e
        domain: example.com
        organizationId: 5e5ea5c16897e
        status: pending
        clientSecret: ''
        amount: 25.99
        currency: USD
    domain:
      description: Domain
      type: object
      properties:
        $id:
          type: string
          description: Domain ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Domain creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Domain update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        domain:
          type: string
          description: Domain name.
          example: example.com
[...]
