openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Project API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Project
  description: The Project service allows you to manage all the projects in your Appwrite server.
paths:
  /project:
    get:
      summary: Get project
      operationId: projectGet
      tags:
      - Project
      description: Get a project.
      responses:
        '200':
          description: Project
          content:
            ? ''
            : schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: null
        demo: project/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
    delete:
      summary: Delete project
      operationId: projectDelete
      tags:
      - Project
      description: Delete a project.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: project/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
  /project/auth-methods/{methodId}:
    patch:
      summary: Update project auth method status
      operationId: projectUpdateAuthMethod
      tags:
      - Project
      description: Update properties of a specific auth method. Use this endpoint to enable or disable a method in your project.
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: null
        demo: project/update-auth-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: methodId
        description: 'Auth Method ID. Possible values: email-password,magic-url,email-otp,anonymous,invites,jwt,phone'
        required: true
        schema:
          type: string
          example: email-password
          title: ProjectAuthMethodId
          oneOf:
          - type: string
            enum:
            - email-password
            title: email-password
          - type: string
            enum:
            - magic-url
            title: magic-url
          - type: string
            enum:
            - email-otp
            title: email-otp
          - type: string
            enum:
            - anonymous
            title: anonymous
          - type: string
            enum:
            - invites
            title: invites
          - type: string
            enum:
            - jwt
            title: jwt
          - type: string
            enum:
            - phone
            title: phone
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Auth method status.
                  type: boolean
                  example: false
              required:
              - enabled
  /project/keys:
    get:
      summary: List project keys
      operationId: projectListKeys
      tags:
      - Project
      description: Get a list of all API keys from the current project.
      responses:
        '200':
          description: API Keys List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyList'
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/list-keys.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: expire, accessedAt, name, scopes'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create project key
      operationId: projectCreateKey
      tags:
      - Project
      description: 'Create a new API key. It''s recommended to have multiple API keys with strict scopes for separate functions within your project.


        You can also create an ephemeral API key if you need a short-lived key instead.'
      responses:
        '201':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/create-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  description: Key ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <KEY_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: ProjectKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - project.read
                      title: project.read
                    - type: string
                      enum:
                      - project.write
                      title: project.write
                    - type: string
                      enum:
                      - usage.read
                      title: usage.read
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                    - type: string
                      enum:
                      - platforms.read
                      title: platforms.read
                    - type: string
                      enum:
                      - platforms.write
                      title: platforms.write
                    - type: string
                      enum:
                      - mocks.read
                      title: mocks.read
                    - type: string
                      enum:
                      - mocks.write
                      title: mocks.write
                    - type: string
                      enum:
                      - policies.read
                      title: policies.read
                    - type: string
                      enum:
                      - policies.write
                      title: policies.write
                    - type: string
                      enum:
                      - project.policies.read
                      title: project.policies.read
                    - type: string
                      enum:
                      - project.policies.write
                      title: project.policies.write
                    - type: string
                      enum:
                      - project.oauth2.read
                      title: project.oauth2.read
                    - type: string
                      enum:
                      - project.oauth2.write
                      title: project.oauth2.write
                    - type: string
                      enum:
                      - templates.read
                      title: templates.read
                    - type: string
                      enum:
                      - templates.write
                      title: templates.write
                    - type: string
                      enum:
                      - stages.read
                      title: stages.read
                    - type: string
                      enum:
                      - stages.write
                      title: stages.write
                    - type: string
                      enum:
                      - users.read
                      title: users.read
                    - type: string
                      enum:
                      - users.write
                      title: users.write
                    - type: string
                      enum:
                      - sessions.read
                      title: sessions.read
                    - type: string
                      enum:
                      - sessions.write
                      title: sessions.write
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                    - type: string
                      enum:
                      - databases.read
                      title: databases.read
                    - type: string
                      enum:
                      - databases.write
                      title: databases.write
                    - type: string
                      enum:
                      - tables.read
                      title: tables.read
                    - type: string
                      enum:
                      - tables.write
                      title: tables.write
                    - type: string
                      enum:
                      - columns.read
                      title: columns.read
                    - type: string
                      enum:
                      - columns.write
                      title: columns.write
                    - type: string
                      enum:
                      - indexes.read
                      title: indexes.read
                    - type: string
                      enum:
                      - indexes.write
                      title: indexes.write
                    - type: string
                      enum:
                      - rows.read
                      title: rows.read
                    - type: string
                      enum:
                      - rows.write
                      title: rows.write
                    - type: string
                      enum:
                      - embeddings.write
                      title: embeddings.write
                    - type: string
                      enum:
                      - collections.read
                      title: collections.read
                    - type: string
                      enum:
                      - collections.write
                      title: collections.write
                    - type: string
                      enum:
                      - attributes.read
                      title: attributes.read
                    - type: string
                      enum:
                      - attributes.write
                      title: attributes.write
                    - type: string
                      enum:
                      - documents.read
                      title: documents.read
                    - type: string
                      enum:
                      - documents.write
                      title: documents.write
                    - type: string
                      enum:
                      - documentsdb.read
                      title: documentsdb.read
                    - type: string
                      enum:
                      - documentsdb.write
                      title: documentsdb.write
                    - type: string
                      enum:
                      - documentsdb.collections.read
                      title: documentsdb.collections.read
                    - type: string
                      enum:
                      - documentsdb.collections.write
                      title: documentsdb.collections.write
                    - type: string
                      enum:
                      - documentsdb.documents.read
                      title: documentsdb.documents.read
                    - type: string
                      enum:
                      - documentsdb.documents.write
                      title: documentsdb.documents.write
                    - type: string
                      enum:
                      - documentsdb.indexes.read
                      title: documentsdb.indexes.read
                    - type: string
                      enum:
                      - documentsdb.indexes.write
                      title: documentsdb.indexes.write
                    - type: string
                      enum:
                      - vectorsdb.read
                      title: vectorsdb.read
                    - type: string
                      enum:
                      - vectorsdb.write
                      title: vectorsdb.write
                    - type: string
                      enum:
                      - vectorsdb.collections.read
                      title: vectorsdb.collections.read
                    - type: string
                      enum:
                      - vectorsdb.collections.write
                      title: vectorsdb.collections.write
                    - type: string
                      enum:
                      - vectorsdb.documents.read
                      title: vectorsdb.documents.read
                    - type: string
                      enum:
                      - vectorsdb.documents.write
                      title: vectorsdb.documents.write
                    - type: string
                      enum:
                      - vectorsdb.indexes.read
                      title: vectorsdb.indexes.read
                    - type: string
                      enum:
                      - vectorsdb.indexes.write
                      title: vectorsdb.indexes.write
                    - type: string
                      enum:
                      - buckets.read
                      title: buckets.read
                    - type: string
                      enum:
                      - buckets.write
                      title: buckets.write
                    - type: string
                      enum:
                      - files.read
                      title: files.read
                    - type: string
                      enum:
                      - files.write
                      title: files.write
                    - type: string
                      enum:
                      - tokens.read
                      title: tokens.read
                    - type: string
                      enum:
                      - tokens.write
                      title: tokens.write
                    - type: string
                      enum:
                      - functions.read
                      title: functions.read
                    - type: string
                      enum:
                      - functions.write
                      title: functions.write
                    - type: string
                      enum:
                      - executions.read
                      title: executions.read
                    - type: string
                      enum:
                      - executions.write
                      title: executions.write
                    - type: string
                      enum:
                      - execution.read
                      title: execution.read
                    - type: string
                      enum:
                      - execution.write
                      title: execution.write
                    - type: string
                      enum:
                      - sites.read
                      title: sites.read
                    - type: string
                      enum:
                      - sites.write
                      title: sites.write
                    - type: string
                      enum:
                      - log.read
                      title: log.read
                    - type: string
                      enum:
                      - log.write
                      title: log.write
                    - type: string
                      enum:
                      - providers.read
                      title: providers.read
                    - type: string
                      enum:
                      - providers.write
                      title: providers.write
                    - type: string
                      enum:
                      - topics.read
                      title: topics.read
                    - type: string
                      enum:
                      - topics.write
                      title: topics.write
                    - type: string
                      enum:
                      - subscribers.read
                      title: subscribers.read
                    - type: string
                      enum:
                      - subscribers.write
                      title: subscribers.write
                    - type: string
                      enum:
                      - targets.read
                      title: targets.read
                    - type: string
                      enum:
                      - targets.write
                      title: targets.write
                    - type: string
                      enum:
                      - messages.read
                      title: messages.read
                    - type: string
                      enum:
                      - messages.write
                      title: messages.write
                    - type: string
                      enum:
                      - rules.read
                      title: rules.read
                    - type: string
                      enum:
                      - rules.write
                      title: rules.write
                    - type: string
                      enum:
                      - webhooks.read
                      title: webhooks.read
                    - type: string
                      enum:
                      - webhooks.write
                      title: webhooks.write
                    - type: string
                      enum:
                      - locale.read
                      title: locale.read
                    - type: string
                      enum:
                      - avatars.read
                      title: avatars.read
                    - type: string
                      enum:
                      - health.read
                      title: health.read
                    - type: string
                      enum:
                      - assistant.read
                      title: assistant.read
                    - type: string
                      enum:
                      - migrations.read
                      title: migrations.read
                    - type: string
                      enum:
                      - migrations.write
                      title: migrations.write
                    - type: string
                      enum:
                      - schedules.read
                      title: schedules.read
                    - type: string
                      enum:
                      - schedules.write
                      title: schedules.write
                    - type: string
                      enum:
                      - vcs.read
                      title: vcs.read
                    - type: string
                      enum:
                      - vcs.write
                      title: vcs.write
                    - type: string
                      enum:
                      - insights.read
                      title: insights.read
                    - type: string
                      enum:
                      - insights.write
                      title: insights.write
                    - type: string
                      enum:
                      - reports.read
                      title: reports.read
                    - type: string
                      enum:
                      - reports.write
                      title: reports.write
                    - type: string
                      enum:
                      - presences.read
                      title: presences.read
                    - type: string
                      enum:
                      - presences.write
                      title: presences.write
                    - type: string
                      enum:
                      - backups.policies.read
                      title: backups.policies.read
                    - type: string
                      enum:
                      - backups.policies.write
                      title: backups.policies.write
                    - type: string
                      enum:
                      - archives.read
                      title: archives.read
                    - type: string
                      enum:
                      - archives.write
                      title: archives.write
                    - type: string
                      enum:
                      - restorations.read
                      title: restorations.read
                    - type: string
                      enum:
                      - restorations.write
                      title: restorations.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - wafRules.read
                      title: wafRules.read
                    - type: string
                      enum:
                      - wafRules.write
                      title: wafRules.write
                    - type: string
                      enum:
                      - events.read
                      title: events.read
                    - type: string
                      enum:
                      - proxy.invalidations.write
                      title: proxy.invalidations.write
                    - type: string
                      enum:
                      - apps.read
                      title: apps.read
                    - type: string
                      enum:
                      - apps.write
                      title: apps.write
                    - type: string
                      enum:
                      - oauth2.read
                      title: oauth2.read
                    - type: string
                      enum:
                      - oauth2.write
                      title: oauth2.write
                    - type: string
                      enum:
                      - oauth2.introspect
                      title: oauth2.introspect
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - keyId
              - name
              - scopes
  /project/keys/ephemeral:
    post:
      summary: Create ephemeral project key
      operationId: projectCreateEphemeralKey
      tags:
      - Project
      description: 'Create a new ephemeral API key. It''s recommended to have multiple API keys with strict scopes for separate functions within your project.


        You can also create a standard API key if you need a longer-lived key instead.'
      responses:
        '201':
          description: Ephemeral Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ephemeralKey'
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/create-ephemeral-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: ProjectKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - project.read
                      title: project.read
                    - type: string
                      enum:
                      - project.write
                      title: project.write
                    - type: string
                      enum:
                      - usage.read
                      title: usage.read
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                    - type: string
                      enum:
                      - platforms.read
                      title: platforms.read
                    - type: string
                      enum:
                      - platforms.write
                      title: platforms.write
                    - type: string
                      enum:
                      - mocks.read
                      title: mocks.read
                    - type: string
                      enum:
                      - mocks.write
                      title: mocks.write
                    - type: string
                      enum:
                      - policies.read
                      title: policies.read
                    - type: string
                      enum:
                      - policies.write
                      title: policies.write
                    - type: string
                      enum:
                      - project.policies.read
                      title: project.policies.read
                    - type: string
                      enum:
                      - project.policies.write
                      title: project.policies.write
                    - type: string
                      enum:
                      - project.oauth2.read
                      title: project.oauth2.read
                    - type: string
                      enum:
                      - project.oauth2.write
                      title: project.oauth2.write
                    - type: string
                      enum:
                      - templates.read
                      title: templates.read
                    - type: string
                      enum:
                      - templates.write
                      title: templates.write
                    - type: string
                      enum:
                      - stages.read
                      title: stages.read
                    - type: string
                      enum:
                      - stages.write
                      title: stages.write
                    - type: string
                      enum:
                      - users.read
                      title: users.read
                    - type: string
                      enum:
                      - users.write
                      title: users.write
                    - type: string
                      enum:
                      - sessions.read
                      title: sessions.read
                    - type: string
                      enum:
                      - sessions.write
                      title: sessions.write
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                    - type: string
                      enum:
                      - databases.read
                      title: databases.read
                    - type: string
                      enum:
                      - databases.write
                      title: databases.write
                    - type: string
                      enum:
                      - tables.read
                      title: tables.read
                    - type: string
                      enum:
                      - tables.write
                      title: tables.write
                    - type: string
                      enum:
                      - columns.read
                      title: columns.read
                    - type: string
                      enum:
                      - columns.write
                      title: columns.write
                    - type: string
                      enum:
                      - indexes.read
                      title: indexes.read
                    - type: string
                      enum:
                      - indexes.write
                      title: indexes.write
                    - type: string
                      enum:
                      - rows.read
                      title: rows.read
                    - type: string
                      enum:
                      - rows.write
                      title: rows.write
                    - type: string
                      enum:
                      - embeddings.write
                      title: embeddings.write
                    - type: string
                      enum:
                      - collections.read
                      title: collections.read
                    - type: string
                      enum:
                      - collections.write
                      title: collections.write
                    - type: string
                      enum:
                      - attributes.read
                      title: attributes.read
                    - type: string
                      enum:
                      - attributes.write
                      title: attributes.write
                    - type: string
                      enum:
                      - documents.read
                      title: documents.read
                    - type: string
                      enum:
                      - documents.write
                      title: documents.write
                    - type: string
                      enum:
                      - documentsdb.read
                      title: documentsdb.read
                    - type: string
                      enum:
                      - documentsdb.write
                      title: documentsdb.write
                    - type: string
                      enum:
                      - documentsdb.collections.read
                      title: documentsdb.collections.read
                    - type: string
                      enum:
                      - documentsdb.collections.write
                      title: documentsdb.collections.write
                    - type: string
                      enum:
                      - documentsdb.documents.read
                      title: documentsdb.documents.read
                    - type: string
                      enum:
                      - documentsdb.documents.write
                      title: documentsdb.documents.write
                    - type: string
                      enum:
                      - documentsdb.indexes.read
                      title: documentsdb.indexes.read
                    - type: string
                      enum:
                      - documentsdb.indexes.write
                      title: documentsdb.indexes.write
                    - type: string
                      enum:
                      - vectorsdb.read
                      title: vectorsdb.read
                    - type: string
                      enum:
                      - vectorsdb.write
                      title: vectorsdb.write
                    - type: string
                      enum:
                      - vectorsdb.collections.read
                      title: vectorsdb.collections.read
                    - type: string
                      enum:
                      - vectorsdb.collections.write
                      title: vectorsdb.collections.write
                    - type: string
                      enum:
                      - vectorsdb.documents.read
                      title: vectorsdb.documents.read
                    - type: string
                      enum:
                      - vectorsdb.documents.write
                      title: vectorsdb.documents.write
                    - type: string
                      enum:
                      - vectorsdb.indexes.read
                      title: vectorsdb.indexes.read
                    - type: string
                      enum:
                      - vectorsdb.indexes.write
                      title: vectorsdb.indexes.write
                    - type: string
                      enum:
                      - buckets.read
                      title: buckets.read
                    - type: string
                      enum:
                      - buckets.write
                      title: buckets.write
                    - type: string
                      enum:
                      - files.read
                      title: files.read
                    - type: string
                      enum:
                      - files.write
                      title: files.write
                    - type: string
                      enum:
                      - tokens.read
                      title: tokens.read
                    - type: string
                      enum:
                      - tokens.write
                      title: tokens.write
                    - type: string
                      enum:
                      - functions.read
                      title: functions.read
                    - type: string
                      enum:
                      - functions.write
                      title: functions.write
                    - type: string
                      enum:
                      - executions.read
                      title: executions.read
                    - type: string
                      enum:
                      - executions.write
                      title: executions.write
                    - type: string
                      enum:
                      - execution.read
                      title: execution.read
                    - type: string
                      enum:
                      - execution.write
                      title: execution.write
                    - type: string
                      enum:
                      - sites.read
                      title: sites.read
                    - type: string
                      enum:
                      - sites.write
                      title: sites.write
                    - type: string
                      enum:
                      - log.read
                      title: log.read
                    - type: string
                      enum:
                      - log.write
                      title: log.write
                    - type: string
                      enum:
                      - providers.read
                      title: providers.read
                    - type: string
                      enum:
                      - providers.write
                      title: providers.write
                    - type: string
                      enum:
                      - topics.read
                      title: topics.read
                    - type: string
                      enum:
                      - topics.write
                      title: topics.write
                    - type: string
                      enum:
                      - subscribers.read
                      title: subscribers.read
                    - type: string
                      enum:
                      - subscribers.write
                      title: subscribers.write
                    - type: string
                      enum:
                      - targets.read
                      title: targets.read
                    - type: string
                      enum:
                      - targets.write
                      title: targets.write
                    - type: string
                      enum:
                      - messages.read
                      title: messages.read
                    - type: string
                      enum:
                      - messages.write
                      title: messages.write
                    - type: string
                      enum:
                      - rules.read
                      title: rules.read
                    - type: string
                      enum:
                      - rules.write
                      title: rules.write
                    - type: string
                      enum:
                      - webhooks.read
                      title: webhooks.read
                    - type: string
                      enum:
                      - webhooks.write
                      title: webhooks.write
                    - type: string
                      enum:
                      - locale.read
                      title: locale.read
                    - type: string
                      enum:
                      - avatars.read
                      title: avatars.read
                    - type: string
                      enum:
                      - health.read
                      title: health.read
                    - type: string
                      enum:
                      - assistant.read
                      title: assistant.read
                    - type: string
                      enum:
                      - migrations.read
                      title: migrations.read
                    - type: string
                      enum:
                      - migrations.write
                      title: migrations.write
                    - type: string
                      enum:
                      - schedules.read
                      title: schedules.read
                    - type: string
                      enum:
                      - schedules.write
                      title: schedules.write
                    - type: string
                      enum:
                      - vcs.read
                      title: vcs.read
                    - type: string
                      enum:
                      - vcs.write
                      title: vcs.write
                    - type: string
                      enum:
                      - insights.read
                      title: insights.read
                    - type: string
                      enum:
                      - insights.write
                      title: insights.write
                    - type: string
                      enum:
                      - reports.read
                      title: reports.read
                    - type: string
                      enum:
                      - reports.write
                      title: reports.write
                    - type: string
                      enum:
                      - presences.read
                      title: presences.read
                    - type: string
                      enum:
                      - presences.write
                      title: presences.write
                    - type: string
                      enum:
                      - backups.policies.read
                      title: backups.policies.read
                    - type: string
                      enum:
                      - backups.policies.write
                      title: backups.policies.write
                    - type: string
                      enum:
                      - archives.read
                      title: archives.read
                    - type: string
                      enum:
                      - archives.write
                      title: archives.write
                    - type: string
                      enum:
                      - restorations.read
                      title: restorations.read
                    - type: string
                      enum:
                      - restorations.write
                      title: restorations.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - wafRules.read
                      title: wafRules.read
                    - type: string
                      enum:
                      - wafRules.write
                      title: wafRules.write
                    - type: string
                      enum:
                      - events.read
                      title: events.read
                    - type: string
                      enum:
                      - proxy.invalidations.write
                      title: proxy.invalidations.write
                    - type: string
                      enum:
                      - apps.read
                      title: apps.read
                    - type: string
                      enum:
                      - apps.write
                      title: apps.write
                    - type: string
                      enum:
                      - oauth2.read
                      title: oauth2.read
                    - type: string
                      enum:
                      - oauth2.write
                      title: oauth2.write
                    - type: string
                      enum:
                      - oauth2.introspect
                      title: oauth2.introspect
                duration:
                  description: Time in seconds before ephemeral key expires. Maximum duration is 3600 seconds.
                  type: integer
                  example: 600
                  format: int32
              required:
              - scopes
              - duration
  /project/keys/{keyId}:
    get:
      summary: Get project key
      operationId: projectGetKey
      tags:
      - Project
      description: Get a key by its unique ID.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/get-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: keyId
        description: Key ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
    put:
      summary: Update project key
      operationId: projectUpdateKey
      tags:
      - Project
      description: Update a key by its unique ID. Use this endpoint to update the name, scopes, or expiration time of an API key.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/update-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: keyId
        description: Key ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: ProjectKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - project.read
                      title: project.read
                    - type: string
                      enum:
                      - project.write
                      title: project.write
                    - type: string
                      enum:
                      - usage.read
                      title: usage.read
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                    - type: string
                      enum:
                      - platforms.read
                      title: platforms.read
                    - type: string
                      enum:
                      - platforms.write
                      title: platforms.write
                    - type: string
                      enum:
                      - mocks.read
                      title: mocks.read
                    - type: string
                      enum:
                      - mocks.write
                      title: mocks.write
                    - type: string
                      enum:
                      - policies.read
                      title: policies.read
                    - type: string
                      enum:
                      - policies.write
                      title: policies.write
                    - type: string
                      enum:
                      - project.policies.read
                      title: project.policies.read
                    - type: string
                      enum:
                      - project.policies.write
                      title: project.policies.write
                    - type: string
                      enum:
                      - project.oauth2.read
                      title: project.oauth2.read
                    - type: string
                      enum:
                      - project.oauth2.write
                      title: project.oauth2.write
                    - type: string
                      enum:
                      - templates.read
                      title: templates.read
                    - type: string
                      enum:
                      - templates.write
                      title: templates.write
                    - type: string
                      enum:
                      - stages.read
                      title: stages.read
                    - type: string
                      enum:
                      - stages.write
                      title: stages.write
                    - type: string
                      enum:
                      - users.read
                      title: users.read
                    - type: string
                      enum:
                      - users.write
                      title: users.write
                    - type: string
                      enum:
                      - sessions.read
                      title: sessions.read
                    - type: string
                      enum:
                      - sessions.write
                      title: sessions.write
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                    - type: string
                      enum:
                      - databases.read
                      title: databases.read
                    - type: string
                      enum:
                      - databases.write
                      title: databases.write
                    - type: string
                      enum:
                      - tables.read
                      title: tables.read
                    - type: string
                      enum:
                      - tables.write
                      title: tables.write
                    - type: string
                      enum:
                      - columns.read
                      title: columns.read
                    - type: string
                      enum:
                      - columns.write
                      title: columns.write
                    - type: string
                      enum:
                      - indexes.read
                      title: indexes.read
                    - type: string
                      enum:
                      - indexes.write
                      title: indexes.write
                    - type: string
                      enum:
                      - rows.read
                      title: rows.read
                    - type: string
                      enum:
                      - rows.write
                      title: rows.write
                    - type: string
                      enum:
                      - embeddings.write
                      title: embeddings.write
                    - type: string
                      enum:
                      - collections.read
                      title: collections.read
                    - type: string
                      enum:
                      - collections.write
                      title: collections.write
                    - type: string
                      enum:
                      - attributes.read
                      title: attributes.read
                    - type: string
                      enum:
                      - attributes.write
                      title: attributes.write
                    - type: string
                      enum:
                      - documents.read
                      title: documents.read
                    - type: string
                      enum:
                      - documents.write
                      title: documents.write
                    - type: string
                      enum:
                      - documentsdb.read
                      title: documentsdb.read
                    - type: string
                      enum:
                      - documentsdb.write
                      title: documentsdb.write
                    - type: string
                      enum:
                      - documentsdb.collections.read
                      title: documentsdb.collections.read
                    - type: string
                      enum:
                      - documentsdb.collections.write
                      title: documentsdb.collections.write
                    - type: string
                      enum:
                      - documentsdb.documents.read
                      title: documentsdb.documents.read
                    - type: string
                      enum:
                      - documentsdb.documents.write
                      title: documentsdb.documents.write
                    - type: string
                      enum:
                      - documentsdb.indexes.read
                      title: documentsdb.indexes.read
                    - type: string
                      enum:
                      - documentsdb.indexes.write
                      title: documentsdb.indexes.write
                    - type: string
                      enum:
                      - vectorsdb.read
                      title: vectorsdb.read
                    - type: string
                      enum:
                      - vectorsdb.write
                      title: vectorsdb.write
                    - type: string
                      enum:
                      - vectorsdb.collections.read
                      title: vectorsdb.collections.read
                    - type: string
                      enum:
                      - vectorsdb.collections.write
                      title: vectorsdb.collections.write
                    - type: string
                      enum:
                      - vectorsdb.documents.read
                      title: vectorsdb.documents.read
                    - type: string
                      enum:
                      - vectorsdb.documents.write
                      title: vectorsdb.documents.write
                    - type: string
                      enum:
                      - vectorsdb.indexes.read
                      title: vectorsdb.indexes.read
                    - type: string
                      enum:
                      - vectorsdb.indexes.write
                      title: vectorsdb.indexes.write
                    - type: string
                      enum:
                      - buckets.read
                      title: buckets.read
                    - type: string
                      enum:
                      - buckets.write
                      title: buckets.write
                    - type: string
                      enum:
                      - files.read
                      title: files.read
                    - type: string
                      enum:
                      - files.write
                      title: files.write
                    - type: string
                      enum:
                      - tokens.read
                      title: tokens.read
                    - type: string
                      enum:
                      - tokens.write
                      title: tokens.write
                    - type: string
                      enum:
                      - functions.read
                      title: functions.read
                    - type: string
                      enum:
                      - functions.write
                      title: functions.write
                    - type: string
                      enum:
                      - executions.read
                      title: executions.read
                    - type: string
                      enum:
                      - executions.write
                      title: executions.write
                    - type: string
                      enum:
                      - execution.read
                      title: execution.read
                    - type: string
                      enum:
                      - execution.write
                      title: execution.write
                    - type: string
                      enum:
                      - sites.read
                      title: sites.read
                    - type: string
                      enum:
                      - sites.write
                      title: sites.write
                    - type: string
                      enum:
                      - log.read
                      title: log.read
                    - type: string
                      enum:
                      - log.write
                      title: log.write
                    - type: string
                      enum:
                      - providers.read
                      title: providers.read
                    - type: string
                      enum:
                      - providers.write
                      title: providers.write
                    - type: string
                      enum:
                      - topics.read
                      title: topics.read
                    - type: string
                      enum:
                      - topics.write
                      title: topics.write
                    - type: string
                      enum:
                      - subscribers.read
                      title: subscribers.read
                    - type: string
                      enum:
                      - subscribers.write
                      title: subscribers.write
                    - type: string
                      enum:
                      - targets.read
                      title: targets.read
                    - type: string
                      enum:
                      - targets.write
                      title: targets.write
                    - type: string
                      enum:
                      - messages.read
                      title: messages.read
                    - type: string
                      enum:
                      - messages.write
                      title: messages.write
                    - type: string
                      enum:
                      - rules.read
                      title: rules.read
                    - type: string
                      enum:
                      - rules.write
                      title: rules.write
                    - type: string
                      enum:
                      - webhooks.read
                      title: webhooks.read
                    - type: string
                      enum:
                      - webhooks.write
                      title: webhooks.write
                    - type: string
                      enum:
                      - locale.read
                      title: locale.read
                    - type: string
                      enum:
                      - avatars.read
                      title: avatars.read
                    - type: string
                      enum:
                      - health.read
                      title: health.read
                    - type: string
                      enum:
                      - assistant.read
                      title: assistant.read
                    - type: string
                      enum:
                      - migrations.read
                      title: migrations.read
                    - type: string
                      enum:
                      - migrations.write
                      title: migrations.write
                    - type: string
                      enum:
                      - schedules.read
                      title: schedules.read
                    - type: string
                      enum:
                      - schedules.write
                      title: schedules.write
                    - type: string
                      enum:
                      - vcs.read
                      title: vcs.read
                    - type: string
                      enum:
                      - vcs.write
                      title: vcs.write
                    - type: string
                      enum:
                      - insights.read
                      title: insights.read
                    - type: string
                      enum:
                      - insights.write
                      title: insights.write
                    - type: string
                      enum:
                      - reports.read
                      title: reports.read
                    - type: string
                      enum:
                      - reports.write
                      title: reports.write
                    - type: string
                      enum:
                      - presences.read
                      title: presences.read
                    - type: string
                      enum:
                      - presences.write
                      title: presences.write
                    - type: string
                      enum:
                      - backups.policies.read
                      title: backups.policies.read
                    - type: string
                      enum:
                      - backups.policies.write
                      title: backups.policies.write
                    - type: string
                      enum:
                      - archives.read
                      title: archives.read
                    - type: string
                      enum:
                      - archives.write
                      title: archives.write
                    - type: string
                      enum:
                      - restorations.read
                      title: restorations.read
                    - type: string
                      enum:
                      - restorations.write
                      title: restorations.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - wafRules.read
                      title: wafRules.read
                    - type: string
                      enum:
                      - wafRules.write
                      title: wafRules.write
                    - type: string
                      enum:
                      - events.read
                      title: events.read
                    - type: string
                      enum:
                      - proxy.invalidations.write
                      title: proxy.invalidations.write
                    - type: string
                      enum:
                      - apps.read
                      title: apps.read
                    - type: string
                      enum:
                      - apps.write
                      title: apps.write
                    - type: string
                      enum:
                      - oauth2.read
                      title: oauth2.read
                    - type: string
                      enum:
                      - oauth2.write
                      title: oauth2.write
                    - type: string
                      enum:
                      - oauth2.introspect
                      title: oauth2.introspect
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - name
              - scopes
    delete:
      summary: Delete project key
      operationId: projectDeleteKey
      tags:
      - Project
      description: Delete a key by its unique ID. Once deleted, the key can no longer be used to authenticate API calls.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: keys
        demo: project/delete-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: keyId
        description: Key ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
  /project/labels:
    put:
      summary: Update project labels
      operationId: projectUpdateLabels
      tags:
      - Project
      description: Update the project labels. Labels can be used to easily filter projects in an organization.
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: null
        demo: project/update-labels.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  description: Array of project labels. Replaces the previous labels. Maximum of 1000 labels are allowed, each up to 36 alphanumeric characters long.
                  type: array
                  items:
                    type: string
              required:
              - labels
  /project/mock-phones:
    get:
      summary: List project mock phones
      operationId: projectListMockPhones
      tags:
      - Project
      description: Get a list of all mock phones in the project. This endpoint returns an array of all mock phones and their OTPs.
      responses:
        '200':
          description: Mock Numbers List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mockNumberList'
      deprecated: false
      x-appwrite:
        group: mocks
        demo: project/list-mock-phones.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: mocks.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Only supported methods are limit and offset
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create project mock phone
      operationId: projectCreateMockPhone
      tags:
      - Project
      description: Create a new mock phone for your project. Use this endpoint to register a mock phone number and its sign-in OTP for your testers.
      responses:
        '201':
          description: Mock Number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mockNumber'
      deprecated: false
      x-appwrite:
        group: mocks
        demo: project/create-mock-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: mocks.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  description: Phone number to associate with the mock phone. Must be a valid E.164 formatted phone number.
                  type: string
                  example: '+12065550100'
                  format: phone
                otp:
                  description: One-time password (OTP) to associate with the mock phone. Must be a 6-digit numeric code.
                  type: string
                  example: <OTP>
              required:
              - number
              - otp
  /project/mock-phones/{number}:
    get:
      summary: Get project mock phone
      operationId: projectGetMockPhone
      tags:
      - Project
      description: Get a mock phone by its unique number. This endpoint returns the mock phone's OTP.
      responses:
        '200':
          description: Mock Number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mockNumber'
      deprecated: false
      x-appwrite:
        group: mocks
        demo: project/get-mock-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: mocks.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: number
        description: Phone number associated with the mock phone. Must be a valid E.164 formatted phone number.
        required: true
        schema:
          type: string
          format: phone
          example: '+12065550100'
        in: path
    put:
      summary: Update project mock phone
      operationId: projectUpdateMockPhone
      tags:
      - Project
      description: Update a mock phone by its unique number. Use this endpoint to update the mock phone's OTP.
      responses:
        '200':
          description: Mock Number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mockNumber'
      deprecated: false
      x-appwrite:
        group: mocks
        demo: project/update-mock-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: mocks.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: number
        description: Phone number associated with the mock phone. Must be a valid E.164 formatted phone number.
        required: true
        schema:
          type: string
          format: phone
          example: '+12065550100'
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  description: One-time password (OTP) to associate with the mock phone. Must be a 6-digit numeric code.
                  type: string
                  example: <OTP>
              required:
              - otp
    delete:
      summary: Delete project mock phone
      operationId: projectDeleteMockPhone
      tags:
      - Project
      description: Delete a mock phone by its unique number. This endpoint removes the mock phone and its OTP configuration from the project.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: mocks
        demo: project/delete-mock-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: mocks.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: number
        description: Phone number associated with the mock phone. Must be a valid E.164 formatted phone number.
        required: true
        schema:
          type: string
          format: phone
          example: '+12065550100'
        in: path
  /project/oauth2:
    get:
      summary: List project OAuth2 providers
      operationId: projectListOAuth2Providers
      tags:
      - Project
      description: Get a list of all OAuth2 providers supported by the server, along with the project's configuration for each. Credential fields are write-only and always returned empty.
      responses:
        '200':
          description: OAuth2 Providers List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2ProviderList'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/list-o-auth-2-providers.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Only supported methods are limit and offset
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /project/oauth2-server:
    put:
      summary: Update OAuth2 server
      operationId: projectUpdateOAuth2Server
      tags:
      - Project
      description: Update the OAuth2 server (OIDC provider) configuration.
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: null
        demo: project/update-o-auth-2-server.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Enable or disable the OAuth2 server.
                  type: boolean
                  example: false
                authorizationUrl:
                  description: URL to your application with consent screen.
                  type: string
                  example: https://example.com
                  format: url
                scopes:
                  description: List of allowed OAuth2 scopes. Maximum of 100 scopes are allowed, each up to 128 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                authorizationDetailsTypes:
                  description: List of accepted `authorization_details` types. Maximum of 100 types are allowed, each up to 128 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                accessTokenDuration:
                  description: Access token duration in seconds for confidential clients (server-side apps that authenticate with a client secret). Leave empty to use default 8 hours.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                refreshTokenDuration:
                  description: Refresh token duration in seconds for confidential clients (server-side apps that authenticate with a client secret). Leave empty to use default 1 year.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                publicAccessTokenDuration:
                  description: Access token duration in seconds for public clients (SPAs, mobile, and native apps that cannot keep a client secret). Leave empty to use default 1 hour.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                publicRefreshTokenDuration:
                  description: Refresh token duration in seconds for public clients (SPAs, mobile, and native apps that cannot keep a client secret). Leave empty to use default 30 days.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                installationAccessTokenDuration:
                  description: Access token duration in seconds for app installation access tokens. Leave empty to use default 1 hour.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                confidentialPkce:
                  description: When enabled, PKCE is required for confidential clients (server-side flows using client_secret). PKCE is always required for public clients regardless of this setting.
                  type:
                  - boolean
                  - 'null'
                  example: false
                verificationUrl:
                  description: URL to your application page where users enter the device flow user code. Required to enable the Device Authorization Grant.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                userCodeLength:
                  description: Number of characters in the device flow user code, excluding the formatting separator. Shorter codes are easier to type but weaker; pair short codes with short expiry. Leave empty to use default 8.
                  type:
                  - integer
                  - 'null'
                  example: 6
                  format: int32
                userCodeFormat:
                  description: 'Character set for device flow user codes: `numeric` (digits only — best for numeric keypads and TV remotes), `alphabetic` (letters only), or `alphanumeric` (letters and digits — highest entropy per character). Defaults to `alphanumeric`.'
                  type: string
                  default: alphanumeric
                  example: numeric
                deviceCodeDuration:
                  description: Lifetime in seconds of device flow device codes and user codes. Device codes are intentionally short-lived. Leave empty to use default 600.
                  type:
                  - integer
                  - 'null'
                  example: 60
                  format: int32
                defaultScopes:
                  description: List of OAuth2 scopes used when an authorization request omits the scope parameter. Every default scope must also be allowed by the OAuth2 server. Maximum of 100 scopes are allowed, each up to 128 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                installationScopes:
                  description: List of scopes an application may request when installed on a team. Omitting the parameter clears the list, so no installation scopes can be granted. Maximum of 100 scopes are allowed, each up to 128 characters long.
                  type: array
                  default: []
                  items:
                    type: string
              required:
              - enabled
              - authorizationUrl
  /project/oauth2/amazon:
    patch:
      summary: Update project OAuth2 Amazon
      operationId: projectUpdateOAuth2Amazon
      tags:
      - Project
      description: Update the project OAuth2 Amazon configuration.
      responses:
        '200':
          description: OAuth2Amazon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Amazon'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-amazon.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  description: '''Client ID'' of Amazon OAuth2 app. For example: amzn1.application-oa2-client.87400c00000000000000000000063d5b2'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_ID>
                clientSecret:
                  description: '''Client Secret'' of Amazon OAuth2 app. For example: 79ffe4000000000000000000000000000000000000000000000000000002de55'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_SECRET>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/apple:
    patch:
      summary: Update project OAuth2 Apple
      operationId: projectUpdateOAuth2Apple
      tags:
      - Project
      description: Update the project OAuth2 Apple configuration.
      responses:
        '200':
          description: OAuth2Apple
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Apple'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-apple.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceId:
                  description: '''Service ID'' of Apple OAuth2 app. For example: ip.appwrite.app.web'
                  type:
                  - string
                  - 'null'
                  example: <SERVICE_ID>
                keyId:
                  description: '''Key ID'' of Apple OAuth2 app. For example: P4000000N8'
                  type:
                  - string
                  - 'null'
                  example: <KEY_ID>
                teamId:
                  description: '''Team ID'' of Apple OAuth2 app. For example: D4000000R6'
                  type:
                  - string
                  - 'null'
                  example: <TEAM_ID>
                p8File:
                  description: 'Contents of the Apple OAuth2 app .p8 private key file. The secret key wrapped by the PEM markers is 200 characters long. For example: REDACTED_PRIVATE_KEY_EXAMPLE'
                  type:
                  - string
                  - 'null'
                  example: <P8_FILE>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/appwrite:
    patch:
      summary: Update project OAuth2 Appwrite
      operationId: projectUpdateOAuth2Appwrite
      tags:
      - Project
      description: Update the project OAuth2 Appwrite configuration.
      responses:
        '200':
          description: OAuth2Appwrite
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Appwrite'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-appwrite.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  description: '''Client ID'' of Appwrite OAuth2 app. For example: 6a42000000000000b5a0'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_ID>
                clientSecret:
                  description: '''Client Secret'' of Appwrite OAuth2 app. For example: b86afd000000000000000000000000000000000000000000000000000ced5f93'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_SECRET>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/auth0:
    patch:
      summary: Update project OAuth2 Auth0
      operationId: projectUpdateOAuth2Auth0
      tags:
      - Project
      description: Update the project OAuth2 Auth0 configuration.
      responses:
        '200':
          description: OAuth2Auth0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Auth0'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-auth-0.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  description: '''Client ID'' of Auth0 OAuth2 app. For example: OaOkIA000000000000000000005KLSYq'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_ID>
                clientSecret:
                  description: '''Client Secret'' of Auth0 OAuth2 app. For example: zXz0000-00000000000000000000000000000-00000000000000000000PJafnF'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_SECRET>
                endpoint:
                  description: 'Domain of Auth0 instance. For example: example.us.auth0.com'
                  type:
                  - string
                  - 'null'
                  example: <ENDPOINT>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/authentik:
    patch:
      summary: Update project OAuth2 Authentik
      operationId: projectUpdateOAuth2Authentik
      tags:
      - Project
      description: Update the project OAuth2 Authentik configuration.
      responses:
        '200':
          description: OAuth2Authentik
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Authentik'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-authentik.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  description: '''Client ID'' of Authentik OAuth2 app. For example: dTKOPa0000000000000000000000000000e7G8hv'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_ID>
                clientSecret:
                  description: '''Client Secret'' of Authentik OAuth2 app. For example: ntQadq000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000Hp5WK'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_SECRET>
                endpoint:
                  description: 'Domain of Authentik instance. For example: example.authentik.com'
                  type:
                  - string
                  - 'null'
                  example: <ENDPOINT>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/autodesk:
    patch:
      summary: Update project OAuth2 Autodesk
      operationId: projectUpdateOAuth2Autodesk
      tags:
      - Project
      description: Update the project OAuth2 Autodesk configuration.
      responses:
        '200':
          description: OAuth2Autodesk
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Autodesk'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-autodesk.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  description: '''Client ID'' of Autodesk OAuth2 app. For example: 5zw90v00000000000000000000kVYXN7'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_ID>
                clientSecret:
                  description: '''Client Secret'' of Autodesk OAuth2 app. For example: 7I000000000000MW'
                  type:
                  - string
                  - 'null'
                  example: <CLIENT_SECRET>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/bitbucket:
    patch:
      summary: Update project OAuth2 Bitbucket
      operationId: projectUpdateOAuth2Bitbucket
      tags:
      - Project
      description: Update the project OAuth2 Bitbucket configuration.
      responses:
        '200':
          description: OAuth2Bitbucket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Bitbucket'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-bitbucket.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: project.oauth2.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: '''Key'' of Bitbucket OAuth2 app. For example: Knt70000000000ByRc'
                  type:
                  - string
                  - 'null'
                  example: <KEY>
                secret:
                  description: '''Secret'' of Bitbucket OAuth2 app. For example: NMfLZJ00000000000000000000TLQdDx'
                  type:
                  - string
                  - 'null'
                  example: <SECRET>
                enabled:
                  description: OAuth2 sign-in method status. Set to true to enable new session creation. Setting to true will trigger end-to-end credentials validation, and will throw if the credentials are invalid.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /project/oauth2/bitly:
    patch:
      summary: Update project OAuth2 Bitly
      operationId: projectUpdateOAuth2Bitly
      tags:
      - Project
      description: Update the project OAuth2 Bitly configuration.
      responses:
        '200':
          description: OAuth2Bitly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oAuth2Bitly'
      deprecated: false
      x-appwrite:
        group: oauth2
        demo: project/update-o-auth-2-bitly.md
        rate-limit: 0
        rate-time: 3600
[...]
