openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Organizations API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Organizations
  description: The Organizations service allows you to manage organization billing, plans, invoices, and add-ons.
paths:
  /organizations:
    get:
      summary: List Orgnizations
      operationId: organizationsList
      tags:
      - Organizations
      description: Get a list of all the teams in which the current user is a member. You can use the parameters to filter your results.
      responses:
        '200':
          description: Organizations list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, total, billingPlan, paymentMethodId, backupPaymentMethodId, platform'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
    post:
      summary: Create Organization
      operationId: organizationsCreate
      tags:
      - Organizations
      description: Create a new organization.
      responses:
        '201':
          description: Organization, or PaymentAuthentication
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/organization'
                - $ref: '#/components/schemas/paymentAuthentication'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  description: Organization ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <ORGANIZATION_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Organization name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                billingPlan:
                  description: Organization billing plan chosen
                  type: string
                  example: tier-0
                paymentMethodId:
                  description: Payment method ID. Required for pro plans when trial is not available and user doesn't have default payment method set.
                  type:
                  - string
                  - 'null'
                  example: <PAYMENT_METHOD_ID>
                billingAddressId:
                  description: Unique ID of billing address
                  type:
                  - string
                  - 'null'
                  default: ''
                  example: <BILLING_ADDRESS_ID>
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
                couponId:
                  description: Coupon id
                  type:
                  - string
                  - 'null'
                  example: <COUPON_ID>
                taxId:
                  description: Tax Id associated to billing.
                  type:
                  - string
                  - 'null'
                  example: <TAX_ID>
                budget:
                  description: Budget limit for additional usage set for the organization
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int32
                platform:
                  description: Platform type
                  type: string
                  default: appwrite
                  example: appwrite
                  title: Platform
                  oneOf:
                  - type: string
                    enum:
                    - appwrite
                    title: appwrite
                  - type: string
                    enum:
                    - imagine
                    title: imagine
              required:
              - organizationId
              - name
              - billingPlan
  /organizations/estimations/create-organization:
    patch:
      summary: Estimate create Organization
      operationId: organizationsEstimationCreateOrganization
      tags:
      - Organizations
      description: Get estimation for creating an organization.
      responses:
        '200':
          description: Estimation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimation'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/estimation-create-organization.md
        rate-limit: 120
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingPlan:
                  description: Organization billing plan chosen
                  type: string
                  example: tier-0
                paymentMethodId:
                  description: Payment method ID. Required for pro plans when trial is not available and user doesn't have default payment method set.
                  type:
                  - string
                  - 'null'
                  example: <PAYMENT_METHOD_ID>
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
                couponId:
                  description: Coupon id
                  type:
                  - string
                  - 'null'
                  example: <COUPON_ID>
                platform:
                  description: Platform type
                  type: string
                  default: appwrite
                  example: appwrite
                  title: Platform
                  oneOf:
                  - type: string
                    enum:
                    - appwrite
                    title: appwrite
                  - type: string
                    enum:
                    - imagine
                    title: imagine
              required:
              - billingPlan
  /organizations/{organizationId}:
    delete:
      summary: Delete team
      operationId: organizationsDelete
      tags:
      - Organizations
      description: Delete an organization.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organizations.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Team ID.
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/addons:
    get:
      summary: List addons
      operationId: organizationsListAddons
      tags:
      - Organizations
      description: List all billing addons for an organization.
      responses:
        '200':
          description: Addons list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list-addons.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/addons/baa:
    post:
      summary: Create BAA addon
      operationId: organizationsCreateBaaAddon
      tags:
      - Organizations
      description: Create the BAA billing addon for an organization.
      responses:
        '201':
          description: Addon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addon'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create-baa-addon.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/addons/premium-geo-db:
    post:
      summary: Create Premium Geo DB addon
      operationId: organizationsCreatePremiumGeoDBAddon
      tags:
      - Organizations
      description: Create a Premium Geo DB addon for an organization.
      responses:
        '201':
          description: Addon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addon'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create-premium-geo-db-addon.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/addons/{addonId}:
    get:
      summary: Get addon
      operationId: organizationsGetAddon
      tags:
      - Organizations
      description: Get the details of a billing addon for an organization.
      responses:
        '200':
          description: Addon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addon'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-addon.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: addonId
        description: Addon ID
        required: true
        schema:
          type: string
          example: <ADDON_ID>
        in: path
    delete:
      summary: Delete addon
      operationId: organizationsDeleteAddon
      tags:
      - Organizations
      description: Delete a billing addon for an organization.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/delete-addon.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: addonId
        description: Addon ID
        required: true
        schema:
          type: string
          example: <ADDON_ID>
        in: path
  /organizations/{organizationId}/addons/{addonId}/confirmations:
    post:
      summary: Confirm addon payment after 3DS authentication
      operationId: organizationsConfirmAddonPayment
      tags:
      - Organizations
      description: Confirm payment for a billing addon for an organization.
      responses:
        '200':
          description: Addon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addon'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/confirm-addon-payment.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: addonId
        description: Addon ID
        required: true
        schema:
          type: string
          example: <ADDON_ID>
        in: path
  /organizations/{organizationId}/addons/{addon}/price:
    get:
      summary: Get addon price
      operationId: organizationsGetAddonPrice
      tags:
      - Organizations
      description: Get the price details for a billing addon for an organization.
      responses:
        '200':
          description: AddonPrice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonPrice'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-addon-price.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: addon
        description: Addon key identifier (e.g. baa).
        required: true
        schema:
          type: string
          example: baa
          title: AddonKey
          oneOf:
          - type: string
            enum:
            - baa
            title: baa
          - type: string
            enum:
            - premiumgeodb
            title: premiumgeodb
          - type: string
            enum:
            - premiumgeodborg
            title: premiumgeodborg
          - type: string
            enum:
            - backup_recovery
            title: backup_recovery
        in: path
  /organizations/{organizationId}/aggregations:
    get:
      summary: List aggregations
      operationId: organizationsListAggregations
      tags:
      - Organizations
      description: Get a list of all aggregations for an organization.
      responses:
        '200':
          description: Aggregation team list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregationTeamList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list-aggregations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: teamId, aggregationId, from, to'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
  /organizations/{organizationId}/aggregations/{aggregationId}:
    get:
      summary: Get aggregation
      operationId: organizationsGetAggregation
      tags:
      - Organizations
      description: Get a specific aggregation using it's aggregation ID.
      responses:
        '200':
          description: Team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregationTeam'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-aggregation.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: aggregationId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <AGGREGATION_ID>
        in: path
      - name: limit
        description: Maximum number of project aggregations to return in response. By default will return maximum 5 results. Maximum of 10 results allowed per request.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 5
        in: query
      - name: offset
        description: Offset value. The default value is 0. Use this param to manage pagination.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        in: query
  /organizations/{organizationId}/billing-address:
    patch:
      summary: Set team's billing address
      operationId: organizationsSetBillingAddress
      tags:
      - Organizations
      description: Set a billing address for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/set-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingAddressId:
                  description: Unique ID of billing address
                  type: string
                  example: <BILLING_ADDRESS_ID>
              required:
              - billingAddressId
    delete:
      summary: Delete team's billing address
      operationId: organizationsDeleteBillingAddress
      tags:
      - Organizations
      description: Delete a team's billing address.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/delete-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/billing-addresses/{billingAddressId}:
    get:
      summary: Get billing address
      operationId: organizationsGetBillingAddress
      tags:
      - Organizations
      description: Get a billing address using it's ID.
      responses:
        '200':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingAddress'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-billing-address.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: billingAddressId
        description: Unique ID of billing address
        required: true
        schema:
          type: string
          example: <BILLING_ADDRESS_ID>
        in: path
  /organizations/{organizationId}/billing-email:
    patch:
      summary: Set team's billing email
      operationId: organizationsSetBillingEmail
      tags:
      - Organizations
      description: Set the current billing email for the organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/set-billing-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingEmail:
                  description: Billing email for the organization.
                  type: string
                  example: email@example.com
                  format: email
              required:
              - billingEmail
  /organizations/{organizationId}/budget:
    patch:
      summary: Update organization budget
      operationId: organizationsUpdateBudget
      tags:
      - Organizations
      description: Update the budget limit for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/update-budget.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization Unique ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                budget:
                  description: Budget limit for additional usage set for the organization
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int32
                alerts:
                  description: Budget alert limit percentage
                  type: array
                  default:
                  - 75
                  items:
                    type: integer
              required:
              - budget
  /organizations/{organizationId}/credits:
    get:
      summary: List credits
      operationId: organizationsListCredits
      tags:
      - Organizations
      description: List all credits for an organization.
      responses:
        '200':
          description: CreditList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/creditList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list-credits.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: teamId, couponId, credits, expiration, status'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Add credits from coupon
      operationId: organizationsAddCredit
      tags:
      - Organizations
      description: Add credit to an organization using a coupon.
      responses:
        '201':
          description: Credit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/add-credit.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                couponId:
                  description: ID of the coupon
                  type: string
                  example: <COUPON_ID>
              required:
              - couponId
  /organizations/{organizationId}/credits/available:
    get:
      summary: Get available credits
      operationId: organizationsGetAvailableCredits
      tags:
      - Organizations
      description: Get total available valid credits for an organization.
      responses:
        '200':
          description: CreditAvailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/creditAvailable'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-available-credits.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/credits/{creditId}:
    get:
      summary: Get credit details
      operationId: organizationsGetCredit
      tags:
      - Organizations
      description: Get credit details.
      responses:
        '200':
          description: Credit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-credit.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: creditId
        description: Credit Unique ID
        required: true
        schema:
          type: string
          example: <CREDIT_ID>
        in: path
  /organizations/{organizationId}/estimations/delete-organization:
    patch:
      summary: Estimate delete team
      operationId: organizationsEstimationDeleteOrganization
      tags:
      - Organizations
      description: Get estimation for deleting an organization.
      responses:
        '200':
          description: DeleteOrganization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimationDeleteOrganization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/estimation-delete-organization.md
        rate-limit: 120
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organizations.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Team ID.
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/estimations/update-plan:
    patch:
      summary: Estimate for update plan
      operationId: organizationsEstimationUpdatePlan
      tags:
      - Organizations
      description: Get estimation for updating the organization plan.
      responses:
        '200':
          description: UpdatePlan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimationUpdatePlan'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/estimation-update-plan.md
        rate-limit: 120
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingPlan:
                  description: Organization billing plan chosen
                  type: string
                  example: tier-0
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
                couponId:
                  description: Coupon id
                  type:
                  - string
                  - 'null'
                  example: <COUPON_ID>
              required:
              - billingPlan
  /organizations/{organizationId}/feedbacks/downgrade:
    post:
      summary: Create downgrade feedback
      operationId: organizationsCreateDowngradeFeedback
      tags:
      - Organizations
      description: Submit feedback about downgrading from a paid plan to a lower tier. This helps the team understand user experience and improve the platform.
      responses:
        '201':
          description: Downgrade Feedback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/downgradeFeedback'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create-downgrade-feedback.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization Unique ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  description: Feedback reason
                  type: string
                  example: <REASON>
                message:
                  description: Feedback message
                  type: string
                  example: <MESSAGE>
                fromPlanId:
                  description: Plan downgrading from
                  type: string
                  example: <FROM_PLAN_ID>
                toPlanId:
                  description: Plan downgrading to
                  type: string
                  example: <TO_PLAN_ID>
              required:
              - reason
              - message
              - fromPlanId
              - toPlanId
  /organizations/{organizationId}/invoices:
    get:
      summary: List invoices
      operationId: organizationsListInvoices
      tags:
      - Organizations
      description: List all invoices for an organization.
      responses:
        '200':
          description: Billing invoices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list-invoices.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/databases#querying-documents). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: teamId, aggregationId, type, amount, currency, from, to, dueAt, attempts, status, grossAmount'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
  /organizations/{organizationId}/invoices/{invoiceId}:
    get:
      summary: Get invoice
      operationId: organizationsGetInvoice
      tags:
      - Organizations
      description: Get an invoice by its unique ID.
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-invoice.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: invoiceId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
  /organizations/{organizationId}/invoices/{invoiceId}/download:
    get:
      summary: Download invoice in PDF
      operationId: organizationsGetInvoiceDownload
      tags:
      - Organizations
      responses:
        '200':
          description: File
          content:
            '*/*':
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-invoice-download.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
            ImpersonateUserId: []
      security:
      - Project: []
      - Project: []
        ImpersonateUserId: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: invoiceId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
  /organizations/{organizationId}/invoices/{invoiceId}/payments:
    post:
      summary: Initiate payment for failed invoice to pay live from console
      operationId: organizationsCreateInvoicePayment
      tags:
      - Organizations
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create-invoice-payment.md
        rate-limit: 10
        rate-time: 86400
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: invoiceId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentMethodId:
                  description: Payment method ID
                  type: string
                  example: <PAYMENT_METHOD_ID>
              required:
              - paymentMethodId
  /organizations/{organizationId}/invoices/{invoiceId}/status:
    patch:
      summary: Validate the payment for an invoice and update status
      operationId: organizationsValidateInvoice
      tags:
      - Organizations
      description: Validates the payment linked with the invoice and updates the invoice status if the payment status is changed.
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/validate-invoice.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: invoiceId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
  /organizations/{organizationId}/invoices/{invoiceId}/view:
    get:
      summary: View invoice in PDF
      operationId: organizationsGetInvoiceView
      tags:
      - Organizations
      responses:
        '200':
          description: File
          content:
            '*/*':
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-invoice-view.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
            ImpersonateUserId: []
      security:
      - Project: []
      - Project: []
        ImpersonateUserId: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: invoiceId
        description: Invoice unique ID
        required: true
        schema:
          type: string
          example: <INVOICE_ID>
        in: path
  /organizations/{organizationId}/payment-method:
    patch:
      summary: Set team's payment method
      operationId: organizationsSetDefaultPaymentMethod
      tags:
      - Organizations
      description: Set a organization's default payment method.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/set-default-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentMethodId:
                  description: Unique ID of payment method
                  type: string
                  example: <PAYMENT_METHOD_ID>
              required:
              - paymentMethodId
    delete:
      summary: Delete team's default payment method
      operationId: organizationsDeleteDefaultPaymentMethod
      tags:
      - Organizations
      description: Delete the default payment method for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/delete-default-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/payment-method/backup:
    patch:
      summary: Set team's backup payment method
      operationId: organizationsSetBackupPaymentMethod
      tags:
      - Organizations
      description: Set an organization's backup payment method.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/set-backup-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentMethodId:
                  description: Unique ID of payment method
                  type: string
                  example: <PAYMENT_METHOD_ID>
              required:
              - paymentMethodId
    delete:
      summary: Delete team's backup payment method
      operationId: organizationsDeleteBackupPaymentMethod
      tags:
      - Organizations
      description: Delete a backup payment method for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/delete-backup-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/payment-methods/{paymentMethodId}:
    get:
      summary: Get payment method
      operationId: organizationsGetPaymentMethod
      tags:
      - Organizations
      description: Get an organization's payment method using it's payment method ID.
      responses:
        '200':
          description: paymentMethod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethod'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-payment-method.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: paymentMethodId
        description: Unique ID of payment method
        required: true
        schema:
          type: string
          example: <PAYMENT_METHOD_ID>
        in: path
  /organizations/{organizationId}/plan:
    get:
      summary: Get organization billing plan details
      operationId: organizationsGetPlan
      tags:
      - Organizations
      description: Get the details of the current billing plan for an organization.
      responses:
        '200':
          description: billingPlan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingPlan'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-plan.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization Unique ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
    patch:
      summary: Update organization billing plan
      operationId: organizationsUpdatePlan
      tags:
      - Organizations
      description: Update the billing plan for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/update-plan.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization Unique ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingPlan:
                  description: Organization billing plan chosen
                  type: string
                  example: tier-0
                paymentMethodId:
                  description: Payment method ID. Required for pro plans when trial is not available and user doesn't have default payment method set.
                  type:
                  - string
                  - 'null'
                  example: <PAYMENT_METHOD_ID>
                billingAddressId:
                  description: Unique ID of billing address
                  type: string
                  default: ''
                  example: <BILLING_ADDRESS_ID>
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
                couponId:
                  description: Coupon id
                  type:
                  - string
                  - 'null'
                  example: <COUPON_ID>
                taxId:
                  description: Tax Id associated to billing.
                  type:
                  - string
                  - 'null'
                  example: <TAX_ID>
                budget:
                  description: Budget limit for additional usage set for the organization
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int32
              required:
              - billingPlan
  /organizations/{organizationId}/plan/cancel:
    patch:
      summary: Cancel organization plan change
      operationId: organizationsCancelDowngrade
      tags:
      - Organizations
      description: Cancel the downgrade initiated for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/cancel-downgrade.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization Unique ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/plan/estimations:
    post:
      summary: Create billing plan estimation (upgrade or downgrade)
      operationId: organizationsCreatePlanEstimation
      tags:
      - Organizations
      description: Create a billing plan estimation for upgrading or downgrading an organization plan.
      responses:
        '200':
          description: EstimationPlanChange
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimationPlanChange'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/create-plan-estimation.md
        rate-limit: 120
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billingPlan:
                  description: Target billing plan
                  type: string
                  example: tier-0
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
                couponId:
                  description: Coupon id
                  type:
                  - string
                  - 'null'
                  example: <COUPON_ID>
              required:
              - billingPlan
  /organizations/{organizationId}/regions:
    get:
      summary: List Regions
      operationId: organizationsListRegions
      tags:
      - Organizations
      description: Get all available regions for an organization.
      responses:
        '200':
          description: Regions list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consoleRegionList'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/list-regions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Team ID.
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
  /organizations/{organizationId}/roles:
    get:
      summary: Get Scopes
      operationId: organizationsGetScopes
      tags:
      - Organizations
      responses:
        '200':
          description: Roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roles'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-scopes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization id
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: projectId
        description: Project id
        required: false
        schema:
          type: string
          example: <PROJECT_ID>
          default: ''
        in: query
  /organizations/{organizationId}/taxId:
    patch:
      summary: Set team's tax Id
      operationId: organizationsSetBillingTaxId
      tags:
      - Organizations
      description: Set an organization's billing tax ID.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/set-billing-tax-id.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: billing.write
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                taxId:
                  description: Tax Id associated to billing.
                  type:
                  - string
                  - 'null'
                  example: <TAX_ID>
              required:
              - taxId
  /organizations/{organizationId}/usage:
    get:
      summary: Get team's usage data
      operationId: organizationsGetUsage
      tags:
      - Organizations
      description: Get the usage data for an organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usageOrganization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/get-usage.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      - name: startDate
        description: Starting date for the usage
        required: false
        schema:
          type: string
          format: datetime
          example: '2020-10-15T06:38:00.000+00:00'
        in: query
      - name: endDate
        description: End date for the usage
        required: false
        schema:
          type: string
          format: datetime
          example: '2020-10-15T06:38:00.000+00:00'
        in: query
  /organizations/{organizationId}/validate:
    patch:
      summary: Validate payment for the organization after creation or upgrade
      operationId: organizationsValidatePayment
      tags:
      - Organizations
      description: Validate payment for team after creation or upgrade.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organizations/validate-payment.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: teams.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: organizationId
        description: Organization ID
        required: true
        schema:
          type: string
          example: <ORGANIZATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invites:
                  description: Additional member invites
                  type: array
                  default: []
                  items:
                    type: string
components:
  schemas:
    metric:
      description: Metric
      type: object
      properties:
        value:
          type: integer
          description: The value of this metric at the timestamp.
          format: int32
          example: 1
        date:
          type: string
          description: The date at which this metric was aggregated in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - value
      - date
      example:
        value: 1
        date: '2020-10-15T06:38:00.000+00:00'
    billingPlanDedicatedDatabaseLimits:
      description: dedicatedDatabaseLimits
      type: object
      properties:
        minCpu:
          type:
          - integer
          - 'null'
          description: Minimum CPU allocation in millicores.
          format: int32
          example: 125
        maxCpu:
          type:
          - integer
          - 'null'
          description: Maximum CPU allocation in millicores.
          format: int32
          example: 32000
        minMemoryMb:
          type:
          - integer
          - 'null'
          description: Minimum memory allocation in megabytes.
          format: int32
          example: 128
        maxMemoryMb:
          type:
          - integer
          - 'null'
          description: Maximum memory allocation in megabytes.
          format: int32
          example: 262144
        minStorageGb:
          type:
          - integer
          - 'null'
          description: Minimum storage allocation in gigabytes.
          format: int32
          example: 1
        maxStorageGb:
          type:
          - integer
          - 'null'
          description: Maximum storage allocation in gigabytes.
          format: int32
          example: 16384
        maxReplicas:
          type:
          - integer
          - 'null'
          description: Maximum number of high-availability replicas per dedicated database.
          format: int32
          example: 5
        maxConnections:
          type:
          - integer
          - 'null'
          description: Maximum number of client connections.
          format: int32
          example: 10000
        maxIpAllowlistSize:
          type:
          - integer
          - 'null'
          description: Maximum number of entries allowed in the IP allowlist.
          format: int32
          example: 100
        maxExtensions:
          type:
          - integer
          - 'null'
          description: Maximum number of database extensions that can be enabled.
          format: int32
          example: 50
        maxBackupRetentionDays:
          type:
          - integer
          - 'null'
          description: Maximum number of days a backup can be retained.
          format: int32
          example: 365
        maxPitrRetentionDays:
          type:
          - integer
          - 'null'
          description: Maximum number of days of point-in-time recovery data that can be retained.
          format: int32
          example: 35
        maxSqlApiMaxRows:
          type:
          - integer
          - 'null'
          description: Maximum number of rows a single SQL API query can return.
          format: int32
          example: 1000000
        maxSqlApiMaxBytes:
          type:
          - integer
          - 'null'
          description: Maximum response size in bytes for a single SQL API query.
          format: int32
          example: 104857600
        maxSqlApiTimeoutSeconds:
          type:
          - integer
          - 'null'
          description: Maximum execution time in seconds for a single SQL API query.
          format: int32
          example: 300
        maxSqlApiAllowedStatements:
          type:
          - integer
          - 'null'
          description: Maximum number of SQL statement types that can be permitted through the SQL API.
          format: int32
          example: 10
        allowedSqlStatements:
          type:
          - array
          - 'null'
          description: SQL statement types permitted through the SQL API.
          items:
            type: string
          example:
          - select
          - insert
          - update
          - delete
          - explain
        allowedStorageClasses:
          type:
          - array
          - 'null'
          description: Storage classes available for dedicated databases.
          items:
            type: string
          example:
          - ssd
        allowedSyncModes:
          type:
          - array
          - 'null'
          description: Replica synchronization modes available for dedicated databases.
          items:
            type: string
          example:
          - async
          - sync
          - quorum
      example:
        minCpu: 125
        maxCpu: 32000
        minMemoryMb: 128
        maxMemoryMb: 262144
        minStorageGb: 1
        maxStorageGb: 16384
        maxReplicas: 5
        maxConnections: 10000
        maxIpAllowlistSize: 100
        maxExtensions: 50
        maxBackupRetentionDays: 365
        maxPitrRetentionDays: 35
        maxSqlApiMaxRows: 1000000
        maxSqlApiMaxBytes: 104857600
        maxSqlApiTimeoutSeconds: 300
        maxSqlApiAllowedStatements: 10
        allowedSqlStatements:
        - select
        - insert
        - update
        - delete
        - explain
        allowedStorageClasses:
        - ssd
        allowedSyncModes:
        - async
        - sync
        - quorum
    creditList:
      description: CreditList
      type: object
      properties:
        credits:
          type: array
          description: Credits
          items:
            $ref: '#/components/schemas/credit'
          example:
          - 5
        total:
          type: integer
          description: Total number of credits
          format: int32
          example: 5
        available:
          type: number
          description: Total available credit balance in USD
          format: double
          example: 5
      required:
      - credits
      - total
      - available
      example:
        credits: 5
        total: 5
        available: 5
    billingPlanSupportedAddons:
      description: BillingPlanSupportedAddons
      type: object
      properties:
        baa:
          type: boolean
          description: Whether the plan supports BAA (Business Associate Agreement) addon
          example: true
        premiumGeoDB:
          type: boolean
          description: Whether the plan supports Premium Geo DB addon (project-level)
          example: true
        premiumGeoDBOrg:
          type: boolean
          description: Whether the plan supports Premium Geo DB addon (organization-level)
          example: true
      required:
      - baa
      - premiumGeoDB
      - premiumGeoDBOrg
      example:
        baa: true
        premiumGeoDB: true
        premiumGeoDBOrg: true
    aggregationTeamList:
      description: Aggregation team list
      type: object
      properties:
        total:
          type: integer
          description: Total number of aggregations that matched your query.
          format: int32
          example: 5
        aggregations:
          type: array
          description: List of aggregations.
          items:
            $ref: '#/components/schemas/aggregationTeam'
          example: []
      required:
      - total
      - aggregations
      example:
        total: 5
        aggregations: ''
    invoice:
      description: Invoice
      type: object
      properties:
        $id:
          type: string
          description: Invoice ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Invoice creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Invoice update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: Invoice permissions. [Learn more about permissions](/docs/permissions).
          items:
            type: string
          example:
          - read("any")
        teamId:
          type: string
          description: Project ID
          example: 5e5ea5c16897e
        aggregationId:
          type: string
          description: Aggregation ID
          example: 5e5ea5c16897e
        plan:
          type: string
          description: Billing plan selected. Can be one of `tier-0`, `tier-1` or `tier-2`.
          example: tier-1
        usage:
          type: array
          description: Usage breakdown per resource
          items:
            $ref: '#/components/schemas/usageResources'
          example: []
        amount:
          type: number
          description: Invoice Amount
          format: double
          example: 50
        tax:
          type: number
          description: Tax percentage
          format: double
          example: 17
        taxAmount:
          type: number
          description: Tax amount
          format: double
          example: 12.5
        vat:
          type: number
          description: VAT percentage
          format: double
          example: 17
        vatAmount:
          type: number
          description: VAT amount
          format: double
          example: 12.5
        grossAmount:
          type: number
          description: Gross amount after vat, tax, and discounts applied.
          format: double
          example: 12.5
        creditsUsed:
          type: number
          description: Credits used.
          format: double
          example: 30
        currency:
          type: string
          description: Currency the invoice is in
          example: USD
        clientSecret:
          type: string
          description: Client secret for processing failed payments in front-end
          example: pi_daslfasdfkla_asdkfl
        status:
          type: string
          description: Invoice status
          example: succeeded
        type:
          type: string
          description: Invoice type. Can be one of `subscription`, `domain_purchase`, `domain_renewal`, `domain_transfer`, or `addon_*`.
          example: subscription
        lastError:
          type: string
          description: Last payment error associated with the invoice
          example: Your card has insufficient balance.
        dueAt:
          type: string
          description: Invoice due date.
          example: '2020-10-15T06:38:00.000+00:00'
        from:
          type: string
          description: Beginning date of the invoice
          example: '2020-10-15T06:38:00.000+00:00'
        to:
          type: string
          description: End date of the invoice
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - $permissions
      - teamId
      - aggregationId
      - plan
      - usage
      - amount
      - tax
      - taxAmount
      - vat
      - vatAmount
      - grossAmount
      - creditsUsed
      - currency
      - clientSecret
      - status
      - type
      - lastError
      - dueAt
      - from
      - to
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        teamId: 5e5ea5c16897e
        aggregationId: 5e5ea5c16897e
        plan: tier-1
        usage: []
        amount: 50
        tax: 17
        taxAmount: 12.5
        vat: 17
        vatAmount: 12.5
        grossAmount: 12.5
        creditsUsed: 30
        currency: USD
        clientSecret: pi_daslfasdfkla_asdkfl
        status: succeeded
        type: subscription
        lastError: Your card has insufficient balance.
        dueAt: '2020-10-15T06:38:00.000+00:00'
        from: '2020-10-15T06:38:00.000+00:00'
        to: '2020-10-15T06:38:00.000+00:00'
    aggregationTeam:
      description: Team
      type: object
      properties:
        $id:
          type: string
          description: Aggregation ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Aggregation creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Aggregation update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: Aggregation permissions. [Learn more about permissions](/docs/permissions).
          items:
            type: string
          example:
          - read("any")
        from:
          type: string
          description: Beginning date of the invoice
          example: '2020-10-15T06:38:00.000+00:00'
        to:
          type: string
          description: End date of the invoice
          example: '2020-10-15T06:38:00.000+00:00'
        usageStorage:
          type: integer
          description: Total storage usage
          format: int32
          example: 20009090
        usageTotalStorage:
          type: integer
          description: Total storage usage with builds storage
          format: int32
          example: 20009090
        usageFilesStorage:
          type: integer
          description: Total files storage usage
          format: int32
          example: 20009090
        usageDeploymentsStorage:
          type: integer
          description: Total deployments storage usage
          format: int32
          example: 20009090
        usageBuildsStorage:
          type: integer
          description: Total builds storage usage
          format: int32
          example: 20009090
        usageDatabasesStorage:
          type: integer
          description: Total databases storage usage
          format: int32
          example: 2009090
        usageFunctionsStorage:
          type: integer
          description: Total functions storage usage, deployments and builds together. Supersedes usageDeploymentsStorage and usageBuildsStorage.
          format: int32
          example: 20009090
        usageSitesStorage:
          type: integer
          description: Total sites storage usage, deployments and builds together. Supersedes usageDeploymentsStorage and usageBuildsStorage.
          format: int32
          example: 20009090
        usageUsers:
          type: integer
          description: Total active users for the billing period
          format: int32
          example: 2000
        usageExecutions:
          type: integer
          description: Total number of executions for the billing period
          format: int32
          example: 2000
        usageBandwidth:
          type: integer
          description: Total bandwidth usage for the billing period
          format: int32
          example: 2000
        usageRealtime:
          type: integer
          description: Peak concurrent realtime connections for the billing period
          format: int32
          example: 200
        usageRealtimeMessages:
          type: integer
          description: Total realtime messages sent for the billing period
          format: int32
          example: 10000
        usageRealtimeBandwidth:
          type: integer
          description: Total realtime bandwidth usage for the billing period
          format: int32
          example: 5000000
        additionalMembers:
          type: integer
          description: Additional members
          format: int32
          example: 5
        additionalMemberAmount:
          type: integer
          description: Additional members cost
          format: int32
          example: 30
        additionalStorageAmount:
          type: integer
          description: Additional storage usage cost
          format: int32
          example: 40
        additionalUsersAmount:
          type: integer
          description: Additional users usage cost.
          format: int32
          example: 4
        additionalExecutionsAmount:
          type: integer
          description: Additional executions usage cost
          format: int32
          example: 30
        additionalBandwidthAmount:
          type: integer
          description: Additional bandwidth usage cost
          format: int32
          example: 40
        additionalRealtimeAmount:
          type: integer
          description: Additional realtime usage cost
          format: int32
          example: 20
        plan:
          type: string
          description: Billing plan
          example: tier-0
        amount:
          type: integer
          description: Aggregated amount
          format: int32
          example: 2
        breakdown:
          type: array
          description: Aggregation project breakdown
          items:
            $ref: '#/components/schemas/aggregationBreakdown'
          example: []
        resources:
          type: array
          description: Usage resources
          items:
            $ref: '#/components/schemas/usageResources'
          example: []
      required:
      - $id
      - $createdAt
      - $updatedAt
      - $permissions
      - from
      - to
      - usageStorage
      - usageTotalStorage
      - usageFilesStorage
      - usageDeploymentsStorage
      - usageBuildsStorage
      - usageDatabasesStorage
      - usageFunctionsStorage
      - usageSitesStorage
      - usageUsers
      - usageExecutions
      - usageBandwidth
      - usageRealtime
      - usageRealtimeMessages
      - usageRealtimeBandwidth
      - additionalMembers
      - additionalMemberAmount
      - additionalStorageAmount
      - additionalUsersAmount
      - additionalExecutionsAmount
      - additionalBandwidthAmount
      - additionalRealtimeAmount
      - plan
      - amount
      - breakdown
      - resources
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        from: '2020-10-15T06:38:00.000+00:00'
        to: '2020-10-15T06:38:00.000+00:00'
        usageStorage: 20009090
        usageTotalStorage: 20009090
        usageFilesStorage: 20009090
        usageDeploymentsStorage: 20009090
        usageBuildsStorage: 20009090
        usageDatabasesStorage: 2009090
        usageFunctionsStorage: 20009090
        usageSitesStorage: 20009090
        usageUsers: 2000
        usageExecutions: 2000
        usageBandwidth: 2000
        usageRealtime: 200
        usageRealtimeMessages: 10000
        usageRealtimeBandwidth: 5000000
        additionalMembers: 5
        additionalMemberAmount: 30
        additionalStorageAmount: 40
        additionalUsersAmount: 4
        additionalExecutionsAmount: 30
        additionalBandwidthAmount: 40
        additionalRealtimeAmount: 20
        plan: tier-0
        amount: 2
        breakdown: []
        resources: []
    usageBillingPlan:
      description: usageBillingPlan
      type: object
      properties:
        bandwidth:
          type: object
          description: Bandwidth additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        executions:
          type: object
          description: Executions additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        member:
          type:
          - object
          - 'null'
          description: Member additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtime:
          type: object
          description: Realtime additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtimeMessages:
          type: object
          description: Realtime messages additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtimeBandwidth:
          type:
          - object
          - 'null'
          description: Realtime bandwidth additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        storage:
          type: object
          description: Storage additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        users:
          type: object
          description: User additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        GBHours:
          type: object
          description: GBHour additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        imageTransformations:
          type: object
          description: Image transformation additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        credits:
          type:
          - object
          - 'null'
          description: Credits additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
      required:
      - bandwidth
      - executions
      - realtime
      - realtimeMessages
      - storage
      - users
      - GBHours
      - imageTransformations
      example:
        bandwidth: null
        executions: null
        member: null
        realtime: null
        realtimeMessages: null
        realtimeBandwidth: null
        storage: null
        users: null
        GBHours: null
        imageTransformations: null
        credits: null
    billingPlanAddonDetails:
      description: Details
      type: object
      properties:
        supported:
          type: boolean
          description: Is the addon supported in the plan?
          example: true
        planIncluded:
          type: integer
          description: Addon plan included value
          format: int32
          example: 1
        limit:
          type: integer
          description: Addon limit
          format: int32
          example: 5
        type:
          type: string
          description: Addon type
          example: numeric
        currency:
          type:
          - string
          - 'null'
          description: Price currency
          example: USD
        price:
          type: number
          description: Price
          format: double
          example: 5
        value:
          type: integer
          description: Resource value
          format: int32
          example: 25
        invoiceDesc:
          type: string
          description: Description on invoice
          example: ''
      required:
      - supported
      - planIncluded
      - limit
      - type
      - price
      - value
      - invoiceDesc
      example:
        supported: true
        planIncluded: 1
        limit: 5
        type: numeric
        currency: USD
        price: 5
        value: 25
        invoiceDesc: ''
    planChangeLimits:
      description: PlanChangeLimits
      type: object
      properties:
        canChangePlan:
          type: boolean
          description: Whether the plan change is allowed
          example: false
        unsupportedAddons:
          type: array
          description: Active addon keys that the target plan does not support. When non-empty, `canChangePlan` is false.
          items:
            type: string
          example:
          - baa
        projects:
          type: object
          description: Project count against the target plan limit
          example: {}
          allOf:
          - $ref: '#/components/schemas/planChangeResourceCompliance'
        members:
          type: object
          description: Organization member count against the target plan limit
          example: {}
          allOf:
          - $ref: '#/components/schemas/planChangeResourceCompliance'
        domains:
          type: object
          description: Custom domain count against the target plan limit
          example: {}
          allOf:
          - $ref: '#/components/schemas/planChangeResourceCompliance'
        nonCompliantProjects:
          type: integer
          description: Number of projects exceeding target plan limits
          format: int32
          example: 2
        projectCompliance:
          type: array
          description: Per-project compliance details. Populated for downgrades only.
          items:
            $ref: '#/components/schemas/planChangeProjectCompliance'
          example: []
      required:
      - canChangePlan
      - unsupportedAddons
      - projects
      - members
      - domains
      - nonCompliantProjects
      - projectCompliance
      example:
        canChangePlan: false
        unsupportedAddons:
        - baa
        projects: {}
        members: {}
        domains: {}
        nonCompliantProjects: 2
        projectCompliance: []
    billingPlanAddon:
      description: Addon
      type: object
      properties:
        seats:
          type:
          - object
          - 'null'
          description: Addon seats
          allOf:
          - $ref: '#/components/schemas/billingPlanAddonDetails'
        projects:
          type:
          - object
          - 'null'
          description: Addon projects
          allOf:
          - $ref: '#/components/schemas/billingPlanAddonDetails'
      example:
        seats: null
        projects: null
    organizationList:
      description: Organizations list
      type: object
      properties:
        total:
          type: integer
          description: Total number of teams that matched your query.
          format: int32
          example: 5
        teams:
          type: array
          description: List of teams.
          items:
            $ref: '#/components/schemas/organization'
          example: []
      required:
      - total
      - teams
      example:
        total: 5
        teams: ''
    additionalResource:
      description: AdditionalResource
      type: object
      properties:
        name:
          type: string
          description: Resource name
          example: ''
        unit:
          type: string
          description: Resource unit
          example: GB
        currency:
          type: string
          description: Price currency
          example: USD
        price:
          type: number
          description: Price
          format: double
          example: 5
        value:
          type: integer
          description: Resource value
          format: int32
          example: 25
        invoiceDesc:
          type: string
          description: Description on invoice
          example: ''
      required:
      - name
      - unit
      - currency
      - price
      - value
      - invoiceDesc
      example:
        name: ''
        unit: GB
        currency: USD
        price: 5
        value: 25
        invoiceDesc: ''
    billingPlan:
      description: billingPlan
      type: object
      properties:
        $id:
          type: string
          description: Plan ID.
          example: tier-0
        name:
          type: string
          description: Plan name
          example: Hobby
        desc:
          type: string
          description: Plan description
          example: Hobby plan
        order:
          type: integer
          description: Plan order
          format: int32
          example: 0
        price:
          type: number
          description: Price
          format: double
          example: 25
        trial:
          type: integer
          description: Trial days
          format: int32
          example: 14
        bandwidth:
          type: integer
          description: Bandwidth
          format: int32
          example: 25
        storage:
          type: integer
          description: Storage
          format: int32
          example: 25
        imageTransformations:
          type: integer
          description: Image Transformations
          format: int32
          example: 100
        screenshotsGenerated:
          type: integer
          description: Screenshots generated
          format: int32
          example: 50
        members:
          type:
          - integer
          - 'null'
          description: Members
          format: int32
          example: 25
        webhooks:
          type: integer
          description: Webhooks
          format: int32
          example: 25
        wafRules:
          type: integer
          description: Maximum WAF rules per project
          format: int32
          example: 2
        projects:
          type: integer
          description: Projects
          format: int32
          example: 2
        platforms:
          type: integer
          description: Platforms
          format: int32
          example: 3
        users:
          type: integer
          description: Users
          format: int32
          example: 25
        teams:
          type: integer
          description: Teams
          format: int32
          example: 25
        databases:
          type: integer
          description: Databases
          format: int32
          example: 25
        databasesReads:
          type: integer
          description: Database reads per month
          format: int32
          example: 500000
        databasesWrites:
          type: integer
          description: Database writes per month
          format: int32
          example: 250000
        databasesBatchSize:
          type: integer
          description: Database batch size limit
          format: int32
          example: 100
        buckets:
          type: integer
          description: Buckets
          format: int32
          example: 25
        fileSize:
          type: integer
          description: File size
          format: int32
          example: 25
        functions:
          type: integer
          description: Functions
          format: int32
          example: 25
        sites:
          type: integer
          description: Sites
          format: int32
          example: 1
        executions:
          type: integer
          description: Function executions
          format: int32
          example: 25
        executionsRetentionCount:
          type: integer
          description: Rolling max executions retained per function/site
          format: int32
          example: 10000
        GBHours:
          type: integer
          description: GB hours for functions
          format: int32
          example: 100
        realtime:
          type: integer
          description: Realtime connections
          format: int32
          example: 25
        realtimeMessages:
          type: integer
          description: Realtime messages
          format: int32
          example: 100000
        messages:
          type: integer
          description: Messages per month
          format: int32
          example: 1000
        topics:
          type: integer
          description: Topics for messaging
          format: int32
          example: 1
        authPhone:
          type: integer
          description: SMS authentications per month
          format: int32
          example: 10
        domains:
          type: integer
          description: Custom domains
          format: int32
          example: 5
        activityLogs:
          type:
          - integer
          - 'null'
          description: Activity log days
          format: int32
          example: 7
        usageLogs:
          type: integer
          description: Usage history days
          format: int32
          example: 30
        usageLogsIntervals:
          type:
          - array
          - 'null'
          description: Usage log time intervals allowed for this plan (e.g. 15m, 1h, 1d).
          items:
            type: string
          example:
          - 15m
          - 1h
          - 1d
        usageAggregateOnlyMetrics:
          type:
          - array
          - 'null'
          description: Metrics this plan only records as a total. They cannot be broken down by dimension or filtered, because the stored events cover a fraction of the real traffic.
          items:
            type: string
          example:
          - network.requests
          - network.inbound
          - network.outbound
        projectInactivityDays:
          type: integer
          description: Number of days of console inactivity before a project is paused. 0 means pausing is disabled.
          format: int32
          example: 7
        alertLimit:
          type: integer
          description: Alert threshold percentage
          format: int32
          example: 80
        usage:
          type: object
          description: Additional resources
          allOf:
          - $ref: '#/components/schemas/usageBillingPlan'
        addons:
          type: object
          description: Addons
          allOf:
          - $ref: '#/components/schemas/billingPlanAddon'
        budgetCapEnabled:
          type: boolean
          description: Budget cap enabled or disabled.
          example: true
        customSmtp:
          type: boolean
          description: Custom SMTP
          example: true
        emailBranding:
          type: boolean
          description: Appwrite branding in email
          example: true
        requiresPaymentMethod:
          type: boolean
          description: Does plan require payment method
          example: true
        requiresBillingAddress:
          type: boolean
          description: Does plan require billing address
          example: true
        isAvailable:
          type: boolean
          description: Is the billing plan available
          example: true
        selfService:
          type: boolean
          description: Can user change the plan themselves
          example: true
        premiumSupport:
          type: boolean
          description: Does plan enable premium support
          example: true
        budgeting:
          type: boolean
          description: Does plan support budget cap
          example: true
        supportsMockNumbers:
          type: boolean
          description: Does plan support mock numbers
          example: true
        supportsOrganizationRoles:
          type: boolean
          description: Does plan support organization roles
          example: true
        supportsCredits:
          type: boolean
          description: Does plan support credit
          example: true
        supportsDedicatedDatabases:
          type: boolean
          description: Does plan support dedicated databases.
          example: true
        supportsDisposableEmailValidation:
          type: boolean
          description: Does plan support blocking disposable email addresses.
          example: true
        supportsCanonicalEmailValidation:
          type: boolean
[...]
