openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Apps API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Apps
  description: The Apps service allows you to manage OAuth2 applications, their keys, secrets, scopes, and installations.
paths:
  /apps:
    get:
      summary: List Applications
      operationId: appsList
      tags:
      - Apps
      description: List applications.
      responses:
        '200':
          description: Apps list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appsList'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/list.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create Application
      operationId: appsCreate
      tags:
      - Apps
      description: Create a new application.
      responses:
        '201':
          description: App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/create.md
        rate-limit: 10
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appId:
                  description: Application ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <APP_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Application name.
                  type: string
                  example: <NAME>
                description:
                  description: Application description shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                clientUri:
                  description: Application homepage URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                logoUri:
                  description: Application logo URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                privacyPolicyUrl:
                  description: Application privacy policy URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                termsUrl:
                  description: Application terms of service URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                contacts:
                  description: Application support or security contact emails. Maximum of 100 contacts are allowed.
                  type: array
                  default: []
                  items:
                    type: string
                tagline:
                  description: Application tagline shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: <TAGLINE>
                tags:
                  description: Application tags shown to users during OAuth2 consent. Maximum of 100 tags are allowed, each up to 64 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                images:
                  description: Application image URLs shown to users during OAuth2 consent. Maximum of 100 images are allowed.
                  type: array
                  default: []
                  items:
                    type: string
                supportUrl:
                  description: Application support URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                dataDeletionUrl:
                  description: Application data deletion URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                redirectUris:
                  description: Redirect URIs. Each must be an https URL, an http loopback URL (localhost, 127.0.0.1, [::1]), or a private-use scheme URI (e.g. com.example.app:/oauth), and must not contain a fragment.
                  type: array
                  items:
                    type: string
                postLogoutRedirectUris:
                  description: Post-logout redirect URIs for OpenID Connect RP-Initiated Logout. Each must be an https URL, an http loopback URL, or a private-use scheme URI, and must not contain a fragment. After ending the user session, the logout endpoint only redirects to URIs in this list.
                  type: array
                  default: []
                  items:
                    type: string
                enabled:
                  description: Is application enabled?
                  type: boolean
                  default: true
                  example: false
                type:
                  description: OAuth2 client type. Use `public` for SPAs, mobile, and native apps that cannot keep a `client_secret` — PKCE is then required at the token endpoint. Use `confidential` for server-side clients that present a `client_secret`. Defaults to `confidential`.
                  type: string
                  default: confidential
                  example: public
                deviceFlow:
                  description: Allow this client to use the OAuth2 Device Authorization Grant (RFC 8628) for input-constrained devices such as TVs and CLIs. Defaults to false.
                  type: boolean
                  default: false
                  example: false
                teamId:
                  description: Team unique ID.
                  type: string
                  default: ''
                  example: <TEAM_ID>
              required:
              - appId
              - name
              - redirectUris
  /apps/scopes/installations:
    get:
      summary: List Installation Scopes
      operationId: appsListInstallationScopes
      tags:
      - Apps
      description: List scopes an application can request when installed on a team.
      responses:
        '200':
          description: App scopes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appScopeList'
      deprecated: false
      x-appwrite:
        group: scopes
        demo: apps/list-installation-scopes.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
  /apps/scopes/oauth2:
    get:
      summary: List OAuth2 Scopes
      operationId: appsListOAuth2Scopes
      tags:
      - Apps
      description: List scopes an application can request during the OAuth2 flow.
      responses:
        '200':
          description: App scopes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appScopeList'
      deprecated: false
      x-appwrite:
        group: scopes
        demo: apps/list-o-auth-2-scopes.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
  /apps/{appId}:
    get:
      summary: Get Application
      operationId: appsGet
      tags:
      - Apps
      description: Get an application by its unique ID.
      responses:
        '200':
          description: App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/get.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
    put:
      summary: Update Application
      operationId: appsUpdate
      tags:
      - Apps
      description: Update an application by its unique ID.
      responses:
        '200':
          description: App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/update.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Application name.
                  type: string
                  example: <NAME>
                description:
                  description: Application description shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                clientUri:
                  description: Application homepage URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                logoUri:
                  description: Application logo URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                privacyPolicyUrl:
                  description: Application privacy policy URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                termsUrl:
                  description: Application terms of service URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                contacts:
                  description: Application support or security contact emails. Maximum of 100 contacts are allowed.
                  type: array
                  default: []
                  items:
                    type: string
                tagline:
                  description: Application tagline shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: <TAGLINE>
                tags:
                  description: Application tags shown to users during OAuth2 consent. Maximum of 100 tags are allowed, each up to 64 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                images:
                  description: Application image URLs shown to users during OAuth2 consent. Maximum of 100 images are allowed.
                  type: array
                  default: []
                  items:
                    type: string
                supportUrl:
                  description: Application support URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                dataDeletionUrl:
                  description: Application data deletion URL shown to users during OAuth2 consent.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                enabled:
                  description: Is application enabled?
                  type: boolean
                  default: true
                  example: false
                redirectUris:
                  description: Redirect URIs. Each must be an https URL, an http loopback URL (localhost, 127.0.0.1, [::1]), or a private-use scheme URI (e.g. com.example.app:/oauth), and must not contain a fragment.
                  type: array
                  default: []
                  items:
                    type: string
                postLogoutRedirectUris:
                  description: Post-logout redirect URIs for OpenID Connect RP-Initiated Logout. Each must be an https URL, an http loopback URL, or a private-use scheme URI, and must not contain a fragment. After ending the user session, the logout endpoint only redirects to URIs in this list.
                  type: array
                  default: []
                  items:
                    type: string
                type:
                  description: OAuth2 client type. Use `public` for SPAs, mobile, and native apps that cannot keep a `client_secret` — PKCE is then required at the token endpoint. Use `confidential` for server-side clients that present a `client_secret`. Defaults to `confidential`.
                  type: string
                  default: confidential
                  example: public
                deviceFlow:
                  description: Allow this client to use the OAuth2 Device Authorization Grant (RFC 8628) for input-constrained devices such as TVs and CLIs. Defaults to false.
                  type: boolean
                  default: false
                  example: false
                installationScopes:
                  description: Scopes the application requests when installed on a team. Only scopes allowed by the project's OAuth2 server installation scopes configuration are accepted; use the list installation scopes endpoint to discover available values. Maximum of 100 scopes are allowed.
                  type: array
                  default: []
                  items:
                    type: string
                installationRedirectUrl:
                  description: URL users are redirected to after creating or updating an installation of this application. Must be an https URL, an http loopback URL (localhost, 127.0.0.1, [::1]), or a private-use scheme URI, and must not contain a fragment. Leave empty for no redirect.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
              required:
              - name
    delete:
      summary: Delete Application
      operationId: appsDelete
      tags:
      - Apps
      description: Delete an application by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/delete.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
  /apps/{appId}/installations:
    get:
      summary: List Installations
      operationId: appsListInstallations
      tags:
      - Apps
      description: List installations of an application. Requires an app key sent in the `X-Appwrite-Key` header alongside the `X-Appwrite-App` header, or a caller with update access to the app.
      responses:
        '200':
          description: App installations list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallationList'
      deprecated: false
      x-appwrite:
        group: installations
        demo: apps/list-installations.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip}
        scope:
        - apps.read
        - apps.installations.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /apps/{appId}/installations/{installationId}:
    get:
      summary: Get Installation
      operationId: appsGetInstallation
      tags:
      - Apps
      description: Get an installation of an application by its unique ID. Requires an app key sent in the `X-Appwrite-Key` header alongside the `X-Appwrite-App` header, or a caller with update access to the app.
      responses:
        '200':
          description: AppInstallation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallation'
      deprecated: false
      x-appwrite:
        group: installations
        demo: apps/get-installation.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip}
        scope:
        - apps.read
        - apps.installations.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
    delete:
      summary: Delete Installation
      operationId: appsDeleteInstallation
      tags:
      - Apps
      description: Delete an installation of an application by its unique ID. Requires a caller with update access to the app. Previously issued installation access tokens are revoked.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: installations
        demo: apps/delete-installation.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
  /apps/{appId}/installations/{installationId}/tokens:
    post:
      summary: Create Installation Token
      operationId: appsCreateInstallationToken
      tags:
      - Apps
      description: 'Create a token for an installation of an application. Requires an app key sent in the `X-Appwrite-Key` header alongside the `X-Appwrite-App` header, or a caller with update access to the app. The returned token carries the scopes and authorization details granted to the installation, and can be used as an `Authorization: Bearer` header everywhere OAuth2 access tokens are accepted. Multiple tokens can be active for the same installation at once; each token stays valid until it expires or the installation is updated or deleted.'
      responses:
        '201':
          description: OAuth2 Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2Token'
      deprecated: false
      x-appwrite:
        group: installations
        demo: apps/create-installation-token.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip}
        scope:
        - apps.write
        - apps.tokens.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
  /apps/{appId}/keys:
    get:
      summary: List App Keys
      operationId: appsListKeys
      tags:
      - Apps
      description: List app keys for an application.
      responses:
        '200':
          description: App keys list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKeyList'
      deprecated: false
      x-appwrite:
        group: keys
        demo: apps/list-keys.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create App Key
      operationId: appsCreateKey
      tags:
      - Apps
      description: Create a new app key for an application. App keys carry no scopes; send one in the `X-Appwrite-Key` header alongside the `X-Appwrite-App` header to list the application's installations and create installation access tokens.
      responses:
        '201':
          description: AppKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKey'
      deprecated: false
      x-appwrite:
        group: keys
        demo: apps/create-key.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
  /apps/{appId}/keys/{keyId}:
    get:
      summary: Get App Key
      operationId: appsGetKey
      tags:
      - Apps
      description: Get an app key by its unique ID.
      responses:
        '200':
          description: AppKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKey'
      deprecated: false
      x-appwrite:
        group: keys
        demo: apps/get-key.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: keyId
        description: App key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
    delete:
      summary: Delete App Key
      operationId: appsDeleteKey
      tags:
      - Apps
      description: Delete an app key by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: keys
        demo: apps/delete-key.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: keyId
        description: App key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
  /apps/{appId}/labels:
    put:
      summary: Update Application Labels
      operationId: appsUpdateLabels
      tags:
      - Apps
      description: Update the labels of an application. Labels are read-only for clients; only a server SDK using a project API key can set them. Replaces the previous labels.
      responses:
        '200':
          description: App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/update-labels.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  description: Array of application labels. Replaces the previous labels. Maximum of 1000 labels are allowed, each up to 36 alphanumeric characters long. Reserved labels are rejected.
                  type: array
                  items:
                    type: string
              required:
              - labels
  /apps/{appId}/secrets:
    get:
      summary: List Secrets
      operationId: appsListSecrets
      tags:
      - Apps
      description: List client secrets for an application.
      responses:
        '200':
          description: App secrets list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appSecretList'
      deprecated: false
      x-appwrite:
        group: secrets
        demo: apps/list-secrets.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create Secret
      operationId: appsCreateSecret
      tags:
      - Apps
      description: Create a new client secret for an application.
      responses:
        '201':
          description: AppSecretPlaintext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appSecretPlaintext'
      deprecated: false
      x-appwrite:
        group: secrets
        demo: apps/create-secret.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
  /apps/{appId}/secrets/{secretId}:
    get:
      summary: Get Secret
      operationId: appsGetSecret
      tags:
      - Apps
      description: Get an application client secret by its unique ID.
      responses:
        '200':
          description: AppSecret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appSecret'
      deprecated: false
      x-appwrite:
        group: secrets
        demo: apps/get-secret.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: secretId
        description: Secret unique ID.
        required: true
        schema:
          type: string
          example: <SECRET_ID>
        in: path
    delete:
      summary: Delete Secret
      operationId: appsDeleteSecret
      tags:
      - Apps
      description: Delete an application client secret by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: secrets
        demo: apps/delete-secret.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      - name: secretId
        description: Secret unique ID.
        required: true
        schema:
          type: string
          example: <SECRET_ID>
        in: path
  /apps/{appId}/team:
    patch:
      summary: Update Team
      operationId: appsUpdateTeam
      tags:
      - Apps
      description: Transfer an application to another team by its unique ID.
      responses:
        '200':
          description: App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app'
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/update-team.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                teamId:
                  description: Team ID of the team to transfer application to.
                  type: string
                  example: <TEAM_ID>
              required:
              - teamId
  /apps/{appId}/tokens:
    delete:
      summary: Delete Tokens
      operationId: appsDeleteTokens
      tags:
      - Apps
      description: Revoke all tokens for an application by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: apps
        demo: apps/delete-tokens.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: apps.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: appId
        description: Application unique ID.
        required: true
        schema:
          type: string
          example: <APP_ID>
        in: path
components:
  schemas:
    appKey:
      description: AppKey
      type: object
      properties:
        $id:
          type: string
          description: App key ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: App key creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: App key update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        appId:
          type: string
          description: Application ID this app key belongs to.
          example: 5e5ea5c16897e
        secret:
          type: string
          description: App key secret.
          example: 5f3c8d2a1b9e4f7a6c8b2d1e9f4a7b3c5d8e1f2a9b4c7d6e3f5a8b1c4d7e2f9a
        hint:
          type: string
          description: Last few characters of the app key secret, used to help identify it.
          example: f5c6c7
        createdById:
          type: string
          description: ID of the user who created the app key.
          example: 5e5ea5c16897e
        createdByName:
          type: string
          description: Name of the user who created the app key.
          example: Walter White
        lastAccessedAt:
          type:
          - string
          - 'null'
          description: Time the app key was last used for authentication in ISO 8601 format. Null if never used.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - appId
      - secret
      - hint
      - createdById
      - createdByName
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        appId: 5e5ea5c16897e
        secret: 5f3c8d2a1b9e4f7a6c8b2d1e9f4a7b3c5d8e1f2a9b4c7d6e3f5a8b1c4d7e2f9a
        hint: f5c6c7
        createdById: 5e5ea5c16897e
        createdByName: Walter White
        lastAccessedAt: '2020-10-15T06:38:00.000+00:00'
    appSecret:
      description: AppSecret
      type: object
      properties:
        $id:
          type: string
          description: Secret ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Secret creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Secret update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        appId:
          type: string
          description: Application ID this secret belongs to.
          example: 5e5ea5c16897e
        secret:
          type: string
          description: Always empty. The application client secret is returned only once, in the response of the createSecret method.
          example: ''
        hint:
          type: string
          description: Last few characters of the client secret, used to help identify it.
          example: f5c6c7
        createdById:
          type: string
          description: ID of the user who created the secret.
          example: 5e5ea5c16897e
        createdByName:
          type: string
          description: Name of the user who created the secret.
          example: Walter White
        lastAccessedAt:
          type:
          - string
          - 'null'
          description: Time the secret was last used for authentication in ISO 8601 format. Null if never used.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - appId
      - secret
      - hint
      - createdById
      - createdByName
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        appId: 5e5ea5c16897e
        secret: ''
        hint: f5c6c7
        createdById: 5e5ea5c16897e
        createdByName: Walter White
        lastAccessedAt: '2020-10-15T06:38:00.000+00:00'
    app:
      description: App
      type: object
      properties:
        $id:
          type: string
          description: App ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: App creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: App update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Application name.
          example: My Application
        description:
          type: string
          description: Application description shown to users during OAuth2 consent.
          example: Connect your workspace to My Application.
        clientUri:
          type: string
          description: Application homepage URL shown to users during OAuth2 consent.
          example: https://example.com
        logoUri:
          type: string
          description: Application logo URL shown to users during OAuth2 consent.
          example: https://example.com/logo.png
        privacyPolicyUrl:
          type: string
          description: Application privacy policy URL shown to users during OAuth2 consent.
          example: https://example.com/privacy
        termsUrl:
          type: string
          description: Application terms of service URL shown to users during OAuth2 consent.
          example: https://example.com/terms
        contacts:
          type: array
          description: Application support or security contact emails.
          items:
            type: string
          example:
          - support@example.com
        tagline:
          type: string
          description: Application tagline shown to users during OAuth2 consent.
          example: Automate your workspace.
        tags:
          type: array
          description: Application tags shown to users during OAuth2 consent.
          items:
            type: string
          example:
          - productivity
          - automation
        labels:
          type: array
          description: Application labels. Read-only for clients; only a server SDK using a project API key can update them.
          items:
            type: string
          example:
          - featured
        images:
          type: array
          description: Application image URLs shown to users during OAuth2 consent.
          items:
            type: string
          example:
          - https://example.com/screenshot.png
        supportUrl:
          type: string
          description: Application support URL shown to users during OAuth2 consent.
          example: https://example.com/support
        dataDeletionUrl:
          type: string
          description: Application data deletion URL shown to users during OAuth2 consent.
          example: https://example.com/data-deletion
        redirectUris:
          type: array
          description: List of authorized redirect URIs. These URIs can be used to redirect users after they authenticate.
          items:
            type: string
          example:
          - https://example.com/callback
        postLogoutRedirectUris:
          type: array
          description: List of authorized post-logout redirect URIs for OpenID Connect RP-Initiated Logout. The logout endpoint only redirects users to URIs in this list after ending their session.
          items:
            type: string
          example:
          - https://example.com/logged-out
        enabled:
          type: boolean
          description: Whether the app is enabled or not.
          example: true
        type:
          type: string
          description: OAuth2 client type. `public` for SPAs, mobile, and native apps that cannot keep a client secret (PKCE required); `confidential` for server-side clients that authenticate with a client secret.
          example: confidential
        deviceFlow:
          type: boolean
          description: Whether this client may use the OAuth2 Device Authorization Grant (RFC 8628).
          example: false
        teamId:
          type: string
          description: ID of team that owns the application, if owned by team. Otherwise, user ID will be used.
          example: 5e5ea5c16897e
        userId:
          type: string
          description: ID of user who owns the application, if owned by user. Otherwise, team ID will be used.
          example: 5e5ea5c16897e
        installationScopes:
          type: array
          description: Scopes the application requests when installed on a team. Organization-level and project-level scopes only.
          items:
            type: string
          example:
          - organization:organization.read
        installationRedirectUrl:
          type: string
          description: URL users are redirected to after creating or updating an installation of this application. Empty for no redirect.
          example: https://example.com/setup
        secrets:
          type: array
          description: List of application secrets.
          items:
            $ref: '#/components/schemas/appSecret'
          example: []
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - clientUri
      - logoUri
      - privacyPolicyUrl
      - termsUrl
      - contacts
      - tagline
      - tags
      - labels
      - images
      - supportUrl
      - dataDeletionUrl
      - redirectUris
      - postLogoutRedirectUris
      - enabled
      - type
      - deviceFlow
      - teamId
      - userId
      - installationScopes
      - installationRedirectUrl
      - secrets
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: My Application
        description: Connect your workspace to My Application.
        clientUri: https://example.com
        logoUri: https://example.com/logo.png
        privacyPolicyUrl: https://example.com/privacy
        termsUrl: https://example.com/terms
        contacts:
        - support@example.com
        tagline: Automate your workspace.
        tags:
        - productivity
        - automation
        labels:
        - featured
        images:
        - https://example.com/screenshot.png
        supportUrl: https://example.com/support
        dataDeletionUrl: https://example.com/data-deletion
        redirectUris:
        - https://example.com/callback
        postLogoutRedirectUris:
        - https://example.com/logged-out
        enabled: true
        type: confidential
        deviceFlow: false
        teamId: 5e5ea5c16897e
        userId: 5e5ea5c16897e
        installationScopes:
        - organization:organization.read
        installationRedirectUrl: https://example.com/setup
        secrets: []
    appScopeList:
      description: App scopes list
      type: object
      properties:
        total:
          type: integer
          description: Total number of scopes that matched your query.
          format: int32
          example: 5
        scopes:
          type: array
          description: List of scopes.
          items:
            $ref: '#/components/schemas/appScope'
          example: []
      required:
      - total
      - scopes
      example:
        total: 5
        scopes: ''
    appSecretPlaintext:
      description: AppSecretPlaintext
      type: object
      properties:
        $id:
          type: string
          description: Secret ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Secret creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Secret update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        appId:
          type: string
          description: Application ID this secret belongs to.
          example: 5e5ea5c16897e
        secret:
          type: string
          description: Application client secret. Returned only when the secret is created; subsequent reads always return an empty value.
          example: 5f3c8d2a1b9e4f7a6c8b2d1e9f4a7b3c5d8e1f2a9b4c7d6e3f5a8b1c4d7e2f9a
        hint:
          type: string
          description: Last few characters of the client secret, used to help identify it.
          example: f5c6c7
        createdById:
          type: string
          description: ID of the user who created the secret.
          example: 5e5ea5c16897e
        createdByName:
          type: string
          description: Name of the user who created the secret.
          example: Walter White
        lastAccessedAt:
          type:
          - string
          - 'null'
          description: Time the secret was last used for authentication in ISO 8601 format. Null if never used.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - appId
      - secret
      - hint
      - createdById
      - createdByName
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        appId: 5e5ea5c16897e
        secret: 5f3c8d2a1b9e4f7a6c8b2d1e9f4a7b3c5d8e1f2a9b4c7d6e3f5a8b1c4d7e2f9a
        hint: f5c6c7
        createdById: 5e5ea5c16897e
        createdByName: Walter White
        lastAccessedAt: '2020-10-15T06:38:00.000+00:00'
    appScope:
      description: AppScope
      type: object
      properties:
        value:
          type: string
          description: Scope value as requested by apps.
          example: organization:organization.read
        description:
          type: string
          description: Human-readable description of what the scope grants.
          example: Access to read the organization
        type:
          type: string
          description: What the scope grants access to. One of `account`, `project`, or `organization`. Only `project` and `organization` scopes are installable.
          example: organization
        category:
          type: string
          description: Scope category, used to group scopes on consent and installation screens.
          example: Organization
        deprecated:
          type: boolean
          description: Whether the scope is deprecated. Deprecated scopes can still be requested but should not be offered for new grants.
          example: false
      required:
      - value
      - description
      - type
      - category
      - deprecated
      example:
        value: organization:organization.read
        description: Access to read the organization
        type: organization
        category: Organization
        deprecated: false
    oauth2Token:
      description: OAuth2 Token
      type: object
      properties:
        access_token:
          type: string
          description: OAuth2 access token.
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
        token_type:
          type: string
          description: OAuth2 token type.
          example: Bearer
        expires_in:
          type: integer
          description: Access token lifetime in seconds.
          format: int32
          example: 3600
        refresh_token:
          type: string
          description: OAuth2 refresh token.
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
        scope:
          type: string
          description: Space-separated scopes granted to the access token.
          example: openid email profile
        authorization_details:
          type:
          - string
          - 'null'
          description: Granted RFC 9396 authorization details as a JSON string.
          example: '[{"type":"calendar","identifier":"primary","actions":["read_events"]}]'
        id_token:
          type:
          - string
          - 'null'
          description: OpenID Connect ID token. Returned when the `openid` scope is granted.
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
      required:
      - access_token
      - token_type
      - expires_in
      - refresh_token
      - scope
      example:
        access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
        token_type: Bearer
        expires_in: 3600
        refresh_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
        scope: openid email profile
        authorization_details: '[{"type":"calendar","identifier":"primary","actions":["read_events"]}]'
        id_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
    appInstallation:
      description: AppInstallation
      type: object
      properties:
        $id:
          type: string
          description: Installation ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Installation creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Installation update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        appId:
          type: string
          description: ID of the installed application.
          example: 5e5ea5c16897e
        teamId:
          type: string
          description: ID of the team the application is installed on.
          example: 5e5ea5c16897e
        scopes:
          type: array
          description: Scopes granted to the application. Snapshot of the application's installation scopes taken when the installation was created or last updated.
          items:
            type: string
          example:
          - organization:organization.read
        authorizationDetails:
          type: array
          description: Authorization details granted to the application. Rich authorization request (RFC 9396) style entries; the Appwrite Console stores authorized project IDs here.
          items:
            type: object
          example:
          - type: project
            identifiers:
            - '*'
        createdById:
          type: string
          description: ID of the user who created the installation.
          example: 5e5ea5c16897e
        createdByName:
          type: string
          description: Name of the user who created the installation.
          example: Walter White
        lastAccessedAt:
          type:
          - string
          - 'null'
          description: Time an access token was last issued for the installation in ISO 8601 format. Null if never used.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - appId
      - teamId
      - scopes
      - authorizationDetails
      - createdById
      - createdByName
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        appId: 5e5ea5c16897e
        teamId: 5e5ea5c16897e
        scopes:
        - organization:organization.read
        authorizationDetails:
        - type: project
          identifiers:
          - '*'
        createdById: 5e5ea5c16897e
        createdByName: Walter White
        lastAccessedAt: '2020-10-15T06:38:00.000+00:00'
    appInstallationList:
      description: App installations list
      type: object
      properties:
        total:
          type: integer
          description: Total number of installations that matched your query.
          format: int32
          example: 5
        installations:
          type: array
          description: List of installations.
          items:
            $ref: '#/components/schemas/appInstallation'
          example: []
      required:
      - total
      - installations
      example:
        total: 5
        installations: ''
    appsList:
      description: Apps list
      type: object
      properties:
        total:
          type: integer
          description: Total number of apps that matched your query.
          format: int32
          example: 5
        apps:
          type: array
          description: List of apps.
          items:
            $ref: '#/components/schemas/app'
          example: []
      required:
      - total
      - apps
      example:
        total: 5
        apps: ''
    appKeyList:
      description: App keys list
      type: object
      properties:
        total:
          type: integer
          description: Total number of keys that matched your query.
          format: int32
          example: 5
        keys:
          type: array
          description: List of keys.
          items:
            $ref: '#/components/schemas/appKey'
          example: []
      required:
      - total
      - keys
      example:
        total: 5
        keys: ''
    appSecretList:
      description: App secrets list
      type: object
      properties:
        total:
          type: integer
          description: Total number of secrets that matched your query.
          format: int32
          example: 5
        secrets:
          type: array
          description: List of secrets.
          items:
            $ref: '#/components/schemas/appSecret'
          example: []
      required:
      - total
      - secrets
      example:
        total: 5
        secrets: ''
  securitySchemes:
    Project:
      type: apiKey
      name: X-Appwrite-Project
      description: Your project ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    ProjectPath:
      type: apiKey
      name: project
      description: Your project ID
      in: query
      x-appwrite:
        location: path
        param: project_id
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    JWT:
      type: apiKey
      name: X-Appwrite-JWT
      description: Your secret JSON Web Token
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_JWT>
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The OAuth access token to authenticate with
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Locale:
      type: apiKey
      name: X-Appwrite-Locale
      description: ''
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: en
    Session:
      type: apiKey
      name: X-Appwrite-Session
      description: The user session to authenticate with
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    DevKey:
      type: apiKey
      name: X-Appwrite-Dev-Key
      description: Your secret dev API key
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Cookie:
      type: apiKey
      name: Cookie
      description: The user cookie to authenticate with. Used by SDKs that forward an incoming Cookie header in server-side runtimes.
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserId:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Id
      description: Impersonate a user by ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserEmail:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Email
      description: Impersonate a user by email
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserPhone:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Phone
      description: Impersonate a user by phone
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Key:
      type: apiKey
      name: X-Appwrite-Key
      description: Your secret API key
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        - manager
        demo: <YOUR_API_KEY>
    Organization:
      type: apiKey
      name: X-Appwrite-Organization
      description: Your organization ID
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        demo: <YOUR_ORGANIZATION_ID>
    ForwardedUserAgent:
      type: apiKey
      name: X-Forwarded-User-Agent
      description: The user agent string of the client that made the request
      in: header
      x-appwrite:
        platforms:
        - server
    Mode:
      type: apiKey
      name: X-Appwrite-Mode
      description: ''
      in: header
      x-appwrite:
        platforms:
        - console
        demo: ''
    Platform:
      type: apiKey
      name: X-Appwrite-Platform
      description: The platform type (Appwrite or Imagine)
      in: header
      x-appwrite:
        platforms:
        - console
externalDocs:
  description: Full API docs, specs and tutorials
  url: https://appwrite.io/docs
