openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Sites API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Sites
  description: The Sites Service allows you view, create and manage your web applications.
paths:
  /sites:
    get:
      summary: List sites
      operationId: sitesList
      tags:
      - Sites
      description: Get a list of all the project's sites. You can use the query params to filter your results.
      responses:
        '200':
          description: Sites List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/siteList'
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, enabled, framework, deploymentId, buildCommand, installCommand, outputDirectory, installationId'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create site
      operationId: sitesCreate
      tags:
      - Sites
      description: Create a new site.
      responses:
        '201':
          description: Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site'
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                siteId:
                  description: Site ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <SITE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Site name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                framework:
                  description: Sites framework.
                  type: string
                  example: analog
                  title: Framework
                  oneOf:
                  - type: string
                    enum:
                    - analog
                    title: analog
                  - type: string
                    enum:
                    - angular
                    title: angular
                  - type: string
                    enum:
                    - nextjs
                    title: nextjs
                  - type: string
                    enum:
                    - react
                    title: react
                  - type: string
                    enum:
                    - nuxt
                    title: nuxt
                  - type: string
                    enum:
                    - vue
                    title: vue
                  - type: string
                    enum:
                    - sveltekit
                    title: sveltekit
                  - type: string
                    enum:
                    - astro
                    title: astro
                  - type: string
                    enum:
                    - tanstack-start
                    title: tanstack-start
                  - type: string
                    enum:
                    - remix
                    title: remix
                  - type: string
                    enum:
                    - lynx
                    title: lynx
                  - type: string
                    enum:
                    - flutter
                    title: flutter
                  - type: string
                    enum:
                    - react-native
                    title: react-native
                  - type: string
                    enum:
                    - vite
                    title: vite
                  - type: string
                    enum:
                    - other
                    title: other
                enabled:
                  description: Is site enabled? When set to 'disabled', users cannot access the site but Server SDKs with and API key can still access the site. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                logging:
                  description: When disabled, request logs will exclude logs and errors, and site responses will be slightly faster.
                  type: boolean
                  default: true
                  example: false
                timeout:
                  description: Maximum request time in seconds.
                  type: integer
                  default: 30
                  example: 1
                  format: int32
                installCommand:
                  description: Install Command.
                  type: string
                  default: ''
                  example: <INSTALL_COMMAND>
                buildCommand:
                  description: Build Command.
                  type: string
                  default: ''
                  example: <BUILD_COMMAND>
                startCommand:
                  description: Custom start command. Leave empty to use default.
                  type: string
                  default: ''
                  example: <START_COMMAND>
                outputDirectory:
                  description: Output Directory for site.
                  type: string
                  default: ''
                  example: <OUTPUT_DIRECTORY>
                buildRuntime:
                  description: Runtime to use during build step.
                  type: string
                  example: node-14.5
                  title: BuildRuntime
                  oneOf:
                  - type: string
                    enum:
                    - node-14.5
                    title: node-14.5
                  - type: string
                    enum:
                    - node-16.0
                    title: node-16.0
                  - type: string
                    enum:
                    - node-18.0
                    title: node-18.0
                  - type: string
                    enum:
                    - node-19.0
                    title: node-19.0
                  - type: string
                    enum:
                    - node-20.0
                    title: node-20.0
                  - type: string
                    enum:
                    - node-21.0
                    title: node-21.0
                  - type: string
                    enum:
                    - node-22
                    title: node-22
                  - type: string
                    enum:
                    - node-23
                    title: node-23
                  - type: string
                    enum:
                    - node-24
                    title: node-24
                  - type: string
                    enum:
                    - node-25
                    title: node-25
                  - type: string
                    enum:
                    - node-26
                    title: node-26
                  - type: string
                    enum:
                    - php-8.0
                    title: php-8.0
                  - type: string
                    enum:
                    - php-8.1
                    title: php-8.1
                  - type: string
                    enum:
                    - php-8.2
                    title: php-8.2
                  - type: string
                    enum:
                    - php-8.3
                    title: php-8.3
                  - type: string
                    enum:
                    - php-8.4
                    title: php-8.4
                  - type: string
                    enum:
                    - ruby-3.0
                    title: ruby-3.0
                  - type: string
                    enum:
                    - ruby-3.1
                    title: ruby-3.1
                  - type: string
                    enum:
                    - ruby-3.2
                    title: ruby-3.2
                  - type: string
                    enum:
                    - ruby-3.3
                    title: ruby-3.3
                  - type: string
                    enum:
                    - ruby-3.4
                    title: ruby-3.4
                  - type: string
                    enum:
                    - ruby-4.0
                    title: ruby-4.0
                  - type: string
                    enum:
                    - python-3.8
                    title: python-3.8
                  - type: string
                    enum:
                    - python-3.9
                    title: python-3.9
                  - type: string
                    enum:
                    - python-3.10
                    title: python-3.10
                  - type: string
                    enum:
                    - python-3.11
                    title: python-3.11
                  - type: string
                    enum:
                    - python-3.12
                    title: python-3.12
                  - type: string
                    enum:
                    - python-3.13
                    title: python-3.13
                  - type: string
                    enum:
                    - python-3.14
                    title: python-3.14
                  - type: string
                    enum:
                    - python-ml-3.11
                    title: python-ml-3.11
                  - type: string
                    enum:
                    - python-ml-3.12
                    title: python-ml-3.12
                  - type: string
                    enum:
                    - python-ml-3.13
                    title: python-ml-3.13
                  - type: string
                    enum:
                    - deno-1.21
                    title: deno-1.21
                  - type: string
                    enum:
                    - deno-1.24
                    title: deno-1.24
                  - type: string
                    enum:
                    - deno-1.35
                    title: deno-1.35
                  - type: string
                    enum:
                    - deno-1.40
                    title: deno-1.40
                  - type: string
                    enum:
                    - deno-1.46
                    title: deno-1.46
                  - type: string
                    enum:
                    - deno-2.0
                    title: deno-2.0
                  - type: string
                    enum:
                    - deno-2.5
                    title: deno-2.5
                  - type: string
                    enum:
                    - deno-2.6
                    title: deno-2.6
                  - type: string
                    enum:
                    - dart-2.15
                    title: dart-2.15
                  - type: string
                    enum:
                    - dart-2.16
                    title: dart-2.16
                  - type: string
                    enum:
                    - dart-2.17
                    title: dart-2.17
                  - type: string
                    enum:
                    - dart-2.18
                    title: dart-2.18
                  - type: string
                    enum:
                    - dart-2.19
                    title: dart-2.19
                  - type: string
                    enum:
                    - dart-3.0
                    title: dart-3.0
                  - type: string
                    enum:
                    - dart-3.1
                    title: dart-3.1
                  - type: string
                    enum:
                    - dart-3.3
                    title: dart-3.3
                  - type: string
                    enum:
                    - dart-3.5
                    title: dart-3.5
                  - type: string
                    enum:
                    - dart-3.8
                    title: dart-3.8
                  - type: string
                    enum:
                    - dart-3.9
                    title: dart-3.9
                  - type: string
                    enum:
                    - dart-3.10
                    title: dart-3.10
                  - type: string
                    enum:
                    - dart-3.11
                    title: dart-3.11
                  - type: string
                    enum:
                    - dart-3.12
                    title: dart-3.12
                  - type: string
                    enum:
                    - dart-3.13
                    title: dart-3.13
                  - type: string
                    enum:
                    - dotnet-6.0
                    title: dotnet-6.0
                  - type: string
                    enum:
                    - dotnet-7.0
                    title: dotnet-7.0
                  - type: string
                    enum:
                    - dotnet-8.0
                    title: dotnet-8.0
                  - type: string
                    enum:
                    - dotnet-10
                    title: dotnet-10
                  - type: string
                    enum:
                    - java-8.0
                    title: java-8.0
                  - type: string
                    enum:
                    - java-11.0
                    title: java-11.0
                  - type: string
                    enum:
                    - java-17.0
                    title: java-17.0
                  - type: string
                    enum:
                    - java-18.0
                    title: java-18.0
                  - type: string
                    enum:
                    - java-21.0
                    title: java-21.0
                  - type: string
                    enum:
                    - java-22
                    title: java-22
                  - type: string
                    enum:
                    - java-25
                    title: java-25
                  - type: string
                    enum:
                    - swift-5.5
                    title: swift-5.5
                  - type: string
                    enum:
                    - swift-5.8
                    title: swift-5.8
                  - type: string
                    enum:
                    - swift-5.9
                    title: swift-5.9
                  - type: string
                    enum:
                    - swift-5.10
                    title: swift-5.10
                  - type: string
                    enum:
                    - swift-6.2
                    title: swift-6.2
                  - type: string
                    enum:
                    - kotlin-1.6
                    title: kotlin-1.6
                  - type: string
                    enum:
                    - kotlin-1.8
                    title: kotlin-1.8
                  - type: string
                    enum:
                    - kotlin-1.9
                    title: kotlin-1.9
                  - type: string
                    enum:
                    - kotlin-2.0
                    title: kotlin-2.0
                  - type: string
                    enum:
                    - kotlin-2.3
                    title: kotlin-2.3
                  - type: string
                    enum:
                    - cpp-17
                    title: cpp-17
                  - type: string
                    enum:
                    - cpp-20
                    title: cpp-20
                  - type: string
                    enum:
                    - bun-1.0
                    title: bun-1.0
                  - type: string
                    enum:
                    - bun-1.1
                    title: bun-1.1
                  - type: string
                    enum:
                    - bun-1.2
                    title: bun-1.2
                  - type: string
                    enum:
                    - bun-1.3
                    title: bun-1.3
                  - type: string
                    enum:
                    - bun-1.4
                    title: bun-1.4
                  - type: string
                    enum:
                    - go-1.23
                    title: go-1.23
                  - type: string
                    enum:
                    - go-1.24
                    title: go-1.24
                  - type: string
                    enum:
                    - go-1.25
                    title: go-1.25
                  - type: string
                    enum:
                    - go-1.26
                    title: go-1.26
                  - type: string
                    enum:
                    - rust-1.83
                    title: rust-1.83
                  - type: string
                    enum:
                    - static-1
                    title: static-1
                  - type: string
                    enum:
                    - flutter-3.24
                    title: flutter-3.24
                  - type: string
                    enum:
                    - flutter-3.27
                    title: flutter-3.27
                  - type: string
                    enum:
                    - flutter-3.29
                    title: flutter-3.29
                  - type: string
                    enum:
                    - flutter-3.32
                    title: flutter-3.32
                  - type: string
                    enum:
                    - flutter-3.35
                    title: flutter-3.35
                  - type: string
                    enum:
                    - flutter-3.38
                    title: flutter-3.38
                  - type: string
                    enum:
                    - flutter-3.41
                    title: flutter-3.41
                  - type: string
                    enum:
                    - flutter-3.44
                    title: flutter-3.44
                  - type: string
                    enum:
                    - flutter-3.47
                    title: flutter-3.47
                adapter:
                  description: 'Framework adapter defining rendering strategy. Allowed values are: static, ssr'
                  type: string
                  example: static
                  title: Adapter
                  oneOf:
                  - type: string
                    enum:
                    - static
                    title: static
                  - type: string
                    enum:
                    - ssr
                    title: ssr
                installationId:
                  description: Appwrite Installation ID for VCS (Version Control System) deployment.
                  type: string
                  default: ''
                  example: <INSTALLATION_ID>
                fallbackFile:
                  description: Fallback file for single page application sites.
                  type: string
                  default: ''
                  example: <FALLBACK_FILE>
                providerRepositoryId:
                  description: Repository ID of the repo linked to the site.
                  type: string
                  default: ''
                  example: <PROVIDER_REPOSITORY_ID>
                providerBranch:
                  description: Production branch for the repo linked to the site.
                  type: string
                  default: ''
                  example: <PROVIDER_BRANCH>
                providerSilentMode:
                  description: Is the VCS (Version Control System) connection in silent mode for the repo linked to the site? In silent mode, comments will not be made on commits and pull requests.
                  type: boolean
                  default: false
                  example: false
                providerRootDirectory:
                  description: Path to site code in the linked repo.
                  type: string
                  default: ''
                  example: <PROVIDER_ROOT_DIRECTORY>
                providerBranches:
                  description: List of branch name patterns to trigger automatic deployments. Supports wildcards. Leave empty to deploy on all branches.
                  type: array
                  default: []
                  items:
                    type: string
                providerPaths:
                  description: List of file path patterns to trigger automatic deployments. Supports wildcards. Leave empty to deploy on all file changes.
                  type: array
                  default: []
                  items:
                    type: string
                buildSpecification:
                  description: Build specification for the site deployments.
                  type: string
                  default: {}
                  example: s-1vcpu-512mb
                runtimeSpecification:
                  description: Runtime specification for the SSR executions.
                  type: string
                  default: {}
                  example: s-1vcpu-512mb
                deploymentRetention:
                  description: Days to keep non-active deployments before deletion. Value 0 means all deployments will be kept.
                  type: integer
                  default: 0
                  example: 0
                  format: int32
                scopes:
                  description: List of scopes allowed for API key auto-generated for every site build and SSR execution. Maximum of 200 scopes are allowed.
                  type: array
                  default: []
                  items:
                    title: ProjectKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - project.read
                      title: project.read
                    - type: string
                      enum:
                      - project.write
                      title: project.write
                    - type: string
                      enum:
                      - usage.read
                      title: usage.read
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                    - type: string
                      enum:
                      - platforms.read
                      title: platforms.read
                    - type: string
                      enum:
                      - platforms.write
                      title: platforms.write
                    - type: string
                      enum:
                      - mocks.read
                      title: mocks.read
                    - type: string
                      enum:
                      - mocks.write
                      title: mocks.write
                    - type: string
                      enum:
                      - policies.read
                      title: policies.read
                    - type: string
                      enum:
                      - policies.write
                      title: policies.write
                    - type: string
                      enum:
                      - project.policies.read
                      title: project.policies.read
                    - type: string
                      enum:
                      - project.policies.write
                      title: project.policies.write
                    - type: string
                      enum:
                      - project.oauth2.read
                      title: project.oauth2.read
                    - type: string
                      enum:
                      - project.oauth2.write
                      title: project.oauth2.write
                    - type: string
                      enum:
                      - templates.read
                      title: templates.read
                    - type: string
                      enum:
                      - templates.write
                      title: templates.write
                    - type: string
                      enum:
                      - stages.read
                      title: stages.read
                    - type: string
                      enum:
                      - stages.write
                      title: stages.write
                    - type: string
                      enum:
                      - users.read
                      title: users.read
                    - type: string
                      enum:
                      - users.write
                      title: users.write
                    - type: string
                      enum:
                      - sessions.read
                      title: sessions.read
                    - type: string
                      enum:
                      - sessions.write
                      title: sessions.write
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                    - type: string
                      enum:
                      - databases.read
                      title: databases.read
                    - type: string
                      enum:
                      - databases.write
                      title: databases.write
                    - type: string
                      enum:
                      - tables.read
                      title: tables.read
                    - type: string
                      enum:
                      - tables.write
                      title: tables.write
                    - type: string
                      enum:
                      - columns.read
                      title: columns.read
                    - type: string
                      enum:
                      - columns.write
                      title: columns.write
                    - type: string
                      enum:
                      - indexes.read
                      title: indexes.read
                    - type: string
                      enum:
                      - indexes.write
                      title: indexes.write
                    - type: string
                      enum:
                      - rows.read
                      title: rows.read
                    - type: string
                      enum:
                      - rows.write
                      title: rows.write
                    - type: string
                      enum:
                      - embeddings.write
                      title: embeddings.write
                    - type: string
                      enum:
                      - collections.read
                      title: collections.read
                    - type: string
                      enum:
                      - collections.write
                      title: collections.write
                    - type: string
                      enum:
                      - attributes.read
                      title: attributes.read
                    - type: string
                      enum:
                      - attributes.write
                      title: attributes.write
                    - type: string
                      enum:
                      - documents.read
                      title: documents.read
                    - type: string
                      enum:
                      - documents.write
                      title: documents.write
                    - type: string
                      enum:
                      - documentsdb.read
                      title: documentsdb.read
                    - type: string
                      enum:
                      - documentsdb.write
                      title: documentsdb.write
                    - type: string
                      enum:
                      - documentsdb.collections.read
                      title: documentsdb.collections.read
                    - type: string
                      enum:
                      - documentsdb.collections.write
                      title: documentsdb.collections.write
                    - type: string
                      enum:
                      - documentsdb.documents.read
                      title: documentsdb.documents.read
                    - type: string
                      enum:
                      - documentsdb.documents.write
                      title: documentsdb.documents.write
                    - type: string
                      enum:
                      - documentsdb.indexes.read
                      title: documentsdb.indexes.read
                    - type: string
                      enum:
                      - documentsdb.indexes.write
                      title: documentsdb.indexes.write
                    - type: string
                      enum:
                      - vectorsdb.read
                      title: vectorsdb.read
                    - type: string
                      enum:
                      - vectorsdb.write
                      title: vectorsdb.write
                    - type: string
                      enum:
                      - vectorsdb.collections.read
                      title: vectorsdb.collections.read
                    - type: string
                      enum:
                      - vectorsdb.collections.write
                      title: vectorsdb.collections.write
                    - type: string
                      enum:
                      - vectorsdb.documents.read
                      title: vectorsdb.documents.read
                    - type: string
                      enum:
                      - vectorsdb.documents.write
                      title: vectorsdb.documents.write
                    - type: string
                      enum:
                      - vectorsdb.indexes.read
                      title: vectorsdb.indexes.read
                    - type: string
                      enum:
                      - vectorsdb.indexes.write
                      title: vectorsdb.indexes.write
                    - type: string
                      enum:
                      - buckets.read
                      title: buckets.read
                    - type: string
                      enum:
                      - buckets.write
                      title: buckets.write
                    - type: string
                      enum:
                      - files.read
                      title: files.read
                    - type: string
                      enum:
                      - files.write
                      title: files.write
                    - type: string
                      enum:
                      - tokens.read
                      title: tokens.read
                    - type: string
                      enum:
                      - tokens.write
                      title: tokens.write
                    - type: string
                      enum:
                      - functions.read
                      title: functions.read
                    - type: string
                      enum:
                      - functions.write
                      title: functions.write
                    - type: string
                      enum:
                      - executions.read
                      title: executions.read
                    - type: string
                      enum:
                      - executions.write
                      title: executions.write
                    - type: string
                      enum:
                      - execution.read
                      title: execution.read
                    - type: string
                      enum:
                      - execution.write
                      title: execution.write
                    - type: string
                      enum:
                      - sites.read
                      title: sites.read
                    - type: string
                      enum:
                      - sites.write
                      title: sites.write
                    - type: string
                      enum:
                      - log.read
                      title: log.read
                    - type: string
                      enum:
                      - log.write
                      title: log.write
                    - type: string
                      enum:
                      - providers.read
                      title: providers.read
                    - type: string
                      enum:
                      - providers.write
                      title: providers.write
                    - type: string
                      enum:
                      - topics.read
                      title: topics.read
                    - type: string
                      enum:
                      - topics.write
                      title: topics.write
                    - type: string
                      enum:
                      - subscribers.read
                      title: subscribers.read
                    - type: string
                      enum:
                      - subscribers.write
                      title: subscribers.write
                    - type: string
                      enum:
                      - targets.read
                      title: targets.read
                    - type: string
                      enum:
                      - targets.write
                      title: targets.write
                    - type: string
                      enum:
                      - messages.read
                      title: messages.read
                    - type: string
                      enum:
                      - messages.write
                      title: messages.write
                    - type: string
                      enum:
                      - rules.read
                      title: rules.read
                    - type: string
                      enum:
                      - rules.write
                      title: rules.write
                    - type: string
                      enum:
                      - webhooks.read
                      title: webhooks.read
                    - type: string
                      enum:
                      - webhooks.write
                      title: webhooks.write
                    - type: string
                      enum:
                      - locale.read
                      title: locale.read
                    - type: string
                      enum:
                      - avatars.read
                      title: avatars.read
                    - type: string
                      enum:
                      - health.read
                      title: health.read
                    - type: string
                      enum:
                      - assistant.read
                      title: assistant.read
                    - type: string
                      enum:
                      - migrations.read
                      title: migrations.read
                    - type: string
                      enum:
                      - migrations.write
                      title: migrations.write
                    - type: string
                      enum:
                      - schedules.read
                      title: schedules.read
                    - type: string
                      enum:
                      - schedules.write
                      title: schedules.write
                    - type: string
                      enum:
                      - vcs.read
                      title: vcs.read
                    - type: string
                      enum:
                      - vcs.write
                      title: vcs.write
                    - type: string
                      enum:
                      - insights.read
                      title: insights.read
                    - type: string
                      enum:
                      - insights.write
                      title: insights.write
                    - type: string
                      enum:
                      - reports.read
                      title: reports.read
                    - type: string
                      enum:
                      - reports.write
                      title: reports.write
                    - type: string
                      enum:
                      - presences.read
                      title: presences.read
                    - type: string
                      enum:
                      - presences.write
                      title: presences.write
                    - type: string
                      enum:
                      - backups.policies.read
                      title: backups.policies.read
                    - type: string
                      enum:
                      - backups.policies.write
                      title: backups.policies.write
                    - type: string
                      enum:
                      - archives.read
                      title: archives.read
                    - type: string
                      enum:
                      - archives.write
                      title: archives.write
                    - type: string
                      enum:
                      - restorations.read
                      title: restorations.read
                    - type: string
                      enum:
                      - restorations.write
                      title: restorations.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - wafRules.read
                      title: wafRules.read
                    - type: string
                      enum:
                      - wafRules.write
                      title: wafRules.write
                    - type: string
                      enum:
                      - events.read
                      title: events.read
                    - type: string
                      enum:
                      - proxy.invalidations.write
                      title: proxy.invalidations.write
                    - type: string
                      enum:
                      - apps.read
                      title: apps.read
                    - type: string
                      enum:
                      - apps.write
                      title: apps.write
                    - type: string
                      enum:
                      - oauth2.read
                      title: oauth2.read
                    - type: string
                      enum:
                      - oauth2.write
                      title: oauth2.write
                    - type: string
                      enum:
                      - oauth2.introspect
                      title: oauth2.introspect
              required:
              - siteId
              - name
              - framework
              - buildRuntime
  /sites/frameworks:
    get:
      summary: List frameworks
      operationId: sitesListFrameworks
      tags:
      - Sites
      description: Get a list of all frameworks that are currently available on the server instance.
      responses:
        '200':
          description: Frameworks List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/frameworkList'
      deprecated: false
      x-appwrite:
        group: frameworks
        demo: sites/list-frameworks.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: public
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
  /sites/specifications:
    get:
      summary: List specifications
      operationId: sitesListSpecifications
      tags:
      - Sites
      description: List allowed site specifications for this instance.
      responses:
        '200':
          description: Specifications List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specificationList'
      deprecated: false
      x-appwrite:
        group: frameworks
        demo: sites/list-specifications.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.read
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: type
        description: 'Specification type to list. Can be one of: runtimes, builds. Defaults to runtimes.'
        required: false
        schema:
          type: string
          example: runtimes
          default: runtimes
        in: query
  /sites/templates:
    get:
      summary: List templates
      operationId: sitesListTemplates
      tags:
      - Sites
      description: List available site templates. You can use template details in createSite method.
      responses:
        '200':
          description: Site Templates List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templateSiteList'
      deprecated: false
      x-appwrite:
        group: templates
        demo: sites/list-templates.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: public
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: frameworks
        description: List of frameworks allowed for filtering site templates. Maximum of 100 frameworks are allowed.
        required: false
        schema:
          type: array
          items:
            title: Framework
            type: string
            oneOf:
            - type: string
              enum:
              - analog
              title: analog
            - type: string
              enum:
              - angular
              title: angular
            - type: string
              enum:
              - nextjs
              title: nextjs
            - type: string
              enum:
              - react
              title: react
            - type: string
              enum:
              - nuxt
              title: nuxt
            - type: string
              enum:
              - vue
              title: vue
            - type: string
              enum:
              - sveltekit
              title: sveltekit
            - type: string
              enum:
              - astro
              title: astro
            - type: string
              enum:
              - tanstack-start
              title: tanstack-start
            - type: string
              enum:
              - remix
              title: remix
            - type: string
              enum:
              - lynx
              title: lynx
            - type: string
              enum:
              - flutter
              title: flutter
            - type: string
              enum:
              - react-native
              title: react-native
            - type: string
              enum:
              - vite
              title: vite
            - type: string
              enum:
              - other
              title: other
          default: []
        in: query
      - name: useCases
        description: List of use cases allowed for filtering site templates. Maximum of 100 use cases are allowed.
        required: false
        schema:
          type: array
          items:
            title: SiteTemplateUseCase
            type: string
            oneOf:
            - type: string
              enum:
              - portfolio
              title: portfolio
            - type: string
              enum:
              - starter
              title: starter
            - type: string
              enum:
              - events
              title: events
            - type: string
              enum:
              - ecommerce
              title: ecommerce
            - type: string
              enum:
              - documentation
              title: documentation
            - type: string
              enum:
              - blog
              title: blog
            - type: string
              enum:
              - ai
              title: ai
            - type: string
              enum:
              - forms
              title: forms
            - type: string
              enum:
              - dashboard
              title: dashboard
          default: []
        in: query
      - name: limit
        description: Limit the number of templates returned in the response. Default limit is 25, and maximum limit is 5000.
        required: false
        schema:
          type: integer
          format: int32
          example: 1
          default: 25
        in: query
      - name: offset
        description: Offset the list of returned templates. Maximum offset is 5000.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
  /sites/templates/{templateId}:
    get:
      summary: Get site template
      operationId: sitesGetTemplate
      tags:
      - Sites
      description: Get a site template using ID. You can use template details in createSite method.
      responses:
        '200':
          description: Template Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templateSite'
      deprecated: false
      x-appwrite:
        group: templates
        demo: sites/get-template.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: public
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: templateId
        description: Template ID.
        required: true
        schema:
          type: string
          example: <TEMPLATE_ID>
        in: path
  /sites/{siteId}:
    get:
      summary: Get site
      operationId: sitesGet
      tags:
      - Sites
      description: Get a site by its unique ID.
      responses:
        '200':
          description: Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site'
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
    put:
      summary: Update site
      operationId: sitesUpdate
      tags:
      - Sites
      description: Update site by its unique ID.
      responses:
        '200':
          description: Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site'
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Site name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                framework:
                  description: Sites framework.
                  type: string
                  example: analog
                  title: Framework
                  oneOf:
                  - type: string
                    enum:
                    - analog
                    title: analog
                  - type: string
                    enum:
                    - angular
                    title: angular
                  - type: string
                    enum:
                    - nextjs
                    title: nextjs
                  - type: string
                    enum:
                    - react
                    title: react
                  - type: string
                    enum:
                    - nuxt
                    title: nuxt
                  - type: string
                    enum:
                    - vue
                    title: vue
                  - type: string
                    enum:
                    - sveltekit
                    title: sveltekit
                  - type: string
                    enum:
                    - astro
                    title: astro
                  - type: string
                    enum:
                    - tanstack-start
                    title: tanstack-start
                  - type: string
                    enum:
                    - remix
                    title: remix
                  - type: string
                    enum:
                    - lynx
                    title: lynx
                  - type: string
                    enum:
                    - flutter
                    title: flutter
                  - type: string
                    enum:
                    - react-native
                    title: react-native
                  - type: string
                    enum:
                    - vite
                    title: vite
                  - type: string
                    enum:
                    - other
                    title: other
                enabled:
                  description: Is site enabled? When set to 'disabled', users cannot access the site but Server SDKs with and API key can still access the site. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                logging:
                  description: When disabled, request logs will exclude logs and errors, and site responses will be slightly faster.
                  type: boolean
                  default: true
                  example: false
                timeout:
                  description: Maximum request time in seconds.
                  type: integer
                  default: 30
                  example: 1
                  format: int32
                installCommand:
                  description: Install Command.
                  type: string
                  default: ''
                  example: <INSTALL_COMMAND>
                buildCommand:
                  description: Build Command.
                  type: string
                  default: ''
                  example: <BUILD_COMMAND>
                startCommand:
                  description: Custom start command. Leave empty to use default.
                  type: string
                  default: ''
                  example: <START_COMMAND>
                outputDirectory:
                  description: Output Directory for site.
                  type: string
                  default: ''
                  example: <OUTPUT_DIRECTORY>
                buildRuntime:
                  description: Runtime to use during build step.
                  type: string
                  example: node-14.5
                  title: BuildRuntime
                  oneOf:
                  - type: string
                    enum:
                    - node-14.5
                    title: node-14.5
                  - type: string
                    enum:
                    - node-16.0
                    title: node-16.0
                  - type: string
                    enum:
                    - node-18.0
                    title: node-18.0
                  - type: string
                    enum:
                    - node-19.0
                    title: node-19.0
                  - type: string
                    enum:
                    - node-20.0
                    title: node-20.0
                  - type: string
                    enum:
                    - node-21.0
                    title: node-21.0
                  - type: string
                    enum:
                    - node-22
                    title: node-22
                  - type: string
                    enum:
                    - node-23
                    title: node-23
                  - type: string
                    enum:
                    - node-24
                    title: node-24
                  - type: string
                    enum:
                    - node-25
                    title: node-25
                  - type: string
                    enum:
                    - node-26
                    title: node-26
                  - type: string
                    enum:
                    - php-8.0
                    title: php-8.0
                  - type: string
                    enum:
                    - php-8.1
                    title: php-8.1
                  - type: string
                    enum:
                    - php-8.2
                    title: php-8.2
                  - type: string
                    enum:
                    - php-8.3
                    title: php-8.3
                  - type: string
                    enum:
                    - php-8.4
                    title: php-8.4
                  - type: string
                    enum:
                    - ruby-3.0
                    title: ruby-3.0
                  - type: string
                    enum:
                    - ruby-3.1
                    title: ruby-3.1
                  - type: string
                    enum:
                    - ruby-3.2
                    title: ruby-3.2
                  - type: string
                    enum:
                    - ruby-3.3
                    title: ruby-3.3
                  - type: string
                    enum:
                    - ruby-3.4
                    title: ruby-3.4
                  - type: string
                    enum:
                    - ruby-4.0
                    title: ruby-4.0
                  - type: string
                    enum:
                    - python-3.8
                    title: python-3.8
                  - type: string
                    enum:
                    - python-3.9
                    title: python-3.9
                  - type: string
                    enum:
                    - python-3.10
                    title: python-3.10
                  - type: string
                    enum:
                    - python-3.11
                    title: python-3.11
                  - type: string
                    enum:
                    - python-3.12
                    title: python-3.12
                  - type: string
                    enum:
                    - python-3.13
                    title: python-3.13
                  - type: string
                    enum:
                    - python-3.14
                    title: python-3.14
                  - type: string
                    enum:
                    - python-ml-3.11
                    title: python-ml-3.11
                  - type: string
                    enum:
                    - python-ml-3.12
                    title: python-ml-3.12
                  - type: string
                    enum:
                    - python-ml-3.13
                    title: python-ml-3.13
                  - type: string
                    enum:
                    - deno-1.21
                    title: deno-1.21
                  - type: string
                    enum:
                    - deno-1.24
                    title: deno-1.24
                  - type: string
                    enum:
                    - deno-1.35
                    title: deno-1.35
                  - type: string
                    enum:
                    - deno-1.40
                    title: deno-1.40
                  - type: string
                    enum:
                    - deno-1.46
                    title: deno-1.46
                  - type: string
                    enum:
                    - deno-2.0
                    title: deno-2.0
                  - type: string
                    enum:
                    - deno-2.5
                    title: deno-2.5
                  - type: string
                    enum:
                    - deno-2.6
                    title: deno-2.6
                  - type: string
                    enum:
                    - dart-2.15
                    title: dart-2.15
                  - type: string
                    enum:
                    - dart-2.16
                    title: dart-2.16
                  - type: string
                    enum:
                    - dart-2.17
                    title: dart-2.17
                  - type: string
                    enum:
                    - dart-2.18
                    title: dart-2.18
                  - type: string
                    enum:
                    - dart-2.19
                    title: dart-2.19
                  - type: string
                    enum:
                    - dart-3.0
                    title: dart-3.0
                  - type: string
                    enum:
                    - dart-3.1
                    title: dart-3.1
                  - type: string
                    enum:
                    - dart-3.3
                    title: dart-3.3
                  - type: string
                    enum:
                    - dart-3.5
                    title: dart-3.5
                  - type: string
                    enum:
                    - dart-3.8
                    title: dart-3.8
                  - type: string
                    enum:
                    - dart-3.9
                    title: dart-3.9
                  - type: string
                    enum:
                    - dart-3.10
                    title: dart-3.10
                  - type: string
                    enum:
                    - dart-3.11
                    title: dart-3.11
                  - type: string
                    enum:
                    - dart-3.12
                    title: dart-3.12
                  - type: string
                    enum:
                    - dart-3.13
                    title: dart-3.13
                  - type: string
                    enum:
                    - dotnet-6.0
                    title: dotnet-6.0
                  - type: string
                    enum:
                    - dotnet-7.0
                    title: dotnet-7.0
                  - type: string
                    enum:
                    - dotnet-8.0
                    title: dotnet-8.0
                  - type: string
                    enum:
                    - dotnet-10
                    title: dotnet-10
                  - type: string
                    enum:
                    - java-8.0
                    title: java-8.0
                  - type: string
                    enum:
                    - java-11.0
                    title: java-11.0
                  - type: string
                    enum:
                    - java-17.0
                    title: java-17.0
                  - type: string
                    enum:
                    - java-18.0
                    title: java-18.0
                  - type: string
                    enum:
                    - java-21.0
                    title: java-21.0
                  - type: string
                    enum:
                    - java-22
                    title: java-22
                  - type: string
                    enum:
                    - java-25
                    title: java-25
                  - type: string
                    enum:
                    - swift-5.5
                    title: swift-5.5
                  - type: string
                    enum:
                    - swift-5.8
                    title: swift-5.8
                  - type: string
                    enum:
                    - swift-5.9
                    title: swift-5.9
                  - type: string
                    enum:
                    - swift-5.10
                    title: swift-5.10
                  - type: string
                    enum:
                    - swift-6.2
                    title: swift-6.2
                  - type: string
                    enum:
                    - kotlin-1.6
                    title: kotlin-1.6
                  - type: string
                    enum:
                    - kotlin-1.8
                    title: kotlin-1.8
                  - type: string
                    enum:
                    - kotlin-1.9
                    title: kotlin-1.9
                  - type: string
                    enum:
                    - kotlin-2.0
                    title: kotlin-2.0
                  - type: string
                    enum:
                    - kotlin-2.3
                    title: kotlin-2.3
                  - type: string
                    enum:
                    - cpp-17
                    title: cpp-17
                  - type: string
                    enum:
                    - cpp-20
                    title: cpp-20
                  - type: string
                    enum:
                    - bun-1.0
                    title: bun-1.0
                  - type: string
                    enum:
                    - bun-1.1
                    title: bun-1.1
                  - type: string
                    enum:
                    - bun-1.2
                    title: bun-1.2
                  - type: string
                    enum:
                    - bun-1.3
                    title: bun-1.3
                  - type: string
                    enum:
                    - bun-1.4
                    title: bun-1.4
                  - type: string
                    enum:
                    - go-1.23
                    title: go-1.23
                  - type: string
                    enum:
                    - go-1.24
                    title: go-1.24
                  - type: string
                    enum:
                    - go-1.25
                    title: go-1.25
                  - type: string
                    enum:
                    - go-1.26
                    title: go-1.26
                  - type: string
                    enum:
                    - rust-1.83
                    title: rust-1.83
                  - type: string
                    enum:
                    - static-1
                    title: static-1
                  - type: string
                    enum:
                    - flutter-3.24
                    title: flutter-3.24
                  - type: string
                    enum:
                    - flutter-3.27
                    title: flutter-3.27
                  - type: string
                    enum:
                    - flutter-3.29
                    title: flutter-3.29
                  - type: string
                    enum:
                    - flutter-3.32
                    title: flutter-3.32
                  - type: string
                    enum:
                    - flutter-3.35
                    title: flutter-3.35
                  - type: string
                    enum:
                    - flutter-3.38
                    title: flutter-3.38
                  - type: string
                    enum:
                    - flutter-3.41
                    title: flutter-3.41
                  - type: string
                    enum:
                    - flutter-3.44
                    title: flutter-3.44
                  - type: string
                    enum:
                    - flutter-3.47
                    title: flutter-3.47
                adapter:
                  description: 'Framework adapter defining rendering strategy. Allowed values are: static, ssr'
                  type: string
                  example: static
                  title: Adapter
                  oneOf:
                  - type: string
                    enum:
                    - static
                    title: static
                  - type: string
                    enum:
                    - ssr
                    title: ssr
                fallbackFile:
                  description: Fallback file for single page application sites.
                  type: string
                  default: ''
                  example: <FALLBACK_FILE>
                installationId:
                  description: Appwrite Installation ID for VCS (Version Control System) deployment.
                  type: string
                  default: ''
                  example: <INSTALLATION_ID>
                providerRepositoryId:
                  description: Repository ID of the repo linked to the site.
                  type: string
                  default: ''
                  example: <PROVIDER_REPOSITORY_ID>
                providerBranch:
                  description: Production branch for the repo linked to the site.
                  type: string
                  default: ''
                  example: <PROVIDER_BRANCH>
                providerSilentMode:
                  description: Is the VCS (Version Control System) connection in silent mode for the repo linked to the site? In silent mode, comments will not be made on commits and pull requests.
                  type: boolean
                  default: false
                  example: false
                providerRootDirectory:
                  description: Path to site code in the linked repo.
                  type: string
                  default: ''
                  example: <PROVIDER_ROOT_DIRECTORY>
                providerBranches:
                  description: List of branch name patterns to trigger automatic deployments. Supports wildcards. Leave empty to deploy on all branches.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                providerPaths:
                  description: List of file path patterns to trigger automatic deployments. Supports wildcards. Leave empty to deploy on all file changes.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                buildSpecification:
                  description: Build specification for the site deployments.
                  type:
                  - string
                  - 'null'
                  example: s-1vcpu-512mb
                runtimeSpecification:
                  description: Runtime specification for the SSR executions.
                  type: string
                  default: {}
                  example: s-1vcpu-512mb
                deploymentRetention:
                  description: Days to keep non-active deployments before deletion. Value 0 means all deployments will be kept.
                  type: integer
                  default: 0
                  example: 0
                  format: int32
                scopes:
                  description: List of scopes allowed for API key auto-generated for every site build and SSR execution. Maximum of 200 scopes are allowed.
                  type:
                  - array
                  - 'null'
                  items:
                    title: ProjectKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - project.read
                      title: project.read
                    - type: string
                      enum:
                      - project.write
                      title: project.write
                    - type: string
                      enum:
                      - usage.read
                      title: usage.read
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                    - type: string
                      enum:
                      - platforms.read
                      title: platforms.read
                    - type: string
                      enum:
                      - platforms.write
                      title: platforms.write
                    - type: string
                      enum:
                      - mocks.read
                      title: mocks.read
                    - type: string
                      enum:
                      - mocks.write
                      title: mocks.write
                    - type: string
                      enum:
                      - policies.read
                      title: policies.read
                    - type: string
                      enum:
                      - policies.write
                      title: policies.write
                    - type: string
                      enum:
                      - project.policies.read
                      title: project.policies.read
                    - type: string
                      enum:
                      - project.policies.write
                      title: project.policies.write
                    - type: string
                      enum:
                      - project.oauth2.read
                      title: project.oauth2.read
                    - type: string
                      enum:
                      - project.oauth2.write
                      title: project.oauth2.write
                    - type: string
                      enum:
                      - templates.read
                      title: templates.read
                    - type: string
                      enum:
                      - templates.write
                      title: templates.write
                    - type: string
                      enum:
                      - stages.read
                      title: stages.read
                    - type: string
                      enum:
                      - stages.write
                      title: stages.write
                    - type: string
                      enum:
                      - users.read
                      title: users.read
                    - type: string
                      enum:
                      - users.write
                      title: users.write
                    - type: string
                      enum:
                      - sessions.read
                      title: sessions.read
                    - type: string
                      enum:
                      - sessions.write
                      title: sessions.write
                    - type: string
                      enum:
                      - teams.read
                      title: teams.read
                    - type: string
                      enum:
                      - teams.write
                      title: teams.write
                    - type: string
                      enum:
                      - databases.read
                      title: databases.read
                    - type: string
                      enum:
                      - databases.write
                      title: databases.write
                    - type: string
                      enum:
                      - tables.read
                      title: tables.read
                    - type: string
                      enum:
                      - tables.write
                      title: tables.write
                    - type: string
                      enum:
                      - columns.read
                      title: columns.read
                    - type: string
                      enum:
                      - columns.write
                      title: columns.write
                    - type: string
                      enum:
                      - indexes.read
                      title: indexes.read
                    - type: string
                      enum:
                      - indexes.write
                      title: indexes.write
                    - type: string
                      enum:
                      - rows.read
                      title: rows.read
                    - type: string
                      enum:
                      - rows.write
                      title: rows.write
                    - type: string
                      enum:
                      - embeddings.write
                      title: embeddings.write
                    - type: string
                      enum:
                      - collections.read
                      title: collections.read
                    - type: string
                      enum:
                      - collections.write
                      title: collections.write
                    - type: string
                      enum:
                      - attributes.read
                      title: attributes.read
                    - type: string
                      enum:
                      - attributes.write
                      title: attributes.write
                    - type: string
                      enum:
                      - documents.read
                      title: documents.read
                    - type: string
                      enum:
                      - documents.write
                      title: documents.write
                    - type: string
                      enum:
                      - documentsdb.read
                      title: documentsdb.read
                    - type: string
                      enum:
                      - documentsdb.write
                      title: documentsdb.write
                    - type: string
                      enum:
                      - documentsdb.collections.read
                      title: documentsdb.collections.read
                    - type: string
                      enum:
                      - documentsdb.collections.write
                      title: documentsdb.collections.write
                    - type: string
                      enum:
                      - documentsdb.documents.read
                      title: documentsdb.documents.read
                    - type: string
                      enum:
                      - documentsdb.documents.write
                      title: documentsdb.documents.write
                    - type: string
                      enum:
                      - documentsdb.indexes.read
                      title: documentsdb.indexes.read
                    - type: string
                      enum:
                      - documentsdb.indexes.write
                      title: documentsdb.indexes.write
                    - type: string
                      enum:
                      - vectorsdb.read
                      title: vectorsdb.read
                    - type: string
                      enum:
                      - vectorsdb.write
                      title: vectorsdb.write
                    - type: string
                      enum:
                      - vectorsdb.collections.read
                      title: vectorsdb.collections.read
                    - type: string
                      enum:
                      - vectorsdb.collections.write
                      title: vectorsdb.collections.write
                    - type: string
                      enum:
                      - vectorsdb.documents.read
                      title: vectorsdb.documents.read
                    - type: string
                      enum:
                      - vectorsdb.documents.write
                      title: vectorsdb.documents.write
                    - type: string
                      enum:
                      - vectorsdb.indexes.read
                      title: vectorsdb.indexes.read
                    - type: string
                      enum:
                      - vectorsdb.indexes.write
                      title: vectorsdb.indexes.write
                    - type: string
                      enum:
                      - buckets.read
                      title: buckets.read
                    - type: string
                      enum:
                      - buckets.write
                      title: buckets.write
                    - type: string
                      enum:
                      - files.read
                      title: files.read
                    - type: string
                      enum:
                      - files.write
                      title: files.write
                    - type: string
                      enum:
                      - tokens.read
                      title: tokens.read
                    - type: string
                      enum:
                      - tokens.write
                      title: tokens.write
                    - type: string
                      enum:
                      - functions.read
                      title: functions.read
                    - type: string
                      enum:
                      - functions.write
                      title: functions.write
                    - type: string
                      enum:
                      - executions.read
                      title: executions.read
                    - type: string
                      enum:
                      - executions.write
                      title: executions.write
                    - type: string
                      enum:
                      - execution.read
                      title: execution.read
                    - type: string
                      enum:
                      - execution.write
                      title: execution.write
                    - type: string
                      enum:
                      - sites.read
                      title: sites.read
                    - type: string
                      enum:
                      - sites.write
                      title: sites.write
                    - type: string
                      enum:
                      - log.read
                      title: log.read
                    - type: string
                      enum:
                      - log.write
                      title: log.write
                    - type: string
                      enum:
                      - providers.read
                      title: providers.read
                    - type: string
                      enum:
                      - providers.write
                      title: providers.write
                    - type: string
                      enum:
                      - topics.read
                      title: topics.read
                    - type: string
                      enum:
                      - topics.write
                      title: topics.write
                    - type: string
                      enum:
                      - subscribers.read
                      title: subscribers.read
                    - type: string
                      enum:
                      - subscribers.write
                      title: subscribers.write
                    - type: string
                      enum:
                      - targets.read
                      title: targets.read
                    - type: string
                      enum:
                      - targets.write
                      title: targets.write
                    - type: string
                      enum:
                      - messages.read
                      title: messages.read
                    - type: string
                      enum:
                      - messages.write
                      title: messages.write
                    - type: string
                      enum:
                      - rules.read
                      title: rules.read
                    - type: string
                      enum:
                      - rules.write
                      title: rules.write
                    - type: string
                      enum:
                      - webhooks.read
                      title: webhooks.read
                    - type: string
                      enum:
                      - webhooks.write
                      title: webhooks.write
                    - type: string
                      enum:
                      - locale.read
                      title: locale.read
                    - type: string
                      enum:
                      - avatars.read
                      title: avatars.read
                    - type: string
                      enum:
                      - health.read
                      title: health.read
                    - type: string
                      enum:
                      - assistant.read
                      title: assistant.read
                    - type: string
                      enum:
                      - migrations.read
                      title: migrations.read
                    - type: string
                      enum:
                      - migrations.write
                      title: migrations.write
                    - type: string
                      enum:
                      - schedules.read
                      title: schedules.read
                    - type: string
                      enum:
                      - schedules.write
                      title: schedules.write
                    - type: string
                      enum:
                      - vcs.read
                      title: vcs.read
                    - type: string
                      enum:
                      - vcs.write
                      title: vcs.write
                    - type: string
                      enum:
                      - insights.read
                      title: insights.read
                    - type: string
                      enum:
                      - insights.write
                      title: insights.write
                    - type: string
                      enum:
                      - reports.read
                      title: reports.read
                    - type: string
                      enum:
                      - reports.write
                      title: reports.write
                    - type: string
                      enum:
                      - presences.read
                      title: presences.read
                    - type: string
                      enum:
                      - presences.write
                      title: presences.write
                    - type: string
                      enum:
                      - backups.policies.read
                      title: backups.policies.read
                    - type: string
                      enum:
                      - backups.policies.write
                      title: backups.policies.write
                    - type: string
                      enum:
                      - archives.read
                      title: archives.read
                    - type: string
                      enum:
                      - archives.write
                      title: archives.write
                    - type: string
                      enum:
                      - restorations.read
                      title: restorations.read
                    - type: string
                      enum:
                      - restorations.write
                      title: restorations.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - wafRules.read
                      title: wafRules.read
                    - type: string
                      enum:
                      - wafRules.write
                      title: wafRules.write
                    - type: string
                      enum:
                      - events.read
                      title: events.read
                    - type: string
                      enum:
                      - proxy.invalidations.write
                      title: proxy.invalidations.write
                    - type: string
                      enum:
                      - apps.read
                      title: apps.read
                    - type: string
                      enum:
                      - apps.write
                      title: apps.write
                    - type: string
                      enum:
                      - oauth2.read
                      title: oauth2.read
                    - type: string
                      enum:
                      - oauth2.write
                      title: oauth2.write
                    - type: string
                      enum:
                      - oauth2.introspect
                      title: oauth2.introspect
              required:
              - name
              - framework
    delete:
      summary: Delete site
      operationId: sitesDelete
      tags:
      - Sites
      description: Delete a site by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
  /sites/{siteId}/deployment:
    patch:
      summary: Update site's deployment
      operationId: sitesUpdateSiteDeployment
      tags:
      - Sites
      description: Update the site active deployment. Use this endpoint to switch the code deployment that should be used when visitor opens your site.
      responses:
        '200':
          description: Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site'
      deprecated: false
      x-appwrite:
        group: sites
        demo: sites/update-site-deployment.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deploymentId:
                  description: Deployment ID.
                  type: string
                  example: <DEPLOYMENT_ID>
              required:
              - deploymentId
  /sites/{siteId}/deployments:
    get:
      summary: List deployments
      operationId: sitesListDeployments
      tags:
      - Sites
      description: Get a list of all the site's code deployments. You can use the query params to filter your results.
      responses:
        '200':
          description: Deployments List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploymentList'
      deprecated: false
      x-appwrite:
        group: deployments
        demo: sites/list-deployments.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: buildSize, sourceSize, totalSize, buildDuration, status, activate, type'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create deployment
      operationId: sitesCreateDeployment
      tags:
      - Sites
      description: Create a new site code deployment. Use this endpoint to upload a new version of your site code. To activate your newly uploaded code, you'll need to update the site's deployment to use your new deployment ID.
      responses:
        '202':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
      deprecated: false
      x-appwrite:
        group: deployments
        demo: sites/create-deployment.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: true
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                installCommand:
                  description: Install Commands.
                  type:
                  - string
                  - 'null'
                  example: <INSTALL_COMMAND>
                buildCommand:
                  description: Build Commands.
                  type:
                  - string
                  - 'null'
                  example: <BUILD_COMMAND>
                outputDirectory:
                  description: Output Directory.
                  type:
                  - string
                  - 'null'
                  example: <OUTPUT_DIRECTORY>
                code:
                  description: Gzip file with your code package. When used with the Appwrite CLI, pass the path to your code directory, and the CLI will automatically package your code. Use a path that is within the current directory.
                  type: string
                  format: binary
                activate:
                  description: Automatically activate the deployment when it is finished building.
                  type: boolean
                  default: false
                  example: false
              required:
              - code
  /sites/{siteId}/deployments/duplicate:
    post:
      summary: Create duplicate deployment
      operationId: sitesCreateDuplicateDeployment
      tags:
      - Sites
      description: Create a new build for an existing site deployment. This endpoint allows you to rebuild a deployment with the updated site configuration, including its commands and output directory if they have been modified. The build process will be queued and executed asynchronously. The original deployment's code will be preserved and used for the new build.
      responses:
        '202':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
      deprecated: false
      x-appwrite:
        group: deployments
        demo: sites/create-duplicate-deployment.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: siteId
        description: Site ID.
        required: true
        schema:
          type: string
          example: <SITE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deploymentId:
                  description: Deployment ID.
                  type: string
                  example: <DEPLOYMENT_ID>
              required:
              - deploymentId
  /sites/{siteId}/deployments/template:
    post:
      summary: Create template deployment
      operationId: sitesCreateTemplateDeployment
      tags:
      - Sites
      description: 'Create a deployment based on a template.


        Use this endpoint with combination of listTemplates to find the template details.'
      responses:
        '202':
          description: Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
      deprecated: false
      x-appwrite:
        group: deployments
        demo: sites/create-template-deployment.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sites.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
[...]
