openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Tables DB API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: tablesDB
  description: The TablesDB service allows you to create structured tables of columns, query and filter lists of rows
paths:
  /tablesdb:
    get:
      summary: List databases
      operationId: tablesDBList
      tags:
      - tablesDB
      description: Get a list of all databases from the current Appwrite project. You can use the search parameter to filter your results.
      responses:
        '200':
          description: Databases List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseList'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following columns: name'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create database
      operationId: tablesDBCreate
      tags:
      - tablesDB
      description: Create a new Database.
      responses:
        '201':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                databaseId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <DATABASE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is the database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                specification:
                  description: Database specification. Defaults to `serverless`, which creates the database on the shared pool. Any other value provisions a dedicated database on that specification.
                  type: string
                  default: serverless
                  example: serverless
                replicas:
                  description: Number of high availability replicas (0-5) for the dedicated database backing this database. Requires a dedicated `specification`; must be 0 for a serverless database. High availability is enabled when greater than 0.
                  type: integer
                  default: 0
                  example: 0
                  format: int32
                syncMode:
                  description: 'Replication sync mode for the dedicated database backing this database. Requires a dedicated `specification`; the mode is only in force once there is at least one replica. Allowed values: async, sync, quorum.'
                  type:
                  - string
                  - 'null'
                  example: async
              required:
              - databaseId
              - name
  /tablesdb/specifications:
    get:
      summary: List specifications
      operationId: tablesDBListSpecifications
      tags:
      - tablesDB
      description: List the dedicated database specifications available on the current plan. Each specification reports its resource limits, its own prices and overage rates, and whether it is enabled for the organization.
      responses:
        '200':
          description: SpecificationList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseSpecificationList'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/list-specifications.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
  /tablesdb/transactions:
    get:
      summary: List transactions
      operationId: tablesDBListTransactions
      tags:
      - tablesDB
      description: List transactions across all databases.
      responses:
        '200':
          description: Transaction List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionList'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/list-transactions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.read
        - rows.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries).
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Create transaction
      operationId: tablesDBCreateTransaction
      tags:
      - tablesDB
      description: Create a new transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/create-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.write
        - rows.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  description: Seconds before the transaction expires.
                  type: integer
                  default: 300
                  example: 60
                  format: int32
  /tablesdb/transactions/{transactionId}:
    get:
      summary: Get transaction
      operationId: tablesDBGetTransaction
      tags:
      - tablesDB
      description: Get a transaction by its unique ID.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/get-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.read
        - rows.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
    patch:
      summary: Update transaction
      operationId: tablesDBUpdateTransaction
      tags:
      - tablesDB
      description: Update a transaction, to either commit or roll back its operations.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/update-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.write
        - rows.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commit:
                  description: Commit transaction?
                  type: boolean
                  default: false
                  example: false
                rollback:
                  description: Rollback transaction?
                  type: boolean
                  default: false
                  example: false
    delete:
      summary: Delete transaction
      operationId: tablesDBDeleteTransaction
      tags:
      - tablesDB
      description: Delete a transaction by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/delete-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.write
        - rows.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
  /tablesdb/transactions/{transactionId}/operations:
    post:
      summary: Create operations
      operationId: tablesDBCreateOperations
      tags:
      - tablesDB
      description: Create multiple operations in a single transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: tablesdb/create-operations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - documents.write
        - rows.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                operations:
                  description: Array of staged operations.
                  type: array
                  default: []
                  example:
                  - action: create
                    databaseId: <DATABASE_ID>
                    tableId: <TABLE_ID>
                    rowId: <ROW_ID>
                    data:
                      name: Walter O'Brien
                  items:
                    type: object
  /tablesdb/{databaseId}:
    get:
      summary: Get database
      operationId: tablesDBGet
      tags:
      - tablesDB
      description: Get a database by its unique ID. This endpoint response returns a JSON object with the database metadata.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
    put:
      summary: Update database
      operationId: tablesDBUpdate
      tags:
      - tablesDB
      description: Update a database by its unique ID.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                specification:
                  description: Database specification. Resizing between dedicated specifications changes cpu, memory, storage and the connection ceiling via a rolling cutover with zero downtime. Moving a `serverless` database onto a dedicated specification is a data migration, not a resize.
                  type:
                  - string
                  - 'null'
                  example: serverless
                replicas:
                  description: Number of high availability replicas (0-5) for the dedicated database backing this database. Only valid when the database is backed by a dedicated specification. High availability is enabled when greater than 0.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int32
                syncMode:
                  description: 'Replication sync mode for the dedicated database backing this database. Only valid when the database is backed by a dedicated specification; the mode is only in force once there is at least one replica. Allowed values: async, sync, quorum.'
                  type:
                  - string
                  - 'null'
                  example: async
    delete:
      summary: Delete database
      operationId: tablesDBDelete
      tags:
      - tablesDB
      description: Delete a database by its unique ID. Only API keys with with databases.write scope can delete a database.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /tablesdb/{databaseId}/failovers:
    post:
      summary: Create failover
      operationId: tablesDBCreateFailover
      tags:
      - tablesDB
      description: Trigger a manual failover for a dedicated database with high availability enabled. Promotes a replica to primary. The failover runs asynchronously; poll the database document for status updates. A database left mid-operation also accepts this call as a repair once nothing is driving the operation it is stuck in. Repairing a failover that did not finish, a `failed` database, a stranded upgrade or migrate, or a stranded compute resize additionally requires `targetReplicaId` to name the member to promote, because the default target may be the member that operation already promoted.
      responses:
        '202':
          description: DedicatedDatabase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabase'
      deprecated: false
      x-appwrite:
        group: failovers
        demo: tablesdb/create-failover.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetReplicaId:
                  description: Target replica ID to promote. If not specified, the healthiest replica is selected.
                  type:
                  - string
                  - 'null'
                  example: <TARGET_REPLICA_ID>
  /tablesdb/{databaseId}/migrations:
    get:
      summary: List migrations
      operationId: tablesDBListMigrations
      tags:
      - tablesDB
      description: List the dedicated migrations for a TablesDB database. A database has at most one in-flight migration.
      responses:
        '200':
          description: Database Migrations List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseMigrationList'
      deprecated: false
      x-appwrite:
        group: migrations
        demo: tablesdb/list-migrations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: migrations.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
    post:
      summary: Create migration
      operationId: tablesDBCreateMigration
      tags:
      - tablesDB
      description: Start migrating a serverless TablesDB database onto a dedicated MySQL compute. Data is copied to the target while the source stays live, with a brief read-only window during cutover.
      responses:
        '201':
          description: Database Migration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseMigration'
      deprecated: false
      x-appwrite:
        group: migrations
        demo: tablesdb/create-migration.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: migrations.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                specification:
                  description: Dedicated compute specification to provision as the migration target (e.g. s-2vcpu-4gb). The migration always targets a dedicated compute, so `serverless` is not accepted.
                  type: string
                  example: s-1vcpu-1gb
                autoCutover:
                  description: Whether to cut over automatically once the copy is verified. When disabled the migration parks at ready_to_cutover and holds there until the cutover is performed manually.
                  type: boolean
                  default: true
                  example: false
              required:
              - specification
  /tablesdb/{databaseId}/migrations/{migrationId}:
    get:
      summary: Get migration
      operationId: tablesDBGetMigration
      tags:
      - tablesDB
      description: Get a single dedicated migration for a TablesDB database by its ID.
      responses:
        '200':
          description: Database Migration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseMigration'
      deprecated: false
      x-appwrite:
        group: migrations
        demo: tablesdb/get-migration.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: migrations.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: migrationId
        description: Migration ID.
        required: true
        schema:
          type: string
          example: <MIGRATION_ID>
        in: path
    delete:
      summary: Delete migration
      operationId: tablesDBDeleteMigration
      tags:
      - tablesDB
      description: Abort an in-flight TablesDB dedicated migration. Only allowed before cutover; once the migration has cut over it cannot be aborted.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: migrations
        demo: tablesdb/delete-migration.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: migrations.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: migrationId
        description: Migration ID.
        required: true
        schema:
          type: string
          example: <MIGRATION_ID>
        in: path
  /tablesdb/{databaseId}/migrations/{migrationId}/cutovers:
    post:
      summary: Cutover migration
      operationId: tablesDBCreateCutover
      tags:
      - tablesDB
      description: 'Cut a verified TablesDB migration over to its dedicated compute. Only applies to a migration created with `autoCutover` disabled, which waits at `ready_to_cutover` until this is called. The routing flip happens shortly after this returns, with a brief read-only window. One call buys one attempt: a cutover that fails a check returns the migration to `verifying` and parks it again, so call this once more to retry.'
      responses:
        '200':
          description: Database Migration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseMigration'
      deprecated: false
      x-appwrite:
        group: migrations
        demo: tablesdb/create-cutover.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: migrations.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: migrationId
        description: Migration ID.
        required: true
        schema:
          type: string
          example: <MIGRATION_ID>
        in: path
  /tablesdb/{databaseId}/operations:
    get:
      summary: List operations
      operationId: tablesDBListOperations
      tags:
      - tablesDB
      description: List the lifecycle operations recorded for a dedicated database, newest first. Every provision, update, restore, backup and replication action is recorded here with its outcome, including an attempt that was abandoned because another worker took over the database.
      responses:
        '200':
          description: OperationList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseOperationList'
      deprecated: false
      x-appwrite:
        group: operations
        demo: tablesdb/list-operations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: status
        description: Filter by operation status.
        required: false
        schema:
          type: string
          example: queued
        in: query
      - name: limit
        description: Maximum number of operations to return.
        required: false
        schema:
          type: integer
          format: int32
          example: 1
          default: 25
        in: query
      - name: offset
        description: Number of operations to skip.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
  /tablesdb/{databaseId}/replicas:
    get:
      summary: Get replicas
      operationId: tablesDBGetReplicas
      tags:
      - tablesDB
      description: Get high availability status for a dedicated database. Returns replica statuses, replication lag, and sync mode.
      responses:
        '200':
          description: Replicas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseReplicas'
      deprecated: false
      x-appwrite:
        group: replicas
        demo: tablesdb/get-replicas.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /tablesdb/{databaseId}/status:
    get:
      summary: Get status
      operationId: tablesDBGetStatus
      tags:
      - tablesDB
      description: Get real-time health and status information for a dedicated database. Returns health status, readiness, uptime, connection info, replica status, and volume information.
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseStatus'
      deprecated: false
      x-appwrite:
        group: tablesdb
        demo: tablesdb/get-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /tablesdb/{databaseId}/tables:
    get:
      summary: List tables
      operationId: tablesDBListTables
      tags:
      - tablesDB
      description: Get a list of all tables that belong to the provided databaseId. You can use the search parameter to filter your results.
      responses:
        '200':
          description: Tables List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tableList'
      deprecated: false
      x-appwrite:
        group: tables
        demo: tablesdb/list-tables.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.read
        - collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following columns: name, enabled, rowSecurity'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create table
      operationId: tablesDBCreateTable
      tags:
      - tablesDB
      description: Create a new Table. Before using this route, you should create a new database resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: Table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table'
      deprecated: false
      x-appwrite:
        group: tables
        demo: tablesdb/create-table.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tableId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <TABLE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Table name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permissions strings. By default, no user is granted with any permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                rowSecurity:
                  description: Enables configuring permissions for individual rows. A user needs one of row or table level permissions to access a row. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is table enabled? When set to 'disabled', users cannot access the table but Server SDKs with and API key can still read and write to the table. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                columns:
                  description: 'Array of column definitions to create. Each column should contain: key (string), type (string: string, varchar, text, mediumtext, longtext, integer, bigint, double, boolean, datetime, point, linestring, polygon, email, url, ip, enum), size (integer, required for string and varchar types), required (boolean, optional), default (mixed, optional), array (boolean, optional), and type-specific options.'
                  type: array
                  default: []
                  items:
                    type: object
                indexes:
                  description: 'Array of index definitions to create. Each index should contain: key (string), type (string: key, fulltext, unique, spatial), attributes (array of column keys), orders (array of ASC/DESC, optional), and lengths (array of integers, optional).'
                  type: array
                  default: []
                  items:
                    type: object
              required:
              - tableId
              - name
  /tablesdb/{databaseId}/tables/{tableId}:
    get:
      summary: Get table
      operationId: tablesDBGetTable
      tags:
      - tablesDB
      description: Get a table by its unique ID. This endpoint response returns a JSON object with the table metadata.
      responses:
        '200':
          description: Table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table'
      deprecated: false
      x-appwrite:
        group: tables
        demo: tablesdb/get-table.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.read
        - collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
    put:
      summary: Update table
      operationId: tablesDBUpdateTable
      tags:
      - tablesDB
      description: Update a table by its unique ID.
      responses:
        '200':
          description: Table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table'
      deprecated: false
      x-appwrite:
        group: tables
        demo: tablesdb/update-table.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Table name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permission strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                rowSecurity:
                  description: Enables configuring permissions for individual rows. A user needs one of row or table-level permissions to access a row. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is table enabled? When set to 'disabled', users cannot access the table but Server SDKs with and API key can still read and write to the table. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                purge:
                  description: When true, purge all cached list responses for this table as part of the update. Use this to force readers to see fresh data immediately instead of waiting for the cache TTL to expire.
                  type: boolean
                  default: false
                  example: false
    delete:
      summary: Delete table
      operationId: tablesDBDeleteTable
      tags:
      - tablesDB
      description: Delete a table by its unique ID. Only users with write permissions have access to delete this resource.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: tables
        demo: tablesdb/delete-table.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
  /tablesdb/{databaseId}/tables/{tableId}/columns:
    get:
      summary: List columns
      operationId: tablesDBListColumns
      tags:
      - tablesDB
      description: List columns in the table.
      responses:
        '200':
          description: Columns List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnList'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/list-columns.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.read
        - collections.read
        - columns.read
        - attributes.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following columns: key, type, size, required, array, status, error'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /tablesdb/{databaseId}/tables/{tableId}/columns/bigint:
    post:
      summary: Create bigint column
      operationId: tablesDBCreateBigIntColumn
      tags:
      - tablesDB
      description: Create a bigint column. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: ColumnBigInt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnBigint'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-big-int-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 1000000
                  format: int64
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/bigint/{key}:
    patch:
      summary: Update bigint column
      operationId: tablesDBUpdateBigIntColumn
      tags:
      - tablesDB
      description: Update a bigint column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnBigInt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnBigint'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-big-int-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 1000000
                  format: int64
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/boolean:
    post:
      summary: Create boolean column
      operationId: tablesDBCreateBooleanColumn
      tags:
      - tablesDB
      description: Create a boolean column.
      responses:
        '202':
          description: ColumnBoolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnBoolean'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-boolean-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the Database service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - boolean
                  - 'null'
                  example: false
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/boolean/{key}:
    patch:
      summary: Update boolean column
      operationId: tablesDBUpdateBooleanColumn
      tags:
      - tablesDB
      description: Update a boolean column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnBoolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnBoolean'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-boolean-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the Database service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - boolean
                  - 'null'
                  example: false
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/datetime:
    post:
      summary: Create datetime column
      operationId: tablesDBCreateDatetimeColumn
      tags:
      - tablesDB
      description: Create a date time column according to the ISO 8601 standard.
      responses:
        '202':
          description: ColumnDatetime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnDatetime'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-datetime-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for the column in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/datetime/{key}:
    patch:
      summary: Update datetime column
      operationId: tablesDBUpdateDatetimeColumn
      tags:
      - tablesDB
      description: Update a date time column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnDatetime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnDatetime'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-datetime-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/email:
    post:
      summary: Create email column
      operationId: tablesDBCreateEmailColumn
      tags:
      - tablesDB
      description: Create an email column.
      responses:
        '202':
          description: ColumnEmail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnEmail'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-email-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: email@example.com
                  format: email
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/email/{key}:
    patch:
      summary: Update email column
      operationId: tablesDBUpdateEmailColumn
      tags:
      - tablesDB
      description: Update an email column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnEmail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnEmail'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-email-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: email@example.com
                  format: email
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/enum:
    post:
      summary: Create enum column
      operationId: tablesDBCreateEnumColumn
      tags:
      - tablesDB
      description: Create an enumeration column. The `elements` param acts as a white-list of accepted values for this column.
      responses:
        '202':
          description: ColumnEnum
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnEnum'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-enum-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                elements:
                  description: Array of enum values.
                  type: array
                  example:
                  - active
                  - inactive
                  items:
                    type: string
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: active
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - elements
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/enum/{key}:
    patch:
      summary: Update enum column
      operationId: tablesDBUpdateEnumColumn
      tags:
      - tablesDB
      description: Update an enum column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnEnum
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnEnum'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-enum-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                elements:
                  description: Updated list of enum values.
                  type: array
                  example:
                  - active
                  - inactive
                  items:
                    type: string
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: active
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - elements
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/float:
    post:
      summary: Create float column
      operationId: tablesDBCreateFloatColumn
      tags:
      - tablesDB
      description: Create a float column. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: ColumnFloat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnFloat'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-float-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - number
                  - 'null'
                  example: 0
                  format: float
                max:
                  description: Maximum value
                  type:
                  - number
                  - 'null'
                  example: 100
                  format: float
                default:
                  description: Default value. Cannot be set when required.
                  type:
                  - number
                  - 'null'
                  example: 10.5
                  format: float
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/float/{key}:
    patch:
      summary: Update float column
      operationId: tablesDBUpdateFloatColumn
      tags:
      - tablesDB
      description: Update a float column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnFloat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnFloat'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-float-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - number
                  - 'null'
                  example: 0
                  format: float
                max:
                  description: Maximum value
                  type:
                  - number
                  - 'null'
                  example: 100
                  format: float
                default:
                  description: Default value. Cannot be set when required.
                  type:
                  - number
                  - 'null'
                  example: 10.5
                  format: float
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/integer:
    post:
      summary: Create integer column
      operationId: tablesDBCreateIntegerColumn
      tags:
      - tablesDB
      description: Create an integer column. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: ColumnInteger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnInteger'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-integer-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 100
                  format: int64
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - integer
                  - 'null'
                  example: 10
                  format: int64
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/integer/{key}:
    patch:
      summary: Update integer column
      operationId: tablesDBUpdateIntegerColumn
      tags:
      - tablesDB
      description: Update an integer column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnInteger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnInteger'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-integer-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 100
                  format: int64
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - integer
                  - 'null'
                  example: 10
                  format: int64
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/ip:
    post:
      summary: Create IP address column
      operationId: tablesDBCreateIpColumn
      tags:
      - tablesDB
      description: Create IP address column.
      responses:
        '202':
          description: ColumnIP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnIp'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-ip-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: 192.0.2.0
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/ip/{key}:
    patch:
      summary: Update IP address column
      operationId: tablesDBUpdateIpColumn
      tags:
      - tablesDB
      description: Update an ip column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnIP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnIp'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-ip-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID.
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: 192.0.2.0
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/line:
    post:
      summary: Create line column
      operationId: tablesDBCreateLineColumn
      tags:
      - tablesDB
      description: Create a geometric line column.
      responses:
        '202':
          description: ColumnLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnLine'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-line-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the TablesDB service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided, two-dimensional array of coordinate pairs, [[longitude, latitude], [longitude, latitude], …], listing the vertices of the line in order. Cannot be set when column is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - - 1
                    - 2
                  - - 3
                    - 4
                  - - 5
                    - 6
                  items:
                    type: array
                    items:
                      type: number
                      format: double
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/line/{key}:
    patch:
      summary: Update line column
      operationId: tablesDBUpdateLineColumn
      tags:
      - tablesDB
      description: Update a line column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnLine'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-line-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the TablesDB service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided, two-dimensional array of coordinate pairs, [[longitude, latitude], [longitude, latitude], …], listing the vertices of the line in order. Cannot be set when column is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - - 1
                    - 2
                  - - 3
                    - 4
                  - - 5
                    - 6
                  items:
                    type: array
                    items:
                      type: number
                      format: double
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/longtext:
    post:
      summary: Create longtext column
      operationId: tablesDBCreateLongtextColumn
      tags:
      - tablesDB
      description: Create a longtext column.
      responses:
        '202':
          description: ColumnLongtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnLongtext'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/create-longtext-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the Database service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Column Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                array:
                  description: Is column an array?
                  type: boolean
                  default: false
                  example: false
                encrypt:
                  description: Toggle encryption for the column. Encryption enhances security by not storing any plain text values in the database. However, encrypted columns cannot be queried.
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /tablesdb/{databaseId}/tables/{tableId}/columns/longtext/{key}:
    patch:
      summary: Update longtext column
      operationId: tablesDBUpdateLongtextColumn
      tags:
      - tablesDB
      description: Update a longtext column. Changing the `default` value will not update already existing rows.
      responses:
        '200':
          description: ColumnLongtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/columnLongtext'
      deprecated: false
      x-appwrite:
        group: columns
        demo: tablesdb/update-longtext-column.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - tables.write
        - collections.write
        - columns.write
        - attributes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: tableId
        description: Table ID. You can create a new table using the Database service [server integration](https://appwrite.io/docs/references/cloud/server-dart/tablesDB#createTable).
        required: true
        schema:
          type: string
          example: <TABLE_ID>
        in: path
      - name: key
        description: Column Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is column required?
                  type: boolean
                  example: false
                default:
                  description: Default value for column when not provided. Cannot be set when column is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                newKey:
                  description: New Column Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /tablesdb/{databaseId}/tables/{tableId}/columns/mediumtext:
    post:
      summary: Create mediumtext column
      operationId: tablesDBCreateMediumtextColumn
      tags:
      - tablesDB
      description: Create a mediumtext column.
      responses:
        '202':
          description: ColumnMediumtext
          content:
[...]
