openapi: 3.0.3
info:
  title: Appwrite Account Storage API
  description: The Appwrite REST API provides programmatic access to backend services for web and mobile applications, including user authentication, databases, file storage, cloud functions, real-time messaging, and team management. Appwrite is open source and can be self-hosted or used via Appwrite Cloud.
  version: 1.6.0
  contact:
    name: Appwrite
    url: https://appwrite.io/docs
  license:
    name: BSD 3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud API
security:
- projectKey: []
tags:
- name: Storage
  description: File storage management
paths:
  /storage/buckets:
    get:
      operationId: listBuckets
      summary: Appwrite - List Buckets
      description: Returns a list of all storage buckets in the Appwrite project
      tags:
      - Storage
      responses:
        '200':
          description: A list of storage buckets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of buckets
                  buckets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bucket'
              examples:
                ListBucketsExample:
                  x-microcks-default: true
                  summary: Example buckets list
                  value:
                    total: 1
                    buckets:
                    - $id: avatars
                      name: User Avatars
                      createdAt: '2026-01-01T00:00:00Z'
        '401':
          description: Unauthorized - invalid or missing API key
components:
  schemas:
    Bucket:
      title: Bucket
      description: An Appwrite storage bucket for managing files
      type: object
      properties:
        $id:
          type: string
          description: Unique bucket identifier
        name:
          type: string
          description: Bucket name
        createdAt:
          type: string
          format: date-time
          description: Bucket creation timestamp
        maximumFileSize:
          type: integer
          description: Maximum file size in bytes
        allowedFileExtensions:
          type: array
          items:
            type: string
          description: Allowed file extensions (empty = all allowed)
  securitySchemes:
    projectKey:
      type: apiKey
      in: header
      name: X-Appwrite-Project
