openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Vectors DB API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: vectorsDB
  description: ''
paths:
  /vectorsdb:
    get:
      summary: List databases
      operationId: vectorsDBList
      tags:
      - vectorsDB
      description: Get a list of all databases from the current Appwrite project. You can use the search parameter to filter your results.
      responses:
        '200':
          description: Databases List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseList'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following columns: name'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create database
      operationId: vectorsDBCreate
      tags:
      - vectorsDB
      description: Create a new Database.
      responses:
        '201':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                databaseId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <DATABASE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is the database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                specification:
                  description: Database specification. Defaults to `serverless`, which creates the database on the shared pool. Any other value provisions a dedicated database on that specification.
                  type: string
                  default: serverless
                  example: serverless
                replicas:
                  description: Number of high availability replicas (0-5) for the dedicated database backing this database. Requires a dedicated `specification`; must be 0 for a serverless database. High availability is enabled when greater than 0.
                  type: integer
                  default: 0
                  example: 0
                  format: int32
                syncMode:
                  description: 'Replication sync mode for the dedicated database backing this database. Requires a dedicated `specification`; the mode is only in force once there is at least one replica. Allowed values: async, sync, quorum.'
                  type:
                  - string
                  - 'null'
                  example: async
              required:
              - databaseId
              - name
  /vectorsdb/specifications:
    get:
      summary: List specifications
      operationId: vectorsDBListSpecifications
      tags:
      - vectorsDB
      description: List the dedicated database specifications available on the current plan. Each specification reports its resource limits, its own prices and overage rates, and whether it is enabled for the organization.
      responses:
        '200':
          description: SpecificationList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseSpecificationList'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/list-specifications.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
  /vectorsdb/transactions:
    get:
      summary: List transactions
      operationId: vectorsDBListTransactions
      tags:
      - vectorsDB
      description: List transactions across all databases.
      responses:
        '200':
          description: Transaction List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionList'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/list-transactions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries).
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Create transaction
      operationId: vectorsDBCreateTransaction
      tags:
      - vectorsDB
      description: Create a new transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/create-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  description: Seconds before the transaction expires.
                  type: integer
                  default: 300
                  example: 60
                  format: int32
  /vectorsdb/transactions/{transactionId}:
    get:
      summary: Get transaction
      operationId: vectorsDBGetTransaction
      tags:
      - vectorsDB
      description: Get a transaction by its unique ID.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/get-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
    patch:
      summary: Update transaction
      operationId: vectorsDBUpdateTransaction
      tags:
      - vectorsDB
      description: Update a transaction, to either commit or roll back its operations.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/update-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commit:
                  description: Commit transaction?
                  type: boolean
                  default: false
                  example: false
                rollback:
                  description: Rollback transaction?
                  type: boolean
                  default: false
                  example: false
    delete:
      summary: Delete transaction
      operationId: vectorsDBDeleteTransaction
      tags:
      - vectorsDB
      description: Delete a transaction by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/delete-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
  /vectorsdb/transactions/{transactionId}/operations:
    post:
      summary: Create operations
      operationId: vectorsDBCreateOperations
      tags:
      - vectorsDB
      description: Create multiple operations in a single transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: false
      x-appwrite:
        group: transactions
        demo: vectorsdb/create-operations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                operations:
                  description: Array of staged operations.
                  type: array
                  default: []
                  example:
                  - action: create
                    databaseId: <DATABASE_ID>
                    collectionId: <COLLECTION_ID>
                    documentId: <DOCUMENT_ID>
                    data:
                      name: Walter O'Brien
                  items:
                    type: object
  /vectorsdb/{databaseId}:
    get:
      summary: Get database
      operationId: vectorsDBGet
      tags:
      - vectorsDB
      description: Get a database by its unique ID. This endpoint response returns a JSON object with the database metadata.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
    put:
      summary: Update database
      operationId: vectorsDBUpdate
      tags:
      - vectorsDB
      description: Update a database by its unique ID.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                specification:
                  description: Database specification. Resizing between dedicated specifications changes cpu, memory, storage and the connection ceiling via a rolling cutover with zero downtime. Moving a `serverless` database onto a dedicated specification is a data migration, not a resize.
                  type:
                  - string
                  - 'null'
                  example: serverless
                replicas:
                  description: Number of high availability replicas (0-5) for the dedicated database backing this database. Only valid when the database is backed by a dedicated specification. High availability is enabled when greater than 0.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int32
                syncMode:
                  description: 'Replication sync mode for the dedicated database backing this database. Only valid when the database is backed by a dedicated specification; the mode is only in force once there is at least one replica. Allowed values: async, sync, quorum.'
                  type:
                  - string
                  - 'null'
                  example: async
              required:
              - name
    delete:
      summary: Delete database
      operationId: vectorsDBDelete
      tags:
      - vectorsDB
      description: Delete a database by its unique ID. Only API keys with with databases.write scope can delete a database.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /vectorsdb/{databaseId}/collections:
    get:
      summary: List collections
      operationId: vectorsDBListCollections
      tags:
      - vectorsDB
      description: Get a list of all collections that belong to the provided databaseId. You can use the search parameter to filter your results.
      responses:
        '200':
          description: VectorsDB Collections List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorsdbCollectionList'
      deprecated: false
      x-appwrite:
        group: collections
        demo: vectorsdb/list-collections.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, enabled, documentSecurity'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create collection
      operationId: vectorsDBCreateCollection
      tags:
      - vectorsDB
      description: Create a new Collection. Before using this route, you should create a new database resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: VectorsDB Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorsdbCollection'
      deprecated: false
      x-appwrite:
        group: collections
        demo: vectorsdb/create-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                collectionId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <COLLECTION_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Collection name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                dimension:
                  description: Embedding dimension.
                  type: integer
                  example: 1
                  format: int32
                permissions:
                  description: An array of permissions strings. By default, no user is granted with any permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: array
                  example:
                  - read("any")
                  items:
                    type: string
                documentSecurity:
                  description: Enables configuring permissions for individual documents. A user needs one of document or collection level permissions to access a document. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is collection enabled? When set to 'disabled', users cannot access the collection but Server SDKs with and API key can still read and write to the collection. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
              required:
              - collectionId
              - name
              - dimension
  /vectorsdb/{databaseId}/collections/{collectionId}:
    get:
      summary: Get collection
      operationId: vectorsDBGetCollection
      tags:
      - vectorsDB
      description: Get a collection by its unique ID. This endpoint response returns a JSON object with the collection metadata.
      responses:
        '200':
          description: VectorsDB Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorsdbCollection'
      deprecated: false
      x-appwrite:
        group: collections
        demo: vectorsdb/get-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
    put:
      summary: Update collection
      operationId: vectorsDBUpdateCollection
      tags:
      - vectorsDB
      description: Update a collection by its unique ID.
      responses:
        '200':
          description: VectorsDB Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorsdbCollection'
      deprecated: false
      x-appwrite:
        group: collections
        demo: vectorsdb/update-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Collection name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                dimension:
                  description: Embedding dimensions.
                  type: integer
                  example: 1
                  format: int32
                permissions:
                  description: An array of permission strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: array
                  example:
                  - read("any")
                  items:
                    type: string
                documentSecurity:
                  description: Enables configuring permissions for individual documents. A user needs one of document or collection level permissions to access a document. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is collection enabled? When set to 'disabled', users cannot access the collection but Server SDKs with and API key can still read and write to the collection. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
              required:
              - name
    delete:
      summary: Delete collection
      operationId: vectorsDBDeleteCollection
      tags:
      - vectorsDB
      description: Delete a collection by its unique ID. Only users with write permissions have access to delete this resource.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: collections
        demo: vectorsdb/delete-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
  /vectorsdb/{databaseId}/collections/{collectionId}/documents:
    get:
      summary: List documents
      operationId: vectorsDBListDocuments
      tags:
      - vectorsDB
      description: Get a list of all the user's documents in a given collection. You can use the query params to filter your results.
      responses:
        '200':
          description: Documents List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentList'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/list-documents.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 524288 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: transactionId
        description: Transaction ID to read uncommitted changes within the transaction.
        required: false
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
      - name: ttl
        description: TTL (seconds) for cached responses when caching is enabled for select queries. Must be between 0 and 86400 (24 hours).
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
    post:
      summary: Create document
      operationId: vectorsDBCreateDocument
      tags:
      - vectorsDB
      description: Create a new Document. Before using this route, you should create a new collection resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/create-document.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        methods:
        - name: createDocument
          namespace: vectorsDB
          platforms:
          - console
          - client
          - server
          desc: Create document
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - databaseId
          - collectionId
          - documentId
          - data
          - permissions
          - transactionId
          required:
          - databaseId
          - collectionId
          - documentId
          - data
          responses:
          - code: 201
            model: '#/components/schemas/document'
          description: Create a new Document. Before using this route, you should create a new collection resource using either a [server integration](https://appwrite.io/docs/server/databases#documentsDBCreateCollection) API or directly from your database console.
          demo: vectorsdb/create-document.md
          public: true
        - name: createDocuments
          namespace: vectorsDB
          platforms:
          - console
          - server
          desc: Create documents
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          - collectionId
          - documents
          - transactionId
          required:
          - databaseId
          - collectionId
          - documents
          responses:
          - code: 201
            model: '#/components/schemas/documentList'
          description: Create new Documents. Before using this route, you should create a new collection resource using either a [server integration](https://appwrite.io/docs/server/databases#documentsDBCreateCollection) API or directly from your database console.
          demo: vectorsdb/create-documents.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection). Make sure to define attributes before creating documents.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documentId:
                  description: Document ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <DOCUMENT_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                data:
                  description: Document data as JSON object.
                  type: object
                  default: {}
                  example:
                    embeddings:
                    - 0.12
                    - -0.55
                    - 0.88
                    - 1.02
                    metadata:
                      key: value
                permissions:
                  description: An array of permissions strings. By default, only the current user is granted all permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: array
                  example:
                  - read("any")
                  items:
                    type: string
                documents:
                  description: Array of documents data as JSON objects.
                  type: array
                  default: []
                  items:
                    type: object
                transactionId:
                  description: Transaction ID for staging the operation.
                  type: string
                  example: <TRANSACTION_ID>
              required:
              - documentId
              - data
    put:
      summary: Upsert documents
      operationId: vectorsDBUpsertDocuments
      tags:
      - vectorsDB
      description: Create or update Documents. Before using this route, you should create a new collection resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: Documents List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentList'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/upsert-documents.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        methods:
        - name: upsertDocuments
          namespace: vectorsDB
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          - collectionId
          - documents
          - transactionId
          required:
          - databaseId
          - collectionId
          - documents
          responses:
          - code: 201
            model: '#/components/schemas/documentList'
          description: 'Create or update Documents. Before using this route, you should create a new collection resource using either a [server integration](https://appwrite.io/docs/server/databases#documentsDBCreateCollection) API or directly from your database console.

            '
          demo: vectorsdb/upsert-documents.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documents:
                  description: Array of document data as JSON objects. May contain partial documents.
                  type: array
                  items:
                    type: object
                transactionId:
                  description: Transaction ID for staging the operation.
                  type: string
                  example: <TRANSACTION_ID>
              required:
              - documents
    patch:
      summary: Update documents
      operationId: vectorsDBUpdateDocuments
      tags:
      - vectorsDB
      description: Update all documents that match your queries, if no queries are submitted then all documents are updated. You can pass only specific fields to be updated.
      responses:
        '200':
          description: Documents List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentList'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/update-documents.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: Document data as JSON object. Include only attribute and value pairs to be updated.
                  type: object
                  default: {}
                  example: {}
                queries:
                  description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                transactionId:
                  description: Transaction ID for staging the operation.
                  type: string
                  example: <TRANSACTION_ID>
    delete:
      summary: Delete documents
      operationId: vectorsDBDeleteDocuments
      tags:
      - vectorsDB
      description: Bulk delete documents using queries, if no queries are passed then all documents are deleted.
      responses:
        '200':
          description: Documents List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentList'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/delete-documents.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: transactionId
        description: Transaction ID for staging the operation.
        required: false
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: query
  /vectorsdb/{databaseId}/collections/{collectionId}/documents/query:
    post:
      summary: Create query
      operationId: vectorsDBCreateQuery
      tags:
      - vectorsDB
      description: Get a list of all the user's documents in a given collection using a POST request. This behaves identically to the list documents endpoint but accepts the queries in the request body, allowing much larger `queries` arrays than can fit in a URL query string.
      responses:
        '200':
          description: Documents List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentList'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/create-query.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                queries:
                  description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 524288 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                transactionId:
                  description: Transaction ID to read uncommitted changes within the transaction.
                  type: string
                  example: <TRANSACTION_ID>
                total:
                  description: When set to false, the total count returned will be 0 and will not be calculated.
                  type: boolean
                  default: true
                  example: false
                ttl:
                  description: TTL (seconds) for cached responses when caching is enabled for select queries. Must be between 0 and 86400 (24 hours).
                  type: integer
                  default: 0
                  example: 0
                  format: int32
  /vectorsdb/{databaseId}/collections/{collectionId}/documents/{documentId}:
    get:
      summary: Get document
      operationId: vectorsDBGetDocument
      tags:
      - vectorsDB
      description: Get a document by its unique ID. This endpoint response returns a JSON object with the document data.
      responses:
        '200':
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/get-document.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.documents.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: documentId
        description: Document ID.
        required: true
        schema:
          type: string
          example: <DOCUMENT_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: transactionId
        description: Transaction ID to read uncommitted changes within the transaction.
        required: false
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: query
    put:
      summary: Upsert a document
      operationId: vectorsDBUpsertDocument
      tags:
      - vectorsDB
      description: Create or update a Document. Before using this route, you should create a new collection resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/upsert-document.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        methods:
        - name: upsertDocument
          namespace: vectorsDB
          platforms:
          - console
          - client
          - server
          desc: ''
          auth:
            console:
              Project: []
            client:
              Project: []
            server:
              Project: []
              Session: []
          parameters:
          - databaseId
          - collectionId
          - documentId
          - data
          - permissions
          - transactionId
          required:
          - databaseId
          - collectionId
          - documentId
          responses:
          - code: 201
            model: '#/components/schemas/document'
          description: Create or update a Document. Before using this route, you should create a new collection resource using either a [server integration](https://appwrite.io/docs/server/databases#documentsDBCreateCollection) API or directly from your database console.
          demo: vectorsdb/upsert-document.md
          public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: documentId
        description: Document ID.
        required: true
        schema:
          type: string
          x-appwrite:
            idGenerator: ID.unique
          example: <DOCUMENT_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: Document data as JSON object. Include all required fields of the document to be created or updated.
                  type: object
                  default: {}
                  example: {}
                permissions:
                  description: An array of permissions strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: array
                  example:
                  - read("any")
                  items:
                    type: string
                transactionId:
                  description: Transaction ID for staging the operation.
                  type: string
                  example: <TRANSACTION_ID>
    patch:
      summary: Update document
      operationId: vectorsDBUpdateDocument
      tags:
      - vectorsDB
      description: Update a document by its unique ID. Using the patch method you can pass only specific fields that will get updated.
      responses:
        '200':
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/update-document.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: documentId
        description: Document ID.
        required: true
        schema:
          type: string
          example: <DOCUMENT_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: Document data as JSON object. Include only fields and value pairs to be updated.
                  type: object
                  default: {}
                  example: {}
                permissions:
                  description: An array of permissions strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: array
                  example:
                  - read("any")
                  items:
                    type: string
                transactionId:
                  description: Transaction ID for staging the operation.
                  type: string
                  example: <TRANSACTION_ID>
    delete:
      summary: Delete document
      operationId: vectorsDBDeleteDocument
      tags:
      - vectorsDB
      description: Delete a document by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: documents
        demo: vectorsdb/delete-document.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: vectorsdb.documents.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: documentId
        description: Document ID.
        required: true
        schema:
          type: string
          example: <DOCUMENT_ID>
        in: path
      - name: transactionId
        description: Transaction ID for staging the operation.
        required: false
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: query
  /vectorsdb/{databaseId}/collections/{collectionId}/indexes:
    get:
      summary: List indexes
      operationId: vectorsDBListIndexes
      tags:
      - vectorsDB
      description: List indexes in the collection.
      responses:
        '200':
          description: Indexes List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/indexList'
      deprecated: false
      x-appwrite:
        group: indexes
        demo: vectorsdb/list-indexes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.indexes.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: key, type, status, attributes, error'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create index
      operationId: vectorsDBCreateIndex
      tags:
      - vectorsDB
      description: 'Creates an index on the attributes listed. Your index should include all the attributes you will query in a single request.

        Attributes can be `key`, `fulltext`, and `unique`.'
      responses:
        '202':
          description: Index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/index'
      deprecated: false
      x-appwrite:
        group: indexes
        demo: vectorsdb/create-index.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.indexes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Index Key.
                  type: string
                  example: <KEY>
                type:
                  description: Index type.
                  type: string
                  example: hnsw_euclidean
                  title: VectorsDBIndexType
                  oneOf:
                  - type: string
                    enum:
                    - hnsw_euclidean
                    title: hnsw_euclidean
                  - type: string
                    enum:
                    - hnsw_dot
                    title: hnsw_dot
                  - type: string
                    enum:
                    - hnsw_cosine
                    title: hnsw_cosine
                  - type: string
                    enum:
                    - object
                    title: object
                  - type: string
                    enum:
                    - key
                    title: key
                  - type: string
                    enum:
                    - unique
                    title: unique
                attributes:
                  description: Array of attributes to index. Maximum of 100 attributes are allowed, each 32 characters long.
                  type: array
                  items:
                    type: string
                orders:
                  description: Array of index orders. Maximum of 100 orders are allowed.
                  type: array
                  default: []
                  items:
                    title: OrderBy
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - asc
                      title: asc
                    - type: string
                      enum:
                      - desc
                      title: desc
                lengths:
                  description: Length of index. Maximum of 100
                  type: array
                  default: []
                  items:
                    type: integer
              required:
              - key
              - type
              - attributes
  /vectorsdb/{databaseId}/collections/{collectionId}/indexes/{key}:
    get:
      summary: Get index
      operationId: vectorsDBGetIndex
      tags:
      - vectorsDB
      description: Get index by ID.
      responses:
        '200':
          description: Index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/index'
      deprecated: false
      x-appwrite:
        group: indexes
        demo: vectorsdb/get-index.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.indexes.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Index Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
    delete:
      summary: Delete index
      operationId: vectorsDBDeleteIndex
      tags:
      - vectorsDB
      description: Delete an index.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: indexes
        demo: vectorsdb/delete-index.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: vectorsdb.indexes.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Index Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
  /vectorsdb/{databaseId}/failovers:
    post:
      summary: Create failover
      operationId: vectorsDBCreateFailover
      tags:
      - vectorsDB
      description: Trigger a manual failover for a dedicated database with high availability enabled. Promotes a replica to primary. The failover runs asynchronously; poll the database document for status updates. A database left mid-operation also accepts this call as a repair once nothing is driving the operation it is stuck in. Repairing a failover that did not finish, a `failed` database, a stranded upgrade or migrate, or a stranded compute resize additionally requires `targetReplicaId` to name the member to promote, because the default target may be the member that operation already promoted.
      responses:
        '202':
          description: DedicatedDatabase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabase'
      deprecated: false
      x-appwrite:
        group: failovers
        demo: vectorsdb/create-failover.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetReplicaId:
                  description: Target replica ID to promote. If not specified, the healthiest replica is selected.
                  type:
                  - string
                  - 'null'
                  example: <TARGET_REPLICA_ID>
  /vectorsdb/{databaseId}/operations:
    get:
      summary: List operations
      operationId: vectorsDBListOperations
      tags:
      - vectorsDB
      description: List the lifecycle operations recorded for a dedicated database, newest first. Every provision, update, restore, backup and replication action is recorded here with its outcome, including an attempt that was abandoned because another worker took over the database.
      responses:
        '200':
          description: OperationList
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseOperationList'
      deprecated: false
      x-appwrite:
        group: operations
        demo: vectorsdb/list-operations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: status
        description: Filter by operation status.
        required: false
        schema:
          type: string
          example: queued
        in: query
      - name: limit
        description: Maximum number of operations to return.
        required: false
        schema:
          type: integer
          format: int32
          example: 1
          default: 25
        in: query
      - name: offset
        description: Number of operations to skip.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
  /vectorsdb/{databaseId}/replicas:
    get:
      summary: Get replicas
      operationId: vectorsDBGetReplicas
      tags:
      - vectorsDB
      description: Get high availability status for a dedicated database. Returns replica statuses, replication lag, and sync mode.
      responses:
        '200':
          description: Replicas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedDatabaseReplicas'
      deprecated: false
      x-appwrite:
        group: replicas
        demo: vectorsdb/get-replicas.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /vectorsdb/{databaseId}/status:
    get:
      summary: Get status
      operationId: vectorsDBGetStatus
      tags:
      - vectorsDB
      description: Get real-time health and status information for a dedicated database. Returns health status, readiness, uptime, connection info, replica status, and volume information.
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseStatus'
      deprecated: false
      x-appwrite:
        group: vectorsdb
        demo: vectorsdb/get-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
components:
  schemas:
    dedicatedDatabaseSpecificationList:
      description: SpecificationList
      type: object
      properties:
        specifications:
          type: array
          description: List of dedicated database specifications.
          items:
            $ref: '#/components/schemas/dedicatedDatabaseSpecification'
          example: []
        total:
          type: integer
          description: Total number of specifications.
          format: int32
          example: 9
      required:
      - specifications
      - total
      example:
        specifications: []
        total: 9
    documentList:
      description: Documents List
      type: object
      properties:
        total:
          type: integer
          description: Total number of documents that matched your query.
          format: int32
          example: 5
        documents:
          type: array
          description: List of documents.
          items:
            $ref: '#/components/schemas/document'
          example: []
      required:
      - total
      - documents
      example:
        total: 5
        documents: ''
    indexList:
      description: Indexes List
      type: object
      properties:
        total:
          type: integer
          description: Total number of indexes that matched your query.
          format: int32
          example: 5
        indexes:
          type: array
          description: List of indexes.
          items:
            $ref: '#/components/schemas/index'
          example: []
      required:
      - total
      - indexes
      example:
        total: 5
        indexes: ''
    backupPolicy:
      description: backup
      type: object
      properties:
        $id:
          type: string
          description: Backup policy ID.
          example: 5e5ea5c16897e
        name:
          type: string
          description: Backup policy name.
          example: Hourly backups
        $createdAt:
          type: string
          description: Policy creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Policy update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        services:
          type: array
          description: The services that are backed up by this policy.
          items:
            type: string
          example:
          - '[''databases'', ''storage'']'
        resources:
          type: array
          description: The resources that are backed up by this policy.
          items:
            type: string
          example:
          - '[''databases'', ''collections'', ''attributes'', ''indexes'']'
        resourceId:
          type:
          - string
          - 'null'
          description: The resource ID to backup. Set only if this policy should backup a single resource.
          example: DB1
        resourceType:
          type:
          - string
          - 'null'
          description: The resource type to backup. Set only if this policy should backup a single resource.
          example: database
        retention:
          type: integer
          description: How many days to keep the backup before it will be automatically deleted.
          format: int32
          example: 7
        schedule:
          type: string
          description: Policy backup schedule in CRON format.
          example: 0 * * * *
        type:
          type: string
          description: 'Backup type. Possible values: full (complete database snapshot), incremental (changes since last backup).'
          example: full
        enabled:
          type: boolean
          description: Is this policy enabled.
          example: true
      required:
      - $id
      - name
      - $createdAt
      - $updatedAt
      - services
      - resources
      - retention
      - schedule
      - type
      - enabled
      example:
        $id: 5e5ea5c16897e
        name: Hourly backups
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        services: '[''databases'', ''storage'']'
        resources: '[''databases'', ''collections'', ''attributes'', ''indexes'']'
        resourceId: DB1
        resourceType: database
        retention: 7
        schedule: 0 * * * *
        type: full
        enabled: true
    vectorsdbCollectionList:
      description: VectorsDB Collections List
      type: object
      properties:
        total:
          type: integer
          description: Total number of collections that matched your query.
          format: int32
          example: 5
        collections:
          type: array
          description: List of collections.
          items:
            $ref: '#/components/schemas/vectorsdbCollection'
          example: []
      required:
      - total
      - collections
      example:
        total: 5
        collections: ''
    transaction:
      description: Transaction
      type: object
      properties:
        $id:
          type: string
          description: Transaction ID.
          example: '259125845563242502'
        $createdAt:
          type: string
          description: Transaction creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Transaction update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        status:
          type: string
          description: 'Current status of the transaction. One of: pending, committing, committed, rolled_back, failed.'
          example: pending
        operations:
          type: integer
          description: Number of operations in the transaction.
          format: int32
          example: 5
        expiresAt:
          type: string
          description: Expiration time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - status
      - operations
      - expiresAt
      example:
        $id: '259125845563242502'
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        status: pending
        operations: 5
        expiresAt: '2020-10-15T06:38:00.000+00:00'
    dedicatedDatabaseSpecification:
      description: Specification
      type: object
      properties:
        slug:
          type: string
          description: Specification slug. Use this value when creating a dedicated database.
          example: s-2vcpu-2gb
        name:
          type: string
          description: Human readable specification name.
          example: Standard
        price:
          type: number
          description: Monthly price of the specification in USD.
          format: double
          example: 20
        storageOverageRate:
          type: number
          description: Price per GB of storage above the included amount, per month, in USD.
          format: double
          example: 0.125
        bandwidthOverageRate:
          type: number
          description: Price per GB of bandwidth above the included amount, per month, in USD.
          format: double
          example: 0.08
        replicaRate:
          type: number
          description: High availability replica price as a fraction of the specification price.
          format: double
          example: 1
        pitrRate:
          type: number
          description: Point-in-time recovery price as a fraction of the specification price.
          format: double
          example: 0.2
        cpu:
          type: integer
          description: Allocated CPU in millicores.
          format: int32
          example: 2000
        memory:
          type: integer
          description: Allocated memory in MB.
          format: int32
          example: 2048
        maxConnections:
          type: integer
          description: Maximum number of concurrent connections.
          format: int32
          example: 200
        includedStorage:
          type: integer
          description: Included storage in GB before overage charges apply.
          format: int32
          example: 25
        includedBandwidth:
          type: integer
          description: Included bandwidth in GB before overage charges apply.
          format: int32
          example: 200
        enabled:
          type: boolean
          description: Whether the specification is available on the current plan.
          example: true
      required:
      - slug
      - name
      - price
      - storageOverageRate
      - bandwidthOverageRate
      - replicaRate
      - pitrRate
      - cpu
      - memory
      - maxConnections
      - includedStorage
      - includedBandwidth
      - enabled
      example:
        slug: s-2vcpu-2gb
        name: Standard
        price: 20
        storageOverageRate: 0.125
        bandwidthOverageRate: 0.08
        replicaRate: 1
        pitrRate: 0.2
        cpu: 2000
        memory: 2048
        maxConnections: 200
        includedStorage: 25
        includedBandwidth: 200
        enabled: true
    vectorsdbCollection:
      description: VectorsDB Collection
      type: object
      properties:
        $id:
          type: string
          description: Collection ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Collection creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Collection update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: Collection permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
          items:
            type: string
          example:
          - read("any")
        databaseId:
          type: string
          description: Database ID.
          example: 5e5ea5c16897e
        name:
          type: string
          description: Collection name.
          example: My Collection
        enabled:
          type: boolean
          description: Collection enabled. Can be 'enabled' or 'disabled'. When disabled, the collection is inaccessible to users, but remains accessible to Server SDKs using API keys.
          example: false
        documentSecurity:
          type: boolean
          description: Whether document-level permissions are enabled. [Learn more about permissions](https://appwrite.io/docs/permissions).
          example: true
        attributes:
          type: array
          description: Collection attributes.
          items:
            anyOf:
            - $ref: '#/components/schemas/attributeObject'
            - $ref: '#/components/schemas/attributeVector'
            discriminator:
              propertyName: type
              mapping:
                object: '#/components/schemas/attributeObject'
                vector: '#/components/schemas/attributeVector'
          example: []
        indexes:
          type: array
          description: Collection indexes.
          items:
            $ref: '#/components/schemas/index'
          example: []
        bytesMax:
          type: integer
          description: Maximum document size in bytes. Returns 0 when no limit applies.
          format: int32
          example: 65535
        bytesUsed:
          type: integer
          description: Currently used document size in bytes based on defined attributes.
          format: int32
          example: 1500
        dimension:
          type: integer
          description: Embedding dimension.
          format: int32
          example: 1536
      required:
      - $id
      - $createdAt
      - $updatedAt
      - $permissions
      - databaseId
      - name
      - enabled
      - documentSecurity
      - attributes
      - indexes
      - bytesMax
      - bytesUsed
      - dimension
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        databaseId: 5e5ea5c16897e
        name: My Collection
        enabled: false
        documentSecurity: true
        attributes: {}
        indexes: {}
        bytesMax: 65535
        bytesUsed: 1500
        dimension: 1536
    attributeVector:
      description: AttributeVector
      type: object
      properties:
        key:
          type: string
          description: Attribute Key.
          example: fullName
        type:
          type: string
          description: Attribute type.
          example: string
        status:
          description: 'Attribute status. Possible values: `available`, `processing`, `deleting`, `stuck`, or `failed`'
          example: available
          title: AttributeStatus
          type: string
          oneOf:
          - type: string
            enum:
            - available
            title: available
          - type: string
            enum:
            - processing
            title: processing
          - type: string
            enum:
            - deleting
            title: deleting
          - type: string
            enum:
            - stuck
            title: stuck
          - type: string
            enum:
            - failed
            title: failed
        error:
          type: string
          description: Error message. Displays error generated on failure of creating or deleting an attribute.
          example: string
        required:
          type: boolean
          description: Is attribute required?
          example: true
        array:
          type:
          - boolean
          - 'null'
          description: Is attribute an array?
          example: false
        $createdAt:
          type: string
          description: Attribute creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Attribute update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        size:
          type: integer
          description: Vector dimensions.
          format: int32
          example: 1536
      required:
      - key
      - type
      - status
      - error
      - required
      - $createdAt
      - $updatedAt
      - size
      example:
        key: fullName
        type: string
        status: available
        error: string
        required: true
        array: false
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        size: 1536
    document:
      description: Document
      type: object
      properties:
        $id:
          type: string
          description: Document ID.
          example: 5e5ea5c16897e
        $sequence:
          type: string
          description: Document sequence ID.
          readOnly: true
          example: '1'
        $collectionId:
          type: string
          description: Collection ID.
          readOnly: true
          example: 5e5ea5c15117e
        $databaseId:
          type: string
          description: Database ID.
          readOnly: true
          example: 5e5ea5c15117e
        $createdAt:
          type: string
          description: Document creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Document update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: Document permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
          items:
            type: string
          example:
          - read("any")
      additionalProperties: true
      required:
      - $id
      - $sequence
      - $collectionId
      - $databaseId
      - $createdAt
      - $updatedAt
      - $permissions
      example:
        $id: 5e5ea5c16897e
        $sequence: '1'
        $collectionId: 5e5ea5c15117e
        $databaseId: 5e5ea5c15117e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        username: john.doe
        email: john.doe@example.com
        fullName: John Doe
        age: 30
        isAdmin: false
    dedicatedDatabaseOperation:
      description: Operation
      type: object
      properties:
        $id:
          type: string
          description: Operation ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Operation creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        databaseId:
          type: string
          description: Database ID the operation ran against.
          example: 5e5ea5c16897e
        type:
          type: string
          description: Operation type, such as provision, update, credentials-update, restore, pausing, resuming, failover, backup-create or cross-region-enable.
          example: update
        status:
          type: string
          description: 'Operation status. Possible values: queued (accepted and waiting to resume), running (in progress), completed (finished successfully), failed (ended in an error).'
          example: completed
        attempts:
          type: integer
          description: Number of times this operation has been attempted.
          format: int32
          example: 1
        requestedAt:
          type:
          - string
          - 'null'
          description: Time the operation was requested, in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        startedAt:
          type:
          - string
          - 'null'
          description: Time the operation started, in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        completedAt:
          type:
          - string
          - 'null'
          description: Time the operation reached a terminal state, in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        errorCode:
          type: string
          description: Machine-readable failure code. `Interrupted` marks an attempt that ended before its outcome could be confirmed.
          example: Interrupted
        errorMessage:
          type: string
          description: Failure message if the operation failed.
          example: ''
      required:
      - $id
      - $createdAt
      - databaseId
      - type
      - status
      - attempts
      - errorCode
      - errorMessage
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        databaseId: 5e5ea5c16897e
        type: update
        status: completed
        attempts: 1
        requestedAt: '2020-10-15T06:38:00.000+00:00'
        startedAt: '2020-10-15T06:38:00.000+00:00'
        completedAt: '2020-10-15T06:38:00.000+00:00'
        errorCode: Interrupted
        errorMessage: ''
    attributeObject:
      description: AttributeObject
      type: object
      properties:
        key:
          type: string
          description: Attribute Key.
          example: fullName
        type:
          type: string
          description: Attribute type.
          example: string
        status:
          description: 'Attribute status. Possible values: `available`, `processing`, `deleting`, `stuck`, or `failed`'
          example: available
          title: AttributeStatus
          type: string
          oneOf:
          - type: string
            enum:
            - available
            title: available
          - type: string
            enum:
            - processing
            title: processing
          - type: string
            enum:
            - deleting
            title: deleting
          - type: string
            enum:
            - stuck
            title: stuck
          - type: string
            enum:
            - failed
            title: failed
        error:
          type: string
          description: Error message. Displays error generated on failure of creating or deleting an attribute.
          example: string
        required:
          type: boolean
          description: Is attribute required?
          example: true
        array:
          type:
          - boolean
          - 'null'
          description: Is attribute an array?
          example: false
        $createdAt:
          type: string
          description: Attribute creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Attribute update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - key
      - type
      - status
      - error
      - required
      - $createdAt
      - $updatedAt
      example:
        key: fullName
        type: string
        status: available
        error: string
        required: true
        array: false
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
    databaseStatusVolume:
      description: Volume
      type: object
      properties:
        path:
          type: string
          description: Mount path of the volume.
          example: /var/lib/postgresql/data
        usedPercent:
          type: string
          description: Percentage of storage used.
          example: 45%
        available:
          type: string
          description: Available storage space.
          example: 55GB
        mounted:
          type: boolean
          description: Whether the volume is mounted.
          example: true
      required:
      - path
      - usedPercent
      - available
      - mounted
      example:
        path: /var/lib/postgresql/data
        usedPercent: 45%
        available: 55GB
        mounted: true
    transactionList:
      description: Transaction List
      type: object
      properties:
        total:
          type: integer
          description: Total number of transactions that matched your query.
          format: int32
          example: 5
        transactions:
          type: array
          description: List of transactions.
          items:
            $ref: '#/components/schemas/transaction'
          example: []
      required:
      - total
      - transactions
      example:
        total: 5
        transactions: ''
    database:
      description: Database
      type: object
      properties:
        $id:
          type: string
          description: Database ID.
          example: 5e5ea5c16897e
        name:
          type: string
          description: Database name.
          example: My Database
        $createdAt:
          type: string
          description: Database creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Database update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        enabled:
          type: boolean
          description: If database is enabled. Can be 'enabled' or 'disabled'. When disabled, the database is inaccessible to users, but remains accessible to Server SDKs using API keys.
          example: false
        type:
          description: Database type.
          example: legacy
          title: DatabaseType
          type: string
          oneOf:
          - type: string
            enum:
            - legacy
            title: legacy
          - type: string
            enum:
            - tablesdb
            title: tablesdb
          - type: string
            enum:
            - documentsdb
            title: documentsdb
          - type: string
            enum:
            - vectorsdb
            title: vectorsdb
          - type: string
            enum:
            - mysql
            title: mysql
          - type: string
            enum:
            - postgresql
            title: postgresql
          - type: string
            enum:
            - mongodb
            title: mongodb
        status:
          description: Dedicated database lifecycle status. Null when the database has no valid dedicated backing.
          readOnly: true
          example: ready
          title: DatabaseStatus
          type:
          - string
          - 'null'
          oneOf:
[...]
