openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Users API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Users
  description: The Users service allows you to manage your project users.
paths:
  /users:
    get:
      summary: List users
      operationId: usersList
      tags:
      - Users
      description: Get a list of all the project's users. You can use the query params to filter your results.
      responses:
        '200':
          description: Users List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userList'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, email, phone, status, passwordUpdate, registration, emailVerification, phoneVerification, labels, impersonator, accessedAt'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create user
      operationId: usersCreate
      tags:
      - Users
      description: Create a new user.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type:
                  - string
                  - 'null'
                  example: email@example.com
                  format: email
                phone:
                  description: Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.
                  type:
                  - string
                  - 'null'
                  example: '+12065550100'
                  format: phone
                password:
                  description: Plain text user password. Must be at least 8 chars.
                  type: string
                  default: ''
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
  /users/argon2:
    post:
      summary: Create user with Argon2 password
      operationId: usersCreateArgon2User
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the Argon2 algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-argon-2-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using Argon2.
                  type: string
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
  /users/bcrypt:
    post:
      summary: Create user with bcrypt password
      operationId: usersCreateBcryptUser
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the Bcrypt algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-bcrypt-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using Bcrypt.
                  type: string
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
  /users/identities:
    get:
      summary: List identities
      operationId: usersListIdentities
      tags:
      - Users
      description: Get identities for all users.
      responses:
        '200':
          description: Identities List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identityList'
      deprecated: false
      x-appwrite:
        group: identities
        demo: users/list-identities.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, provider, providerUid, providerEmail, providerAccessTokenExpiry'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /users/identities/{identityId}:
    delete:
      summary: Delete identity
      operationId: usersDeleteIdentity
      tags:
      - Users
      description: Delete an identity by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: identities
        demo: users/delete-identity.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: identityId
        description: Identity ID.
        required: true
        schema:
          type: string
          example: <IDENTITY_ID>
        in: path
  /users/md5:
    post:
      summary: Create user with MD5 password
      operationId: usersCreateMD5User
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the MD5 algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-md-5-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using MD5.
                  type: string
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
  /users/phpass:
    post:
      summary: Create user with PHPass password
      operationId: usersCreatePHPassUser
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the PHPass algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-ph-pass-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or pass the string `ID.unique()`to auto generate it. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using PHPass.
                  type: string
                  example: password
                  format: password
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
  /users/scrypt:
    post:
      summary: Create user with Scrypt password
      operationId: usersCreateScryptUser
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the Scrypt algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-scrypt-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using Scrypt.
                  type: string
                  example: password
                  format: password
                passwordSalt:
                  description: Optional salt used to hash password.
                  type: string
                  example: <PASSWORD_SALT>
                passwordCpu:
                  description: Optional CPU cost used to hash password.
                  type: integer
                  example: 8
                  format: int32
                passwordMemory:
                  description: Optional memory cost used to hash password.
                  type: integer
                  example: 65536
                  format: int32
                passwordParallel:
                  description: Optional parallelization cost used to hash password.
                  type: integer
                  example: 1
                  format: int32
                passwordLength:
                  description: Optional hash length used to hash password.
                  type: integer
                  example: 64
                  format: int32
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
              - passwordSalt
              - passwordCpu
              - passwordMemory
              - passwordParallel
              - passwordLength
  /users/scrypt-modified:
    post:
      summary: Create user with Scrypt modified password
      operationId: usersCreateScryptModifiedUser
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the Scrypt Modified algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-scrypt-modified-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using Scrypt Modified.
                  type: string
                  example: password
                  format: password
                passwordSalt:
                  description: Salt used to hash password.
                  type: string
                  example: <PASSWORD_SALT>
                passwordSaltSeparator:
                  description: Salt separator used to hash password.
                  type: string
                  example: <PASSWORD_SALT_SEPARATOR>
                passwordSignerKey:
                  description: Signer key used to hash password.
                  type: string
                  example: <PASSWORD_SIGNER_KEY>
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
              - passwordSalt
              - passwordSaltSeparator
              - passwordSignerKey
  /users/sha:
    post:
      summary: Create user with SHA password
      operationId: usersCreateSHAUser
      tags:
      - Users
      description: Create a new user. Password provided must be hashed with the SHA algorithm. Use the POST /users endpoint to create users with a plain text password.
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/create-sha-user.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <USER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
                password:
                  description: User password hashed using SHA.
                  type: string
                  example: password
                  format: password
                passwordVersion:
                  description: 'Optional SHA version used to hash password. Allowed values are: ''sha1'', ''sha224'', ''sha256'', ''sha384'', ''sha512/224'', ''sha512/256'', ''sha512'', ''sha3-224'', ''sha3-256'', ''sha3-384'', ''sha3-512'''
                  type: string
                  example: sha1
                  title: PasswordHash
                  oneOf:
                  - type: string
                    enum:
                    - sha1
                    title: sha1
                  - type: string
                    enum:
                    - sha224
                    title: sha224
                  - type: string
                    enum:
                    - sha256
                    title: sha256
                  - type: string
                    enum:
                    - sha384
                    title: sha384
                  - type: string
                    enum:
                    - sha512/224
                    title: sha512/224
                  - type: string
                    enum:
                    - sha512/256
                    title: sha512/256
                  - type: string
                    enum:
                    - sha512
                    title: sha512
                  - type: string
                    enum:
                    - sha3-224
                    title: sha3-224
                  - type: string
                    enum:
                    - sha3-256
                    title: sha3-256
                  - type: string
                    enum:
                    - sha3-384
                    title: sha3-384
                  - type: string
                    enum:
                    - sha3-512
                    title: sha3-512
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - userId
              - email
              - password
  /users/usage:
    get:
      summary: Get users usage stats
      operationId: usersGetUsage
      tags:
      - Users
      description: 'Get usage metrics and statistics for all users in the project. You can view the total number of users and sessions. The response includes both current totals and historical data over time. Use the optional range parameter to specify the time window for historical data: 24h (last 24 hours), 30d (last 30 days), or 90d (last 90 days). If not specified, range defaults to 30 days.'
      responses:
        '200':
          description: UsageUsers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usageUsers'
      deprecated: false
      x-appwrite:
        group: null
        demo: users/get-usage.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: range
        description: Date range.
        required: false
        schema:
          type: string
          example: 24h
          title: UsageRange
          oneOf:
          - type: string
            enum:
            - 24h
            title: 24h
          - type: string
            enum:
            - 30d
            title: 30d
          - type: string
            enum:
            - 90d
            title: 90d
          default: 30d
        in: query
  /users/{userId}:
    get:
      summary: Get user
      operationId: usersGet
      tags:
      - Users
      description: Get a user by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
    delete:
      summary: Delete user
      operationId: usersDelete
      tags:
      - Users
      description: Delete a user by its unique ID, thereby releasing it's ID. Since ID is released and can be reused, all user-related resources like documents or storage files should be deleted before user deletion. If you want to keep ID reserved, use the updateStatus endpoint instead.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: users
        demo: users/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
  /users/{userId}/email:
    patch:
      summary: Update email
      operationId: usersUpdateEmail
      tags:
      - Users
      description: Update the user email by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: User email.
                  type: string
                  example: email@example.com
                  format: email
              required:
              - email
  /users/{userId}/impersonator:
    patch:
      summary: Update user impersonator capability
      operationId: usersUpdateImpersonator
      tags:
      - Users
      description: Enable or disable whether a user can impersonate other users. When impersonation headers are used, the request runs as the target user for API behavior, while internal audit logs still attribute the action to the original impersonator and store the impersonated target details only in internal audit payload data.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-impersonator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                impersonator:
                  description: Whether the user can impersonate other users. When true, the user can browse project users to choose a target and can pass impersonation headers to act as that user. Internal audit logs still attribute impersonated actions to the original impersonator and store the target user details only in internal audit payload data.
                  type: boolean
                  example: false
              required:
              - impersonator
  /users/{userId}/jwts:
    post:
      summary: Create user JWT
      operationId: usersCreateJWT
      tags:
      - Users
      description: Use this endpoint to create a JSON Web Token for user by its unique ID. You can use the resulting JWT to authenticate on behalf of the user. The JWT secret will become invalid if the session it uses gets deleted.
      responses:
        '201':
          description: JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jwt'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/create-jwt.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  description: Session ID. Use the string 'recent()' to use the most recent session, which is also the default.
                  type: string
                  default: recent()
                  example: recent()
                duration:
                  description: Time in seconds before JWT expires. Default duration is 900 seconds, and maximum is 3600 seconds.
                  type: integer
                  default: 900
                  example: 0
                  format: int32
  /users/{userId}/labels:
    put:
      summary: Update user labels
      operationId: usersUpdateLabels
      tags:
      - Users
      description: 'Update the user labels by its unique ID.


        Labels can be used to grant access to resources. While teams are a way for user''s to share access to a resource, labels can be defined by the developer to grant access without an invitation. See the Permissions docs for more info.'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-labels.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  description: Array of user labels. Replaces the previous labels. Maximum of 1000 labels are allowed, each up to 36 alphanumeric characters long.
                  type: array
                  items:
                    type: string
              required:
              - labels
  /users/{userId}/logs:
    get:
      summary: List user logs
      operationId: usersListLogs
      tags:
      - Users
      description: Get the user activity logs list by its unique ID.
      responses:
        '200':
          description: Logs List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logList'
      deprecated: false
      x-appwrite:
        group: logs
        demo: users/list-logs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Only supported methods are limit and offset
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /users/{userId}/memberships:
    get:
      summary: List user memberships
      operationId: usersListMemberships
      tags:
      - Users
      description: Get the user membership list by its unique ID.
      responses:
        '200':
          description: Memberships List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membershipList'
      deprecated: false
      x-appwrite:
        group: memberships
        demo: users/list-memberships.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, teamId, invited, joined, confirm, roles'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /users/{userId}/mfa:
    patch:
      summary: Update MFA
      operationId: usersUpdateMfa
      tags:
      - Users
      description: Enable or disable MFA on a user account.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: true
      x-appwrite:
        group: users
        demo: users/update-mfa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.updateMFA
        methods:
        - name: updateMfa
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          - mfa
          required:
          - userId
          - mfa
          responses:
          - code: 200
            model: '#/components/schemas/user'
          description: Enable or disable MFA on a user account.
          demo: users/update-mfa.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.updateMFA
        - name: updateMFA
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          - mfa
          required:
          - userId
          - mfa
          responses:
          - code: 200
            model: '#/components/schemas/user'
          description: Enable or disable MFA on a user account.
          demo: users/update-mfa.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mfa:
                  description: Enable or disable MFA.
                  type: boolean
                  example: false
              required:
              - mfa
  /users/{userId}/mfa/authenticators/{type}:
    delete:
      summary: Delete authenticator
      operationId: usersDeleteMfaAuthenticator
      tags:
      - Users
      description: Delete an authenticator app.
      responses:
        '204':
          description: No content
      deprecated: true
      x-appwrite:
        group: mfa
        demo: users/delete-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.deleteMFAAuthenticator
        methods:
        - name: deleteMfaAuthenticator
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          - type
          required:
          - userId
          - type
          responses:
          - code: 204
          description: Delete an authenticator app.
          demo: users/delete-mfa-authenticator.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.deleteMFAAuthenticator
        - name: deleteMFAAuthenticator
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          - type
          required:
          - userId
          - type
          responses:
          - code: 204
          description: Delete an authenticator app.
          demo: users/delete-mfa-authenticator.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: type
        description: Type of authenticator.
        required: true
        schema:
          type: string
          example: totp
          title: AuthenticatorType
          oneOf:
          - type: string
            enum:
            - totp
            title: totp
        in: path
  /users/{userId}/mfa/challenges/{challengeId}:
    get:
      summary: Get MFA challenge
      operationId: usersGetMFAChallenge
      tags:
      - Users
      description: Get a custom MFA challenge for a user, including the code to be delivered through your own channel.
      responses:
        '200':
          description: MFA Challenge Secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaChallengeSecret'
      deprecated: false
      x-appwrite:
        group: mfa
        demo: users/get-mfa-challenge.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        methods:
        - name: getMFAChallenge
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          - challengeId
          required:
          - userId
          - challengeId
          responses:
          - code: 200
            model: '#/components/schemas/mfaChallengeSecret'
          description: ''
          demo: users/get-mfa-challenge.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: challengeId
        description: ID of the challenge.
        required: true
        schema:
          type: string
          example: <CHALLENGE_ID>
        in: path
  /users/{userId}/mfa/factors:
    get:
      summary: List factors
      operationId: usersListMfaFactors
      tags:
      - Users
      description: List the factors available on the account to be used as a MFA challange.
      responses:
        '200':
          description: MFAFactors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaFactors'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: users/list-mfa-factors.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.listMFAFactors
        methods:
        - name: listMfaFactors
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaFactors'
          description: List the factors available on the account to be used as a MFA challange.
          demo: users/list-mfa-factors.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.listMFAFactors
        - name: listMFAFactors
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaFactors'
          description: List the factors available on the account to be used as a MFA challange.
          demo: users/list-mfa-factors.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
  /users/{userId}/mfa/recovery-codes:
    get:
      summary: Get MFA recovery codes
      operationId: usersGetMfaRecoveryCodes
      tags:
      - Users
      description: Get recovery codes that can be used as backup for MFA flow by User ID. Before getting codes, they must be generated using createMfaRecoveryCodes method.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: users/get-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.getMFARecoveryCodes
        methods:
        - name: getMfaRecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Get recovery codes that can be used as backup for MFA flow by User ID. Before getting codes, they must be generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method.
          demo: users/get-mfa-recovery-codes.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.getMFARecoveryCodes
        - name: getMFARecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Get recovery codes that can be used as backup for MFA flow by User ID. Before getting codes, they must be generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method.
          demo: users/get-mfa-recovery-codes.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
    put:
      summary: Update MFA recovery codes (regenerate)
      operationId: usersUpdateMfaRecoveryCodes
      tags:
      - Users
      description: Regenerate recovery codes that can be used as backup for MFA flow by User ID. Before regenerating codes, they must be first generated using createMfaRecoveryCodes method.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: users/update-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.updateMFARecoveryCodes
        methods:
        - name: updateMfaRecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Regenerate recovery codes that can be used as backup for MFA flow by User ID. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method.
          demo: users/update-mfa-recovery-codes.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.updateMFARecoveryCodes
        - name: updateMFARecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 200
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Regenerate recovery codes that can be used as backup for MFA flow by User ID. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes) method.
          demo: users/update-mfa-recovery-codes.md
          public: false
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
    patch:
      summary: Create MFA recovery codes
      operationId: usersCreateMfaRecoveryCodes
      tags:
      - Users
      description: Generate recovery codes used as backup for MFA flow for User ID. Recovery codes can be used as a MFA verification type in createMfaChallenge method by client SDK.
      responses:
        '201':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      deprecated: true
      x-appwrite:
        group: mfa
        demo: users/create-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: users.createMFARecoveryCodes
        methods:
        - name: createMfaRecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 201
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Generate recovery codes used as backup for MFA flow for User ID. Recovery codes can be used as a MFA verification type in [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method by client SDK.
          demo: users/create-mfa-recovery-codes.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: users.createMFARecoveryCodes
        - name: createMFARecoveryCodes
          namespace: users
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - userId
          required:
          - userId
          responses:
          - code: 201
            model: '#/components/schemas/mfaRecoveryCodes'
          description: Generate recovery codes used as backup for MFA flow for User ID. Recovery codes can be used as a MFA verification type in [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge) method by client SDK.
          demo: users/create-mfa-recovery-codes.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
  /users/{userId}/name:
    patch:
      summary: Update name
      operationId: usersUpdateName
      tags:
      - Users
      description: Update the user name by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-name.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'User name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
              required:
              - name
  /users/{userId}/password:
    patch:
      summary: Update password
      operationId: usersUpdatePassword
      tags:
      - Users
      description: Update the user password by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-password.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  description: New user password. Must be at least 8 chars.
                  type: string
                  example: password
                  format: password
              required:
              - password
  /users/{userId}/phone:
    patch:
      summary: Update phone
      operationId: usersUpdatePhone
      tags:
      - Users
      description: Update the user phone by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  description: User phone number.
                  type: string
                  example: '+12065550100'
                  format: phone
              required:
              - number
  /users/{userId}/prefs:
    get:
      summary: Get user preferences
      operationId: usersGetPrefs
      tags:
      - Users
      description: Get the user preferences by its unique ID.
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preferences'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/get-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
    patch:
      summary: Update user preferences
      operationId: usersUpdatePrefs
      tags:
      - Users
      description: Update the user preferences by its unique ID. The object you pass is stored as is, and replaces any previous value. The maximum allowed prefs size is 64kB and throws error if exceeded.
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preferences'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefs:
                  description: Prefs key-value JSON object.
                  type: object
                  default: {}
                  example: {}
              required:
              - prefs
  /users/{userId}/sessions:
    get:
      summary: List user sessions
      operationId: usersListSessions
      tags:
      - Users
      description: Get the user sessions list by its unique ID.
      responses:
        '200':
          description: Sessions List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionList'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/list-sessions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - users.read
        - sessions.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create session
      operationId: usersCreateSession
      tags:
      - Users
      description: 'Creates a session for a user. Returns an immediately usable session object.


        If you want to generate a token for a custom authentication flow, use the POST /users/{userId}/tokens endpoint.'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/create-session.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - users.write
        - sessions.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
        required: true
        schema:
          type: string
          x-appwrite:
            idGenerator: ID.unique
          example: <USER_ID>
        in: path
    delete:
      summary: Delete user sessions
      operationId: usersDeleteSessions
      tags:
      - Users
      description: Delete all user's sessions by using the user's unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/delete-sessions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - users.write
        - sessions.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
  /users/{userId}/sessions/{sessionId}:
    delete:
      summary: Delete user session
      operationId: usersDeleteSession
      tags:
      - Users
      description: Delete a user sessions by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/delete-session.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope:
        - users.write
        - sessions.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: sessionId
        description: Session ID.
        required: true
        schema:
          type: string
          example: <SESSION_ID>
        in: path
  /users/{userId}/status:
    patch:
      summary: Update user status
      operationId: usersUpdateStatus
      tags:
      - Users
      description: Update the user status by its unique ID. Use this endpoint as an alternative to deleting a user if you want to keep user's ID reserved.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  description: User Status. To activate the user pass `true` and to block the user pass `false`.
                  type: boolean
                  example: false
              required:
              - status
  /users/{userId}/targets:
    get:
      summary: List user targets
      operationId: usersListTargets
      tags:
      - Users
      description: List the messaging targets that are associated with a user.
      responses:
        '200':
          description: Target list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/targetList'
      deprecated: false
      x-appwrite:
        group: targets
        demo: users/list-targets.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, providerId, identifier, providerType'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create user target
      operationId: usersCreateTarget
      tags:
      - Users
      description: Create a messaging target.
      responses:
        '201':
          description: Target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      deprecated: false
      x-appwrite:
        group: targets
        demo: users/create-target.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetId:
                  description: Target ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <TARGET_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                providerType:
                  description: 'The target provider type. Can be one of the following: `email`, `sms` or `push`.'
                  type: string
                  example: email
                  title: MessagingProviderType
                  oneOf:
                  - type: string
                    enum:
                    - email
                    title: email
                  - type: string
                    enum:
                    - sms
                    title: sms
                  - type: string
                    enum:
                    - push
                    title: push
                identifier:
                  description: The target identifier (token, email, phone etc.)
                  type: string
                  example: <IDENTIFIER>
                providerId:
                  description: Provider ID. Message will be sent to this target from the specified provider ID. If no provider ID is set the first setup provider will be used.
                  type: string
                  default: ''
                  example: <PROVIDER_ID>
                name:
                  description: 'Target name. Max length: 128 chars. For example: My Awesome App Galaxy S23.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - targetId
              - providerType
              - identifier
  /users/{userId}/targets/{targetId}:
    get:
      summary: Get user target
      operationId: usersGetTarget
      tags:
      - Users
      description: Get a user's push notification target by ID.
      responses:
        '200':
          description: Target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      deprecated: false
      x-appwrite:
        group: targets
        demo: users/get-target.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.read
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: targetId
        description: Target ID.
        required: true
        schema:
          type: string
          example: <TARGET_ID>
        in: path
    patch:
      summary: Update user target
      operationId: usersUpdateTarget
      tags:
      - Users
      description: Update a messaging target.
      responses:
        '200':
          description: Target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      deprecated: false
      x-appwrite:
        group: targets
        demo: users/update-target.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: targetId
        description: Target ID.
        required: true
        schema:
          type: string
          example: <TARGET_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  description: The target identifier (token, email, phone etc.)
                  type: string
                  default: ''
                  example: <IDENTIFIER>
                providerId:
                  description: Provider ID. Message will be sent to this target from the specified provider ID. If no provider ID is set the first setup provider will be used.
                  type: string
                  default: ''
                  example: <PROVIDER_ID>
                name:
                  description: 'Target name. Max length: 128 chars. For example: My Awesome App Galaxy S23.'
                  type: string
                  default: ''
                  example: <NAME>
    delete:
      summary: Delete user target
      operationId: usersDeleteTarget
      tags:
      - Users
      description: Delete a messaging target.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: targets
        demo: users/delete-target.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - server
        - console
        packaging: false
        public: true
        auth:
          server:
            Project: []
            Key: []
          console:
            Project: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      - name: targetId
        description: Target ID.
        required: true
        schema:
          type: string
          example: <TARGET_ID>
        in: path
  /users/{userId}/tokens:
    post:
      summary: Create token
      operationId: usersCreateToken
      tags:
      - Users
      description: Returns a token with a secret key for creating a session. Use the user ID and secret and submit a request to the PUT /account/sessions/token endpoint to complete the login process.
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      deprecated: false
      x-appwrite:
        group: sessions
        demo: users/create-token.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                length:
                  description: Token length in characters. The default length is 6 characters
                  type: integer
                  default: 6
                  example: 4
                  format: int32
                expire:
                  description: Token expiration period in seconds. The default expiration is 15 minutes.
                  type: integer
                  default: 900
                  example: 60
                  format: int32
  /users/{userId}/verification:
    patch:
      summary: Update email verification
      operationId: usersUpdateEmailVerification
      tags:
      - Users
      description: Update the user email verification status by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-email-verification.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emailVerification:
                  description: User email verification status.
                  type: boolean
                  example: false
              required:
              - emailVerification
  /users/{userId}/verification/phone:
    patch:
      summary: Update phone verification
      operationId: usersUpdatePhoneVerification
      tags:
      - Users
      description: Update the user phone verification status by its unique ID.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      deprecated: false
      x-appwrite:
        group: users
        demo: users/update-phone-verification.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: users.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: userId
        description: User ID.
        required: true
        schema:
          type: string
          example: <USER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phoneVerification:
                  description: User phone verification status.
                  type: boolean
                  example: false
              required:
              - phoneVerification
components:
  schemas:
    algoScrypt:
      description: AlgoScrypt
      type: object
      properties:
        type:
          type: string
          description: Algo type.
          example: scrypt
        costCpu:
          type: integer
          description: CPU complexity of computed hash.
          format: int32
          example: 8
        costMemory:
          type: integer
          description: Memory complexity of computed hash.
          format: int32
          example: 14
        costParallel:
          type: integer
          description: Parallelization of computed hash.
          format: int32
          example: 1
        length:
          type: integer
          description: Length used to compute hash.
          format: int32
          example: 64
      required:
      - type
      - costCpu
      - costMemory
      - costParallel
      - length
      example:
        type: scrypt
        costCpu: 8
        costMemory: 14
        costParallel: 1
        length: 64
    metric:
      description: Metric
      type: object
      properties:
        value:
          type: integer
          description: The value of this metric at the timestamp.
          format: int32
          example: 1
        date:
          type: string
          description: The date at which this metric was aggregated in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - value
      - date
      example:
        value: 1
        date: '2020-10-15T06:38:00.000+00:00'
    logList:
      description: Logs List
      type: object
      properties:
        total:
          type: integer
          description: Total number of logs that matched your query.
          format: int32
          example: 5
        logs:
          type: array
          description: List of logs.
          items:
            $ref: '#/components/schemas/log'
          example: []
      required:
      - total
      - logs
      example:
        total: 5
        logs: ''
    algoBcrypt:
      description: AlgoBcrypt
      type: object
      properties:
        type:
          type: string
          description: Algo type.
          example: bcrypt
      required:
      - type
      example:
        type: bcrypt
    sessionList:
      description: Sessions List
      type: object
      properties:
        total:
          type: integer
          description: Total number of sessions that matched your query.
          format: int32
          example: 5
        sessions:
          type: array
          description: List of sessions.
          items:
            $ref: '#/components/schemas/session'
          example: []
      required:
      - total
      - sessions
      example:
        total: 5
        sessions: ''
    mfaChallengeSecret:
      description: MFA Challenge Secret
      type: object
      properties:
        $id:
          type: string
          description: Token ID.
          example: bb8ea5c16897e
        $createdAt:
          type: string
          description: Token creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        userId:
          type: string
          description: User ID.
          example: 5e5ea5c168bb8
        expire:
          type: string
          description: Token expiration date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        code:
          type: string
          description: Challenge code to be delivered to the end user through a custom channel.
          example: '446372'
      required:
      - $id
      - $createdAt
      - userId
      - expire
      - code
      example:
        $id: bb8ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        userId: 5e5ea5c168bb8
        expire: '2020-10-15T06:38:00.000+00:00'
        code: '446372'
    token:
      description: Token
      type: object
      properties:
        $id:
          type: string
          description: Token ID.
          example: bb8ea5c16897e
        $createdAt:
          type: string
          description: Token creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        userId:
          type: string
          description: User ID.
          example: 5e5ea5c168bb8
        secret:
          type: string
          description: Token secret key. This will return an empty string unless the response is returned using an API key or as part of a webhook payload.
          example: ''
        expire:
          type: string
          description: Token expiration date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        phrase:
          type: string
          description: Security phrase of a token. Empty if security phrase was not requested when creating a token. It includes randomly generated phrase which is also sent in the external resource such as email.
          example: Golden Fox
      required:
      - $id
      - $createdAt
      - userId
      - secret
      - expire
      - phrase
      example:
        $id: bb8ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        userId: 5e5ea5c168bb8
        secret: ''
        expire: '2020-10-15T06:38:00.000+00:00'
        phrase: Golden Fox
    membershipList:
      description: Memberships List
      type: object
      properties:
        total:
          type: integer
          description: Total number of memberships that matched your query.
          format: int32
          example: 5
        memberships:
          type: array
          description: List of memberships.
          items:
            $ref: '#/components/schemas/membership'
          example: []
      required:
      - total
      - memberships
      example:
        total: 5
        memberships: ''
    identityList:
      description: Identities List
      type: object
      properties:
        total:
          type: integer
          description: Total number of identities that matched your query.
          format: int32
          example: 5
        identities:
          type: array
          description: List of identities.
          items:
            $ref: '#/components/schemas/identity'
          example: []
      required:
      - total
      - identities
      example:
        total: 5
        identities: ''
    userList:
      description: Users List
      type: object
      properties:
        total:
          type: integer
          description: Total number of users that matched your query.
          format: int32
          example: 5
        users:
          type: array
          description: List of users.
          items:
            $ref: '#/components/schemas/user'
          example: []
      required:
      - total
      - users
      example:
        total: 5
        users: ''
    user:
      description: User
      type: object
      properties:
        $id:
          type: string
          description: User ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: User creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: User update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: User name.
          example: John Doe
        password:
          type:
          - string
          - 'null'
          description: Hashed user password.
          example: $argon2id$v=19$m=2048,t=4,p=3$aUZjLnliVWRINmFNTWMudg$5S+x+7uA31xFnrHFT47yFwcJeaP0w92L/4LdgrVRXxE
        hash:
          type:
          - string
          - 'null'
          description: Password hashing algorithm.
          example: argon2
        hashOptions:
          type:
          - object
          - 'null'
          description: Password hashing algorithm configuration.
          example: {}
          allOf:
          - oneOf:
            - $ref: '#/components/schemas/algoArgon2'
            - $ref: '#/components/schemas/algoScrypt'
            - $ref: '#/components/schemas/algoScryptModified'
            - $ref: '#/components/schemas/algoBcrypt'
            - $ref: '#/components/schemas/algoPhpass'
            - $ref: '#/components/schemas/algoSha'
            - $ref: '#/components/schemas/algoMd5'
            discriminator:
              propertyName: type
              mapping:
                argon2: '#/components/schemas/algoArgon2'
                scrypt: '#/components/schemas/algoScrypt'
                scryptMod: '#/components/schemas/algoScryptModified'
                bcrypt: '#/components/schemas/algoBcrypt'
                phpass: '#/components/schemas/algoPhpass'
                sha: '#/components/schemas/algoSha'
                md5: '#/components/schemas/algoMd5'
        registration:
          type: string
          description: User registration date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        status:
          type: boolean
          description: User status. Pass `true` for enabled and `false` for disabled.
          example: true
        labels:
          type: array
          description: Labels for the user.
          items:
            type: string
          example:
          - vip
        passwordUpdate:
          type: string
          description: Password update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        email:
          type: string
          description: User email address.
          example: john@appwrite.io
        phone:
          type: string
          description: User phone number in E.164 format.
          example: '+4930901820'
        emailVerification:
          type: boolean
          description: Email verification status.
          example: true
        emailCanonical:
          type:
          - string
          - 'null'
          description: Canonical form of the user email address.
          example: john@appwrite.io
        emailIsFree:
          type:
          - boolean
          - 'null'
          description: Whether the user email is from a free email provider.
          example: true
        emailIsDisposable:
          type:
          - boolean
          - 'null'
          description: Whether the user email is from a disposable email provider.
          example: false
        emailIsCorporate:
          type:
          - boolean
          - 'null'
          description: Whether the user email is from a corporate domain.
          example: true
        emailIsCanonical:
          type:
          - boolean
          - 'null'
          description: Whether the user email is in its canonical form.
          example: true
        phoneVerification:
          type: boolean
          description: Phone verification status.
          example: true
        mfa:
          type: boolean
          description: Multi factor authentication status.
          example: true
        prefs:
          type: object
          description: User preferences as a key-value object
          example:
            theme: pink
            timezone: UTC
          allOf:
          - $ref: '#/components/schemas/preferences'
        targets:
          type: array
          description: A user-owned message receiver. A single user may have multiple e.g. emails, phones, and a browser. Each target is registered with a single provider.
          items:
            $ref: '#/components/schemas/target'
          example: []
        accessedAt:
          type: string
          description: Most recent access date in ISO 8601 format. This attribute is only updated again after 24 hours.
          example: '2020-10-15T06:38:00.000+00:00'
        impersonator:
          type:
          - boolean
          - 'null'
          description: Whether the user can impersonate other users.
          example: false
        impersonatorUserId:
          type:
          - string
          - 'null'
          description: ID of the original actor performing the impersonation. Present only when the current request is impersonating another user. Internal audit logs attribute the action to this user, while the impersonated target is recorded only in internal audit payload data.
          example: 5e5ea5c16897e
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - registration
      - status
      - labels
      - passwordUpdate
      - email
      - phone
      - emailVerification
      - phoneVerification
      - mfa
      - prefs
      - targets
      - accessedAt
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: John Doe
        password: $argon2id$v=19$m=2048,t=4,p=3$aUZjLnliVWRINmFNTWMudg$5S+x+7uA31xFnrHFT47yFwcJeaP0w92L/4LdgrVRXxE
        hash: argon2
        hashOptions: {}
        registration: '2020-10-15T06:38:00.000+00:00'
        status: true
        labels:
        - vip
        passwordUpdate: '2020-10-15T06:38:00.000+00:00'
        email: john@appwrite.io
        phone: '+4930901820'
        emailVerification: true
        emailCanonical: john@appwrite.io
        emailIsFree: true
        emailIsDisposable: false
        emailIsCorporate: true
        emailIsCanonical: true
        phoneVerification: true
        mfa: true
        prefs:
          theme: pink
[...]
