openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Notifications API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Notifications
  description: The Notifications service allows you to read and manage your Appwrite Console notifications.
paths:
  /notifications:
    get:
      summary: List notifications
      operationId: notificationsList
      tags:
      - Notifications
      description: Get the list of notifications for the currently logged in console user. Use queries to filter the results by attributes such as read status, view timestamps, or creation date.
      responses:
        '200':
          description: Notifications List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationList'
      deprecated: false
      x-appwrite:
        group: null
        demo: notifications/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: read, type, channel, messageId, projectId, resourceType, resourceId, parentResourceType, parentResourceId, firstSeen, lastSeen'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
  /notifications/{notificationId}:
    patch:
      summary: Update notification
      operationId: notificationsUpdate
      tags:
      - Notifications
      description: Update a notification by its unique ID. Use the `read` parameter to mark the notification as read or unread.
      responses:
        '200':
          description: Notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notification'
      deprecated: false
      x-appwrite:
        group: null
        demo: notifications/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
        - console
        packaging: false
        public: true
        auth:
          console:
            Project: []
      security:
      - Project: []
      parameters:
      - name: notificationId
        description: Notification ID.
        required: true
        schema:
          type: string
          example: <NOTIFICATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  description: Notification read status.
                  type: boolean
                  example: false
              required:
              - read
components:
  schemas:
    notificationList:
      description: Notifications List
      type: object
      properties:
        total:
          type: integer
          description: Total number of notifications that matched your query.
          format: int32
          example: 5
        notifications:
          type: array
          description: List of notifications.
          items:
            $ref: '#/components/schemas/notification'
          example: []
      required:
      - total
      - notifications
      example:
        total: 5
        notifications: ''
    notification:
      description: Notification
      type: object
      properties:
        $id:
          type: string
          description: Notification ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Notification creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Notification update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        messageId:
          type:
          - string
          - 'null'
          description: Stable message ID used for dedup.
          example: session.create
        type:
          type: string
          description: 'Notification type: info, warning, error.'
          example: info
        channel:
          type: string
          description: 'Channel: email, sms, push, console, webhook.'
          example: email
        resourceType:
          type: string
          description: Resource type this notification is addressed to.
          example: users
        resourceId:
          type: string
          description: Resource ID this notification is addressed to.
          example: 5e5bb8c16897e
        parentResourceType:
          type: string
          description: Parent resource type for the notification.
          example: projects
        parentResourceId:
          type: string
          description: Parent resource ID for the notification.
          example: 5e5bb8c16897e
        projectId:
          type:
          - string
          - 'null'
          description: Project the notification pertains to.
          example: 5e5bb8c16897e
        title:
          type: string
          description: Notification title.
          example: New sign-in detected
        body:
          type: string
          description: Notification body.
          example: A new device signed in to your account.
        read:
          type:
          - boolean
          - 'null'
          description: Whether the notification has been read.
          example: false
        firstSeen:
          type:
          - string
          - 'null'
          description: First time the notification was viewed from a notification logo.
          example: '2020-10-15T06:38:00.000+00:00'
        lastSeen:
          type:
          - string
          - 'null'
          description: Most recent time the notification was viewed from a notification logo.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - type
      - channel
      - resourceType
      - resourceId
      - parentResourceType
      - parentResourceId
      - title
      - body
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        messageId: session.create
        type: info
        channel: email
        resourceType: users
        resourceId: 5e5bb8c16897e
        parentResourceType: projects
        parentResourceId: 5e5bb8c16897e
        projectId: 5e5bb8c16897e
        title: New sign-in detected
        body: A new device signed in to your account.
        read: false
        firstSeen: '2020-10-15T06:38:00.000+00:00'
        lastSeen: '2020-10-15T06:38:00.000+00:00'
  securitySchemes:
    Project:
      type: apiKey
      name: X-Appwrite-Project
      description: Your project ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    ProjectPath:
      type: apiKey
      name: project
      description: Your project ID
      in: query
      x-appwrite:
        location: path
        param: project_id
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    JWT:
      type: apiKey
      name: X-Appwrite-JWT
      description: Your secret JSON Web Token
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_JWT>
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The OAuth access token to authenticate with
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Locale:
      type: apiKey
      name: X-Appwrite-Locale
      description: ''
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: en
    Session:
      type: apiKey
      name: X-Appwrite-Session
      description: The user session to authenticate with
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    DevKey:
      type: apiKey
      name: X-Appwrite-Dev-Key
      description: Your secret dev API key
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Cookie:
      type: apiKey
      name: Cookie
      description: The user cookie to authenticate with. Used by SDKs that forward an incoming Cookie header in server-side runtimes.
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserId:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Id
      description: Impersonate a user by ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserEmail:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Email
      description: Impersonate a user by email
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserPhone:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Phone
      description: Impersonate a user by phone
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Key:
      type: apiKey
      name: X-Appwrite-Key
      description: Your secret API key
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        - manager
        demo: <YOUR_API_KEY>
    Organization:
      type: apiKey
      name: X-Appwrite-Organization
      description: Your organization ID
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        demo: <YOUR_ORGANIZATION_ID>
    ForwardedUserAgent:
      type: apiKey
      name: X-Forwarded-User-Agent
      description: The user agent string of the client that made the request
      in: header
      x-appwrite:
        platforms:
        - server
    Mode:
      type: apiKey
      name: X-Appwrite-Mode
      description: ''
      in: header
      x-appwrite:
        platforms:
        - console
        demo: ''
    Platform:
      type: apiKey
      name: X-Appwrite-Platform
      description: The platform type (Appwrite or Imagine)
      in: header
      x-appwrite:
        platforms:
        - console
externalDocs:
  description: Full API docs, specs and tutorials
  url: https://appwrite.io/docs
