openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Organization API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Organization
  description: The Organization service allows you to manage organization-level projects.
paths:
  /organization:
    get:
      summary: Get organization
      operationId: organizationGet
      tags:
      - Organization
      description: Get the current organization.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organization/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
    put:
      summary: Update organization
      operationId: organizationUpdate
      tags:
      - Organization
      description: Update the current organization's name.
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
      deprecated: false
      x-appwrite:
        group: null
        demo: organization/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'New organization name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
              required:
              - name
    delete:
      summary: Delete organization
      operationId: organizationDelete
      tags:
      - Organization
      description: Delete the current organization. All projects that belong to the organization are deleted as well.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: null
        demo: organization/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
  /organization/installations:
    get:
      summary: List Installations
      operationId: organizationListInstallations
      tags:
      - Organization
      description: List app installations on the organization. Any organization member can read installations.
      responses:
        '200':
          description: App installations list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallationList'
      deprecated: false
      x-appwrite:
        group: installations
        demo: organization/list-installations.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: organization.installations.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
        Organization: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create Installation
      operationId: organizationCreateInstallation
      tags:
      - Organization
      description: Install an app on the organization. Only organization members with the owner role can install apps. The installation is granted the scopes the app currently requests.
      responses:
        '201':
          description: AppInstallation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallation'
      deprecated: false
      x-appwrite:
        group: installations
        demo: organization/create-installation.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: organization.installations.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
        Organization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appId:
                  description: Application unique ID.
                  type: string
                  example: <APP_ID>
                authorizationDetails:
                  description: Authorization details granted to the installation as a JSON array of objects, each with a `type` and app-defined fields. The Appwrite Console stores authorized project IDs here.
                  type: string
                  default: ''
                  example: <AUTHORIZATION_DETAILS>
              required:
              - appId
  /organization/installations/{installationId}:
    get:
      summary: Get Installation
      operationId: organizationGetInstallation
      tags:
      - Organization
      description: Get an app installation on the organization by its unique ID. Any organization member can read installations.
      responses:
        '200':
          description: AppInstallation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallation'
      deprecated: false
      x-appwrite:
        group: installations
        demo: organization/get-installation.md
        rate-limit: 120
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: organization.installations.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
        Organization: []
      parameters:
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
    put:
      summary: Update Installation
      operationId: organizationUpdateInstallation
      tags:
      - Organization
      description: Update an app installation on the organization. Only organization members with the owner role can update installations. The installation's granted scopes are refreshed to the scopes the app currently requests; previously issued installation access tokens are revoked.
      responses:
        '200':
          description: AppInstallation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appInstallation'
      deprecated: false
      x-appwrite:
        group: installations
        demo: organization/update-installation.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: organization.installations.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
        Organization: []
      parameters:
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authorizationDetails:
                  description: Authorization details granted to the installation as a JSON array of objects, each with a `type` and app-defined fields. Omit to keep the current value.
                  type:
                  - string
                  - 'null'
                  example: <AUTHORIZATION_DETAILS>
    delete:
      summary: Delete Installation
      operationId: organizationDeleteInstallation
      tags:
      - Organization
      description: Uninstall an app from the organization by its installation ID. Only organization members with the owner role can remove installations. Previously issued installation access tokens are revoked.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: installations
        demo: organization/delete-installation.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},userId:{userId}
        scope: organization.installations.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
        Organization: []
      parameters:
      - name: installationId
        description: Installation unique ID.
        required: true
        schema:
          type: string
          example: <INSTALLATION_ID>
        in: path
  /organization/keys:
    get:
      summary: List organization keys
      operationId: organizationListKeys
      tags:
      - Organization
      description: Get a list of all API keys from the current organization.
      responses:
        '200':
          description: API Keys List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyList'
      deprecated: false
      x-appwrite:
        group: keys
        demo: organization/list-keys.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.keys.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: expire, accessedAt, name, scopes'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create organization key
      operationId: organizationCreateKey
      tags:
      - Organization
      description: Create a new organization API key.
      responses:
        '201':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: organization/create-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  description: Key ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <KEY_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: OrganizationKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - projects.read
                      title: projects.read
                    - type: string
                      enum:
                      - projects.write
                      title: projects.write
                    - type: string
                      enum:
                      - devKeys.read
                      title: devKeys.read
                    - type: string
                      enum:
                      - devKeys.write
                      title: devKeys.write
                    - type: string
                      enum:
                      - organization.keys.read
                      title: organization.keys.read
                    - type: string
                      enum:
                      - organization.keys.write
                      title: organization.keys.write
                    - type: string
                      enum:
                      - organization.installations.read
                      title: organization.installations.read
                    - type: string
                      enum:
                      - organization.installations.write
                      title: organization.installations.write
                    - type: string
                      enum:
                      - organization.memberships.read
                      title: organization.memberships.read
                    - type: string
                      enum:
                      - organization.memberships.write
                      title: organization.memberships.write
                    - type: string
                      enum:
                      - organization.read
                      title: organization.read
                    - type: string
                      enum:
                      - organization.write
                      title: organization.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - keyId
              - name
              - scopes
  /organization/keys/{keyId}:
    get:
      summary: Get organization key
      operationId: organizationGetKey
      tags:
      - Organization
      description: Get a key by its unique ID. This endpoint returns details about a specific API key in your organization including its scopes.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: organization/get-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.keys.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
    put:
      summary: Update organization key
      operationId: organizationUpdateKey
      tags:
      - Organization
      description: Update a key by its unique ID. Use this endpoint to update the name, scopes, or expiration time of an API key.
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key'
      deprecated: false
      x-appwrite:
        group: keys
        demo: organization/update-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Key name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                scopes:
                  description: Key scopes list. Maximum of 200 scopes are allowed.
                  type: array
                  items:
                    title: OrganizationKeyScopes
                    type: string
                    oneOf:
                    - type: string
                      enum:
                      - projects.read
                      title: projects.read
                    - type: string
                      enum:
                      - projects.write
                      title: projects.write
                    - type: string
                      enum:
                      - devKeys.read
                      title: devKeys.read
                    - type: string
                      enum:
                      - devKeys.write
                      title: devKeys.write
                    - type: string
                      enum:
                      - organization.keys.read
                      title: organization.keys.read
                    - type: string
                      enum:
                      - organization.keys.write
                      title: organization.keys.write
                    - type: string
                      enum:
                      - organization.installations.read
                      title: organization.installations.read
                    - type: string
                      enum:
                      - organization.installations.write
                      title: organization.installations.write
                    - type: string
                      enum:
                      - organization.memberships.read
                      title: organization.memberships.read
                    - type: string
                      enum:
                      - organization.memberships.write
                      title: organization.memberships.write
                    - type: string
                      enum:
                      - organization.read
                      title: organization.read
                    - type: string
                      enum:
                      - organization.write
                      title: organization.write
                    - type: string
                      enum:
                      - domains.read
                      title: domains.read
                    - type: string
                      enum:
                      - domains.write
                      title: domains.write
                    - type: string
                      enum:
                      - keys.read
                      title: keys.read
                    - type: string
                      enum:
                      - keys.write
                      title: keys.write
                expire:
                  description: Expiration time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Use null for unlimited expiration.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - name
              - scopes
    delete:
      summary: Delete organization key
      operationId: organizationDeleteKey
      tags:
      - Organization
      description: Delete a key by its unique ID. Once deleted, the key can no longer be used to authenticate API calls.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: keys
        demo: organization/delete-key.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.keys.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: keyId
        description: Key unique ID.
        required: true
        schema:
          type: string
          example: <KEY_ID>
        in: path
  /organization/memberships:
    get:
      summary: List organization memberships
      operationId: organizationListMemberships
      tags:
      - Organization
      description: Get a list of all memberships from the current organization.
      responses:
        '200':
          description: Memberships List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membershipList'
      deprecated: false
      x-appwrite:
        group: memberships
        demo: organization/list-memberships.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.memberships.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, teamId, invited, joined, confirm, roles'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create organization membership
      operationId: organizationCreateMembership
      tags:
      - Organization
      description: Invite a new member to join the current organization. An email with a link to join the organization will be sent to the new member's email address. If member doesn't exist in the project it will be automatically created.
      responses:
        '201':
          description: Membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membership'
      deprecated: false
      x-appwrite:
        group: memberships
        demo: organization/create-membership.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.memberships.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: Email of the new organization member.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                userId:
                  description: ID of the user to be added to the organization.
                  type: string
                  default: ''
                  example: <USER_ID>
                phone:
                  description: Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.
                  type: string
                  default: ''
                  example: '+12065550100'
                  format: phone
                roles:
                  description: Array of strings. Use this param to set the user roles in the organization. A role can be any string. Learn more about [roles and permissions](https://appwrite.io/docs/permissions). Maximum of 100 roles are allowed, each 81 characters long.
                  type: array
                  items:
                    type: string
                url:
                  description: URL to redirect the user back to your app from the invitation email. This parameter is not required when an API key is supplied.
                  type: string
                  default: ''
                  example: https://example.com
                  format: url
                name:
                  description: 'Name of the new organization member. Max length: 128 chars.'
                  type: string
                  default: ''
                  example: <NAME>
              required:
              - roles
  /organization/memberships/{membershipId}:
    get:
      summary: Get organization membership
      operationId: organizationGetMembership
      tags:
      - Organization
      description: Get a membership from the current organization by its unique ID.
      responses:
        '200':
          description: Membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membership'
      deprecated: false
      x-appwrite:
        group: memberships
        demo: organization/get-membership.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.memberships.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: membershipId
        description: Membership ID.
        required: true
        schema:
          type: string
          example: <MEMBERSHIP_ID>
        in: path
    patch:
      summary: Update organization membership
      operationId: organizationUpdateMembership
      tags:
      - Organization
      description: Modify the roles of a member in the current organization.
      responses:
        '200':
          description: Membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membership'
      deprecated: false
      x-appwrite:
        group: memberships
        demo: organization/update-membership.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.memberships.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: membershipId
        description: Membership ID.
        required: true
        schema:
          type: string
          example: <MEMBERSHIP_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roles:
                  description: An array of strings. Use this param to set the user's roles in the organization. A role can be any string. Learn more about [roles and permissions](https://appwrite.io/docs/permissions). Maximum of 100 roles are allowed, each 81 characters long.
                  type: array
                  items:
                    type: string
              required:
              - roles
    delete:
      summary: Delete organization membership
      operationId: organizationDeleteMembership
      tags:
      - Organization
      description: Remove a member from the current organization. The member is removed whether they accepted the invitation or not; a pending invitation is revoked.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: memberships
        demo: organization/delete-membership.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: organization.memberships.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: membershipId
        description: Membership ID.
        required: true
        schema:
          type: string
          example: <MEMBERSHIP_ID>
        in: path
  /organization/projects:
    get:
      summary: List organization projects
      operationId: organizationListProjects
      tags:
      - Organization
      description: Get a list of all projects. You can use the query params to filter your results.
      responses:
        '200':
          description: Projects List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectList'
      deprecated: false
      x-appwrite:
        group: projects
        demo: organization/list-projects.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, teamId, labels, search, accessedAt'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create organization project
      operationId: organizationCreateProject
      tags:
      - Organization
      description: Create a new project.
      responses:
        '201':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: projects
        demo: organization/create-project.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, and hyphen. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROJECT_ID>
                name:
                  description: 'Project name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                region:
                  description: Project Region.
                  type: string
                  example: fra
                  title: Region
                  oneOf:
                  - type: string
                    enum:
                    - fra
                    title: fra
                  - type: string
                    enum:
                    - nyc
                    title: nyc
                  - type: string
                    enum:
                    - syd
                    title: syd
                  - type: string
                    enum:
                    - sfo
                    title: sfo
                  - type: string
                    enum:
                    - sgp
                    title: sgp
                  - type: string
                    enum:
                    - tor
                    title: tor
              required:
              - projectId
              - name
  /organization/projects/{projectId}:
    get:
      summary: Get organization project
      operationId: organizationGetProject
      tags:
      - Organization
      description: Get a project.
      responses:
        '200':
          description: Project
          content:
            ? ''
            : schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: projects
        demo: organization/get-project.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: projectId
        description: Project unique ID.
        required: true
        schema:
          type: string
          example: <PROJECT_ID>
        in: path
    patch:
      summary: Update organization project
      operationId: organizationUpdateProject
      tags:
      - Organization
      description: Update a project by its unique ID.
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
      deprecated: false
      x-appwrite:
        group: projects
        demo: organization/update-project.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: projectId
        description: Project unique ID.
        required: true
        schema:
          type: string
          example: <PROJECT_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Project name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
              required:
              - name
    delete:
      summary: Delete organization project
      operationId: organizationDeleteProject
      tags:
      - Organization
      description: Delete a project by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: projects
        demo: organization/delete-project.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: projects.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
        Organization: []
      parameters:
      - name: projectId
        description: Project unique ID.
        required: true
        schema:
          type: string
          example: <PROJECT_ID>
        in: path
components:
  schemas:
    project:
      description: Project
      type: object
      properties:
        $id:
          type: string
          description: Project ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Project creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Project update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Project name.
          example: New Project
        teamId:
          type: string
          description: Project team ID.
          example: '1592981250'
        region:
          type: string
          description: Project region
          example: fra
        devKeys:
          type: array
          description: 'Deprecated since 1.9.5: List of dev keys.'
          items:
            $ref: '#/components/schemas/devKey'
          example: []
        smtpEnabled:
          type: boolean
          description: Status for custom SMTP
          example: false
        smtpSenderName:
          type: string
          description: SMTP sender name
          example: John Appwrite
        smtpSenderEmail:
          type: string
          description: SMTP sender email
          example: john@appwrite.io
        smtpReplyToName:
          type: string
          description: SMTP reply to name
          example: Support Team
        smtpReplyToEmail:
          type: string
          description: SMTP reply to email
          example: support@appwrite.io
        smtpHost:
          type: string
          description: SMTP server host name
          example: mail.appwrite.io
        smtpPort:
          type: integer
          description: SMTP server port
          format: int32
          example: 25
        smtpUsername:
          type: string
          description: SMTP server username
          example: emailuser
        smtpPassword:
          type: string
          description: SMTP server password. This property is write-only and always returned empty.
          format: password
          example: smtp-password
        smtpSecure:
          type: string
          description: SMTP server secure protocol
          example: tls
        pingCount:
          type: integer
          description: Number of times the ping was received for this project.
          format: int32
          example: 1
        pingedAt:
          type: string
          description: Last ping datetime in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        labels:
          type: array
          description: Labels for the project.
          items:
            type: string
          example:
          - vip
        status:
          type: string
          description: Project status
          example: active
        onboarding:
          type: object
          additionalProperties: true
          description: Stage progress (completed or skipped) with timestamps and actor types, keyed by stage id.
          example: {}
        authMethods:
          type: array
          description: List of auth methods.
          items:
            $ref: '#/components/schemas/projectAuthMethod'
          example: []
        services:
          type: array
          description: List of services.
          items:
            $ref: '#/components/schemas/projectService'
          example: []
        protocols:
          type: array
          description: List of protocols.
          items:
            $ref: '#/components/schemas/projectProtocol'
          example: []
        blocks:
          type: array
          description: Project blocks information
          items:
            $ref: '#/components/schemas/block'
          example: []
        consoleAccessedAt:
          type: string
          description: Last time the project was accessed via console. Used with plan's projectInactivityDays to determine if project is paused.
          example: '2020-10-15T06:38:00.000+00:00'
        wafEnabled:
          type:
          - boolean
          - 'null'
          description: Whether WAF enforcement is enabled for the project.
          example: true
        billingLimits:
          type:
          - object
          - 'null'
          description: Billing limits reached
          allOf:
          - $ref: '#/components/schemas/billingLimits'
        oAuth2ServerEnabled:
          type:
          - boolean
          - 'null'
          description: OAuth2 server status
          example: false
        oAuth2ServerAuthorizationUrl:
          type:
          - string
          - 'null'
          description: OAuth2 server authorization URL
          example: https://cloud.appwrite.io/oauth2/.well-known/openid-configuration
        oAuth2ServerScopes:
          type:
          - array
          - 'null'
          description: OAuth2 server allowed scopes
          items:
            type: string
          example:
          - read
          - write
        oAuth2ServerDefaultScopes:
          type:
          - array
          - 'null'
          description: OAuth2 server scopes used when an authorization request omits the scope parameter
          items:
            type: string
          example:
          - read
        oAuth2ServerInstallationScopes:
          type:
          - array
          - 'null'
          description: Scopes an application may request when installed on a team
          items:
            type: string
          example:
          - project:all
        oAuth2ServerAuthorizationDetailsTypes:
          type:
          - array
          - 'null'
          description: OAuth2 server accepted RFC 9396 authorization_details types
          items:
            type: string
          example:
          - calendar
        oAuth2ServerAccessTokenDuration:
          type:
          - integer
          - 'null'
          description: OAuth2 server access token duration in seconds for confidential clients
          format: int32
          example: 3600
        oAuth2ServerRefreshTokenDuration:
          type:
          - integer
          - 'null'
          description: OAuth2 server refresh token duration in seconds for confidential clients
          format: int32
          example: 86400
        oAuth2ServerPublicAccessTokenDuration:
          type:
          - integer
          - 'null'
          description: OAuth2 server access token duration in seconds for public clients (SPAs, mobile, native)
          format: int32
          example: 3600
        oAuth2ServerPublicRefreshTokenDuration:
          type:
          - integer
          - 'null'
          description: OAuth2 server refresh token duration in seconds for public clients (SPAs, mobile, native)
          format: int32
          example: 2592000
        oAuth2ServerInstallationAccessTokenDuration:
          type:
          - integer
          - 'null'
          description: OAuth2 server access token duration in seconds for app installation access tokens
          format: int32
          example: 3600
        oAuth2ServerConfidentialPkce:
          type:
          - boolean
          - 'null'
          description: When enabled, PKCE is required for confidential clients (server-side flows using client_secret). PKCE is always required for public clients regardless of this setting.
          example: false
        oAuth2ServerVerificationUrl:
          type:
          - string
          - 'null'
          description: URL to your application page where users enter the device flow user code. Empty when the Device Authorization Grant is not configured.
          example: https://cloud.appwrite.io/device
        oAuth2ServerUserCodeLength:
          type:
          - integer
          - 'null'
          description: Number of characters in the device flow user code, excluding the formatting separator.
          format: int32
          example: 8
        oAuth2ServerUserCodeFormat:
          type:
          - string
          - 'null'
          description: 'Character set for device flow user codes: `numeric`, `alphabetic`, or `alphanumeric`.'
          example: alphanumeric
        oAuth2ServerDeviceCodeDuration:
          type:
          - integer
          - 'null'
          description: Lifetime in seconds of device flow device codes and user codes.
          format: int32
          example: 600
        oAuth2ServerDiscoveryUrl:
          type:
          - string
          - 'null'
          description: OAuth2 server discovery URL
          example: https://auth.example.com/.well-known/openid-configuration
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - teamId
      - region
      - devKeys
      - smtpEnabled
      - smtpSenderName
      - smtpSenderEmail
      - smtpReplyToName
      - smtpReplyToEmail
      - smtpHost
      - smtpPort
      - smtpUsername
      - smtpPassword
      - smtpSecure
      - pingCount
      - pingedAt
      - labels
      - status
      - onboarding
      - authMethods
      - services
      - protocols
      - blocks
      - consoleAccessedAt
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: New Project
        teamId: '1592981250'
        region: fra
        devKeys: {}
        smtpEnabled: false
        smtpSenderName: John Appwrite
        smtpSenderEmail: john@appwrite.io
        smtpReplyToName: Support Team
        smtpReplyToEmail: support@appwrite.io
        smtpHost: mail.appwrite.io
        smtpPort: 25
        smtpUsername: emailuser
        smtpPassword: smtp-password
        smtpSecure: tls
        pingCount: 1
        pingedAt: '2020-10-15T06:38:00.000+00:00'
        labels:
        - vip
        status: active
        onboarding: {}
        authMethods: {}
        services: {}
        protocols: {}
        blocks: ''
        consoleAccessedAt: '2020-10-15T06:38:00.000+00:00'
        wafEnabled: true
        billingLimits: ''
        oAuth2ServerEnabled: false
        oAuth2ServerAuthorizationUrl: https://cloud.appwrite.io/oauth2/.well-known/openid-configuration
        oAuth2ServerScopes:
        - read
        - write
        oAuth2ServerDefaultScopes:
        - read
        oAuth2ServerInstallationScopes:
        - project:all
        oAuth2ServerAuthorizationDetailsTypes:
        - calendar
        oAuth2ServerAccessTokenDuration: 3600
        oAuth2ServerRefreshTokenDuration: 86400
        oAuth2ServerPublicAccessTokenDuration: 3600
        oAuth2ServerPublicRefreshTokenDuration: 2592000
        oAuth2ServerInstallationAccessTokenDuration: 3600
        oAuth2ServerConfidentialPkce: false
        oAuth2ServerVerificationUrl: https://cloud.appwrite.io/device
        oAuth2ServerUserCodeLength: 8
        oAuth2ServerUserCodeFormat: alphanumeric
        oAuth2ServerDeviceCodeDuration: 600
        oAuth2ServerDiscoveryUrl: https://auth.example.com/.well-known/openid-configuration
    devKey:
      description: DevKey
      type: object
      properties:
        $id:
          type: string
          description: Key ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Key creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Key update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Key name.
          example: Dev API Key
        expire:
          type: string
          description: Key expiration date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        secret:
          type: string
          description: Secret key.
          example: 919c2d18fb5d4...a2ae413da83346ad2
        accessedAt:
          type: string
          description: Most recent access date in ISO 8601 format. This attribute is only updated again after 24 hours.
          example: '2020-10-15T06:38:00.000+00:00'
        sdks:
          type: array
          description: List of SDK user agents that used this key.
          items:
            type: string
          example:
          - appwrite:flutter
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - expire
      - secret
      - accessedAt
      - sdks
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Dev API Key
        expire: '2020-10-15T06:38:00.000+00:00'
        secret: 919c2d18fb5d4...a2ae413da83346ad2
        accessedAt: '2020-10-15T06:38:00.000+00:00'
        sdks: appwrite:flutter
    billingPlanDedicatedDatabaseLimits:
      description: dedicatedDatabaseLimits
      type: object
      properties:
        minCpu:
          type:
          - integer
          - 'null'
          description: Minimum CPU allocation in millicores.
          format: int32
          example: 125
        maxCpu:
          type:
          - integer
          - 'null'
          description: Maximum CPU allocation in millicores.
          format: int32
          example: 32000
        minMemoryMb:
          type:
          - integer
          - 'null'
          description: Minimum memory allocation in megabytes.
          format: int32
          example: 128
        maxMemoryMb:
          type:
          - integer
          - 'null'
          description: Maximum memory allocation in megabytes.
          format: int32
          example: 262144
        minStorageGb:
          type:
          - integer
          - 'null'
          description: Minimum storage allocation in gigabytes.
          format: int32
          example: 1
        maxStorageGb:
          type:
          - integer
          - 'null'
          description: Maximum storage allocation in gigabytes.
          format: int32
          example: 16384
        maxReplicas:
          type:
          - integer
          - 'null'
          description: Maximum number of high-availability replicas per dedicated database.
          format: int32
          example: 5
        maxConnections:
          type:
          - integer
          - 'null'
          description: Maximum number of client connections.
          format: int32
          example: 10000
        maxIpAllowlistSize:
          type:
          - integer
          - 'null'
          description: Maximum number of entries allowed in the IP allowlist.
          format: int32
          example: 100
        maxExtensions:
          type:
          - integer
          - 'null'
          description: Maximum number of database extensions that can be enabled.
          format: int32
          example: 50
        maxBackupRetentionDays:
          type:
          - integer
          - 'null'
          description: Maximum number of days a backup can be retained.
          format: int32
          example: 365
        maxPitrRetentionDays:
          type:
          - integer
          - 'null'
          description: Maximum number of days of point-in-time recovery data that can be retained.
          format: int32
          example: 35
        maxSqlApiMaxRows:
          type:
          - integer
          - 'null'
          description: Maximum number of rows a single SQL API query can return.
          format: int32
          example: 1000000
        maxSqlApiMaxBytes:
          type:
          - integer
          - 'null'
          description: Maximum response size in bytes for a single SQL API query.
          format: int32
          example: 104857600
        maxSqlApiTimeoutSeconds:
          type:
          - integer
          - 'null'
          description: Maximum execution time in seconds for a single SQL API query.
          format: int32
          example: 300
        maxSqlApiAllowedStatements:
          type:
          - integer
          - 'null'
          description: Maximum number of SQL statement types that can be permitted through the SQL API.
          format: int32
          example: 10
        allowedSqlStatements:
          type:
          - array
          - 'null'
          description: SQL statement types permitted through the SQL API.
          items:
            type: string
          example:
          - select
          - insert
          - update
          - delete
          - explain
        allowedStorageClasses:
          type:
          - array
          - 'null'
          description: Storage classes available for dedicated databases.
          items:
            type: string
          example:
          - ssd
        allowedSyncModes:
          type:
          - array
          - 'null'
          description: Replica synchronization modes available for dedicated databases.
          items:
            type: string
          example:
          - async
          - sync
          - quorum
      example:
        minCpu: 125
        maxCpu: 32000
        minMemoryMb: 128
        maxMemoryMb: 262144
        minStorageGb: 1
        maxStorageGb: 16384
        maxReplicas: 5
        maxConnections: 10000
        maxIpAllowlistSize: 100
        maxExtensions: 50
        maxBackupRetentionDays: 365
        maxPitrRetentionDays: 35
        maxSqlApiMaxRows: 1000000
        maxSqlApiMaxBytes: 104857600
        maxSqlApiTimeoutSeconds: 300
        maxSqlApiAllowedStatements: 10
        allowedSqlStatements:
        - select
        - insert
        - update
        - delete
        - explain
        allowedStorageClasses:
        - ssd
        allowedSyncModes:
        - async
        - sync
        - quorum
    billingPlanSupportedAddons:
      description: BillingPlanSupportedAddons
      type: object
      properties:
        baa:
          type: boolean
          description: Whether the plan supports BAA (Business Associate Agreement) addon
          example: true
        premiumGeoDB:
          type: boolean
          description: Whether the plan supports Premium Geo DB addon (project-level)
          example: true
        premiumGeoDBOrg:
          type: boolean
          description: Whether the plan supports Premium Geo DB addon (organization-level)
          example: true
      required:
      - baa
      - premiumGeoDB
      - premiumGeoDBOrg
      example:
        baa: true
        premiumGeoDB: true
        premiumGeoDBOrg: true
    usageBillingPlan:
      description: usageBillingPlan
      type: object
      properties:
        bandwidth:
          type: object
          description: Bandwidth additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        executions:
          type: object
          description: Executions additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        member:
          type:
          - object
          - 'null'
          description: Member additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtime:
          type: object
          description: Realtime additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtimeMessages:
          type: object
          description: Realtime messages additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        realtimeBandwidth:
          type:
          - object
          - 'null'
          description: Realtime bandwidth additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        storage:
          type: object
          description: Storage additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        users:
          type: object
          description: User additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        GBHours:
          type: object
          description: GBHour additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        imageTransformations:
          type: object
          description: Image transformation additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
        credits:
          type:
          - object
          - 'null'
          description: Credits additional resources
          allOf:
          - $ref: '#/components/schemas/additionalResource'
      required:
      - bandwidth
      - executions
      - realtime
      - realtimeMessages
      - storage
      - users
      - GBHours
      - imageTransformations
      example:
        bandwidth: null
        executions: null
        member: null
        realtime: null
        realtimeMessages: null
        realtimeBandwidth: null
        storage: null
        users: null
        GBHours: null
        imageTransformations: null
        credits: null
    membershipList:
      description: Memberships List
      type: object
      properties:
        total:
          type: integer
          description: Total number of memberships that matched your query.
          format: int32
          example: 5
        memberships:
          type: array
          description: List of memberships.
          items:
            $ref: '#/components/schemas/membership'
          example: []
      required:
      - total
      - memberships
      example:
        total: 5
        memberships: ''
    billingPlanAddonDetails:
      description: Details
      type: object
      properties:
        supported:
          type: boolean
          description: Is the addon supported in the plan?
          example: true
        planIncluded:
          type: integer
          description: Addon plan included value
          format: int32
          example: 1
        limit:
          type: integer
          description: Addon limit
          format: int32
          example: 5
        type:
          type: string
          description: Addon type
          example: numeric
        currency:
          type:
          - string
          - 'null'
          description: Price currency
          example: USD
        price:
          type: number
          description: Price
          format: double
          example: 5
        value:
          type: integer
          description: Resource value
          format: int32
          example: 25
        invoiceDesc:
          type: string
          description: Description on invoice
          example: ''
      required:
      - supported
      - planIncluded
      - limit
      - type
      - price
      - value
      - invoiceDesc
      example:
        supported: true
        planIncluded: 1
        limit: 5
        type: numeric
        currency: USD
        price: 5
        value: 25
        invoiceDesc: ''
    projectProtocol:
      description: ProjectProtocol
      type: object
      properties:
        $id:
          description: Protocol ID.
          example: graphql
          title: ProjectProtocolId
          type: string
          oneOf:
          - type: string
            enum:
            - rest
            title: rest
          - type: string
            enum:
            - graphql
            title: graphql
          - type: string
            enum:
            - websocket
            title: websocket
        enabled:
          type: boolean
          description: Protocol status.
          example: false
      required:
      - $id
      - enabled
      example:
        $id: graphql
        enabled: false
    billingPlanAddon:
      description: Addon
      type: object
      properties:
        seats:
          type:
          - object
          - 'null'
          description: Addon seats
          allOf:
          - $ref: '#/components/schemas/billingPlanAddonDetails'
        projects:
          type:
          - object
          - 'null'
          description: Addon projects
          allOf:
          - $ref: '#/components/schemas/billingPlanAddonDetails'
      example:
        seats: null
        projects: null
    additionalResource:
      description: AdditionalResource
      type: object
      properties:
        name:
          type: string
          description: Resource name
          example: ''
        unit:
          type: string
          description: Resource unit
          example: GB
        currency:
          type: string
          description: Price currency
          example: USD
        price:
          type: number
          description: Price
          format: double
          example: 5
        value:
          type: integer
          description: Resource value
          format: int32
          example: 25
        invoiceDesc:
          type: string
          description: Description on invoice
          example: ''
      required:
      - name
      - unit
      - currency
      - price
      - value
      - invoiceDesc
      example:
        name: ''
        unit: GB
        currency: USD
        price: 5
        value: 25
        invoiceDesc: ''
    billingPlan:
      description: billingPlan
      type: object
      properties:
        $id:
          type: string
          description: Plan ID.
          example: tier-0
        name:
          type: string
          description: Plan name
          example: Hobby
        desc:
          type: string
          description: Plan description
          example: Hobby plan
        order:
          type: integer
          description: Plan order
          format: int32
          example: 0
        price:
          type: number
          description: Price
          format: double
          example: 25
        trial:
          type: integer
          description: Trial days
          format: int32
          example: 14
        bandwidth:
          type: integer
          description: Bandwidth
          format: int32
          example: 25
        storage:
          type: integer
          description: Storage
          format: int32
          example: 25
        imageTransformations:
          type: integer
          description: Image Transformations
          format: int32
          example: 100
        screenshotsGenerated:
          type: integer
          description: Screenshots generated
          format: int32
          example: 50
        members:
          type:
          - integer
          - 'null'
          description: Members
          format: int32
          example: 25
        webhooks:
          type: integer
          description: Webhooks
          format: int32
          example: 25
        wafRules:
          type: integer
          description: Maximum WAF rules per project
          format: int32
          example: 2
        projects:
          type: integer
          description: Projects
          format: int32
          example: 2
        platforms:
          type: integer
          description: Platforms
          format: int32
          example: 3
        users:
          type: integer
          description: Users
          format: int32
          example: 25
        teams:
          type: integer
          description: Teams
          format: int32
          example: 25
        databases:
          type: integer
          description: Databases
          format: int32
          example: 25
        databasesReads:
          type: integer
          description: Database reads per month
          format: int32
          example: 500000
        databasesWrites:
          type: integer
          description: Database writes per month
          format: int32
          example: 250000
        databasesBatchSize:
          type: integer
          description: Database batch size limit
          format: int32
          example: 100
        buckets:
          type: integer
          description: Buckets
          format: int32
          example: 25
        fileSize:
          type: integer
          description: File size
          format: int32
          example: 25
        functions:
          type: integer
          description: Functions
          format: int32
          example: 25
        sites:
          type: integer
          description: Sites
          format: int32
          example: 1
        executions:
          type: integer
          description: Function executions
          format: int32
          example: 25
        executionsRetentionCount:
          type: integer
          description: Rolling max executions retained per function/site
          format: int32
          example: 10000
        GBHours:
          type: integer
          description: GB hours for functions
          format: int32
          example: 100
        realtime:
          type: integer
          description: Realtime connections
          format: int32
          example: 25
        realtimeMessages:
          type: integer
          description: Realtime messages
          format: int32
          example: 100000
        messages:
          type: integer
          description: Messages per month
          format: int32
          example: 1000
        topics:
          type: integer
          description: Topics for messaging
          format: int32
          example: 1
        authPhone:
          type: integer
          description: SMS authentications per month
          format: int32
          example: 10
        domains:
          type: integer
          description: Custom domains
          format: int32
          example: 5
        activityLogs:
          type:
          - integer
          - 'null'
          description: Activity log days
          format: int32
          example: 7
        usageLogs:
          type: integer
          description: Usage history days
          format: int32
          example: 30
        usageLogsIntervals:
          type:
          - array
          - 'null'
          description: Usage log time intervals allowed for this plan (e.g. 15m, 1h, 1d).
          items:
            type: string
          example:
          - 15m
          - 1h
          - 1d
        usageAggregateOnlyMetrics:
          type:
          - array
          - 'null'
          description: Metrics this plan only records as a total. They cannot be broken down by dimension or filtered, because the stored events cover a fraction of the real traffic.
          items:
            type: string
          example:
          - network.requests
          - network.inbound
          - network.outbound
        projectInactivityDays:
          type: integer
          description: Number of days of console inactivity before a project is paused. 0 means pausing is disabled.
          format: int32
          example: 7
        alertLimit:
          type: integer
          description: Alert threshold percentage
          format: int32
          example: 80
        usage:
          type: object
          description: Additional resources
          allOf:
          - $ref: '#/components/schemas/usageBillingPlan'
        addons:
          type: object
          description: Addons
          allOf:
          - $ref: '#/components/schemas/billingPlanAddon'
        budgetCapEnabled:
          type: boolean
          description: Budget cap enabled or disabled.
          example: true
        customSmtp:
          type: boolean
          description: Custom SMTP
          example: true
        emailBranding:
          type: boolean
          description: Appwrite branding in email
          example: true
        requiresPaymentMethod:
          type: boolean
          description: Does plan require payment method
          example: true
        requiresBillingAddress:
          type: boolean
          description: Does plan require billing address
          example: true
        isAvailable:
          type: boolean
          description: Is the billing plan available
          example: true
        selfService:
          type: boolean
          description: Can user change the plan themselves
          example: true
        premiumSupport:
          type: boolean
          description: Does plan enable premium support
          example: true
        budgeting:
          type: boolean
          description: Does plan support budget cap
          example: true
        supportsMockNumbers:
          type: boolean
          description: Does plan support mock numbers
          example: true
        supportsOrganizationRoles:
          type: boolean
          description: Does plan support organization roles
          example: true
        supportsCredits:
          type: boolean
          description: Does plan support credit
          example: true
        supportsDedicatedDatabases:
          type: boolean
          description: Does plan support dedicated databases.
          example: true
        supportsDisposableEmailValidation:
          type: boolean
          description: Does plan support blocking disposable email addresses.
          example: true
        supportsCanonicalEmailValidation:
          type: boolean
          description: Does plan support requiring canonical email addresses.
          example: true
        supportsFreeEmailValidation:
          type: boolean
          description: Does plan support blocking free email addresses.
          example: true
        supportsCorporateEmailValidation:
          type: boolean
          description: Does plan support restricting sign-ups to corporate email addresses only.
          example: true
        supportsProjectSpecificRoles:
          type: boolean
          description: Does plan support project-specific member roles.
          example: true
        backupsEnabled:
          type:
          - boolean
          - 'null'
          description: Does plan support backup policies.
          example: true
        usagePerProject:
          type: boolean
          description: Whether usage addons are calculated per project.
          example: true
        supportedAddons:
          type: object
          description: Supported addons for this plan
          allOf:
          - $ref: '#/components/schemas/billingPlanSupportedAddons'
        backupPolicies:
          type:
          - integer
          - 'null'
          description: How many policies does plan support
          format: int32
          example: 1
        deploymentSize:
          type: integer
          description: Maximum function and site deployment size in MB
          format: int32
          example: 30
        buildSize:
          type: integer
          description: Maximum function and site deployment size in MB
          format: int32
          example: 2000
        databasesAllowEncrypt:
          type: boolean
          description: Does the plan support encrypted string attributes or not.
          example: false
        limits:
          type:
          - object
          - 'null'
          description: Plan specific limits
          allOf:
          - $ref: '#/components/schemas/billingPlanLimits'
        group:
          description: Group of this billing plan for variants
          example: pro
          type: string
          oneOf:
          - type: string
            enum:
            - starter
            title: starter
          - type: string
            enum:
            - pro
            title: pro
          - type: string
            enum:
            - scale
            title: scale
        program:
          type:
          - object
          - 'null'
          description: Details of the program this plan is a part of.
          allOf:
          - $ref: '#/components/schemas/program'
        databaseComputeCredit:
          type: number
          description: Included monthly dedicated-database compute credit in USD. Resets each billing cycle with no roll-over.
          format: double
          example: 10
        dedicatedDatabases:
          type:
          - object
          - 'null'
          description: Dedicated database limits available to this plan.
          allOf:
          - $ref: '#/components/schemas/billingPlanDedicatedDatabaseLimits'
      required:
      - $id
      - name
      - desc
      - order
      - price
      - trial
      - bandwidth
      - storage
      - imageTransformations
      - screenshotsGenerated
      - webhooks
      - wafRules
      - projects
      - platforms
      - users
      - teams
      - databases
      - databasesReads
      - databasesWrites
      - databasesBatchSize
      - buckets
      - fileSize
      - functions
      - sites
      - executions
      - executionsRetentionCount
      - GBHours
      - realtime
      - realtimeMessages
      - messages
      - topics
      - authPhone
      - domains
      - usageLogs
      - projectInactivityDays
      - alertLimit
      - usage
      - addons
      - budgetCapEnabled
      - customSmtp
      - emailBranding
      - requiresPaymentMethod
      - requiresBillingAddress
      - isAvailable
      - selfService
      - premiumSupport
      - budgeting
      - supportsMockNumbers
      - supportsOrganizationRoles
      - supportsCredits
      - supportsDedicatedDatabases
      - supportsDisposableEmailValidation
      - supportsCanonicalEmailValidation
      - supportsFreeEmailValidation
      - supportsCorporateEmailValidation
      - supportsProjectSpecificRoles
      - usagePerProject
      - supportedAddons
      - deploymentSize
      - buildSize
      - databasesAllowEncrypt
      - group
      - databaseComputeCredit
      example:
        $id: tier-0
        name: Hobby
        desc: Hobby plan
        order: 0
        price: 25
        trial: 14
        bandwidth: 25
        storage: 25
        imageTransformations: 100
        screenshotsGenerated: 50
        members: 25
        webhooks: 25
        wafRules: 2
        projects: 2
        platforms: 3
        users: 25
        teams: 25
        databases: 25
        databasesReads: 500000
        databasesWrites: 250000
        databasesBatchSize: 100
        buckets: 25
        fileSize: 25
        functions: 25
        sites: 1
        executions: 25
        executionsRetentionCount: 10000
        GBHours: 100
        realtime: 25
        realtimeMessages: 100000
        messages: 1000
        topics: 1
        authPhone: 10
        domains: 5
        activityLogs: 7
        usageLogs: 30
        usageLogsIntervals:
        - 15m
        - 1h
        - 1d
        usageAggregateOnlyMetrics:
        - network.requests
        - network.inbound
        - network.outbound
        projectInactivityDays: 7
        alertLimit: 80
        usage: null
        addons: null
        budgetCapEnabled: true
        customSmtp: true
        emailBranding: true
        requiresPaymentMethod: true
        requiresBillingAddress: true
        isAvailable: true
        selfService: true
        premiumSupport: true
        budgeting: true
        supportsMockNumbers: true
        supportsOrganizationRoles: true
        supportsCredits: true
        supportsDedicatedDatabases: true
        supportsDisposableEmailValidation: true
        supportsCanonicalEmailValidation: true
        supportsFreeEmailValidation: true
        supportsCorporateEmailValidation: true
        supportsProjectSpecificRoles: true
        backupsEnabled: true
        usagePerProject: true
        supportedAddons: null
        backupPolicies: 1
        deploymentSize: 30
        buildSize: 2000
        databasesAllowEncrypt: false
        limits: null
        group: pro
        program: null
        databaseComputeCredit: 10
        dedicatedDatabases: null
    key:
      description: Key
      type: object
      properties:
        $id:
          type: string
          description: Key ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Key creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Key update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Key name.
          example: My API Key
        expire:
          type: string
          description: Key expiration date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        scopes:
          type: array
          description: Allowed permission scopes.
          items:
            type: string
          example:
          - users.read
        secret:
          type: string
          description: Secret key.
          example: 919c2d18fb5d4...a2ae413da83346ad2
        accessedAt:
          type: string
          description: Most recent access date in ISO 8601 format. This attribute is only updated again after 24 hours.
          example: '2020-10-15T06:38:00.000+00:00'
        sdks:
          type: array
          description: List of SDK user agents that used this key.
          items:
            type: string
          example:
          - appwrite:flutter
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - expire
      - scopes
      - secret
      - accessedAt
      - sdks
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: My API Key
        expire: '2020-10-15T06:38:00.000+00:00'
        scopes: users.read
        secret: 919c2d18fb5d4...a2ae413da83346ad2
        accessedAt: '2020-10-15T06:38:00.000+00:00'
        sdks: appwrite:flutter
    organization:
      description: Organization
      type: object
      properties:
        $id:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Team creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Team update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Team name.
          example: VIP
        total:
          type: integer
          description: Total number of team members.
          format: int32
          example: 7
        prefs:
          type: object
          description: Team preferences as a key-value object
          example:
            theme: pink
            timezone: UTC
          allOf:
          - $ref: '#/components/schemas/preferences'
        billingBudget:
          type:
          - integer
          - 'null'
          description: Project budget limit. Null when no budget is set.
          format: int32
          example: 50
        budgetAlerts:
          type: array
          description: Project budget limit
          items:
            type: integer
            format: int32
          example:
          - 50
          - 75
        billingPlan:
          type: string
          description: Organization's billing plan ID.
          example: tier-1
        billingPlanId:
          type: string
          description: Organization's billing plan ID.
          example: tier-1
        billingPlanDetails:
          type: object
          description: Organization's billing plan.
          allOf:
          - $ref: '#/components/schemas/billingPlan'
        billingEmail:
          type: string
          description: Billing email set for the organization.
          example: billing@org.example
        billingStartDate:
          type: string
          description: Billing cycle start date.
          example: '2020-10-15T06:38:00.000+00:00'
        billingCurrentInvoiceDate:
          type: string
          description: Current invoice cycle start date.
          example: '2020-10-15T06:38:00.000+00:00'
        billingNextInvoiceDate:
          type: string
          description: Next invoice cycle start date.
          example: '2020-10-15T06:38:00.000+00:00'
        billingTrialStartDate:
          type:
          - string
          - 'null'
          description: Start date of trial.
          example: '2020-10-15T06:38:00.000+00:00'
        billingTrialDays:
          type: integer
          description: Number of trial days.
          format: int32
          example: 14
        billingAggregationId:
          type: string
          description: Current active aggregation id.
          example: adbc3de4rddfsd
        billingInvoiceId:
          type: string
          description: Current active aggregation id.
          example: adbc3de4rddfsd
        paymentMethodId:
          type: string
          description: Default payment method.
          example: adbc3de4rddfsd
        billingAddressId:
          type:
          - string
          - 'null'
          description: Default payment method.
          example: adbc3de4rddfsd
        backupPaymentMethodId:
          type:
          - string
          - 'null'
          description: Backup payment method.
          example: adbc3de4rddfsd
        status:
          type: string
          description: Team status.
          example: active
        remarks:
          type:
          - string
          - 'null'
          description: Remarks on team status.
          example: Pending initial payment
        agreementBAA:
          type:
          - string
          - 'null'
          description: Organization agreements
          example: ''
        programManagerName:
          type:
          - string
          - 'null'
          description: Program manager's name.
          example: ''
        programManagerCalendar:
          type:
          - string
          - 'null'
          description: Program manager's calendar link.
          example: ''
        programDiscordChannelName:
          type:
          - string
          - 'null'
          description: Program's discord channel name.
          example: ''
        programDiscordChannelUrl:
          type:
          - string
          - 'null'
          description: Program's discord channel URL.
          example: ''
        billingLimits:
          type:
          - object
          - 'null'
          description: Billing limits reached
          allOf:
          - $ref: '#/components/schemas/billingLimits'
        billingPlanDowngrade:
          type:
          - string
          - 'null'
          description: Billing plan selected for downgrade.
          example: tier-1
        billingTaxId:
          type:
          - string
          - 'null'
          description: Tax Id
          example: ''
        markedForDeletion:
          type: boolean
          description: Marked for deletion
        platform:
          type: string
          description: Product with which the organization is associated (appwrite or imagine)
          example: imagine
        projects:
          type: array
          description: Selected projects
          items:
            type: string
          example: []
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - total
      - prefs
      - budgetAlerts
      - billingPlan
      - billingPlanId
      - billingPlanDetails
      - billingEmail
      - billingStartDate
      - billingCurrentInvoiceDate
      - billingNextInvoiceDate
      - billingTrialDays
      - billingAggregationId
      - billingInvoiceId
      - paymentMethodId
      - status
      - markedForDeletion
      - platform
      - projects
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: VIP
        total: 7
        prefs:
          theme: pink
          timezone: UTC
        billingBudget: 50
        budgetAlerts:
        - 50
        - 75
        billingPlan: tier-1
        billingPlanId: tier-1
        billingPlanDetails: null
        billingEmail: billing@org.example
        billingStartDate: '2020-10-15T06:38:00.000+00:00'
        billingCurrentInvoiceDate: '2020-10-15T06:38:00.000+00:00'
        billingNextInvoiceDate: '2020-10-15T06:38:00.000+00:00'
        billingTrialStartDate: '2020-10-15T06:38:00.000+00:00'
        billingTrialDays: 14
        billingAggregationId: adbc3de4rddfsd
        billingInvoiceId: adbc3de4rddfsd
        paymentMethodId: adbc3de4rddfsd
        billingAddressId: adbc3de4rddfsd
        backupPaymentMethodId: adbc3de4rddfsd
        status: active
        remarks: Pending initial payment
        agreementBAA: ''
        programManagerName: ''
        programManagerCalendar: ''
        programDiscordChannelName: ''
        programDiscordChannelUrl: ''
        billingLimits: ''
        billingPlanDowngrade: tier-1
        billingTaxId: ''
        markedForDeletion: ''
        platform: imagine
        projects: ''
    projectAuthMethod:
      description: ProjectAuthMethod
      type: object
      properties:
        $id:
          description: Auth method ID.
          example: email-password
          title: ProjectAuthMethodId
          type: string
          oneOf:
          - type: string
            enum:
            - email-password
            title: email-password
          - type: string
            enum:
            - magic-url
            title: magic-url
          - type: string
            enum:
            - email-otp
            title: email-otp
          - type: string
            enum:
            - anonymous
            title: anonymous
          - type: string
            enum:
            - invites
            title: invites
          - type: string
            enum:
            - jwt
            title: jwt
          - type: string
            enum:
            - phone
            title: phone
        enabled:
          type: boolean
          description: Auth method status.
          example: false
      required:
      - $id
      - enabled
      example:
        $id: email-password
        enabled: false
    appInstallation:
      description: AppInstallation
      type: object
      properties:
        $id:
          type: string
          description: Installation ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Installation creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Installation update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        appId:
          type: string
          description: ID of the installed application.
          example: 5e5ea5c16897e
        teamId:
          type: string
          description: ID of the team the application is installed on.
          example: 5e5ea5c16897e
        scopes:
          type: array
          description: Scopes granted to the application. Snapshot of the application's installation scopes taken when the installation was created or last updated.
          items:
            type: string
          example:
          - organization:organization.read
        authorizationDetails:
          type: array
          description: Authorization details granted to the application. Rich authorization request (RFC 9396) style entries; the Appwrite Console stores authorized project IDs here.
          items:
            type: object
          example:
          - type: project
            identifiers:
            - '*'
        createdById:
          type: string
          description: ID of the user who created the installation.
          example: 5e5ea5c16897e
        createdByName:
          type: string
          description: Name of the user who created the installation.
          example: Walter White
        lastAccessedAt:
          type:
          - string
          - 'null'
          description: Time an access token was last issued for the installation in ISO 8601 format. Null if never used.
          example: '2020-10-15T06:38:00.000+00:00'
      required:
      - $id
      - $createdAt
      - $updatedAt
      - appId
      - teamId
      - scopes
      - authorizationDetails
      - createdById
      - createdByName
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        appId: 5e5ea5c16897e
        teamId: 5e5ea5c16897e
        scopes:
        - organization:organization.read
        authorizationDetails:
        - type: project
          identifiers:
          - '*'
        createdById: 5e5ea5c16897e
        createdByName: Walter White
        lastAccessedAt: '2020-10-15T06:38:00.000+00:00'
    block:
      description: Block
      type: object
      properties:
        $createdAt:
          type: string
          description: Block creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        resourceType:
          type: string
          description: Resource type that is blocked
          example: project
        resourceId:
          type: string
          description: Resource identifier that is blocked
          example: 5e5ea5c16897e
        mode:
          type: string
          description: Block mode. full blocks reads and writes; readOnly blocks writes only.
          example: readOnly
        reason:
          type:
          - string
          - 'null'
          description: Reason for the block. Can be null if no reason was provided.
          example: Payment overdue
        expiredAt:
          type:
          - string
          - 'null'
          description: Block expiration date in ISO 8601 format. Can be null if the block does not expire.
          example: '2020-10-15T06:38:00.000+00:00'
        projectName:
          type: string
          description: Name of the project this block applies to.
          example: My Project
        region:
          type: string
          description: Region of the project this block applies to.
          example: fra
        organizationName:
          type: string
          description: Name of the organization that owns the project.
          example: Acme Inc.
        organizationId:
          type: string
          description: ID of the organization that owns the project.
          example: 5e5ea5c16897e
        billingPlan:
          type: string
          description: Billing plan of the organization that owns the project.
          example: pro
      required:
      - $createdAt
      - resourceType
      - resourceId
      - mode
      - projectName
      - region
      - organizationName
      - organizationId
      - billingPlan
      example:
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        resourceType: project
        resourceId: 5e5ea5c16897e
        mode: readOnly
        reason: Payment overdue
        expiredAt: '2020-10-15T06:38:00.000+00:00'
        projectName: My Project
        region: fra
        organizationName: Acme Inc.
        organizationId: 5e5ea5c16897e
        billingPlan: pro
    preferences:
      description: Preferences
      type: object
      additionalProperties: true
      example:
        language: en
        timezone: UTC
        darkTheme: true
    keyList:
      description: API Keys List
      type: object
      properties:
        total:
          type: integer
          description: Total number of keys that matched your query.
          format: int32
          example: 5
        keys:
          type: array
          description: List of keys.
          items:
            $ref: '#/components/schemas/key'
          example: []
      required:
      - total
      - keys
      example:
        total: 5
        keys: ''
    billingLimits:
      description: Limits
      type: object
      properties:
        bandwidth:
          type:
          - integer
          - 'null'
          description: Bandwidth limit
          format: int32
          example: 5
        storage:
          type:
          - integer
          - 'null'
          description: Storage limit
          format: int32
          example: 150
        users:
          type:
          - integer
          - 'null'
          description: Users limit
          format: int32
          example: 200000
        executions:
          type:
          - integer
          - 'null'
          description: Executions limit
          format: int32
          example: 750000
        GBHours:
          type:
          - integer
          - 'null'
          description: GBHours limit
          format: int32
          example: 100
        imageTransformations:
          type:
          - integer
          - 'null'
          description: Image transformations limit
          format: int32
          example: 100
        authPhone:
          type:
          - integer
          - 'null'
          description: Auth phone limit
          format: int32
          example: 10
        budgetLimit:
          type:
          - integer
          - 'null'
          description: Budget limit percentage
          format: int32
          example: 100
      example:
        bandwidth: 5
        storage: 150
        users: 200000
        executions: 750000
        GBHours: 100
        imageTransformations: 100
        authPhone: 10
        budgetLimit: 100
    program:
      description: Program
      type: object
      properties:
        $id:
          type: string
          description: Program ID
          example: ''
        title:
          type: string
          description: Program title
          example: ''
        description:
          type: string
          description: Program description
          example: ''
        tag:
[...]
