openapi: 3.0.3
info:
  title: Appwrite Account API
  description: The Appwrite REST API provides programmatic access to backend services for web and mobile applications, including user authentication, databases, file storage, cloud functions, real-time messaging, and team management. Appwrite is open source and can be self-hosted or used via Appwrite Cloud.
  version: 1.6.0
  contact:
    name: Appwrite
    url: https://appwrite.io/docs
  license:
    name: BSD 3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud API
security:
- projectKey: []
tags:
- name: Account
  description: User account management
paths:
  /account:
    get:
      operationId: getAccount
      summary: Appwrite - Get Account
      description: Returns the currently authenticated user account information
      tags:
      - Account
      responses:
        '200':
          description: User account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                GetAccountExample:
                  x-microcks-default: true
                  summary: Example account response
                  value:
                    $id: user-abc123
                    name: Jane Developer
                    email: jane@example.com
                    emailVerification: true
                    status: true
                    createdAt: '2026-01-01T12:00:00Z'
        '401':
          description: Unauthorized - invalid or missing session
components:
  schemas:
    User:
      title: User
      description: An Appwrite user account
      type: object
      properties:
        $id:
          type: string
          description: Unique user identifier
        name:
          type: string
          description: User display name
        email:
          type: string
          description: User email address
        phone:
          type: string
          description: User phone number
        emailVerification:
          type: boolean
          description: Email verification status
        phoneVerification:
          type: boolean
          description: Phone verification status
        status:
          type: boolean
          description: Account active status
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
        labels:
          type: array
          items:
            type: string
          description: User labels for role-based access control
  securitySchemes:
    projectKey:
      type: apiKey
      in: header
      name: X-Appwrite-Project
