openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Databases API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Databases
  description: The Databases service allows you to create structured collections of documents, query and filter lists of documents
paths:
  /databases:
    get:
      summary: List databases
      operationId: databasesList
      tags:
      - Databases
      description: Get a list of all databases from the current Appwrite project. You can use the search parameter to filter your results.
      responses:
        '200':
          description: Databases List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/databaseList'
      deprecated: true
      x-appwrite:
        group: databases
        demo: databases/list.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.list
        methods:
        - name: list
          namespace: databases
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - queries
          - search
          - total
          required: []
          responses:
          - code: 200
            model: '#/components/schemas/databaseList'
          description: Get a list of all databases from the current Appwrite project. You can use the search parameter to filter your results.
          demo: databases/list.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: tablesDB.list
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create database
      operationId: databasesCreate
      tags:
      - Databases
      description: Create a new Database.
      responses:
        '201':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: true
      x-appwrite:
        group: databases
        demo: databases/create.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.create
        methods:
        - name: create
          namespace: databases
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          - name
          - enabled
          required:
          - databaseId
          - name
          responses:
          - code: 201
            model: '#/components/schemas/database'
          description: 'Create a new Database.

            '
          demo: databases/create.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: tablesDB.create
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                databaseId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <DATABASE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is the database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
              required:
              - databaseId
              - name
  /databases/transactions:
    get:
      summary: List transactions
      operationId: databasesListTransactions
      tags:
      - Databases
      description: List transactions across all databases.
      responses:
        '200':
          description: Transaction List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionList'
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/list-transactions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: rows.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.listTransactions
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries).
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
    post:
      summary: Create transaction
      operationId: databasesCreateTransaction
      tags:
      - Databases
      description: Create a new transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/create-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createTransaction
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  description: Seconds before the transaction expires.
                  type: integer
                  default: 300
                  example: 60
                  format: int32
  /databases/transactions/{transactionId}:
    get:
      summary: Get transaction
      operationId: databasesGetTransaction
      tags:
      - Databases
      description: Get a transaction by its unique ID.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/get-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: rows.read
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.getTransaction
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
    patch:
      summary: Update transaction
      operationId: databasesUpdateTransaction
      tags:
      - Databases
      description: Update a transaction, to either commit or roll back its operations.
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/update-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateTransaction
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commit:
                  description: Commit transaction?
                  type: boolean
                  default: false
                  example: false
                rollback:
                  description: Rollback transaction?
                  type: boolean
                  default: false
                  example: false
    delete:
      summary: Delete transaction
      operationId: databasesDeleteTransaction
      tags:
      - Databases
      description: Delete a transaction by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/delete-transaction.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.deleteTransaction
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
  /databases/transactions/{transactionId}/operations:
    post:
      summary: Create operations
      operationId: databasesCreateOperations
      tags:
      - Databases
      description: Create multiple operations in a single transaction.
      responses:
        '201':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
      deprecated: true
      x-appwrite:
        group: transactions
        demo: databases/create-operations.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: documents.write
        platforms:
        - console
        - server
        - client
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createOperations
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
          client:
            Project: []
      security:
      - Project: []
        Key: []
        Session: []
        JWT: []
      parameters:
      - name: transactionId
        description: Transaction ID.
        required: true
        schema:
          type: string
          example: <TRANSACTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                operations:
                  description: Array of staged operations.
                  type: array
                  default: []
                  example:
                  - action: create
                    databaseId: <DATABASE_ID>
                    collectionId: <COLLECTION_ID>
                    documentId: <DOCUMENT_ID>
                    data:
                      name: Walter O'Brien
                  items:
                    type: object
  /databases/{databaseId}:
    get:
      summary: Get database
      operationId: databasesGet
      tags:
      - Databases
      description: Get a database by its unique ID. This endpoint response returns a JSON object with the database metadata.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: true
      x-appwrite:
        group: databases
        demo: databases/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.get
        methods:
        - name: get
          namespace: databases
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          required:
          - databaseId
          responses:
          - code: 200
            model: '#/components/schemas/database'
          description: Get a database by its unique ID. This endpoint response returns a JSON object with the database metadata.
          demo: databases/get.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: tablesDB.get
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
    put:
      summary: Update database
      operationId: databasesUpdate
      tags:
      - Databases
      description: Update a database by its unique ID.
      responses:
        '200':
          description: Database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/database'
      deprecated: true
      x-appwrite:
        group: databases
        demo: databases/update.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.update
        methods:
        - name: update
          namespace: databases
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          - name
          - enabled
          required:
          - databaseId
          responses:
          - code: 200
            model: '#/components/schemas/database'
          description: Update a database by its unique ID.
          demo: databases/update.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: tablesDB.update
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Database name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                enabled:
                  description: Is database enabled? When set to 'disabled', users cannot access the database but Server SDKs with an API key can still read and write to the database. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
    delete:
      summary: Delete database
      operationId: databasesDelete
      tags:
      - Databases
      description: Delete a database by its unique ID. Only API keys with with databases.write scope can delete a database.
      responses:
        '204':
          description: No content
      deprecated: true
      x-appwrite:
        group: databases
        demo: databases/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: databases.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.delete
        methods:
        - name: delete
          namespace: databases
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - databaseId
          required:
          - databaseId
          responses:
          - code: 204
          description: Delete a database by its unique ID. Only API keys with with databases.write scope can delete a database.
          demo: databases/delete.md
          public: true
          deprecated:
            since: 1.8.0
            replaceWith: tablesDB.delete
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
  /databases/{databaseId}/collections:
    get:
      summary: List collections
      operationId: databasesListCollections
      tags:
      - Databases
      description: Get a list of all collections that belong to the provided databaseId. You can use the search parameter to filter your results.
      responses:
        '200':
          description: Collections List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collectionList'
      deprecated: true
      x-appwrite:
        group: collections
        demo: databases/list-collections.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.listTables
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, enabled, documentSecurity'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create collections
      operationId: databasesCreateCollection
      tags:
      - Databases
      description: Create a new Collection. Before using this route, you should create a new database resource using either a server integration API or directly from your database console.
      responses:
        '201':
          description: Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      deprecated: true
      x-appwrite:
        group: collections
        demo: databases/create-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createTable
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                collectionId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <COLLECTION_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: 'Collection name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permissions strings. By default, no user is granted with any permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                documentSecurity:
                  description: Enables configuring permissions for individual documents. A user needs one of document or collection level permissions to access a document. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is collection enabled? When set to 'disabled', users cannot access the collection but Server SDKs with and API key can still read and write to the collection. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                attributes:
                  description: 'Array of attribute definitions to create. Each attribute should contain: key (string), type (string: string, varchar, text, mediumtext, longtext, integer, bigint, double, boolean, datetime, point, linestring, polygon, email, url, ip, enum), size (integer, required for string and varchar types), required (boolean, optional), default (mixed, optional), array (boolean, optional), and type-specific options.'
                  type: array
                  default: []
                  items:
                    type: object
                indexes:
                  description: 'Array of index definitions to create. Each index should contain: key (string), type (string: key, fulltext, unique, spatial), attributes (array of attribute keys), orders (array of ASC/DESC, optional), and lengths (array of integers, optional).'
                  type: array
                  default: []
                  items:
                    type: object
              required:
              - collectionId
              - name
  /databases/{databaseId}/collections/{collectionId}:
    get:
      summary: Get collection
      operationId: databasesGetCollection
      tags:
      - Databases
      description: Get a collection by its unique ID. This endpoint response returns a JSON object with the collection metadata.
      responses:
        '200':
          description: Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      deprecated: true
      x-appwrite:
        group: collections
        demo: databases/get-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.getTable
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
    put:
      summary: Update collection
      operationId: databasesUpdateCollection
      tags:
      - Databases
      description: Update a collection by its unique ID.
      responses:
        '200':
          description: Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      deprecated: true
      x-appwrite:
        group: collections
        demo: databases/update-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateTable
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Collection name. Max length: 128 chars.'
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permission strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                documentSecurity:
                  description: Enables configuring permissions for individual documents. A user needs one of document or collection level permissions to access a document. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is collection enabled? When set to 'disabled', users cannot access the collection but Server SDKs with and API key can still read and write to the collection. No data is lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                purge:
                  description: When true, purge all cached list responses for this collection as part of the update. Use this to force readers to see fresh data immediately instead of waiting for the cache TTL to expire.
                  type: boolean
                  default: false
                  example: false
    delete:
      summary: Delete collection
      operationId: databasesDeleteCollection
      tags:
      - Databases
      description: Delete a collection by its unique ID. Only users with write permissions have access to delete this resource.
      responses:
        '204':
          description: No content
      deprecated: true
      x-appwrite:
        group: collections
        demo: databases/delete-collection.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.deleteTable
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
  /databases/{databaseId}/collections/{collectionId}/attributes:
    get:
      summary: List attributes
      operationId: databasesListAttributes
      tags:
      - Databases
      description: List attributes in the collection.
      responses:
        '200':
          description: Attributes List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeList'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/list-attributes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.listColumns
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: key, type, size, required, array, status, error'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /databases/{databaseId}/collections/{collectionId}/attributes/bigint:
    post:
      summary: Create bigint attribute
      operationId: databasesCreateBigIntAttribute
      tags:
      - Databases
      description: Create a bigint attribute. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: AttributeBigInt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeBigint'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-big-int-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createBigIntColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 1000000
                  format: int64
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/bigint/{key}:
    patch:
      summary: Update bigint attribute
      operationId: databasesUpdateBigIntAttribute
      tags:
      - Databases
      description: Update a bigint attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeBigInt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeBigint'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-big-int-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateBigIntColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 1000000
                  format: int64
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/boolean:
    post:
      summary: Create boolean attribute
      operationId: databasesCreateBooleanAttribute
      tags:
      - Databases
      description: Create a boolean attribute.
      responses:
        '202':
          description: AttributeBoolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeBoolean'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-boolean-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createBooleanColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - boolean
                  - 'null'
                  example: false
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/boolean/{key}:
    patch:
      summary: Update boolean attribute
      operationId: databasesUpdateBooleanAttribute
      tags:
      - Databases
      description: Update a boolean attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeBoolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeBoolean'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-boolean-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateBooleanColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#createCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - boolean
                  - 'null'
                  example: false
                newKey:
                  description: New attribute key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/datetime:
    post:
      summary: Create datetime attribute
      operationId: databasesCreateDatetimeAttribute
      tags:
      - Databases
      description: Create a date time attribute according to the ISO 8601 standard.
      responses:
        '202':
          description: AttributeDatetime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeDatetime'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-datetime-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createDatetimeColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#createCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for the attribute in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/datetime/{key}:
    patch:
      summary: Update datetime attribute
      operationId: databasesUpdateDatetimeAttribute
      tags:
      - Databases
      description: Update a date time attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeDatetime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeDatetime'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-datetime-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateDatetimeColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                newKey:
                  description: New attribute key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/email:
    post:
      summary: Create email attribute
      operationId: databasesCreateEmailAttribute
      tags:
      - Databases
      description: Create an email attribute.
      responses:
        '202':
          description: AttributeEmail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeEmail'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-email-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createEmailColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: email@example.com
                  format: email
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/email/{key}:
    patch:
      summary: Update email attribute
      operationId: databasesUpdateEmailAttribute
      tags:
      - Databases
      description: Update an email attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeEmail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeEmail'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-email-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateEmailColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: email@example.com
                  format: email
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/enum:
    post:
      summary: Create enum attribute
      operationId: databasesCreateEnumAttribute
      tags:
      - Databases
      description: Create an enum attribute. The `elements` param acts as a white-list of accepted values for this attribute.
      responses:
        '202':
          description: AttributeEnum
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeEnum'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-enum-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createEnumColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                elements:
                  description: Array of enum values.
                  type: array
                  example:
                  - active
                  - inactive
                  items:
                    type: string
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: active
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - elements
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/enum/{key}:
    patch:
      summary: Update enum attribute
      operationId: databasesUpdateEnumAttribute
      tags:
      - Databases
      description: Update an enum attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeEnum
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeEnum'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-enum-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateEnumColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                elements:
                  description: Updated list of enum values.
                  type: array
                  example:
                  - active
                  - inactive
                  items:
                    type: string
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: active
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - elements
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/float:
    post:
      summary: Create float attribute
      operationId: databasesCreateFloatAttribute
      tags:
      - Databases
      description: Create a float attribute. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: AttributeFloat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeFloat'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-float-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createFloatColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value.
                  type:
                  - number
                  - 'null'
                  example: 0
                  format: float
                max:
                  description: Maximum value.
                  type:
                  - number
                  - 'null'
                  example: 100
                  format: float
                default:
                  description: Default value. Cannot be set when required.
                  type:
                  - number
                  - 'null'
                  example: 10.5
                  format: float
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/float/{key}:
    patch:
      summary: Update float attribute
      operationId: databasesUpdateFloatAttribute
      tags:
      - Databases
      description: Update a float attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeFloat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeFloat'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-float-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateFloatColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value.
                  type:
                  - number
                  - 'null'
                  example: 0
                  format: float
                max:
                  description: Maximum value.
                  type:
                  - number
                  - 'null'
                  example: 100
                  format: float
                default:
                  description: Default value. Cannot be set when required.
                  type:
                  - number
                  - 'null'
                  example: 10.5
                  format: float
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/integer:
    post:
      summary: Create integer attribute
      operationId: databasesCreateIntegerAttribute
      tags:
      - Databases
      description: Create an integer attribute. Optionally, minimum and maximum values can be provided.
      responses:
        '202':
          description: AttributeInteger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeInteger'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-integer-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createIntegerColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 100
                  format: int64
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - integer
                  - 'null'
                  example: 10
                  format: int64
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/integer/{key}:
    patch:
      summary: Update integer attribute
      operationId: databasesUpdateIntegerAttribute
      tags:
      - Databases
      description: Update an integer attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeInteger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeInteger'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-integer-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateIntegerColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                min:
                  description: Minimum value
                  type:
                  - integer
                  - 'null'
                  example: 0
                  format: int64
                max:
                  description: Maximum value
                  type:
                  - integer
                  - 'null'
                  example: 100
                  format: int64
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - integer
                  - 'null'
                  example: 10
                  format: int64
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/ip:
    post:
      summary: Create IP address attribute
      operationId: databasesCreateIpAttribute
      tags:
      - Databases
      description: Create IP address attribute.
      responses:
        '202':
          description: AttributeIP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeIp'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-ip-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createIpColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: 192.0.2.0
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/ip/{key}:
    patch:
      summary: Update IP address attribute
      operationId: databasesUpdateIpAttribute
      tags:
      - Databases
      description: Update an ip attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeIP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeIp'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-ip-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateIpColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID.
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: 192.0.2.0
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/line:
    post:
      summary: Create line attribute
      operationId: databasesCreateLineAttribute
      tags:
      - Databases
      description: Create a geometric line attribute.
      responses:
        '202':
          description: AttributeLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeLine'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-line-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createLineColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided, two-dimensional array of coordinate pairs, [[longitude, latitude], [longitude, latitude], …], listing the vertices of the line in order. Cannot be set when attribute is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - - 1
                    - 2
                  - - 3
                    - 4
                  - - 5
                    - 6
                  items:
                    type: array
                    items:
                      type: number
                      format: double
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/line/{key}:
    patch:
      summary: Update line attribute
      operationId: databasesUpdateLineAttribute
      tags:
      - Databases
      description: Update a line attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeLine'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-line-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateLineColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#createCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided, two-dimensional array of coordinate pairs, [[longitude, latitude], [longitude, latitude], …], listing the vertices of the line in order. Cannot be set when attribute is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - - 1
                    - 2
                  - - 3
                    - 4
                  - - 5
                    - 6
                  items:
                    type: array
                    items:
                      type: number
                      format: double
                newKey:
                  description: New attribute key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/longtext:
    post:
      summary: Create longtext attribute
      operationId: databasesCreateLongtextAttribute
      tags:
      - Databases
      description: Create a longtext attribute.
      responses:
        '202':
          description: AttributeLongtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeLongtext'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-longtext-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createLongtextColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
                encrypt:
                  description: Toggle encryption for the attribute. Encryption enhances security by not storing any plain text values in the database. However, encrypted attributes cannot be queried.
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/longtext/{key}:
    patch:
      summary: Update longtext attribute
      operationId: databasesUpdateLongtextAttribute
      tags:
      - Databases
      description: Update a longtext attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeLongtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeLongtext'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-longtext-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateLongtextColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/mediumtext:
    post:
      summary: Create mediumtext attribute
      operationId: databasesCreateMediumtextAttribute
      tags:
      - Databases
      description: Create a mediumtext attribute.
      responses:
        '202':
          description: AttributeMediumtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeMediumtext'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-mediumtext-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createMediumtextColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                array:
                  description: Is attribute an array?
                  type: boolean
                  default: false
                  example: false
                encrypt:
                  description: Toggle encryption for the attribute. Encryption enhances security by not storing any plain text values in the database. However, encrypted attributes cannot be queried.
                  type: boolean
                  default: false
                  example: false
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/mediumtext/{key}:
    patch:
      summary: Update mediumtext attribute
      operationId: databasesUpdateMediumtextAttribute
      tags:
      - Databases
      description: Update a mediumtext attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributeMediumtext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributeMediumtext'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-mediumtext-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updateMediumtextColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided. Cannot be set when attribute is required.
                  type:
                  - string
                  - 'null'
                  example: Hello World
                newKey:
                  description: New Attribute Key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
              required:
              - required
              - default
  /databases/{databaseId}/collections/{collectionId}/attributes/point:
    post:
      summary: Create point attribute
      operationId: databasesCreatePointAttribute
      tags:
      - Databases
      description: Create a geometric point attribute.
      responses:
        '202':
          description: AttributePoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributePoint'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/create-point-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.createPointColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#databasesCreateCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: Attribute Key.
                  type: string
                  example: <KEY>
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided, array of two numbers [longitude, latitude], representing a single coordinate. Cannot be set when attribute is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - 1
                  - 2
                  items:
                    type: number
                    format: double
              required:
              - key
              - required
  /databases/{databaseId}/collections/{collectionId}/attributes/point/{key}:
    patch:
      summary: Update point attribute
      operationId: databasesUpdatePointAttribute
      tags:
      - Databases
      description: Update a point attribute. Changing the `default` value will not update already existing documents.
      responses:
        '200':
          description: AttributePoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attributePoint'
      deprecated: true
      x-appwrite:
        group: attributes
        demo: databases/update-point-attribute.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: collections.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        deprecated:
          since: 1.8.0
          replaceWith: tablesDB.updatePointColumn
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: databaseId
        description: Database ID.
        required: true
        schema:
          type: string
          example: <DATABASE_ID>
        in: path
      - name: collectionId
        description: Collection ID. You can create a new collection using the Database service [server integration](https://appwrite.io/docs/server/databases#createCollection).
        required: true
        schema:
          type: string
          example: <COLLECTION_ID>
        in: path
      - name: key
        description: Attribute Key.
        required: true
        schema:
          type: string
          example: <KEY>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                required:
                  description: Is attribute required?
                  type: boolean
                  example: false
                default:
                  description: Default value for attribute when not provided, array of two numbers [longitude, latitude], representing a single coordinate. Cannot be set when attribute is required.
                  type:
                  - array
                  - 'null'
                  example:
                  - 1
                  - 2
                  items:
                    type: number
                    format: double
                newKey:
                  description: New attribute key.
                  type:
                  - string
                  - 'null'
                  example: <NEW_KEY>
[...]
