openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Messaging API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Messaging
  description: The Messaging service allows you to send messages to any provider type (SMTP, push notification, SMS, etc.).
paths:
  /messaging/messages:
    get:
      summary: List messages
      operationId: messagingListMessages
      tags:
      - Messaging
      description: Get a list of all messages from the current Appwrite project.
      responses:
        '200':
          description: Message list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageList'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/list-messages.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: scheduledAt, deliveredAt, deliveredTotal, status, description, providerType'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /messaging/messages/email:
    post:
      summary: Create email
      operationId: messagingCreateEmail
      tags:
      - Messaging
      description: Create a new email message.
      responses:
        '201':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/create-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messageId:
                  description: Message ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <MESSAGE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                subject:
                  description: Email Subject.
                  type: string
                  example: <SUBJECT>
                content:
                  description: Email Content.
                  type: string
                  example: <CONTENT>
                topics:
                  description: List of Topic IDs.
                  type: array
                  default: []
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type: array
                  default: []
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type: array
                  default: []
                  items:
                    type: string
                cc:
                  description: Array of target IDs to be added as CC.
                  type: array
                  default: []
                  items:
                    type: string
                bcc:
                  description: Array of target IDs to be added as BCC.
                  type: array
                  default: []
                  items:
                    type: string
                attachments:
                  description: Array of compound ID strings of bucket IDs and file IDs to be attached to the email. They should be formatted as <BUCKET_ID>:<FILE_ID>.
                  type: array
                  default: []
                  items:
                    type: string
                draft:
                  description: Is message a draft
                  type: boolean
                  default: false
                  example: false
                html:
                  description: Is content of type HTML
                  type: boolean
                  default: false
                  example: false
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - messageId
              - subject
              - content
  /messaging/messages/email/{messageId}:
    patch:
      summary: Update email
      operationId: messagingUpdateEmail
      tags:
      - Messaging
      description: Update an email message by its unique ID. This endpoint only works on messages that are in draft status. Messages that are already processing, sent, or failed cannot be updated.
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/update-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topics:
                  description: List of Topic IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                subject:
                  description: Email Subject.
                  type:
                  - string
                  - 'null'
                  example: <SUBJECT>
                content:
                  description: Email Content.
                  type:
                  - string
                  - 'null'
                  example: <CONTENT>
                draft:
                  description: Is message a draft
                  type:
                  - boolean
                  - 'null'
                  example: false
                html:
                  description: Is content of type HTML
                  type:
                  - boolean
                  - 'null'
                  example: false
                cc:
                  description: Array of target IDs to be added as CC.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                bcc:
                  description: Array of target IDs to be added as BCC.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                attachments:
                  description: Array of compound ID strings of bucket IDs and file IDs to be attached to the email. They should be formatted as <BUCKET_ID>:<FILE_ID>.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
  /messaging/messages/push:
    post:
      summary: Create push notification
      operationId: messagingCreatePush
      tags:
      - Messaging
      description: Create a new push notification.
      responses:
        '201':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/create-push.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messageId:
                  description: Message ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <MESSAGE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                title:
                  description: Title for push notification.
                  type: string
                  default: ''
                  example: <TITLE>
                body:
                  description: Body for push notification.
                  type: string
                  default: ''
                  example: <BODY>
                topics:
                  description: List of Topic IDs.
                  type: array
                  default: []
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type: array
                  default: []
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type: array
                  default: []
                  items:
                    type: string
                data:
                  description: Additional key-value pair data for push notification.
                  type:
                  - object
                  - 'null'
                  default: {}
                  example: {}
                action:
                  description: Action for push notification.
                  type: string
                  default: ''
                  example: <ACTION>
                image:
                  description: Image for push notification. Must be a compound bucket ID to file ID of a jpeg, png, or bmp image in Appwrite Storage. It should be formatted as <BUCKET_ID>:<FILE_ID>.
                  type: string
                  default: ''
                  example: <ID1:ID2>
                icon:
                  description: Icon for push notification. Available only for Android and Web Platform.
                  type: string
                  default: ''
                  example: <ICON>
                sound:
                  description: Sound for push notification. Available only for Android and iOS Platform.
                  type: string
                  default: ''
                  example: <SOUND>
                color:
                  description: Color for push notification. Available only for Android Platform.
                  type: string
                  default: ''
                  example: <COLOR>
                tag:
                  description: Tag for push notification. Available only for Android Platform.
                  type: string
                  default: ''
                  example: <TAG>
                badge:
                  description: Badge for push notification. Available only for iOS Platform.
                  type: integer
                  default: -1
                  example: 1
                  format: int32
                draft:
                  description: Is message a draft
                  type: boolean
                  default: false
                  example: false
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                contentAvailable:
                  description: If set to true, the notification will be delivered in the background. Available only for iOS Platform.
                  type: boolean
                  default: false
                  example: false
                critical:
                  description: If set to true, the notification will be marked as critical. This requires the app to have the critical notification entitlement. Available only for iOS Platform.
                  type: boolean
                  default: false
                  example: false
                priority:
                  description: Set the notification priority. "normal" will consider device state and may not deliver notifications immediately. "high" will always attempt to immediately deliver the notification.
                  type: string
                  default: high
                  example: normal
                  title: MessagePriority
                  oneOf:
                  - type: string
                    enum:
                    - normal
                    title: normal
                  - type: string
                    enum:
                    - high
                    title: high
              required:
              - messageId
  /messaging/messages/push/{messageId}:
    patch:
      summary: Update push notification
      operationId: messagingUpdatePush
      tags:
      - Messaging
      description: Update a push notification by its unique ID. This endpoint only works on messages that are in draft status. Messages that are already processing, sent, or failed cannot be updated.
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/update-push.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topics:
                  description: List of Topic IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                title:
                  description: Title for push notification.
                  type:
                  - string
                  - 'null'
                  example: <TITLE>
                body:
                  description: Body for push notification.
                  type:
                  - string
                  - 'null'
                  example: <BODY>
                data:
                  description: Additional Data for push notification.
                  type:
                  - object
                  - 'null'
                  default: {}
                  example: {}
                action:
                  description: Action for push notification.
                  type:
                  - string
                  - 'null'
                  example: <ACTION>
                image:
                  description: Image for push notification. Must be a compound bucket ID to file ID of a jpeg, png, or bmp image in Appwrite Storage. It should be formatted as <BUCKET_ID>:<FILE_ID>.
                  type:
                  - string
                  - 'null'
                  example: <ID1:ID2>
                icon:
                  description: Icon for push notification. Available only for Android and Web platforms.
                  type:
                  - string
                  - 'null'
                  example: <ICON>
                sound:
                  description: Sound for push notification. Available only for Android and iOS platforms.
                  type:
                  - string
                  - 'null'
                  example: <SOUND>
                color:
                  description: Color for push notification. Available only for Android platforms.
                  type:
                  - string
                  - 'null'
                  example: <COLOR>
                tag:
                  description: Tag for push notification. Available only for Android platforms.
                  type:
                  - string
                  - 'null'
                  example: <TAG>
                badge:
                  description: Badge for push notification. Available only for iOS platforms.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                draft:
                  description: Is message a draft
                  type:
                  - boolean
                  - 'null'
                  example: false
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
                contentAvailable:
                  description: If set to true, the notification will be delivered in the background. Available only for iOS Platform.
                  type:
                  - boolean
                  - 'null'
                  example: false
                critical:
                  description: If set to true, the notification will be marked as critical. This requires the app to have the critical notification entitlement. Available only for iOS Platform.
                  type:
                  - boolean
                  - 'null'
                  example: false
                priority:
                  description: Set the notification priority. "normal" will consider device battery state and may send notifications later. "high" will always attempt to immediately deliver the notification.
                  type:
                  - string
                  - 'null'
                  example: normal
                  title: MessagePriority
                  oneOf:
                  - type: string
                    enum:
                    - normal
                    title: normal
                  - type: string
                    enum:
                    - high
                    title: high
  /messaging/messages/sms:
    post:
      summary: Create SMS
      operationId: messagingCreateSms
      tags:
      - Messaging
      description: Create a new SMS message.
      responses:
        '201':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: true
      x-appwrite:
        group: messages
        demo: messaging/create-sms.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.createSMS
        methods:
        - name: createSms
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - messageId
          - content
          - topics
          - users
          - targets
          - draft
          - scheduledAt
          required:
          - messageId
          - content
          responses:
          - code: 201
            model: '#/components/schemas/message'
          description: Create a new SMS message.
          demo: messaging/create-sms.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.createSMS
        - name: createSMS
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - messageId
          - content
          - topics
          - users
          - targets
          - draft
          - scheduledAt
          required:
          - messageId
          - content
          responses:
          - code: 201
            model: '#/components/schemas/message'
          description: Create a new SMS message.
          demo: messaging/create-sms.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messageId:
                  description: Message ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <MESSAGE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                content:
                  description: SMS Content.
                  type: string
                  example: <CONTENT>
                topics:
                  description: List of Topic IDs.
                  type: array
                  default: []
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type: array
                  default: []
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type: array
                  default: []
                  items:
                    type: string
                draft:
                  description: Is message a draft
                  type: boolean
                  default: false
                  example: false
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
              required:
              - messageId
              - content
  /messaging/messages/sms/{messageId}:
    patch:
      summary: Update SMS
      operationId: messagingUpdateSms
      tags:
      - Messaging
      description: Update an SMS message by its unique ID. This endpoint only works on messages that are in draft status. Messages that are already processing, sent, or failed cannot be updated.
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: true
      x-appwrite:
        group: messages
        demo: messaging/update-sms.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.updateSMS
        methods:
        - name: updateSms
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - messageId
          - topics
          - users
          - targets
          - content
          - draft
          - scheduledAt
          required:
          - messageId
          responses:
          - code: 200
            model: '#/components/schemas/message'
          description: 'Update an SMS message by its unique ID. This endpoint only works on messages that are in draft status. Messages that are already processing, sent, or failed cannot be updated.

            '
          demo: messaging/update-sms.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.updateSMS
        - name: updateSMS
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - messageId
          - topics
          - users
          - targets
          - content
          - draft
          - scheduledAt
          required:
          - messageId
          responses:
          - code: 200
            model: '#/components/schemas/message'
          description: 'Update an SMS message by its unique ID. This endpoint only works on messages that are in draft status. Messages that are already processing, sent, or failed cannot be updated.

            '
          demo: messaging/update-sms.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topics:
                  description: List of Topic IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                users:
                  description: List of User IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                targets:
                  description: List of Targets IDs.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                content:
                  description: Email Content.
                  type:
                  - string
                  - 'null'
                  example: <CONTENT>
                draft:
                  description: Is message a draft
                  type:
                  - boolean
                  - 'null'
                  example: false
                scheduledAt:
                  description: Scheduled delivery time for message in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. DateTime value must be in future.
                  type:
                  - string
                  - 'null'
                  example: '2020-10-15T06:38:00.000+00:00'
                  format: datetime
  /messaging/messages/{messageId}:
    get:
      summary: Get message
      operationId: messagingGetMessage
      tags:
      - Messaging
      description: Get a message by its unique ID.
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/get-message.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
    delete:
      summary: Delete message
      operationId: messagingDelete
      tags:
      - Messaging
      description: Delete a message. If the message is not a draft or scheduled, but has been sent, this will not recall the message.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/delete.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
  /messaging/messages/{messageId}/targets:
    get:
      summary: List message targets
      operationId: messagingListTargets
      tags:
      - Messaging
      description: Get a list of the targets associated with a message.
      responses:
        '200':
          description: Target list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/targetList'
      deprecated: false
      x-appwrite:
        group: messages
        demo: messaging/list-targets.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: messages.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: messageId
        description: Message ID.
        required: true
        schema:
          type: string
          example: <MESSAGE_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, providerId, identifier, providerType'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /messaging/providers:
    get:
      summary: List providers
      operationId: messagingListProviders
      tags:
      - Messaging
      description: Get a list of all providers from the current Appwrite project.
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/providerList'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/list-providers.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, provider, type, enabled'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /messaging/providers/apns:
    post:
      summary: Create APNS provider
      operationId: messagingCreateApnsProvider
      tags:
      - Messaging
      description: Create a new Apple Push Notification service provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/create-apns-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.createAPNSProvider
        methods:
        - name: createApnsProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - authKey
          - authKeyId
          - teamId
          - bundleId
          - sandbox
          - enabled
          required:
          - providerId
          - name
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new Apple Push Notification service provider.
          demo: messaging/create-apns-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.createAPNSProvider
        - name: createAPNSProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - authKey
          - authKeyId
          - teamId
          - bundleId
          - sandbox
          - enabled
          required:
          - providerId
          - name
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new Apple Push Notification service provider.
          demo: messaging/create-apns-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                authKey:
                  description: APNS authentication key.
                  type: string
                  default: ''
                  example: <AUTH_KEY>
                authKeyId:
                  description: APNS authentication key ID.
                  type: string
                  default: ''
                  example: <AUTH_KEY_ID>
                teamId:
                  description: APNS team ID.
                  type: string
                  default: ''
                  example: <TEAM_ID>
                bundleId:
                  description: APNS bundle ID.
                  type: string
                  default: ''
                  example: <BUNDLE_ID>
                sandbox:
                  description: Use APNS sandbox environment.
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/apns/{providerId}:
    patch:
      summary: Update APNS provider
      operationId: messagingUpdateApnsProvider
      tags:
      - Messaging
      description: Update a Apple Push Notification service provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/update-apns-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.updateAPNSProvider
        methods:
        - name: updateApnsProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - enabled
          - authKey
          - authKeyId
          - teamId
          - bundleId
          - sandbox
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a Apple Push Notification service provider by its unique ID.
          demo: messaging/update-apns-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.updateAPNSProvider
        - name: updateAPNSProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - enabled
          - authKey
          - authKeyId
          - teamId
          - bundleId
          - sandbox
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a Apple Push Notification service provider by its unique ID.
          demo: messaging/update-apns-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                authKey:
                  description: APNS authentication key.
                  type: string
                  default: ''
                  example: <AUTH_KEY>
                authKeyId:
                  description: APNS authentication key ID.
                  type: string
                  default: ''
                  example: <AUTH_KEY_ID>
                teamId:
                  description: APNS team ID.
                  type: string
                  default: ''
                  example: <TEAM_ID>
                bundleId:
                  description: APNS bundle ID.
                  type: string
                  default: ''
                  example: <BUNDLE_ID>
                sandbox:
                  description: Use APNS sandbox environment.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /messaging/providers/fcm:
    post:
      summary: Create FCM provider
      operationId: messagingCreateFcmProvider
      tags:
      - Messaging
      description: Create a new Firebase Cloud Messaging provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/create-fcm-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.createFCMProvider
        methods:
        - name: createFcmProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - serviceAccountJSON
          - enabled
          required:
          - providerId
          - name
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new Firebase Cloud Messaging provider.
          demo: messaging/create-fcm-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.createFCMProvider
        - name: createFCMProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - serviceAccountJSON
          - enabled
          required:
          - providerId
          - name
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new Firebase Cloud Messaging provider.
          demo: messaging/create-fcm-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                serviceAccountJSON:
                  description: FCM service account JSON.
                  type:
                  - object
                  - 'null'
                  default: {}
                  example: {}
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/fcm/{providerId}:
    patch:
      summary: Update FCM provider
      operationId: messagingUpdateFcmProvider
      tags:
      - Messaging
      description: Update a Firebase Cloud Messaging provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/update-fcm-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.updateFCMProvider
        methods:
        - name: updateFcmProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - enabled
          - serviceAccountJSON
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a Firebase Cloud Messaging provider by its unique ID.
          demo: messaging/update-fcm-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.updateFCMProvider
        - name: updateFCMProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - enabled
          - serviceAccountJSON
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a Firebase Cloud Messaging provider by its unique ID.
          demo: messaging/update-fcm-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                serviceAccountJSON:
                  description: FCM service account JSON.
                  type:
                  - object
                  - 'null'
                  default: {}
                  example: {}
  /messaging/providers/mailgun:
    post:
      summary: Create Mailgun provider
      operationId: messagingCreateMailgunProvider
      tags:
      - Messaging
      description: Create a new Mailgun provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-mailgun-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                apiKey:
                  description: Mailgun API Key.
                  type: string
                  default: ''
                  example: <API_KEY>
                domain:
                  description: Mailgun Domain.
                  type: string
                  default: ''
                  example: example.com
                isEuRegion:
                  description: Set as EU region.
                  type:
                  - boolean
                  - 'null'
                  example: false
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name. Reply to name must have reply to email as well.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email. Reply to email must have reply to name as well.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/mailgun/{providerId}:
    patch:
      summary: Update Mailgun provider
      operationId: messagingUpdateMailgunProvider
      tags:
      - Messaging
      description: Update a Mailgun provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-mailgun-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                apiKey:
                  description: Mailgun API Key.
                  type: string
                  default: ''
                  example: <API_KEY>
                domain:
                  description: Mailgun Domain.
                  type: string
                  default: ''
                  example: example.com
                isEuRegion:
                  description: Set as EU region.
                  type:
                  - boolean
                  - 'null'
                  example: false
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email.
                  type: string
                  default: ''
                  example: <REPLY_TO_EMAIL>
  /messaging/providers/msg91:
    post:
      summary: Create Msg91 provider
      operationId: messagingCreateMsg91Provider
      tags:
      - Messaging
      description: Create a new MSG91 provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-msg-91-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                templateId:
                  description: Msg91 template ID
                  type: string
                  default: ''
                  example: <TEMPLATE_ID>
                senderId:
                  description: Msg91 sender ID.
                  type: string
                  default: ''
                  example: <SENDER_ID>
                authKey:
                  description: Msg91 auth key.
                  type: string
                  default: ''
                  example: <AUTH_KEY>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/msg91/{providerId}:
    patch:
      summary: Update Msg91 provider
      operationId: messagingUpdateMsg91Provider
      tags:
      - Messaging
      description: Update a MSG91 provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-msg-91-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                templateId:
                  description: Msg91 template ID.
                  type: string
                  default: ''
                  example: <TEMPLATE_ID>
                senderId:
                  description: Msg91 sender ID.
                  type: string
                  default: ''
                  example: <SENDER_ID>
                authKey:
                  description: Msg91 auth key.
                  type: string
                  default: ''
                  example: <AUTH_KEY>
  /messaging/providers/resend:
    post:
      summary: Create Resend provider
      operationId: messagingCreateResendProvider
      tags:
      - Messaging
      description: Create a new Resend provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-resend-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                apiKey:
                  description: Resend API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/resend/{providerId}:
    patch:
      summary: Update Resend provider
      operationId: messagingUpdateResendProvider
      tags:
      - Messaging
      description: Update a Resend provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-resend-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                apiKey:
                  description: Resend API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the Reply To field for the mail. Default value is Sender Name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the Reply To field for the mail. Default value is Sender Email.
                  type: string
                  default: ''
                  example: <REPLY_TO_EMAIL>
  /messaging/providers/sendgrid:
    post:
      summary: Create Sendgrid provider
      operationId: messagingCreateSendgridProvider
      tags:
      - Messaging
      description: Create a new Sendgrid provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-sendgrid-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                apiKey:
                  description: Sendgrid API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/sendgrid/{providerId}:
    patch:
      summary: Update Sendgrid provider
      operationId: messagingUpdateSendgridProvider
      tags:
      - Messaging
      description: Update a Sendgrid provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-sendgrid-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                apiKey:
                  description: Sendgrid API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the Reply To field for the mail. Default value is Sender Name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the Reply To field for the mail. Default value is Sender Email.
                  type: string
                  default: ''
                  example: <REPLY_TO_EMAIL>
  /messaging/providers/ses:
    post:
      summary: Create Amazon SES provider
      operationId: messagingCreateSesProvider
      tags:
      - Messaging
      description: Create a new Amazon SES provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-ses-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                accessKey:
                  description: AWS access key ID.
                  type: string
                  default: ''
                  example: <ACCESS_KEY>
                secretKey:
                  description: AWS secret access key.
                  type: string
                  default: ''
                  example: <SECRET_KEY>
                region:
                  description: AWS region, for example us-east-1.
                  type: string
                  default: ''
                  example: <REGION>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/ses/{providerId}:
    patch:
      summary: Update Amazon SES provider
      operationId: messagingUpdateSesProvider
      tags:
      - Messaging
      description: Update an Amazon SES provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-ses-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                accessKey:
                  description: AWS access key ID.
                  type: string
                  default: ''
                  example: <ACCESS_KEY>
                secretKey:
                  description: AWS secret access key.
                  type: string
                  default: ''
                  example: <SECRET_KEY>
                region:
                  description: AWS region, for example us-east-1.
                  type: string
                  default: ''
                  example: <REGION>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the Reply To field for the mail. Default value is Sender Name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the Reply To field for the mail. Default value is Sender Email.
                  type: string
                  default: ''
                  example: <REPLY_TO_EMAIL>
  /messaging/providers/smtp:
    post:
      summary: Create SMTP provider
      operationId: messagingCreateSmtpProvider
      tags:
      - Messaging
      description: Create a new SMTP provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/create-smtp-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.createSMTPProvider
        methods:
        - name: createSmtpProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - host
          - port
          - username
          - password
          - encryption
          - autoTLS
          - mailer
          - fromName
          - fromEmail
          - replyToName
          - replyToEmail
          - enabled
          required:
          - providerId
          - name
          - host
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new SMTP provider.
          demo: messaging/create-smtp-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.createSMTPProvider
        - name: createSMTPProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - host
          - port
          - username
          - password
          - encryption
          - autoTLS
          - mailer
          - fromName
          - fromEmail
          - replyToName
          - replyToEmail
          - enabled
          required:
          - providerId
          - name
          - host
          responses:
          - code: 201
            model: '#/components/schemas/provider'
          description: Create a new SMTP provider.
          demo: messaging/create-smtp-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                host:
                  description: 'SMTP hosts. Either a single hostname or multiple semicolon-delimited hostnames. You can also specify a different port for each host such as `smtp1.example.com:25;smtp2.example.com`. You can also specify encryption type, for example: `tls://smtp1.example.com:587;ssl://smtp2.example.com:465"`. Hosts will be tried in order.'
                  type: string
                  example: <HOST>
                port:
                  description: The default SMTP server port.
                  type: integer
                  default: 587
                  example: 587
                  format: int32
                username:
                  description: Authentication username.
                  type: string
                  default: ''
                  example: <USERNAME>
                password:
                  description: Authentication password.
                  type: string
                  default: ''
                  example: password
                  format: password
                encryption:
                  description: Encryption type. Can be omitted, 'ssl', or 'tls'
                  type: string
                  example: none
                  title: SmtpEncryption
                  oneOf:
                  - type: string
                    enum:
                    - none
                    title: none
                  - type: string
                    enum:
                    - ssl
                    title: ssl
                  - type: string
                    enum:
                    - tls
                    title: tls
                autoTLS:
                  description: Enable SMTP AutoTLS feature.
                  type: boolean
                  default: true
                  example: false
                mailer:
                  description: The value to use for the X-Mailer header.
                  type: string
                  default: ''
                  example: <MAILER>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the reply to field for the mail. Default value is sender name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the reply to field for the mail. Default value is sender email.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
              - host
  /messaging/providers/smtp/{providerId}:
    patch:
      summary: Update SMTP provider
      operationId: messagingUpdateSmtpProvider
      tags:
      - Messaging
      description: Update a SMTP provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: true
      x-appwrite:
        group: providers
        demo: messaging/update-smtp-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: false
        deprecated:
          since: 1.8.0
          replaceWith: messaging.updateSMTPProvider
        methods:
        - name: updateSmtpProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - host
          - port
          - username
          - password
          - encryption
          - autoTLS
          - mailer
          - fromName
          - fromEmail
          - replyToName
          - replyToEmail
          - enabled
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a SMTP provider by its unique ID.
          demo: messaging/update-smtp-provider.md
          public: false
          deprecated:
            since: 1.8.0
            replaceWith: messaging.updateSMTPProvider
        - name: updateSMTPProvider
          namespace: messaging
          platforms:
          - console
          - server
          desc: ''
          auth:
            console:
              Project: []
            server:
              Project: []
              Key: []
          parameters:
          - providerId
          - name
          - host
          - port
          - username
          - password
          - encryption
          - autoTLS
          - mailer
          - fromName
          - fromEmail
          - replyToName
          - replyToEmail
          - enabled
          required:
          - providerId
          responses:
          - code: 200
            model: '#/components/schemas/provider'
          description: Update a SMTP provider by its unique ID.
          demo: messaging/update-smtp-provider.md
          public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                host:
                  description: 'SMTP hosts. Either a single hostname or multiple semicolon-delimited hostnames. You can also specify a different port for each host such as `smtp1.example.com:25;smtp2.example.com`. You can also specify encryption type, for example: `tls://smtp1.example.com:587;ssl://smtp2.example.com:465"`. Hosts will be tried in order.'
                  type: string
                  default: ''
                  example: <HOST>
                port:
                  description: SMTP port.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                username:
                  description: Authentication username.
                  type: string
                  default: ''
                  example: <USERNAME>
                password:
                  description: Authentication password.
                  type: string
                  default: ''
                  example: password
                  format: password
                encryption:
                  description: Encryption type. Can be 'ssl' or 'tls'
                  type: string
                  example: none
                  title: SmtpEncryption
                  oneOf:
                  - type: string
                    enum:
                    - none
                    title: none
                  - type: string
                    enum:
                    - ssl
                    title: ssl
                  - type: string
                    enum:
                    - tls
                    title: tls
                autoTLS:
                  description: Enable SMTP AutoTLS feature.
                  type:
                  - boolean
                  - 'null'
                  example: false
                mailer:
                  description: The value to use for the X-Mailer header.
                  type: string
                  default: ''
                  example: <MAILER>
                fromName:
                  description: Sender Name.
                  type: string
                  default: ''
                  example: <FROM_NAME>
                fromEmail:
                  description: Sender email address.
                  type: string
                  default: ''
                  example: email@example.com
                  format: email
                replyToName:
                  description: Name set in the Reply To field for the mail. Default value is Sender Name.
                  type: string
                  default: ''
                  example: <REPLY_TO_NAME>
                replyToEmail:
                  description: Email set in the Reply To field for the mail. Default value is Sender Email.
                  type: string
                  default: ''
                  example: <REPLY_TO_EMAIL>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
  /messaging/providers/telesign:
    post:
      summary: Create Telesign provider
      operationId: messagingCreateTelesignProvider
      tags:
      - Messaging
      description: Create a new Telesign provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-telesign-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  description: Provider ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <PROVIDER_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Provider name.
                  type: string
                  example: <NAME>
                from:
                  description: Sender Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.
                  type: string
                  default: ''
                  example: '+12065550100'
                  format: phone
                customerId:
                  description: Telesign customer ID.
                  type: string
                  default: ''
                  example: <CUSTOMER_ID>
                apiKey:
                  description: Telesign API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
              required:
              - providerId
              - name
  /messaging/providers/telesign/{providerId}:
    patch:
      summary: Update Telesign provider
      operationId: messagingUpdateTelesignProvider
      tags:
      - Messaging
      description: Update a Telesign provider by its unique ID.
      responses:
        '200':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/update-telesign-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: providerId
        description: Provider ID.
        required: true
        schema:
          type: string
          example: <PROVIDER_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Provider name.
                  type: string
                  default: ''
                  example: <NAME>
                enabled:
                  description: Set as enabled.
                  type:
                  - boolean
                  - 'null'
                  example: false
                customerId:
                  description: Telesign customer ID.
                  type: string
                  default: ''
                  example: <CUSTOMER_ID>
                apiKey:
                  description: Telesign API key.
                  type: string
                  default: ''
                  example: <API_KEY>
                from:
                  description: Sender number.
                  type: string
                  default: ''
                  example: <FROM>
  /messaging/providers/textmagic:
    post:
      summary: Create Textmagic provider
      operationId: messagingCreateTextmagicProvider
      tags:
      - Messaging
      description: Create a new Textmagic provider.
      responses:
        '201':
          description: Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider'
      deprecated: false
      x-appwrite:
        group: providers
        demo: messaging/create-textmagic-provider.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: providers.write
        platforms:
        - console
        - server
[...]
