openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Waf API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: waf
  description: ''
paths:
  /waf/rules:
    get:
      summary: List WAF rules
      operationId: wafListRules
      tags:
      - waf
      description: List WAF rules for the current project.
      responses:
        '200':
          description: WAF rule list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleList'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/list-rules.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
  /waf/rules/bypass:
    post:
      summary: Create a bypass WAF rule
      operationId: wafCreateBypassRule
      tags:
      - waf
      description: Create a bypass WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '201':
          description: WafRuleBypass
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleBypass'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/create-bypass-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleId:
                  description: Rule ID. Choose a custom ID or pass `ID.unique()` to generate a unique one.
                  type: string
                  example: <RULE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                resourceType:
                  description: Resource type the rule applies to.
                  type: string
                  example: api
                resourceId:
                  description: Resource identifier. Leave empty for the API resource type.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type: string
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type: integer
                  default: 0
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to create the rule in a disabled state.
                  type: boolean
                  default: true
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type: string
                  default: []
              required:
              - ruleId
              - resourceType
              - name
  /waf/rules/bypass/{ruleId}:
    patch:
      summary: Update a bypass WAF rule
      operationId: wafUpdateBypassRule
      tags:
      - waf
      description: Update a bypass WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '200':
          description: WafRuleBypass
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleBypass'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/update-bypass-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  description: Resource type the rule applies to.
                  type:
                  - string
                  - 'null'
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type:
                  - string
                  - 'null'
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type:
                  - string
                  - 'null'
                  example: <DESCRIPTION>
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type:
                  - integer
                  - 'null'
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to disable the rule.
                  type:
                  - boolean
                  - 'null'
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type:
                  - string
                  - 'null'
  /waf/rules/challenge:
    post:
      summary: Create a challenge WAF rule
      operationId: wafCreateChallengeRule
      tags:
      - waf
      description: Create a challenge WAF rule. Use `difficulty` (1 easiest to 5 hardest) to tune the client-side proof-of-work cost, and `ttl` to control how long, in seconds, a visitor stays cleared after passing the challenge before being challenged again. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '201':
          description: WafRuleChallenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleChallenge'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/create-challenge-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleId:
                  description: Rule ID. Choose a custom ID or pass `ID.unique()` to generate a unique one.
                  type: string
                  example: <RULE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                resourceType:
                  description: Resource type the rule applies to.
                  type: string
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type: string
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                challengeType:
                  description: Challenge type enforced by the rule.
                  type: string
                  default: compute
                  example: compute
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type: integer
                  default: 0
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to create the rule in a disabled state.
                  type: boolean
                  default: true
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type: string
                  default: []
                difficulty:
                  description: Challenge difficulty from 1 (easiest) to 5 (hardest). Higher values demand more client-side proof-of-work.
                  type: integer
                  default: 3
                  example: 1
                  format: int32
                ttl:
                  description: How long, in seconds, a visitor stays cleared after passing the challenge before being challenged again.
                  type: integer
                  default: 1800
                  example: 900
                  format: int32
              required:
              - ruleId
              - resourceType
              - name
  /waf/rules/challenge/{ruleId}:
    patch:
      summary: Update a challenge WAF rule
      operationId: wafUpdateChallengeRule
      tags:
      - waf
      description: Update a challenge WAF rule. Use `difficulty` (1 easiest to 5 hardest) to tune the client-side proof-of-work cost, and `ttl` to control how long, in seconds, a visitor stays cleared after passing the challenge before being challenged again. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '200':
          description: WafRuleChallenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleChallenge'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/update-challenge-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  description: Resource type the rule applies to.
                  type:
                  - string
                  - 'null'
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type:
                  - string
                  - 'null'
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type:
                  - string
                  - 'null'
                  example: <DESCRIPTION>
                challengeType:
                  description: Challenge type enforced by the rule.
                  type:
                  - string
                  - 'null'
                  example: compute
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type:
                  - integer
                  - 'null'
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to disable the rule.
                  type:
                  - boolean
                  - 'null'
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type:
                  - string
                  - 'null'
                difficulty:
                  description: Challenge difficulty from 1 (easiest) to 5 (hardest). Higher values demand more client-side proof-of-work.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                ttl:
                  description: How long, in seconds, a visitor stays cleared after passing the challenge before being challenged again.
                  type:
                  - integer
                  - 'null'
                  example: 900
                  format: int32
  /waf/rules/deny:
    post:
      summary: Create a deny WAF rule
      operationId: wafCreateDenyRule
      tags:
      - waf
      description: Create a deny WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '201':
          description: WafRuleDeny
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleDeny'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/create-deny-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleId:
                  description: Rule ID. Choose a custom ID or pass `ID.unique()` to generate a unique one.
                  type: string
                  example: <RULE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                resourceType:
                  description: Resource type the rule applies to.
                  type: string
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type: string
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type: integer
                  default: 0
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to create the rule in a disabled state.
                  type: boolean
                  default: true
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type: string
                  default: []
              required:
              - ruleId
              - resourceType
              - name
  /waf/rules/deny/{ruleId}:
    patch:
      summary: Update a deny WAF rule
      operationId: wafUpdateDenyRule
      tags:
      - waf
      description: Update a deny WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '200':
          description: WafRuleDeny
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleDeny'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/update-deny-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  description: Resource type the rule applies to.
                  type:
                  - string
                  - 'null'
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type:
                  - string
                  - 'null'
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type:
                  - string
                  - 'null'
                  example: <DESCRIPTION>
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type:
                  - integer
                  - 'null'
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to disable the rule.
                  type:
                  - boolean
                  - 'null'
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type:
                  - string
                  - 'null'
  /waf/rules/rate-limit:
    post:
      summary: Create a rate-limit WAF rule
      operationId: wafCreateRateLimitRule
      tags:
      - waf
      description: 'Create a rate limit WAF rule. Use `key` to choose the counter: `ip` limits per client IP, while `userId` limits per authenticated user (requests without an authenticated user skip `userId` rules). Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.'
      responses:
        '201':
          description: WafRuleRateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleRateLimit'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/create-rate-limit-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleId:
                  description: Rule ID. Choose a custom ID or pass `ID.unique()` to generate a unique one.
                  type: string
                  example: <RULE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                resourceType:
                  description: Resource type the rule applies to.
                  type: string
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type: string
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                limit:
                  description: Maximum number of matching requests allowed in the configured interval.
                  type: integer
                  example: 1
                  format: int32
                interval:
                  description: Interval in seconds used for rate limiting.
                  type: integer
                  example: 1
                  format: int32
                key:
                  description: Rate limit key. Use `ip` to limit per client IP or `userId` to limit per authenticated user. Requests without an authenticated user skip `userId` rules.
                  type: string
                  default: ip
                  example: ip
                strategy:
                  description: Rate limit strategy. `fixedWindow` counts requests in discrete intervals, `slidingWindow` weights the previous interval for smoother limiting, and `tokenBucket` refills allowance continuously to permit short bursts.
                  type: string
                  default: fixedWindow
                  example: fixedWindow
                maxBucketSize:
                  description: Maximum number of tokens the bucket can hold for the `tokenBucket` strategy, controlling how large a burst is allowed. The sustained refill rate is `limit / interval`. Defaults to `limit` when omitted. Ignored by other strategies.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type: integer
                  default: 0
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to create the rule in a disabled state.
                  type: boolean
                  default: true
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type: string
                  default: []
              required:
              - ruleId
              - resourceType
              - name
              - limit
              - interval
  /waf/rules/rate-limit/{ruleId}:
    patch:
      summary: Update a rate-limit WAF rule
      operationId: wafUpdateRateLimitRule
      tags:
      - waf
      description: 'Update a rate limit WAF rule. Use `key` to choose the counter: `ip` limits per client IP, while `userId` limits per authenticated user (requests without an authenticated user skip `userId` rules). Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.'
      responses:
        '200':
          description: WafRuleRateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleRateLimit'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/update-rate-limit-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  description: Resource type the rule applies to.
                  type:
                  - string
                  - 'null'
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type:
                  - string
                  - 'null'
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type:
                  - string
                  - 'null'
                  example: <DESCRIPTION>
                limit:
                  description: Maximum number of matching requests allowed in the configured interval.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                interval:
                  description: Interval in seconds used for rate limiting.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                key:
                  description: Rate limit key. Use `ip` to limit per client IP or `userId` to limit per authenticated user. Requests without an authenticated user skip `userId` rules.
                  type:
                  - string
                  - 'null'
                  example: ip
                maxBucketSize:
                  description: Maximum number of tokens the bucket can hold for the `tokenBucket` strategy, controlling how large a burst is allowed. The sustained refill rate is `limit / interval`. Ignored by other strategies. The strategy itself cannot be changed after creation.
                  type:
                  - integer
                  - 'null'
                  example: 1
                  format: int32
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type:
                  - integer
                  - 'null'
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to disable the rule.
                  type:
                  - boolean
                  - 'null'
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type:
                  - string
                  - 'null'
  /waf/rules/redirect:
    post:
      summary: Create a redirect WAF rule
      operationId: wafCreateRedirectRule
      tags:
      - waf
      description: Create a redirect WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '201':
          description: WafRuleRedirect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleRedirect'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/create-redirect-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleId:
                  description: Rule ID. Choose a custom ID or pass `ID.unique()` to generate a unique one.
                  type: string
                  example: <RULE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                resourceType:
                  description: Resource type the rule applies to.
                  type: string
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type: string
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type: string
                  default: ''
                  example: <DESCRIPTION>
                location:
                  description: Location used for redirect responses.
                  type: string
                  example: <LOCATION>
                statusCode:
                  description: Integer status code used for redirect responses.
                  type: integer
                  example: 300
                  format: int32
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type: integer
                  default: 0
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to create the rule in a disabled state.
                  type: boolean
                  default: true
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type: string
                  default: []
              required:
              - ruleId
              - resourceType
              - name
              - location
              - statusCode
  /waf/rules/redirect/{ruleId}:
    patch:
      summary: Update a redirect WAF rule
      operationId: wafUpdateRedirectRule
      tags:
      - waf
      description: Update a redirect WAF rule. Conditions can match request attributes including `ip` (plain IPs or CIDR blocks like `10.0.0.0/8`), `method`, `path`, `host`, `country`, `continent`, `headers.`, `query.`, `queryKeys`, `userAgent`, `os`, `osVersion`, `browser`, and `browserVersion`. Conditions on `city` and `state` require the premium Geo DB addon.
      responses:
        '200':
          description: WafRuleRedirect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRuleRedirect'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/update-redirect-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  description: Resource type the rule applies to.
                  type:
                  - string
                  - 'null'
                  example: api
                resourceId:
                  description: Resource identifier. Required for functions and sites.
                  type:
                  - string
                  - 'null'
                  example: <RESOURCE_ID>
                name:
                  description: Rule name.
                  type:
                  - string
                  - 'null'
                  example: <NAME>
                description:
                  description: Optional description for the rule.
                  type:
                  - string
                  - 'null'
                  example: <DESCRIPTION>
                location:
                  description: Location used for redirect responses.
                  type:
                  - string
                  - 'null'
                  example: <LOCATION>
                statusCode:
                  description: Integer status code used for redirect responses.
                  type:
                  - integer
                  - 'null'
                  example: 300
                  format: int32
                priority:
                  description: Evaluation priority. Lower numbers run earlier.
                  type:
                  - integer
                  - 'null'
                  example: -100000
                  format: int32
                enabled:
                  description: Set to false to disable the rule.
                  type:
                  - boolean
                  - 'null'
                  example: false
                conditions:
                  description: Array of condition strings generated using the WAF Condition builder. Maximum of 100 conditions are allowed, each 4096 characters long.
                  type:
                  - string
                  - 'null'
  /waf/rules/{ruleId}:
    get:
      summary: Get a WAF rule
      operationId: wafGetRule
      tags:
      - waf
      description: Get a WAF rule by its ID.
      responses:
        '200':
          description: WafRule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRule'
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/get-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
    delete:
      summary: Delete a WAF rule
      operationId: wafDeleteRule
      tags:
      - waf
      description: Delete a WAF rule.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: rules
        demo: waf/delete-rule.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: wafRules.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: ruleId
        description: Rule ID.
        required: true
        schema:
          type: string
          example: <RULE_ID>
        in: path
components:
  schemas:
    wafRule:
      description: WafRule
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
    wafRuleDeny:
      description: WafRuleDeny
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
    wafRuleList:
      description: WAF rule list
      type: object
      properties:
        total:
          type: integer
          description: Total number of rules that matched your query.
          format: int32
          example: 5
        rules:
          type: array
          description: List of rules.
          items:
            $ref: '#/components/schemas/wafRule'
          example: []
      required:
      - total
      - rules
      example:
        total: 5
        rules: ''
    wafRuleBypass:
      description: WafRuleBypass
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
    wafRuleChallenge:
      description: WafRuleChallenge
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
        challengeType:
          type: string
          description: Challenge type enforced when the rule matches.
          example: compute
        difficulty:
          type: integer
          description: Challenge difficulty from 1 (easiest) to 5 (hardest) enforced when the rule matches.
          format: int32
          example: 3
        ttl:
          type: integer
          description: Seconds a visitor stays cleared after passing the challenge before being challenged again.
          format: int32
          example: 1800
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      - challengeType
      - difficulty
      - ttl
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
        challengeType: compute
        difficulty: 3
        ttl: 1800
    wafRuleRedirect:
      description: WafRuleRedirect
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
        location:
          type: string
          description: Target location for the redirect.
          example: /maintenance
        statusCode:
          type: integer
          description: HTTP status code used for the redirect.
          format: int32
          example: 301
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      - location
      - statusCode
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
        location: /maintenance
        statusCode: 301
    wafRuleRateLimit:
      description: WafRuleRateLimit
      type: object
      properties:
        $id:
          type: string
          description: Rule ID.
          example: wafRule1
        $createdAt:
          type: string
          description: WAF rule creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: WAF rule last update time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        name:
          type: string
          description: Human friendly rule name.
          example: Block anonymous POST traffic
        description:
          type: string
          description: Optional description for the rule.
          example: Blocks anonymous POST calls to /v1/graphql
        teamId:
          type: string
          description: Team ID.
          example: 5e5ea5c16897e
        projectId:
          type: string
          description: Project ID.
          example: cloudConsole
        resourceType:
          type: string
          description: Resource type the rule is scoped to.
          example: functions
        resourceId:
          type: string
          description: Resource identifier. Empty for API-wide rules.
          example: functionId
        action:
          description: Action performed when the rule matches.
          example: deny
          title: WafRuleAction
          type: string
          oneOf:
          - type: string
            enum:
            - bypass
            title: bypass
          - type: string
            enum:
            - deny
            title: deny
          - type: string
            enum:
            - challenge
            title: challenge
          - type: string
            enum:
            - rateLimit
            title: rateLimit
          - type: string
            enum:
            - redirect
            title: redirect
        priority:
          type: integer
          description: Evaluation priority. Lower values execute earlier.
          format: int32
          example: 100
        enabled:
          type: boolean
          description: Whether the rule is active.
          example: true
        conditions:
          type: array
          description: List of conditions evaluated for this rule.
          items:
            type: object
          example:
          - method: equal
            attribute: ip
            values:
            - 127.0.0.1
        config:
          type: object
          additionalProperties: true
          description: Action specific configuration.
          example: {}
        limit:
          type: integer
          description: Maximum number of matching requests allowed for the given interval.
          format: int32
          example: 1000
        interval:
          type: integer
          description: Interval in seconds for the rate limit window.
          format: int32
          example: 60
        key:
          type: string
          description: 'Rate limit key: `ip` limits per client IP, `userId` limits per authenticated user.'
          example: userId
        strategy:
          type: string
          description: 'Rate limit strategy: `fixedWindow`, `slidingWindow`, or `tokenBucket`.'
          example: slidingWindow
        maxBucketSize:
          type: integer
          description: Maximum burst capacity in tokens, applied by the `tokenBucket` strategy. The sustained refill rate is `limit / interval`. Defaults to `limit`.
          format: int32
          example: 200
      required:
      - $id
      - $createdAt
      - $updatedAt
      - name
      - description
      - teamId
      - projectId
      - resourceType
      - resourceId
      - action
      - priority
      - enabled
      - conditions
      - config
      - limit
      - interval
      - key
      - strategy
      - maxBucketSize
      example:
        $id: wafRule1
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        name: Block anonymous POST traffic
        description: Blocks anonymous POST calls to /v1/graphql
        teamId: 5e5ea5c16897e
        projectId: cloudConsole
        resourceType: functions
        resourceId: functionId
        action: deny
        priority: 100
        enabled: true
        conditions:
        - method: equal
          attribute: ip
          values:
          - 127.0.0.1
        config: []
        limit: 1000
        interval: 60
        key: userId
        strategy: slidingWindow
        maxBucketSize: 200
  securitySchemes:
    Project:
      type: apiKey
      name: X-Appwrite-Project
      description: Your project ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    ProjectPath:
      type: apiKey
      name: project
      description: Your project ID
      in: query
      x-appwrite:
        location: path
        param: project_id
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    JWT:
      type: apiKey
      name: X-Appwrite-JWT
      description: Your secret JSON Web Token
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_JWT>
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The OAuth access token to authenticate with
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Locale:
      type: apiKey
      name: X-Appwrite-Locale
      description: ''
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: en
    Session:
      type: apiKey
      name: X-Appwrite-Session
      description: The user session to authenticate with
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    DevKey:
      type: apiKey
      name: X-Appwrite-Dev-Key
      description: Your secret dev API key
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Cookie:
      type: apiKey
      name: Cookie
      description: The user cookie to authenticate with. Used by SDKs that forward an incoming Cookie header in server-side runtimes.
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserId:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Id
      description: Impersonate a user by ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserEmail:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Email
      description: Impersonate a user by email
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserPhone:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Phone
      description: Impersonate a user by phone
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Key:
      type: apiKey
      name: X-Appwrite-Key
      description: Your secret API key
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        - manager
        demo: <YOUR_API_KEY>
    Organization:
      type: apiKey
      name: X-Appwrite-Organization
      description: Your organization ID
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        demo: <YOUR_ORGANIZATION_ID>
    ForwardedUserAgent:
      type: apiKey
      name: X-Forwarded-User-Agent
      description: The user agent string of the client that made the request
      in: header
      x-appwrite:
        platforms:
        - server
    Mode:
      type: apiKey
      name: X-Appwrite-Mode
      description: ''
      in: header
      x-appwrite:
        platforms:
        - console
        demo: ''
    Platform:
      type: apiKey
      name: X-Appwrite-Platform
      description: The platform type (Appwrite or Imagine)
      in: header
      x-appwrite:
        platforms:
        - console
externalDocs:
  description: Full API docs, specs and tutorials
  url: https://appwrite.io/docs
