openapi: 3.2.0
info:
  version: 2.0.0
  title: Appwrite Storage API
  description: Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to https://appwrite.io/docs
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
- url: https://cloud.appwrite.io/v1
  description: Appwrite Cloud endpoint.
- url: https://{region}.cloud.appwrite.io/v1
  description: Appwrite Cloud regional endpoint. Replace `{region}` with your project region.
  variables:
    region:
      default: fra
      description: Appwrite Cloud region.
tags:
- name: Storage
  description: The Storage service allows you to manage your project files.
paths:
  /storage/buckets:
    get:
      summary: List buckets
      operationId: storageListBuckets
      tags:
      - Storage
      description: Get a list of all the storage buckets. You can use the query params to filter your results.
      responses:
        '200':
          description: Buckets List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bucketList'
      deprecated: false
      x-appwrite:
        group: buckets
        demo: storage/list-buckets.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: buckets.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: enabled, name, fileSecurity, maximumFileSize, encryption, antivirus, transformations'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create bucket
      operationId: storageCreateBucket
      tags:
      - Storage
      description: Create a new storage bucket.
      responses:
        '201':
          description: Bucket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bucket'
      deprecated: false
      x-appwrite:
        group: buckets
        demo: storage/create-bucket.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: buckets.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bucketId:
                  description: Unique Id. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <BUCKET_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                name:
                  description: Bucket name
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permission strings. By default, no user is granted with any permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                fileSecurity:
                  description: Enables configuring permissions for individual file. A user needs one of file or bucket level permissions to access a file. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is bucket enabled? When set to 'disabled', users cannot access the files in this bucket but Server SDKs with and API key can still access the bucket. No files are lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                maximumFileSize:
                  description: Maximum file size allowed in bytes. Maximum allowed value is 0B.
                  type: integer
                  default: {}
                  example: 1
                  format: int32
                allowedFileExtensions:
                  description: Allowed file extensions. Maximum of 100 extensions are allowed, each 64 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                compression:
                  description: Compression algorithm chosen for compression. Can be one of none,  [gzip](https://en.wikipedia.org/wiki/Gzip), or [zstd](https://en.wikipedia.org/wiki/Zstd), For file size above 20MB compression is skipped even if it's enabled
                  type: string
                  default: none
                  example: none
                  title: Compression
                  oneOf:
                  - type: string
                    enum:
                    - none
                    title: none
                  - type: string
                    enum:
                    - gzip
                    title: gzip
                  - type: string
                    enum:
                    - zstd
                    title: zstd
                encryption:
                  description: Is encryption enabled? For file size above 20MB encryption is skipped even if it's enabled
                  type: boolean
                  default: true
                  example: false
                antivirus:
                  description: Is virus scanning enabled? For file size above 20MB AntiVirus scanning is skipped even if it's enabled
                  type: boolean
                  default: true
                  example: false
                transformations:
                  description: Are image transformations enabled?
                  type: boolean
                  default: true
                  example: false
              required:
              - bucketId
              - name
  /storage/buckets/{bucketId}:
    get:
      summary: Get bucket
      operationId: storageGetBucket
      tags:
      - Storage
      description: Get a storage bucket by its unique ID. This endpoint response returns a JSON object with the storage bucket metadata.
      responses:
        '200':
          description: Bucket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bucket'
      deprecated: false
      x-appwrite:
        group: buckets
        demo: storage/get-bucket.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: buckets.read
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: bucketId
        description: Bucket unique ID.
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
    put:
      summary: Update bucket
      operationId: storageUpdateBucket
      tags:
      - Storage
      description: Update a storage bucket by its unique ID.
      responses:
        '200':
          description: Bucket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bucket'
      deprecated: false
      x-appwrite:
        group: buckets
        demo: storage/update-bucket.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: buckets.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: bucketId
        description: Bucket unique ID.
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Bucket name
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permission strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                fileSecurity:
                  description: Enables configuring permissions for individual file. A user needs one of file or bucket level permissions to access a file. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type: boolean
                  default: false
                  example: false
                enabled:
                  description: Is bucket enabled? When set to 'disabled', users cannot access the files in this bucket but Server SDKs with and API key can still access the bucket. No files are lost when this is toggled.
                  type: boolean
                  default: true
                  example: false
                maximumFileSize:
                  description: Maximum file size allowed in bytes. Maximum allowed value is 0B.
                  type: integer
                  default: {}
                  example: 1
                  format: int32
                allowedFileExtensions:
                  description: Allowed file extensions. Maximum of 100 extensions are allowed, each 64 characters long.
                  type: array
                  default: []
                  items:
                    type: string
                compression:
                  description: Compression algorithm chosen for compression. Can be one of none, [gzip](https://en.wikipedia.org/wiki/Gzip), or [zstd](https://en.wikipedia.org/wiki/Zstd), For file size above 20MB compression is skipped even if it's enabled
                  type: string
                  default: none
                  example: none
                  title: Compression
                  oneOf:
                  - type: string
                    enum:
                    - none
                    title: none
                  - type: string
                    enum:
                    - gzip
                    title: gzip
                  - type: string
                    enum:
                    - zstd
                    title: zstd
                encryption:
                  description: Is encryption enabled? For file size above 20MB encryption is skipped even if it's enabled
                  type: boolean
                  default: true
                  example: false
                antivirus:
                  description: Is virus scanning enabled? For file size above 20MB AntiVirus scanning is skipped even if it's enabled
                  type: boolean
                  default: true
                  example: false
                transformations:
                  description: Are image transformations enabled?
                  type: boolean
                  default: true
                  example: false
              required:
              - name
    delete:
      summary: Delete bucket
      operationId: storageDeleteBucket
      tags:
      - Storage
      description: Delete a storage bucket by its unique ID.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: buckets
        demo: storage/delete-bucket.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: buckets.write
        platforms:
        - console
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          server:
            Project: []
            Key: []
      security:
      - Project: []
        Key: []
      parameters:
      - name: bucketId
        description: Bucket unique ID.
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
  /storage/buckets/{bucketId}/files:
    get:
      summary: List files
      operationId: storageListFiles
      tags:
      - Storage
      description: Get a list of all the user files. You can use the query params to filter your results.
      responses:
        '200':
          description: Files List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileList'
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/list-files.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: queries
        description: 'Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https://appwrite.io/docs/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: name, folder, signature, mimeType, sizeOriginal, chunksTotal, chunksUploaded'
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        in: query
      - name: search
        description: 'Search term to filter your list results. Max length: 256 chars.'
        required: false
        schema:
          type: string
          example: <SEARCH>
          default: ''
        in: query
      - name: total
        description: When set to false, the total count returned will be 0 and will not be calculated.
        required: false
        schema:
          type: boolean
          example: false
          default: true
        in: query
    post:
      summary: Create file
      operationId: storageCreateFile
      tags:
      - Storage
      description: 'Create a new file. Before using this route, you should create a new bucket resource using either a server integration API or directly from your Appwrite console.


        Larger files should be uploaded using multiple requests with the content-range header to send a partial request with a maximum supported chunk of `5MB`. The `content-range` header values should always be in bytes.


        When the first request is sent, the server will return the **File** object, and the subsequent part request must include the file''s **id** in `x-appwrite-id` header to allow the server to know that the partial upload is for the existing file and not for a new one.


        If you''re creating a new file using one of the Appwrite SDKs, all the chunking logic will be managed by the SDK internally.'
      responses:
        '201':
          description: File
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/create-file.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId},chunkId:{chunkId}
        scope: files.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileId:
                  description: File ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.
                  type: string
                  example: <FILE_ID>
                  x-appwrite:
                    idGenerator: ID.unique
                file:
                  description: Binary file. Appwrite SDKs provide helpers to handle file input. [Learn about file input](https://appwrite.io/docs/products/storage/upload-download#input-file).
                  type: string
                  format: binary
                permissions:
                  description: An array of permission strings. By default, only the current user is granted all permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
                folder:
                  description: Virtual folder to place the file in, for example "photos/2026". Nest folders with `/`. Defaults to the bucket root.
                  type: string
                  default: ''
                  example: photos/2026
              required:
              - fileId
              - file
  /storage/buckets/{bucketId}/files/{fileId}:
    get:
      summary: Get file
      operationId: storageGetFile
      tags:
      - Storage
      description: Get a file by its unique ID. This endpoint response returns a JSON object with the file metadata.
      responses:
        '200':
          description: File
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/get-file.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID.
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
    put:
      summary: Update file
      operationId: storageUpdateFile
      tags:
      - Storage
      description: Update a file by its unique ID. Only users with write permissions have access to update this resource.
      responses:
        '200':
          description: File
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/update-file.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: bucketId
        description: Bucket unique ID.
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID.
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: File name.
                  type: string
                  example: <NAME>
                permissions:
                  description: An array of permission strings. By default, the current permissions are inherited. [Learn more about permissions](https://appwrite.io/docs/permissions).
                  type:
                  - array
                  - 'null'
                  example:
                  - read("any")
                  items:
                    type: string
    delete:
      summary: Delete file
      operationId: storageDeleteFile
      tags:
      - Storage
      description: Delete a file by its unique ID. Only users with write permissions have access to delete this resource.
      responses:
        '204':
          description: No content
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/delete-file.md
        rate-limit: 60
        rate-time: 60
        rate-key: ip:{ip},method:{method},url:{url},userId:{userId}
        scope: files.write
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
          client:
            Project: []
          server:
            Project: []
            Session: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID.
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
  /storage/buckets/{bucketId}/files/{fileId}/download:
    get:
      summary: Get file for download
      operationId: storageGetFileDownload
      tags:
      - Storage
      description: 'Get a file content by its unique ID. The endpoint response return with a ''Content-Disposition: attachment'' header that tells the browser to start downloading the file to user downloads directory.'
      responses:
        '200':
          description: File
          content:
            '*/*':
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/get-file-download.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
            ImpersonateUserId: []
          client:
            Project: []
            ImpersonateUserId: []
          server:
            Project: []
            Session: []
            ImpersonateUserId: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      - Project: []
        Session: []
        Key: []
        JWT: []
        ImpersonateUserId: []
      parameters:
      - name: bucketId
        description: Storage bucket ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID.
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
      - name: token
        description: File token for accessing this file.
        required: false
        schema:
          type: string
          example: <TOKEN>
          default: ''
        in: query
  /storage/buckets/{bucketId}/files/{fileId}/preview:
    get:
      summary: Get file preview
      operationId: storageGetFilePreview
      tags:
      - Storage
      description: Get a file preview image. Currently, this method supports preview for image files (jpg, png, and gif), other supported formats, like pdf, docs, slides, and spreadsheets, will return the file icon image. You can also pass query string arguments for cutting and resizing your preview image. Preview is supported only for image files smaller than 10MB.
      responses:
        '200':
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/get-file-preview.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
            ImpersonateUserId: []
          client:
            Project: []
            ImpersonateUserId: []
          server:
            Project: []
            Session: []
            ImpersonateUserId: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      - Project: []
        Session: []
        Key: []
        JWT: []
        ImpersonateUserId: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
      - name: width
        description: Resize preview image width, Pass an integer between 0 to 4000.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
      - name: height
        description: Resize preview image height, Pass an integer between 0 to 4000.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
      - name: gravity
        description: Image crop gravity. Can be one of auto,center,top-left,top,top-right,left,right,bottom-left,bottom,bottom-right
        required: false
        schema:
          type: string
          example: auto
          title: ImageGravity
          oneOf:
          - type: string
            enum:
            - auto
            title: auto
          - type: string
            enum:
            - center
            title: center
          - type: string
            enum:
            - top-left
            title: top-left
          - type: string
            enum:
            - top
            title: top
          - type: string
            enum:
            - top-right
            title: top-right
          - type: string
            enum:
            - left
            title: left
          - type: string
            enum:
            - right
            title: right
          - type: string
            enum:
            - bottom-left
            title: bottom-left
          - type: string
            enum:
            - bottom
            title: bottom
          - type: string
            enum:
            - bottom-right
            title: bottom-right
          default: center
        in: query
      - name: quality
        description: Preview image quality. Pass an integer between 0 to 100. Defaults to keep existing image quality.
        required: false
        schema:
          type: integer
          format: int32
          example: -1
          default: -1
        in: query
      - name: borderWidth
        description: Preview image border in pixels. Pass an integer between 0 to 100. Defaults to 0.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
      - name: borderColor
        description: 'Preview image border color. Use a valid HEX color, no # is needed for prefix.'
        required: false
        schema:
          type: string
          example: FFFFFF
          default: ''
        in: query
      - name: borderRadius
        description: Preview image border radius in pixels. Pass an integer between 0 to 4000.
        required: false
        schema:
          type: integer
          format: int32
          example: 0
          default: 0
        in: query
      - name: opacity
        description: Preview image opacity. Only works with images having an alpha channel (like png). Pass a number between 0 to 1.
        required: false
        schema:
          type: number
          format: float
          example: 0
          default: 1
        in: query
      - name: rotation
        description: Preview image rotation in degrees. Pass an integer between -360 and 360.
        required: false
        schema:
          type: integer
          format: int32
          example: -360
          default: 0
        in: query
      - name: background
        description: 'Preview image background color. Only works with transparent images (png). Use a valid HEX color, no # is needed for prefix.'
        required: false
        schema:
          type: string
          example: FFFFFF
          default: ''
        in: query
      - name: output
        description: Output format type (jpeg, jpg, png, gif and webp).
        required: false
        schema:
          type: string
          example: jpg
          title: ImageFormat
          oneOf:
          - type: string
            enum:
            - jpg
            title: jpg
          - type: string
            enum:
            - jpeg
            title: jpeg
          - type: string
            enum:
            - png
            title: png
          - type: string
            enum:
            - webp
            title: webp
          - type: string
            enum:
            - heic
            title: heic
          - type: string
            enum:
            - avif
            title: avif
          - type: string
            enum:
            - gif
            title: gif
        in: query
      - name: token
        description: File token for accessing this file.
        required: false
        schema:
          type: string
          example: <TOKEN>
          default: ''
        in: query
  /storage/buckets/{bucketId}/files/{fileId}/view:
    get:
      summary: Get file for view
      operationId: storageGetFileView
      tags:
      - Storage
      description: 'Get a file content by its unique ID. This endpoint is similar to the download method but returns with no ''Content-Disposition: attachment'' header.'
      responses:
        '200':
          description: File
          content:
            '*/*':
              schema:
                type: string
                format: binary
      deprecated: false
      x-appwrite:
        group: files
        demo: storage/get-file-view.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: files.read
        platforms:
        - console
        - client
        - server
        packaging: false
        public: true
        auth:
          console:
            Project: []
            ImpersonateUserId: []
          client:
            Project: []
            ImpersonateUserId: []
          server:
            Project: []
            Session: []
            ImpersonateUserId: []
      security:
      - Project: []
        Session: []
        Key: []
        JWT: []
      - Project: []
        Session: []
        Key: []
        JWT: []
        ImpersonateUserId: []
      parameters:
      - name: bucketId
        description: Storage bucket unique ID. You can create a new storage bucket using the Storage service [server integration](https://appwrite.io/docs/server/storage#createBucket).
        required: true
        schema:
          type: string
          example: <BUCKET_ID>
        in: path
      - name: fileId
        description: File ID.
        required: true
        schema:
          type: string
          example: <FILE_ID>
        in: path
      - name: token
        description: File token for accessing this file.
        required: false
        schema:
          type: string
          example: <TOKEN>
          default: ''
        in: query
components:
  schemas:
    bucketList:
      description: Buckets List
      type: object
      properties:
        total:
          type: integer
          description: Total number of buckets that matched your query.
          format: int32
          example: 5
        buckets:
          type: array
          description: List of buckets.
          items:
            $ref: '#/components/schemas/bucket'
          example: []
      required:
      - total
      - buckets
      example:
        total: 5
        buckets: ''
    fileList:
      description: Files List
      type: object
      properties:
        total:
          type: integer
          description: Total number of files that matched your query.
          format: int32
          example: 5
        files:
          type: array
          description: List of files.
          items:
            $ref: '#/components/schemas/file'
          example: []
      required:
      - total
      - files
      example:
        total: 5
        files: ''
    file:
      description: File
      type: object
      properties:
        $id:
          type: string
          description: File ID.
          example: 5e5ea5c16897e
        bucketId:
          type: string
          description: Bucket ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: File creation date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: File update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: File permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
          items:
            type: string
          example:
          - read("any")
        name:
          type: string
          description: File name.
          example: Pink.png
        folder:
          type: string
          description: Virtual folder containing the file, with a trailing slash. Empty for the bucket root.
          example: photos/2026/
        key:
          type: string
          description: 'Full virtual path of the file: the folder followed by the file name.'
          example: photos/2026/Pink.png
        signature:
          type: string
          description: File MD5 signature.
          example: 5d529fd02b544198ae075bd57c1762bb
        mimeType:
          type: string
          description: File mime type.
          example: image/png
        sizeOriginal:
          type: integer
          description: File original size in bytes.
          format: int32
          example: 17890
        sizeActual:
          type: integer
          description: File actual stored size in bytes after compression and/or encryption.
          format: int32
          example: 12345
        chunksTotal:
          type: integer
          description: Total number of chunks available
          format: int32
          example: 17890
        chunksUploaded:
          type: integer
          description: Total number of chunks uploaded
          format: int32
          example: 17890
        encryption:
          type: boolean
          description: Whether file contents are encrypted at rest.
          example: true
        compression:
          type: string
          description: Compression algorithm used for the file. Will be one of none, [gzip](https://en.wikipedia.org/wiki/Gzip), or [zstd](https://en.wikipedia.org/wiki/Zstd).
          example: gzip
      required:
      - $id
      - bucketId
      - $createdAt
      - $updatedAt
      - $permissions
      - name
      - folder
      - key
      - signature
      - mimeType
      - sizeOriginal
      - sizeActual
      - chunksTotal
      - chunksUploaded
      - encryption
      - compression
      example:
        $id: 5e5ea5c16897e
        bucketId: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        name: Pink.png
        folder: photos/2026/
        key: photos/2026/Pink.png
        signature: 5d529fd02b544198ae075bd57c1762bb
        mimeType: image/png
        sizeOriginal: 17890
        sizeActual: 12345
        chunksTotal: 17890
        chunksUploaded: 17890
        encryption: true
        compression: gzip
    bucket:
      description: Bucket
      type: object
      properties:
        $id:
          type: string
          description: Bucket ID.
          example: 5e5ea5c16897e
        $createdAt:
          type: string
          description: Bucket creation time in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $updatedAt:
          type: string
          description: Bucket update date in ISO 8601 format.
          example: '2020-10-15T06:38:00.000+00:00'
        $permissions:
          type: array
          description: Bucket permissions. [Learn more about permissions](https://appwrite.io/docs/permissions).
          items:
            type: string
          example:
          - read("any")
        fileSecurity:
          type: boolean
          description: Whether file-level security is enabled. [Learn more about permissions](https://appwrite.io/docs/permissions).
          example: true
        name:
          type: string
          description: Bucket name.
          example: Documents
        enabled:
          type: boolean
          description: Bucket enabled.
          example: false
        maximumFileSize:
          type: integer
          description: Maximum file size supported.
          format: int32
          example: 100
        allowedFileExtensions:
          type: array
          description: Allowed file extensions.
          items:
            type: string
          example:
          - jpg
          - png
        compression:
          type: string
          description: Compression algorithm chosen for compression. Will be one of none, [gzip](https://en.wikipedia.org/wiki/Gzip), or [zstd](https://en.wikipedia.org/wiki/Zstd).
          example: gzip
        encryption:
          type: boolean
          description: Bucket is encrypted.
          example: false
        antivirus:
          type: boolean
          description: Virus scanning is enabled.
          example: false
        transformations:
          type: boolean
          description: Image transformations are enabled.
          example: false
        totalSize:
          type: integer
          description: Total size of this bucket in bytes.
          format: int32
          example: 128
      required:
      - $id
      - $createdAt
      - $updatedAt
      - $permissions
      - fileSecurity
      - name
      - enabled
      - maximumFileSize
      - allowedFileExtensions
      - compression
      - encryption
      - antivirus
      - transformations
      - totalSize
      example:
        $id: 5e5ea5c16897e
        $createdAt: '2020-10-15T06:38:00.000+00:00'
        $updatedAt: '2020-10-15T06:38:00.000+00:00'
        $permissions:
        - read("any")
        fileSecurity: true
        name: Documents
        enabled: false
        maximumFileSize: 100
        allowedFileExtensions:
        - jpg
        - png
        compression: gzip
        encryption: false
        antivirus: false
        transformations: false
        totalSize: 128
  securitySchemes:
    Project:
      type: apiKey
      name: X-Appwrite-Project
      description: Your project ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    ProjectPath:
      type: apiKey
      name: project
      description: Your project ID
      in: query
      x-appwrite:
        location: path
        param: project_id
        platforms:
        - client
        - server
        - console
        demo: <YOUR_PROJECT_ID>
    JWT:
      type: apiKey
      name: X-Appwrite-JWT
      description: Your secret JSON Web Token
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: <YOUR_JWT>
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The OAuth access token to authenticate with
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Locale:
      type: apiKey
      name: X-Appwrite-Locale
      description: ''
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
        demo: en
    Session:
      type: apiKey
      name: X-Appwrite-Session
      description: The user session to authenticate with
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    DevKey:
      type: apiKey
      name: X-Appwrite-Dev-Key
      description: Your secret dev API key
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Cookie:
      type: apiKey
      name: Cookie
      description: The user cookie to authenticate with. Used by SDKs that forward an incoming Cookie header in server-side runtimes.
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserId:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Id
      description: Impersonate a user by ID
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserEmail:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Email
      description: Impersonate a user by email
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    ImpersonateUserPhone:
      type: apiKey
      name: X-Appwrite-Impersonate-User-Phone
      description: Impersonate a user by phone
      in: header
      x-appwrite:
        platforms:
        - client
        - server
        - console
    Key:
      type: apiKey
      name: X-Appwrite-Key
      description: Your secret API key
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        - manager
        demo: <YOUR_API_KEY>
    Organization:
      type: apiKey
      name: X-Appwrite-Organization
      description: Your organization ID
      in: header
      x-appwrite:
        platforms:
        - server
        - console
        demo: <YOUR_ORGANIZATION_ID>
    ForwardedUserAgent:
      type: apiKey
      name: X-Forwarded-User-Agent
      description: The user agent string of the client that made the request
      in: header
      x-appwrite:
        platforms:
        - server
    Mode:
      type: apiKey
      name: X-Appwrite-Mode
      description: ''
      in: header
      x-appwrite:
        platforms:
        - console
        demo: ''
    Platform:
      type: apiKey
      name: X-Appwrite-Platform
      description: The platform type (Appwrite or Imagine)
      in: header
      x-appwrite:
        platforms:
        - console
externalDocs:
  description: Full API docs, specs and tutorials
  url: https://appwrite.io/docs
